<form  [formGroup]="filterForm" #f="ngForm" fxFlex="100" fxLayout="column">
    <mat-form-field appearance="outline">
        <mat-label>{{ 'responsible' | translate}}</mat-label><br>
        <mat-select formControlName="id" (selectionChange)="captureValue()">
            <mat-option>Select...</mat-option>
            <mat-option *ngFor="let responsible of responsibles" [value]="responsible.id">{{responsible.name}}</mat-option>
        </mat-select>
    </mat-form-field>
</form>