<div>
    <div><h2>{{ 'CAMERA.detail.title' | translate}} {{email}}</h2></div>
    <div fxLayout="row" fxLayoutAlign="end" class="left">
        <button mat-icon-button [routerLink]="['/private/camera/list']" matTooltip="Volver"><mat-icon>west</mat-icon></button>
    </div>
    <mat-grid-list cols="2" rowHeight="1.6:1">
        <mat-grid-tile>
            <mat-card>
                <mat-card-header>
                    <mat-card-title>{{ 'CAMERA.detail.live' | translate }}</mat-card-title>
                </mat-card-header>           
                <mat-card-content style="position: relative;">           
                    <div *ngIf="hls == 1" fxFlex><camera-streaming [email]="!config.demo ? email : 'icreative@ladorian.com'"></camera-streaming></div>
                    <div *ngIf="hls == 2" fxFlex><camera-streaming-flv *ngIf="(email)" [email]="!config.demo ? email : 'icreative@ladorian.com'"></camera-streaming-flv></div>           
                </mat-card-content>
            </mat-card>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-card>
                <mat-card-header>
                    <mat-card-title>{{ 'CAMERA.detail.last_faces' | translate }}</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <camera-afluence [email]="email" (onChange)="changeAfluences()"></camera-afluence>
                </mat-card-content>
            </mat-card>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-card>
                <mat-card-header>
                    <mat-card-title>{{ 'CAMERA.detail.genre_hour' | translate }}</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <linear-chart [data]="genderHourLineChartData" [labels]="genderHourLineChartLabels" [loading]="load" [aspectRatio]="aspectRatio" [height]="height"></linear-chart>
                </mat-card-content>
            </mat-card>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-card>
                <mat-card-header>
                    <mat-card-title>{{ 'CAMERA.detail.type_hour' | translate }}</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <linear-chart [data]="typeHourLineChartData" [labels]="typeHourLineChartLabels" [loading]="load" [aspectRatio]="aspectRatio" [height]="height"></linear-chart>
                </mat-card-content>
            </mat-card>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-card>
                <mat-card-header>
                    <mat-card-title>{{ 'CAMERA.detail.genre' | translate }}</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <pie-chart [data]="genderPieChartData" [labels]="genderPieChartLabels" [loading]="load"></pie-chart>
                </mat-card-content>
            </mat-card>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-card>
                <mat-card-header>
                    <mat-card-title>{{ 'CAMERA.detail.type' | translate }}</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <pie-chart [data]="typePieChartData" [labels]="typePieChartLabels" [loading]="load"></pie-chart>
                </mat-card-content>
            </mat-card>
        </mat-grid-tile>
        <mat-grid-tile colspan="2">
            <mat-card>
                <mat-card-content>
                    <h3>{{ 'Gráfico de Tiempos Medios de Estancia' | translate }}</h3>
                    <form-field-select [fieldData]="fieldDataTimes" [formGroup]="formGroup"></form-field-select>
                    <linear-chart *ngIf="formGroup.get('times').value === 1" [data]="timesHoraLineChartData" [labels]="timesHoraLineChartLabels" [loading]="isLoading" [aspectRatio]="aspectRatio" [height]="'200'"></linear-chart>
                    <linear-chart *ngIf="formGroup.get('times').value === 2" [data]="timesDiaLineChartData" [labels]="timesDiaLineChartLabels" [loading]="isLoading" [aspectRatio]="aspectRatio" [height]="'200'"></linear-chart>
                    <linear-chart *ngIf="formGroup.get('times').value === 3" [data]="timesDiaSemanaLineChartData" [labels]="timesDiaSemanaLineChartLabels" [loading]="isLoading" [aspectRatio]="aspectRatio" [height]="'200'"></linear-chart>
                    <div class="datos-afluencias" fxLayout="row" fxLayoutAlign="space-evenly center">
                        <div>
                            <p><mat-icon>schedule</mat-icon> {{ 'Tiempo medio de estancia' | translate }}</p>
                            <p class="text-data" *ngIf="!isLoading">{{totalMediumTime | numbersp}} minutos</p>
                            <mat-spinner color="accent" *ngIf="isLoading"></mat-spinner>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </mat-grid-tile>
    </mat-grid-list>
</div>
  