h2{
    padding-left: 15px;
}

table {
    width: 100%;
    table-layout: fixed;
}

mat-checkbox,
mat-form-field,
.mat-form-empty {
    padding: 20px 20px 0px 20px;
}

mat-mini-fab:disable .red{
    background-color: red;
}

.mat-success {
    background-color: #28a745;
    color: #fff;
}

.mat-unknown {
    background-color: #e6e3e3;
    color: #fff;
}

.mat-error {
    background-color: #dc3545;
    color: #fff;
}

.mat-emit {
    background-color: #ffc107;
    color: #fff;

}

.actions{
    padding-left: 45px;
    padding-top: 15px;
}

.center ::ng-deep .mat-sort-header-container  {
    display:flex;
    justify-content:center;
}

.left ::ng-deep .mat-sort-header-container  {
    display:flex;
    justify-content:left;
}

.loader {
    border: 3px solid #f3f3f3; /* Light grey */
    border-top: 3px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 15px;
    height: 15px;
    animation: spin 2s linear infinite;
    position: absolute;
    left: 10px;
    bottom: 7px;
    visibility: hidden;
}
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.load {
    border: 3px solid #f3f3f3; /* Light grey */
    border-top: 3px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 25px;
    height: 25px;
    animation: spin 2s linear infinite;
    margin-left: 10px;
}

.icon{
    position: relative;
    top: 2px;
}

.mat-column-countToday   { 
    text-align: right;
    padding-left: 25px;
}

.mat-column-countYesterday   { 
    text-align: right;
}

.mat-column-faces  { 
    text-align: right;
}

.mat-column-facesYesterday   { 
    text-align: right;
}

.mat-column-platform   { 
    padding-left: 25px;
}

.left{
    padding-right: 20px;
    position: relative;
    bottom: 55px;
}

.mat-column-email th, td {
    overflow: hidden;
    width: 200px;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .mat-column-email th, td {
    overflow: hidden;
    width: 200px;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  td.mat-cell, td.mat-footer-cell, th.mat-header-cell{
    padding-left: 15px;
  }

.video-card{
    margin-right:20px;
    width:33%;
}
.captures-card{
    width:66%;
}

.mat-card {
    width: calc(100% - 70px);
    height: calc(100% - 70px);
}
.mat-card-header-text{
    width: 100% !important;
}

.mat-card-image {
    width:auto !important;
    height: calc(100% - 80px);
    display:block;
    margin:auto;
}
.mat-card-content{
    width: calc(100%);
    height: calc(100% - 30px);
    text-align:center;
}
.imagen-listado-afluencias{
    width:80px;
    display:flex;
    flex-wrap: wrap;
}
.mat-list-avatar{
    border-radius: 0!important;
    width:100px!important;
    height:auto!important;
}
.mat-list-item-with-avatar{
    height:100px!important;
    margin-bottom:5px!important;
}
.cara-list{
    overflow:hidden;
    overflow-y:auto;
    height:100px;
    width:100%;
    margin-left:10px;
}
.streamingContainer{
    position:relative;
    height:100%;
}

#heatmapContainer {
    width: calc((100% - 82px) * (640 / 480));
    margin: 0 auto 16px auto;
    cursor: pointer;
    height: calc(100% - 82px);
    bottom: 0;
    padding: 0;
    background-size: 100% 100%;
    border-top: 1px solid #757575;
    border-bottom: 1px solid #757575;
    position:absolute!important;
    display:block;
    left:18.5%;
    overflow:hidden;
    top:0;
  }

.mat-slide-toggle{
    margin-top:0.7rem;
}
#movie{
    height:85%;
    width:100%;
}
#heatmapContainer{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

camera-gender-hour-chart, camera-user-type-hour-chart, camera-gender-pie, camera-user-type-pie{
    width: calc(100% - 35px);
    height: calc(100% - 35px);
}

.mat-card-content div.datos-afluencias, .mat-card-content div.datos-afluencias div{
    background:#ffffff!important;
    border:0;
}
.text-data {
    text-align: center;
    font-size: 2rem !important;
    margin-top: 1.5rem !important;
}