<div class="format-container">
    <div *ngFor="let format of formats" [ngClass]="{selected:checkSelect(format)}" class="format-select" (click)="onSelect(format)" [id]="'format-'+format.idformat">
        <img [src]="format.image_url" height="50" />
        <p>{{ format.name }}</p>
    </div>
</div>