<div class="format-container">
    <div class="format-wrapper">
        <button mat-button *ngFor="let format of formats.get()" [ngClass]="{selected:checkSelect(format)}" class="format-select" (click)="onSelect(format)">
            {{ format.name }}
        </button>
    </div>
</div>