.format-container {
  position: relative;
  border: 1px solid #ddd;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-y: hidden;
  overflow-x: auto;
  height: 110px;
}

.format-wrapper {
  position: absolute;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 95px;
}

.format-select {
  border-radius: 0 !important;
  display: block;
  background-color: #f0f0f0;
  margin: 10px 5px 0 5px;
  width: 150px;
  line-height: 80px;
  text-align: center;
  float: left;
  font-weight: 600;
  cursor: pointer;
}

.format-select:hover {
  background: #009999;
  -webkit-filter: invert(95%);
          filter: invert(95%);
}

.format-select.selected {
  background: #009999;
  -webkit-filter: invert(100%);
          filter: invert(100%);
  cursor: inherit;
}

.format-select:first-child {
  margin-left: 10px;
}

.format-select:last-child {
  margin-left: 10px;
}
/*# sourceMappingURL=format.select.css.map */