<mat-form-field appearance="outline">
  <mat-label>{{ fieldData.label | translate }}</mat-label>
  <mat-date-range-input [formGroup]="formGroup" [rangePicker]="picker" required="fieldData.required" [min]="fieldData.minDate" [max]="fieldData.maxDate" [disabled]="fieldData.disabled">
    <input matStartDate date="true" time="true" minutes="true" type="text" formControlName="startDate" placeholder="Fecha de inicio"> 
    <input matEndDate date="true" time="true" minutes="true" formControlName="endDate" placeholder="Fecha de fin">
  </mat-date-range-input>
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-date-range-picker #picker></mat-date-range-picker>
  <mat-error *ngIf="formGroup.controls.startDate.hasError('matStartDateInvalid')">{{ 'FORMS.errors.range_picker_start' | translate }}</mat-error>
  <mat-error *ngIf="formGroup.controls.endDate.hasError('matEndDateInvalid')">{{ 'FORMS.errors.range_picker_end' | translate }}</mat-error>
</mat-form-field>