<div fxLayout="row" fxLayoutAlign="space-around center">
  <div *ngIf="isLoading">
    <mat-spinner diameter="20" color="accent"></mat-spinner>
  </div>
  <mat-form-field appearance="outline" [formGroup]="formGroup">
    <mat-label>{{ fieldData.label | translate }}</mat-label>
    <mat-select 
          #select
          matNativeControl 
          formControlName="{{fieldData.name}}" 
          (selectionChange)="onChange()" 
          [multiple]="fieldData.multiple"
          [required]="fieldData.required"
          [disabled]="fieldData.options.length === 0">
      <mat-option class="custom-option" *ngFor="let option of fieldData.options; let i = index" [value]="option.value" [style.color]="((color && color === 'green')  || (i < 10 && isRecomendation)) ? '#64ca26' : 'inherit'">
        {{option.name | translate}}
      </mat-option>
    </mat-select>
    <mat-error>{{ 'FORMS.errors.select_component' | translate:fieldData }}</mat-error>
  </mat-form-field>
</div>
