<h1 mat-dialog-title>{{'Preview' | translate}}</h1>
<form [formGroup]="form" (ngSubmit)="save()"> 
  <div fxLayout="row"> 
    <mat-form-field  appearance="outline" fxFlex="75">     
      <mat-label color="primary">{{ 'FORMS.fields.name' | translate }}</mat-label>     
      <input matInput type="text" formControlName="name" required />
      <mat-error *ngIf="name.hasError('required')" color = "accent">{{ 'FORMS.errors.name_required' | translate }}</mat-error>
    </mat-form-field>
    <div fxFlex="5"></div> 
    <mat-form-field  appearance="outline" fxFlex="20" >     
      <mat-label color="primary">{{ 'FORMS.fields.duration' | translate }}</mat-label>     
      <input matInput type="text" formControlName="duration" required [readonly]="(landingpage.duration>0)" />
      <mat-error *ngIf="duration.hasError('required')" color = "accent">{{ 'FORMS.errors.duration_required' | translate }}</mat-error>
    </mat-form-field>
  </div>
  <div fxLayout="row">
    <mat-form-field  appearance="outline" fxFlex="38">
      <mat-label color="primary">{{ 'FORMS.fields.format' | translate }}</mat-label>
      <mat-select formControlName="idformat" [multiple]='is_multiple' required>
        <mat-option *ngFor="let format of formats" [value]="format.idformat">{{format.name}}</mat-option>
      </mat-select>
      <mat-error *ngIf="idformat.hasError('required')" color = "accent">{{ 'Formato requerido' | translate }}</mat-error>
    </mat-form-field>
    <div fxFlex="4"></div> 
    <mat-form-field  appearance="outline" fxFlex="38">
      <mat-label color="primary">{{ 'FORMS.fields.lang' | translate }}</mat-label>
      <mat-select formControlName="idlang" [multiple]='is_multiple' required>
        <mat-option *ngFor="let lang of langs" [value]="lang.idlang">{{lang.name}}</mat-option>
      </mat-select>
      <mat-error *ngIf="idlang.hasError('required')" color = "accent">{{ 'Idioma requerido' | translate }}</mat-error>
    </mat-form-field> 
    <div fxFlex="4"></div>
    <mat-form-field  appearance="outline" fxFlex="20">     
      <mat-label color="primary">{{ 'Captura de miniatura' | translate }}</mat-label>     
      <input matInput type="number" formControlName="delay" required />
      <span matSuffix>{{ 'Seg.' | translate }}</span>
      <mat-error *ngIf="name.hasError('required')" color = "accent">{{ 'FORMS.errors.delay_required' | translate }}</mat-error>
    </mat-form-field>
  </div>
  <form [formGroup]="formParam">
    <mat-dialog-content fxLayout="row">
      <div fxFlex="65">
        <iframe [src]="url" width="100%" height="98%" scrolling="no"></iframe>
      </div>
      <div fxFlex="2"></div> 
      <div fxFlex="33" >     
        <ng-container *ngFor="let config of landingpage.config">
          <mat-label color="primary">{{config.name}}</mat-label>
          <mat-form-field  appearance="outline" *ngIf="config.type=='select'">          
            <mat-select required="config.required" [multiple]="config.multiple" [formControlName]="config.key">
              <mat-option *ngFor="let data of config.data" [value]="data.value">{{data.key}}</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field  appearance="outline" *ngIf="config.type=='check'"  >          
            <mat-checkbox [formControlName]="config.key" >{{config.key}}</mat-checkbox>
          </mat-form-field> 
          <mat-radio-group [formControlName]="config.key" *ngIf="config.type=='radio'">         
            <mat-radio-button  *ngFor="let data of config.data" [value]="data.value" >{{data.key}}</mat-radio-button>
          </mat-radio-group>     
          <mat-form-field  appearance="outline" *ngIf="config.type!='select' && config.type!='check' && config.type!='radio'" >
            <input matInput  [type]="config.type" [placeholder]="config.placeholder" [formControlName]="config.key">
          </mat-form-field>
        </ng-container>
        <button class="mat-raised-button" (click)="preview()" id="preview">{{ 'Ver' | translate }}</button>
      </div>
    </mat-dialog-content>
  </form>
  <mat-dialog-actions fxLayout="row" align="end">  
    <div >
      <button class="mat-raised-button mat-accent" type="submit" cdkFocusInitial>{{ 'FORMS.buttons.save' | translate }}</button>
    </div>
    <div >
      <button class="mat-raised-button" (click)="close()">{{ 'FORMS.buttons.cancel' | translate }}</button>
    </div>
  </mat-dialog-actions>
</form>