
th.mat-header-cell, td.mat-cell{
    border: none;
}
mat-dialog-content{
    min-height: 443px;
}
mat-dialog-actions{
   margin-bottom: 0px;
}

button{
    margin-left: 10px;
}

mat-radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
}
    
mat-radio-button {
    margin: 5px;
}

#preview{
    position: relative;
    left: 175px;
}
