.playlogic {
  height: 50px;
  font-size: 0.8em;
  padding: initial;
  padding: 10px 0px 0px 0px;
  border-bottom: outset 1px #fafafa; 
}

.thumbnail {
  width: 30px; 
  padding-left: 5px; 
  padding-right: 10px;  
}



.chip-style {
    background-color: #ffc107;
    width: 25px;
    height: 23px;
    border-radius: 14%;
}


