<div fxLayout="row">
    <div fxLayoutAlign="start center">
        <img class="thumbnail" src={{playlogic.content_category.image_url}}
            *ngIf='(playlogic.content_category.image_url && show)'>
    </div>

    <div fxLayout="row" fxFlex>
        <div fxLayout="column" fxFlex="17">
            <span>{{playlogic.content_category.name}}</span>
            <span>{{playlogic.content_category.duration != null?playlogic.content_category.duration:0}} {{
                'COMPONENTS.playlogic.sec' | translate }}</span>
        </div>

        <div fxFlex="50" fxLayout="column" fxLayoutAlign="end">
            <span class="chip-style" *ngIf="playlogic.content_category.random" matTooltip="Random">
                <mat-icon>shuffle</mat-icon>
            </span>
        </div>





    </div>

    <div *ngIf="arrow">
        <button mat-icon-button (click)="view(playlogic.content_category)">
            <mat-icon>keyboard_arrow_right</mat-icon>
        </button>
    </div>

</div>