 
 <div class="slec-dis" fxLayout="row" *ngIf="(customersToSelect && !apparence)">
     <label class="labl-selc">{{ 'COMPONENTS.customer_select.label1' | translate }}</label>
     <div class="sellc-cont">
    <form *ngIf="customersToSelect" [formGroup]="filterForm" fxFlex="100">
        <mat-form-field [appearance]="apparence">
            <mat-label>{{ 'COMPONENTS.customer_select.label2' | translate }}</mat-label>
            <mat-select formControlName="cliente" (selectionChange)="captureValue()">
                <input class = "search" [placeholder] ="'Buscar' | translate" (keyup)="onKey($event.target.value)">
                <mat-option disabled>{{ 'COMPONENTS.customer_select.placeholder' | translate }}</mat-option>
                <mat-option value=0>{{ 'COMPONENTS.customer_select.all' | translate }}</mat-option>
                <mat-option *ngFor="let customer of customers" [value]="customer.idcustomer">{{customer.name}}</mat-option>
            </mat-select>
        </mat-form-field>
    </form>
    </div>
</div>


<ng-container *ngIf="apparence">
       <form *ngIf="customersToSelect" [formGroup]="filterForm"  #f="ngForm" fxFlex="100" fxLayout="column">
        <mat-label  color="primary">{{ 'FORMS.fields.customer' | translate }} *</mat-label>
            <mat-form-field  [appearance]="apparence">
            <mat-select formControlName="cliente" (selectionChange)="captureValue()" >
                <input class = "search" [placeholder] ="'Buscar' | translate" (keyup)="onKey($event.target.value)">
                <mat-option *ngFor="let customer of customers" value='{{customer.idcustomer}}'>{{customer.name}}</mat-option>
            </mat-select>          
         </mat-form-field> 
    </form>
</ng-container>





