<div fxLayout="row" *ngIf="!asset_url">
    <input-file (onChange)="changeInputfile($event)"></input-file>
</div>
<div class="preview" fxLayout="row" *ngIf="(asset_url)">
    <preview [url]='asset_url' [type]='asset_type' (onDeleted)="delete($event)"  (onChange)="changePreview($event)"></preview>
</div>
 

