<div class='container loading' *ngIf="loading" > 
    <mat-spinner diameter = "80" strokeWidth = "5" color='accent'></mat-spinner>
</div>
<div class='container' *ngIf="!loading">
    <h1 class="title">{{ 'ASSETS.title' | translate }}</h1>
    <div *ngIf="(!permission)">
        <h3 class='title'>{{ 'COMMON.no_permission' | translate }}</h3>
    </div>
    <div *ngIf="(permission)">
        <div fxLayout="row">
            <button mat-raised-button color="accent" (click)="openNewForm(3)">{{ 'ASSETS.list.buttons.new_url' | translate }}</button>
            <div fxFlex="16px"></div>
            <button mat-raised-button color="accent" (click)="openNewTemplate()">{{ 'ASSETS.list.buttons.new_template' | translate }}</button>
            <div fxFlex="16px"></div>
            <ng-container *ngIf='landingpages.length>0'>
                <button mat-raised-button color="accent" [matMenuTriggerFor]="menu" #menuTrigger>{{ 'Nuevo Widget' | translate }}</button>
                <mat-menu #menu >
                    <ng-container *ngFor="let landingpage of landingpages">
                        <button mat-menu-item (click)="openDialogLandingpage(landingpage)">
                            <img [src]="landingpage.thumbnail_url" width="20px" height="20px"/>
                            <span class='landingpage_text'>{{landingpage.name}}</span>
                        </button>
                    </ng-container>
                </mat-menu>
            </ng-container>
        </div>
        <br /><br />
        <mat-form-field  appearance="outline">          
            <input matInput type="text" [placeholder]="'ASSETS.list.file_search' | translate " [(ngModel)]="filterName" (keyup)="onKeyup($event)" />
        </mat-form-field> 
        <br /><br />
        <ng-container *ngFor="let group of groups">
            <asset-group [lang]="group.lang" [format]="group.format" [assets]="group.assets" [name]="group.name" [slidesToShow]="slidesToShow" (onChange)="onChange($event)" (onFileDropped)="OnFileDropped($event)"></asset-group>
        </ng-container>
        <ng-container *ngIf="(!groups || groups.length <= 0)">
            <p>{{ 'COMMON.no_results' | translate }}</p>
        </ng-container>
    </div>
</div>