.loading{
    position: relative;
    left: 50%;
}

mat-form-field {
    max-width: 300px;
}

/**** nuevo css ***/

::ng-deep .mat-form-field-infix {
    border-top: 0 solid transparent;
        padding-top: 8px !important;
}

::ng-deep.mat-form-field-appearance-outline .mat-form-field-outline {
    top: 0 !important;
}

.landingpage_text{
    margin-left: 15px;
    vertical-align: super;
}