 
 <div class="slec-dis" fxLayout="row">
     <label class="labl-selc">{{ 'COMPONENTS.city_select.label' | translate }}</label>
     <div class="sellc-cont">
        <mat-form-field appearance="fill">
            <mat-label>{{ 'COMPONENTS.city_select.label' | translate }}</mat-label>
            <mat-select [formControl]="ciudades" (selectionChange)="captureValue()" multiple [disabled]="!localityAvailable">
                <mat-option disabled>{{ 'COMPONENTS.city_select.placeholder' | translate }}</mat-option>
                <mat-option *ngFor="let city of cities" [value]="city">{{city.name}}</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
</div>


