<div fxLayout="row">
    <div fxLayout="column" fxFlex>
        <h1 class="title">{{ "Ticket" | translate }}</h1>
    </div>

    <div fxLayout="column" align="end">
        <button mat-icon-button [routerLink]="['/private/ticket/list/1']" matTooltip="{{ 'Volver' | translate }}">
            <mat-icon>west</mat-icon>
        </button>
    </div>
</div>

<form [formGroup]="form" (ngSubmit)="create()">
    <div fxLayout="column" class="form-container" fxFlexFill>
        <!-- <mat-label color="primary">{{ 'point_address' | translate }} </mat-label><br> -->
        <div fxLayout="row" fxLayoutGap="15px">
            <div fxLayout="column" fxFlex="33">
                <mat-label color="primary">{{ 'email' | translate }} </mat-label><br>
                <mat-form-field class="mat-form-field" appearance="outline">
                    <input matInput type="text" placeholder="{{ 'email' |translate }}" formControlName="email" />
                </mat-form-field>
            </div>
            <div fxLayout="column" fxFlex="33">
                <mat-label color="primary">teléfono</mat-label><br>
                <mat-form-field class="mat-form-field" appearance="outline">
                    <input matInput type="text" placeholder="{{ 'phone' |translate }}" formControlName="phone" />
                </mat-form-field>
            </div>
            <div fxLayout="column" fxFlex="44">
                <mat-label color="primary">dirección Centro</mat-label><br>
                <mat-form-field class="mat-form-field" appearance="outline">
                    <input matInput type="text" placeholder="{{ 'point_address' |translate }}"
                        formControlName="point_address" />
                </mat-form-field>
            </div>
        </div>
        <div class="back_card" fxLayout="column" fxLayoutGap="4%">
            <ng-container *ngIf="images">
                <div fxFlex fxLayoutGap="20px" fxLayoutAlign="space-betweeen center">
                    <ng-container *ngFor="let img of images">
                        <ng-container *ngIf="(img.ruta | whatFile) else video">
                            <span class="img-frame-cap" (click)="openImage(img.ruta, 'img')">
                                <img class="image" [src]="img.ruta" />
                            </span>
                        </ng-container>
                        <ng-template #video>
                            <span class="img-frame-cap" (click)="openImage(img.ruta, 'video')">
                                <video class="image">
                                    <source [src]="img.ruta" type="video/mp4">
                                </video>
                            </span>
                        </ng-template>
                    </ng-container>
                </div>
            </ng-container>
        </div>
        <mat-label color="primary">{{ 'title' | translate }} *</mat-label><br>
        <mat-form-field fxFlex="100" class="mat-form-field" appearance="outline">
            <input matInput type="text" placeholder="{{ 'title' |translate }}" formControlName="titulo" required />
        </mat-form-field>
        <mat-label color="primary">{{ 'description' | translate }} </mat-label><br>
        <ckeditor [editor]="Editor" (change)="onChange($event)" [(ngModel)]="sHtml"
            [ngModelOptions]="{standalone: true}"></ckeditor>
        <div fxLayout="row" fxFlexFill fxLayoutGap="50px" [style.margin-top]="'30px'">
            <div fxLayout="column" fxFlex="50">
                <customer-select apparence="outline" [selected]="userSelect" [customersToSelect]="usersToSelect"
                    [idcustomer]="idcustomer" (onSelected)="userSelected($event)">
                </customer-select>
                <site-select apparence="outline" (onChange)="setValues($event, 'id_site')"></site-select>
                <ticket-select [selected]="id_pri" [label]="'priority'" (onSelected)="setValues($event, 'id_priority')"
                    type="priority" required></ticket-select>
                <mat-form-field [appearance]="aperance">
                    <mat-label>Días estimados de resolución</mat-label><br>
                    <mat-select formControlName="tiempo_estimado">
                        <mat-option
                            *ngFor="let day of [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26]"
                            [value]="day">{{day}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <div fxLayout="row" fxLayoutGap="25px">
                    <mat-checkbox formControlName="notificar_usuario">Alerta usuario</mat-checkbox>
                    <mat-label>{{'date_alert' | translate}}</mat-label><br>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <input matInput [matDatepicker]="picker" formControlName="fecha_alerta">
                    <mat-datepicker #picker color="primary"></mat-datepicker>
                </div>
            </div>
            <div fxLayout="column" fxFlex="50">
                <ticket-select apparence="outline" [selected]="id_cat" [label]="'category'"
                    (onSelected)="setValues($event, 'id_category')" type="category" required> </ticket-select>
                <ticket-select apparence="outline" [selected]="id_sta" [label]="'status'"
                    (onSelected)="setValues($event, 'id_status')" type="status"> </ticket-select>
                <select-departments apparence="outline" [selected]="iddepartment"
                    (onSelected)="setValues($event, 'iddepartment')" required></select-departments>
                <select-responsibles apparence="outline" [selected]="idresponsible"
                    (onSelected)="setValues($event, 'idresponsible')" required></select-responsibles>
            </div>
        </div>

        <div fxLayout fxLayoutAlign="center center">

            <drag-drop-files [files]="files" (filesDropped)="getFiles($event)"></drag-drop-files>
        </div>
        <div fxLayout fxLayoutGap="20px" fxLayoutAlign="end center">
            <button type="button" class="mat-raised-button mat-accent"
                [routerLink]="['/private/ticket/list/1']">{{'FORMS.buttons.back' | translate }}</button>
            <button *ngIf="!id" type="submit" class="mat-raised-button mat-accent">{{ 'create' | translate }}</button>
            <button *ngIf="id" type="submit" class="mat-raised-button mat-accent">{{ 'update' | translate }}</button>
        </div>
    </div>
</form>
<div class="loading-indicator" *ngIf="loading">
    <mat-spinner></mat-spinner>
</div>