<div class="container">
    <h3>{{ 'ASSETS.assetmanager.title' | translate }}</h3>
    <mat-form-field appearance="outline">          
        <input matInput type="text" value="" [placeholder]="'ASSETS.assetmanager.placeholder' | translate" />
    </mat-form-field>
    <div class="carousel-container">
        <ng-template [ngIf]="items.length > 0">
            <ng-template ngFor let-item [ngForOf]="items">
                <assetcarousel [lang]="item.lang" [format]="item.format" [elements]="item.assets" (onSelect)="selectAsset($event)"></assetcarousel>
            </ng-template>
        </ng-template>
        <div *ngIf="selectedAreas.length == 0" class="no-content">
            <p>{{ 'ASSETS.assetmanager.error' }}</p>
        </div>
    </div>
</div>
