.container {
    margin-left: 20px;
    padding: 20px;
    background-color: #fff;
    height: 600px;
    overflow-y: visible;
    /*width: 40%;*/
    /*display: inline-block*/
}

.carousel-container{
    overflow-y: auto !important;
    overflow-x:hidden;
    height:500px;
    /*height:100%;*/
    width:100%;
    padding-right: 10px;
}

.no-content {
    text-align: center;
}