<form  fxFlex="100" fxLayout="column">
   <mat-label class="labl-selc">{{ 'COMPONENTS.site.select.label' | translate }}*</mat-label>
    <mat-form-field [appearance]="apparence" *ngIf="selected || sites.length > 0">
        <mat-label>{{ 'COMPONENTS.site.select.label' | translate }}</mat-label>
        <mat-select (selectionChange)="onSelect($event.value)" [formControl]="site">
            <input class = "search" [placeholder] ="'Buscar' | translate" (keyup)="onKey($event.target.value)">
            <mat-option disabled>{{ 'COMPONENTS.site.select.placeholder' | translate }}</mat-option>
            <mat-option *ngFor="let site of sites" [value]="site.idsite">{{site.name}}</mat-option>
        </mat-select>
    </mat-form-field>
</form>
