.container {
  background-color: #fff;
  padding: 20px 0;
  width: 100%
}

.container .title {
  font-weight: bold;
  margin-left: 20px
}

#table-container {
  margin-top: 20px;
  overflow: visible
}

#selection-area-table {
  /*width: 600px;*/
  table-layout: fixed;
  width: auto;
  border-spacing: 0
}

#selection-area-table td {
  /*padding: 40px 10px;*/
  border-top: 1px solid #cecece;
  border-right: 1px solid #cecece;
  border-bottom: 1px solid #cecece;

}

#selection-area-table td.table-head {
  padding: 10px;
  width: 350px !important;
  text-align: center
}

#selection-area-table td.table-head:last-child {
  /*width: 70% !important;*/
}

#selection-area-table td.clicked {
  background-color: #f64747;
  color: #fff;
}

#selection-area-table td.clicked .description {
  /*color: #fff;*/
}

#selection-area-table td.area-box {
  cursor: pointer;
  /*transition: all 0.5s;*/
}

#selection-area-table td.area-box .description {
  /*color: #888;*/
  width: fit-content;
  margin-top: 5px;
}

#selection-area-table td.area-box:hover {
  /*background-color: #eee;*/
  /*color: #888;*/
}

#selection-area-table tr:first-child {
  font-weight: bold;
  font-size: 16px;
}

#selection-area-table tr:nth-child(even) {
 /*  background-color: #f5f9ee; */
}

.loading{
    position: relative;
    left: 50%;
}

#actions-container {
  margin-top: 10px;
  /* background-color: #f5f9ee; */
  clear: both;
  padding-top: 20px;
  padding-bottom: 50px;
  padding-left: 20px;
  padding-right: 20px;
}

#actions-container #actions {
  display: inline-block;
  float: right;
}

#actions-container #actions a {
  margin-left: 5px;
  margin-bottom: 5px;
}

#all-selection-checkbox {
  margin-left: 20px;
  display: inline-block;
  margin-bottom: 10px
}

.area-box img {
  display: block;
  width: 52px;
  height: 50px
}

.area-box .name {
  font-weight: bold;
  margin-bottom: 5px
}

.cajas-opciones {
  width: 100%;
  float: left;
  overflow-x: scroll;
  flex-flow: initial !important;
  background-color: white;
}

.cajas-opciones app-playareaoption {
    width: 25%;
    margin: 0 !important;
    float: left;
    flex: 0 0 25%;
    max-width: 300px;
}

@media (max-width: 599px){


}

/***** nuevo css *****/


::ng-deep xng-breadcrumb {
    left: 0 !important;
}


::ng-deep .sidenav {
    -webkit-box-shadow: 5px 2px 10px -3px rgb(201 201 201 / 35%);
    -moz-box-shadow: 5px 2px 10px -3px rgb(201 201 201 / 35%);
    box-shadow: 5px 2px 10px -3px rgb(201 201 201 / 35%);
}

.tab-resp {
  width: 100%;
  float: left;
 /*  overflow: auto !important; */
  background: #ffffff;
  margin-bottom: 5px;
 /*  height: 385px; */
}

.tabl-nuev tr th {
    width: 150px;
    padding: 10px;
    text-align: left;
    padding: 15px 10px;
}


.tabl-nuev {
   /*  width: 100% !important; */
    float: left;
}


.tabl-nuev td {
    /*padding: 10px !important;*/
        border-right: 1px solid #F6F9F0;
}


.eligr-arearepr {
    font-size: 15px !important;
        margin-bottom: 0;
}

.slect-tds span {
    font-size: 13px !important;
}

.titl-are {
    font-size: 14px !important;
    font-weight: bold !important;
    margin-bottom: 5px !important;
}

.desc-area {
    font-size: 12px;
    line-height: 14px;
    color: #C3C7C2;
    margin: 0 !important;
}


.titul-hors {
  margin: 0;
  font-size: 20px;
  text-align: center
}


#selection-area-table td.table-head {
    padding: 10px;
    width: 200px !important;
}


#actions-container #all-selection-checkbox {
    margin-left: 0;
}

.noareas{
  text-align: center;
}
