<div class='loading' *ngIf="load"> 
  <mat-spinner diameter = "80" strokeWidth = "5" color='accent'></mat-spinner>
</div>
<div class="container" *ngIf="!load">
  <h3 class="title eligr-arearepr">{{ 'COMPONENTS.playareaselection.title' | translate }}</h3>
  <ng-container *ngIf="!disabled && areas.length > 0 ">
    <div class="slect-tds" id="all-selection-checkbox">
      <mat-checkbox 
        [checked]="(hasSelected() && hasAllSelected())"
        [indeterminate]="(hasSelected() && !hasAllSelected())"
        (change)="checkboxToggle($event)">{{ 'COMPONENTS.playareaselection.all' | translate }}</mat-checkbox>
    </div>
    <div class="cajas-opciones" fxLayout="row wrap" fxLayoutGap="20px">
      <playarea-option *ngFor="let area of areas" [area]="area" [selected]="isSelected(area)" (onSelect)="selectArea(area)"></playarea-option>
    </div>
  </ng-container>
  <div class="noareas" *ngIf="areas.length == 0 && !disabled" ><span>{{ 'Los circuitos seleccionados no tienen visores asociados' | translate }}</span></div>
  <div class="noareas" *ngIf="disabled" ><span>{{ 'Por favor selecione un circuito' | translate }}</span></div>
</div>