<div fxLayout="row" fxLayoutAlign="space-around center">
  <mat-form-field appearance="outline" [formGroup]="formGroup">
    <mat-label>{{ fieldData.label | translate }}</mat-label>
    <div fxLayout="row" fxLayoutAlign="space-between center">
      <input matInput
        disabled
        type="number"
        formControlName="{{fieldData.name}}" 
        [required]="fieldData.required">
      <span matSuffix class="numberSuffix" *ngIf="fieldData.medida">{{ fieldData.medida | translate }}</span>
    </div>
    <mat-error>{{ 'FORMS.errors.text_component' | translate:fieldData }}</mat-error>
  </mat-form-field>
</div>
