.spinner-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .loadingCoordinates {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background:rgba(255,255,255,0.5)
  }

  .button-container {
    position: absolute;
    bottom: 15px;
    right: 25px;
    
  }

  agm-map {
    padding-top: 25px;
    width: 96.5%;
    height: 320px;
    margin-left: 3%;
  }

  .hide{
   visibility: hidden;
  }

  mat-slide-toggle{
   float: right;
  }

  .green-icon {
    color: #64ca26;
  }

  .orange-icon {
    color: #f64747 ;
  }


  
