<form class="custom-form" [formGroup]="form" (keydown.enter)="$event.preventDefault()">
  <div fxLayout="row">
    <div fxLayout="column" fxFlex>
      <h1 class="title">{{ "Centros" | translate }}</h1>
    </div>
    <div fxLayout="column" align="end">
      <button mat-icon-button [routerLink]="['/private/site/list']" matTooltip="{{ 'Volver' | translate }}">
        <mat-icon>west</mat-icon>
      </button>
    </div>
  </div>
  <div fxLayout="column" class="form-container" style="width: 100%; height:100%">
    <customer-select [selected]="customerSelect" [customersToSelect]="customersToSelect"
      (onSelected)="customerSelected($event)"></customer-select>
    <div [ngClass]="{'hide': hide}">
      <div fxLayout="row"  fxLayout.xs="column"  fxLayout.sm="column" fxLayoutAlign="center space-between" fxLayoutGap="20px">
        <div fxFlex="60" >
          <mat-label color="primary">{{ 'FORMS.fields.name' | translate }}* </mat-label><br>
          <mat-form-field appearance="outline">
            <input matInput type="text" formControlName="name" value="" required />
            <mat-error *ngIf="name.hasError('required')" color="accent">{{ "FORMS.errors.name_required" | translate }}
            </mat-error>
          </mat-form-field>
        </div>
        <div fxFlex="40"   fxLayout="column">
          <mat-label color="primary" style="width: 100%">{{ 'FORMS.fields.holidays' | translate }}</mat-label>
          <mat-chip-list #chipList *ngIf="(site)">
            <mat-chip *ngFor="let holidays of site.site_holidays">
              {{ holidays.date }}
            </mat-chip>
          </mat-chip-list>
          <div fxLayoutAlign="center center">
            <a style="width: 40%; height: 35px; margin-top: 5px" class="link" mat-raised-button color="accent"
              (click)="openDialogHolidays(site)" mat-button>{{ "FORMS.buttons.edit_holidays" | translate }}</a>
          </div>
        </div>
       </div>
      <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column"  fxLayoutAlign="center space-between" fxLayoutGap="20px">
        <div fxFlex="30"  fxFlex.gt-xs = "100">
          <mat-label color="primary">{{ 'FORMS.fields.address' | translate }} </mat-label><br>
          <mat-form-field appearance="outline">
            <input matInput type="text" formControlName="address" id="autocomplete" />
          </mat-form-field>
        </div>
        <div fxFlex="30"  fxFlex.gt-xs = "100" fxLayout="column">
          <mat-label color="primary" style="width: 100%;">{{ 'FORMS.fields.tags' | translate }}</mat-label>
          <mat-chip-list #chipList *ngIf="(site)">
            <mat-chip *ngFor="let tag of site.tags">
              {{ tag.name }}
            </mat-chip>
          </mat-chip-list>
          <div fxLayoutAlign="center center">
            <a class="link" style="width: 50%; height: 35px; margin-top: 5px" mat-raised-button color="accent"
              (click)="openDialogTags()" mat-button>Editar tags</a>
          </div>
        </div>
        <div fxFlex="30"  fxFlex.gt-xs = "100">
          <mat-label color="primary">{{ 'FORMS.fields.cp' | translate }} </mat-label><br>
          <mat-form-field appearance="outline">
            <input matInput type="text" formControlName="zipcode" value="" />
          </mat-form-field>
        </div>
      </div>
      <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column"  fxLayoutAlign="center space-between" fxLayoutGap="20px">
        <div fxFlex="30"  fxFlex.gt-xs = "100">
          <mat-label color="primary">{{ 'FORMS.fields.email' | translate }} </mat-label><br>
          <mat-form-field appearance="outline">
            <input matInput type="email" formControlName="email" value="" />
            <mat-error *ngIf="email.hasError('email')">{{
              "FORMS.errors.email_wrong" | translate
              }}</mat-error>
          </mat-form-field>
        </div>
        <div fxFlex="30"  fxFlex.gt-xs = "100">
          <mat-label>{{ 'Circuitos de reproducción' | translate }}</mat-label><br>
          <mat-form-field appearance="outline">
            <mat-select formControlName="idcircuit" multiple (selectionChange)="selCircuits($event)">
              <mat-option disabled>{{
                "FORMS.placeholder.select" | translate
                }}</mat-option>
              <mat-option *ngFor="let circuit of circuits" [value]="circuit.idcircuit">{{ circuit.name }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div fxFlex="30"  fxFlex.gt-xs = "100">
          <mat-label color="primary">{{ 'FORMS.fields.code' | translate }} </mat-label><br>
          <mat-form-field appearance="outline">
            <input matInput type="text" formControlName="code" value="" />
          </mat-form-field>
        </div>
      </div>
      <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column"  fxLayoutAlign="center space-between" fxLayoutGap="20px">
        <div fxFlex="30"  fxFlex.gt-xs = "100">
          <mat-label>{{ 'País' | translate }}</mat-label><br>
          <mat-form-field appearance="outline">
            <mat-select formControlName="country" (selectionChange)="selectionCountries()">
              <mat-option disabled>{{
                "Seleccione una opción" | translate
                }}</mat-option>
              <mat-option *ngFor="let country of countries" [value]="country.idcountry">{{ country.name }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div fxFlex="30"  fxFlex.gt-xs = "100">
          <mat-label>{{ 'Provincia' | translate }}</mat-label><br>
          <mat-form-field appearance="outline">
            <mat-select formControlName="province" (selectionChange)="selectionProvinces()"
              [disabled]="!provinceAvailable">
              <mat-option disabled>{{
                "Seleccione una opción" | translate
                }}</mat-option>
              <mat-option *ngFor="let province of provinces" [value]="province.idprovince">{{ province.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div fxFlex="30"  fxFlex.gt-xs = "100">
          <mat-label>{{ 'Localidad' | translate }}</mat-label><br>
          <mat-form-field appearance="outline">
            <mat-select formControlName="idcity" [disabled]="!localityAvailable">
              <mat-option disabled>{{
                "Seleccione una opción" | translate
                }}</mat-option>
              <mat-option *ngFor="let city of cities" [value]="city.idcity">{{
                city.name
                }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
     </div>     
    <div fxLayout="column" fxLayoutAlign="center space-between" fxLayoutGap="20px">
      <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="center space-between">
        <div fxFlex="30"  fxFlex.gt-xs = "100">
          <mat-label color="primary">{{ 'FORMS.fields.latitude' | translate }} </mat-label><br>
          <mat-form-field appearance="outline">
            <input matInput type="text" formControlName="latitude" (blur)="blurLocations()" />
          </mat-form-field>
        </div>
        <div fxFlex="30"  fxFlex.gt-xs = "100">
          <mat-label color="primary">{{ 'FORMS.fields.longitude' | translate }} </mat-label><br>
          <mat-form-field appearance="outline">
            <input matInput type="text" formControlName="longitude" (blur)="blurLocations()" />
          </mat-form-field>
        </div>
        <div fxFlex="30"  fxFlex.gt-xs = "100">
          <mat-label color="primary">{{ 'personas diarias' | translate }} </mat-label><br>
          <mat-form-field appearance="outline">
            <input matInput type="number" formControlName="total_people_day" />
          </mat-form-field>
        </div>
      </div>
    </div>
    <div fxLayout="column" fxLayoutAlign="center space-between" fxLayoutGap="20px">
      <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="center space-between">
        <div fxFlex="30"  fxFlex.gt-xs = "100">
          <mat-label color="primary">{{ 'Caducidad de la licencia' | translate }} </mat-label><br>
          <mat-form-field appearance="outline">
            <input matInput [matDatepicker]="dp" formControlName="license_expiration" [disabled]="!isSuperAdmin"/>
            <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
            <mat-datepicker #dp></mat-datepicker>
          </mat-form-field>
        </div>
        <div fxFlex="30"  fxFlex.gt-xs = "100">
          <mat-label color="primary">{{ 'Día cierre' | translate }} </mat-label><br>
          <mat-form-field appearance="outline">
            <mat-select formControlName="closing_day" [disabled]="!isSuperAdmin">
              <mat-option disabled>{{
                "Seleccione una opción" | translate
                }}</mat-option>                
                <mat-option *ngFor="let day of weekDays" [value]="day.id">{{
                  day.name
                  }}</mat-option>
                  <mat-option  [value]=""></mat-option>
            </mat-select>
          </mat-form-field>      
        </div>
        <div fxFlex="30"  fxFlex.gt-xs = "100" fxLayout="column">
          <mat-label color="primary">{{ 'Estado' | translate }} </mat-label>
          <mat-slide-toggle formControlName="status"></mat-slide-toggle><br><br>
        </div>
      </div>
      <div fxFlex="30" fxFlex.gt-xs="100" fxLayout="column">
        <div fxLayout="row">
          <ng-container *ngIf="(site && site.has_socioeconomic==0)">
            <mat-icon class="orange-icon">unpublished</mat-icon><span>{{ 'Datos socioeconomicos no disponibles' |     translate }}</span>
          </ng-container>
        </div>
      </div>
      <div fxFlex="80"  fxFlex.gt-xs = "100" fxLayoutAlign="center space-between" >
        <agm-map *ngIf="site && site.idsite && !location" [latitude]="site.latitude" [zoom]="15"
          [longitude]="site.longitude">
          <agm-marker [latitude]="site.latitude" [longitude]="site.longitude"></agm-marker>
        </agm-map>
        <agm-map *ngIf="!site || !site.idsite || location" [latitude]="location.lat" [zoom]="15"
          [longitude]="location.lng">
          <agm-marker [latitude]="location.lat" [longitude]="location.lng"></agm-marker>
        </agm-map>       
      </div>
    </div>
    <div fxLayout="100" fxLayoutAlign="end end" fxLayoutGap="20px" style="margin-top: 3%;">
      <div class="spinner-container" *ngIf="loading">
        <mat-spinner diameter="24" color="accent"></mat-spinner>
      </div>
      <button mat-button mat-dialog-close class="mat-raised-button" [routerLink]="['/private/site/list']">{{
        'FORMS.buttons.cancel' | translate }}
      </button>
      <button mat-raised-button *ngIf="!id" color="accent" [disabled]="loading" (click)="create()">{{
          'FORMS.buttons.save'
          | translate }}</button>
      <button mat-raised-button *ngIf="id" color="accent" [disabled]="loading" (click)="update()">{{
          'FORMS.buttons.save'
          | translate }}</button>
    </div>
  </div>
  </div>
  <div class="loadingCoordinates" *ngIf="loadingCoordinates">
    <mat-spinner diameter="24" color="accent"></mat-spinner>
  </div>
</form>