.mat-card{
    padding-bottom:2rem;
    margin-bottom:2rem;
}
table{
    margin-top:2rem;
}
th{padding:10px;border: 1pt solid black; background-color:grey;color:white;}
tr {
border: 1px solid black;
}
td {
border: 1pt solid black;
}
.circulo {
    margin:auto;
     width: 50px;
     height: 50px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
  
}
.fa-star{
    margin-left: 10px;
    color: orange;
    font-size: 2rem;;
}

.star-white{
    color:white;
}
.spinner-container{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background:rgba(255,255,255,0.5)
}

.filefield{
    margin-top:2rem;
    margin-bottom:0rem;
    display:block;
}
.fieldsetContainer{
    width:50%;
    margin:0 auto;
}

.greentd{
    width:100%;
    height:100%;
    color:#fff;
    display:block;
}
.greentdx{
    width:100%;
    height:100%;
    background:green;
    color:green;
    display:block;
}
.table-container{
    margin: 1rem auto;
    width: fit-content;
    margin-top:2rem;
    text-align: center;
}
.legend{
    font-size: 0.8rem;
    color: #666;
    margin: 0.5rem auto 0;
}
.margin-top-4{
    margin-top:4rem;
}