<div *ngIf="isPainting">
  <div class="spinner-container" *ngIf="cat_data.length === 0">
    <mat-spinner diameter="50"  color="accent"></mat-spinner>
  </div>
  <div class="table-container" [style.opacity]="cat_data.length > 0 ? 1 : 0">
    <h2>{{ 'Resultado PrimeTime - Distribución de ventas por Día de la Semana y Franja Horaria' | translate }}</h2>
    <h3>{{ 'Categoría' | translate }} <b>{{ category }}</b></h3>
    <table>
      <tr>
        <th>{{ 'Día de la semana' | translate }}</th>
        <th *ngFor="let hora of horas">{{ hora }}</th>
      </tr>
      <tr *ngFor="let dia of dias;let d = index">
        <td>{{ dia | translate }}</td>
        <td *ngFor="let hora of horas; let h = index">
          <ng-container *ngFor="let data of cat_data">
            <span class="greentd" [style.background]="data.color" [style.color]="data.textColor" *ngIf="horas[h] == data.nhora && d + 1  == data.ndiasem">
              {{ data.ventas_med | numbersp }}
            </span>
          </ng-container>
        </td>
      </tr>
    </table>
    <p class="legend">{{ 'El valor de las celdas se corresponde con los porcentajes de ventas de cada Dia de la semana / Franja horaria SOBRE las Ventas Medias Horarias de esa Categorìa en el punto especificado en la imagen' | translate }}</p>
  </div>
  <div class="table-container" *ngIf="!loading && site_data.length > 0">
    <ng-container  *ngFor="let site of sites">
      <h2 class="margin-top-4">{{ 'Horarios PrimeTime por Día de la Semana y Franja Horaria' | translate }}</h2>
      <h3>{{ 'Categoría' | translate }} <b>{{ category }}</b>, {{ 'Establecimiento' | translate }}: <b>{{ site.name }}</b></h3>
      <table>
        <tr>
          <th>{{ 'Día de la semana' | translate }}</th>
          <th *ngFor="let hora of horas">{{ hora }}</th>
        </tr>
        <tr *ngFor="let dia of dias;let d = index">
          <td>{{ dia | translate }}</td>
          <td *ngFor="let hora of horas; let h = index">
            <ng-container *ngFor="let data of site_data">
              <span class="greentdx" *ngIf="horas[h] == data.nhora && d + 1  == data.ndiasem && data.id_estac === site.idsite">{{ 'x' }}</span>
            </ng-container>
          </td>
        </tr>
      </table>
    </ng-container>
  </div>
</div>