<div fxLayout="row">
    <div fxFlex>
        <label>{{ 'Áreas de reproducción' | translate }}</label>
        <playarea-select [selectedIndex]="0" (onChange)="changeArea($event)"></playarea-select>
        <br />
        
        <playlogic-sidenav  [date]="date"  *ngIf="area" [area]="area" [circuit]="circuit" (onUpdate)="update()"></playlogic-sidenav>
    </div>
    
    <div fxFlex="20px"></div>
    <div fxFlex>
        <label>{{ 'Circuitos de reproducción' | translate }}</label>
        <playcircuit-select [selectedIndex]="0" (onChange)="changeCircuit($event)"></playcircuit-select>
        <br />
        <ng-container *ngIf="(player && area && circuit)">           
            <player-viewer 
                *ngIf="show" 
                [date]="date" 
                [email]="player.email" 
                [idcircuit]="circuit.idcircuit" 
                [width]="area.format.width" 
                [height]="area.format.height"
                [emittingContent]="emittingContent"
            ></player-viewer>
            <br />
            <player-text [date]="date" [email]="player.email" [idcircuit]="circuit.idcircuit" (onContentChange)="changeContent($event)"></player-text>
        </ng-container>
    </div>
</div>