<div id="htmlData" #htmlData>
    <mat-card>
      <mat-card-header>
        <mat-card-title><mat-icon>bar_chart</mat-icon>{{ 'COMPONENTS.emissions.result.title' | translate }}</mat-card-title>
        <mat-icon class="undo" (click)="volverForm($event)">undo</mat-icon>
      </mat-card-header>
      <mat-card-content>
        <div fxLayout="row" fxLayoutAlign="space-between">
            <p>{{ 'COMPONENTS.emissions.result.period' | translate }}<b>{{ data.year }} - {{ data.month }}</b><p>
        </div>
        <div fxLayout="row" fxLayoutAlign="space-evenly center">
            <p>{{ 'COMPONENTS.emissions.result.content' | translate }} <b>{{content.name}}</b></p>
        </div>
      </mat-card-content>
    </mat-card>
    <mat-card>
        <mat-card-content>
            <h3>{{ 'COMPONENTS.emissions.result.graphchart1title' | translate }}</h3>
            <linear-chart [data]="emisionesHoraLineChartData" [labels]="emisionesHoraLineChartLabels" [loading]="isLoading" [aspectRatio]="aspectRatio" [height]="chartHeihgt"></linear-chart>
        </mat-card-content>
    </mat-card>
    <mat-card>
        <mat-card-content>
            <h3>{{ 'COMPONENTS.emissions.result.graphchart2title' | translate }}</h3>
            <linear-chart [data]="emisionesDiaLineChartData" [labels]="EmisionesDiaLineChartLabels" [loading]="isLoading" [aspectRatio]="aspectRatio" [height]="chartHeihgt"></linear-chart>
            <button mat-raised-button color="accent" (click)="excelExport()">{{ 'COMPONENTS.emissions.result.button' | translate }}</button>
        </mat-card-content>
    </mat-card>