.mat-card{
    margin-bottom:1.5rem;
    padding-top:0;
}
.mat-icon{
    font-size: 2.5rem;
    width: 2rem;
    height: 2rem;
    position: relative;
    top: 0.8rem;
    margin-right: 0.5rem;
}
.mat-card-header-text{
    margin:0!important;
}
.mat-card-content div{
    padding:1rem;
    border:1px solid #ccc;
    background:#f5f9ee;
    margin-top:-1px;
}
.mat-card-content div p{
    margin:0;
    font-size:1rem;
}
.afluencia-number{
    font-size: 2.5rem!important;
    font-weight: 600;
    margin-left: 0.5rem!important;
    margin-top:2rem!important;
}
.mat-card-content div.datos-afluencias, .mat-card-content div.datos-afluencias .spinner-container{
    background:#ffffff!important;
    border:0;
    margin:0.5rem!important;
    height:100%;
}
h3{
    font-size:1.5rem;
    padding-top:1.5rem;
}
linear-chart{
    width:100%;
    max-height:350px;
}
pie-chart{
    width:100%;
}
.text-data{
    text-align: center;
    font-size: 2rem!important;
    margin-top: 1.5rem!important;
}
.mat-grid-tile .mat-figure {
    justify-content: flex-start !important ;
    align-items: flex-start !important;
 }
 .mat-card-header.padding-top{
     padding-top:2rem;
 }
 table{
     border-spacing:0;
 }
 .undo{
    position:absolute;
    right:1rem;
    cursor:pointer;
    &:hover{
        opacity:0.5;
    }
}
.txtright{
    text-align: right;
}
.mat-card-content .spinner-container{
    background:none;
    border:0;
    width:100%;
    height:100%;
    display:block;
    text-align: center;
}