<mat-card>
    <mat-card-header>
      <mat-card-title><mat-icon>bar_chart</mat-icon>{{ 'COMPONENTS.emissions_sales.result_analysis.title' | translate }}</mat-card-title>
      <mat-icon class="undo" (click)="volverForm($event)">undo</mat-icon>
    </mat-card-header>
    <mat-card-content>
      <div fxLayout="row" fxLayoutAlign="space-between">
          <p>{{ 'COMPONENTS.emissions_sales.result_analysis.period' | translate }}  <b>{{headerData.dateStart | customDate }} - {{headerData.dateEnd | customDate }}</b><p>
      </div>
      <div fxLayout="row" fxLayoutAlign="space-between start" >
        <div fxLayout="column" fxLayoutAlign="space-evenly start" style="width:50%; border:0" >
            <p>{{ 'COMPONENTS.emissions_sales.result_analysis.centers' | translate }} <b>{{headerData.sites | translate}}</b></p>
            <p>{{ 'COMPONENTS.emissions_sales.result_analysis.content' | translate }} <b>{{headerData.content | translate}}</b></p>
            <p>{{ 'COMPONENTS.emissions_sales.result_analysis.references' | translate }} <b>{{headerData.products | translate}}</b></p>
        </div>
        <div fxLayout="column" fxLayoutAlign="space-evenly start" style="width:50%; border:0" >
            <p>{{ 'COMPONENTS.emissions_sales.result_analysis.customer' | translate }} <b>{{headerData.customer}}</b></p>
            <p>{{ 'COMPONENTS.emissions_sales.result_analysis.player' | translate }} <b>{{headerData.player | translate}}</b></p>
        </div>
      </div>
      <div class="spinner-container" *ngIf="loading">
        <mat-spinner diameter="100"  color="accent"></mat-spinner>
      </div>
    </mat-card-content>
</mat-card>

<mat-card #block1 *ngIf="!loading">
  <mat-card-content class="afluencia-total">
    <mat-grid-list cols="5" rowHeight="8rem">
      <mat-grid-tile>
        <div class="datos-afluencias">
          <p><mat-icon>shopping_cart</mat-icon> {{ 'COMPONENTS.emissions_sales.result_analysis.block1.sold_units' | translate }}</p>
          <div class="spinner-container" *ngIf="!datadifendif.variacionvmdte">
            <mat-spinner diameter="20"  color="accent"></mat-spinner>
          </div>
          <p *ngIf="datadifendif.variacionvmdte" class="afluencia-number">{{datadifendif.variacionvmdte.sum_uni_em_pEm | numbersp }}</p>
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="datos-afluencias">
          <p><mat-icon>person</mat-icon> {{ 'COMPONENTS.emissions_sales.result_analysis.block1.afluence' | translate }}</p>
          <div class="spinner-container" *ngIf="!datadifendif.cont_faceshour">
            <mat-spinner diameter="20"  color="accent"></mat-spinner>
          </div>
          <p *ngIf="datadifendif.cont_faceshour" class="afluencia-number">{{ datadifendif.cont_faceshour | numbersp }}</p>
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="datos-afluencias">
          <p><mat-icon>play_arrow</mat-icon> {{ 'COMPONENTS.emissions_sales.result_analysis.block1.emissions' | translate }}</p>
          <div class="spinner-container" *ngIf="!totalEmissions">
            <mat-spinner diameter="20"  color="accent"></mat-spinner>
          </div>
          <p *ngIf="totalEmissions" class="afluencia-number">{{ totalEmissions | numbersp }}</p>
        </div>
      </mat-grid-tile>
      <mat-grid-tile *ngIf="datadifendif.variacionvmdte.diff_var_uni_em !== 'null'">
        <div class="datos-afluencias">
          <p><mat-icon>bar_chart</mat-icon> {{ 'COMPONENTS.emissions_sales.result_analysis.block1.incr_sales' | translate }}</p>
          <div class="spinner-container" *ngIf="!datadifendif.variacionvmdte">
            <mat-spinner diameter="20"  color="accent"></mat-spinner>
          </div>
          <p *ngIf="datadifendif.variacionvmdte" class="afluencia-number">{{ datadifendif.variacionvmdte.diff_var_uni_em | numbersp }}%</p>
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="datos-afluencias">
          <p><mat-icon>pie_chart</mat-icon> {{ 'COMPONENTS.emissions_sales.result_analysis.block1.impact' | translate }}</p>
          <div class="spinner-container" *ngIf="!datadifendif.variacionvmdte">
            <mat-spinner diameter="20"  color="accent"></mat-spinner>
          </div>
          <p *ngIf="datadifendif.variacionvmdte && datadifendif.variacionvmdte.diff_var_uni_em !== 'null'" class="afluencia-number" >{{ datadifendif.variacionvmdte.diff_inc_uni | numbersp }}%</p>
          <p *ngIf="datadifendif.variacionvmdte && datadifendif.variacionvmdte.diff_var_uni_em === 'null'" class="afluencia-number" >--</p>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-card-content>
</mat-card>
<mat-card #block2 *ngIf="!loading">
  <mat-card-header class="padding-top">
    <mat-card-title *ngIf="!config.demo">{{ 'COMPONENTS.emissions_sales.result_analysis.block2.title' | translate }}</mat-card-title>
    <mat-card-title *ngIf="config.demo">{{ 'Ventas / Afluencias' | translate }}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <multi-linear-chart [data]="VentasEmisionesAfluenciasLineChartData" [labels]="VentasEmisionesAfluenciasLineChartLabels" [loading]="!datadifendif.variacionvmdte"></multi-linear-chart>
    <mat-grid-list cols="2" rowHeight="12rem">
      <mat-grid-tile>
        <div class="datos-afluencias">
          <p><mat-icon>schedule</mat-icon> {{ 'COMPONENTS.emissions_sales.result_analysis.block2.hour_max_sales' | translate }}</p>
          <div class="spinner-container" *ngIf="!datadifendif.variacionvmdte">
            <mat-spinner diameter="20"  color="accent"></mat-spinner>
          </div>
          <p *ngIf="datadifendif.variacionvmdte" class="afluencia-number">{{ datadifendif.hora_max_venta }}:00</p>
        </div>
        <div class="datos-afluencias">
          <p><mat-icon>trending_up</mat-icon> {{ 'COMPONENTS.emissions_sales.result_analysis.block2.percentage_sales' | translate }}</p>
          <div class="spinner-container" *ngIf="!datadifendif.xdeesaventa">
            <mat-spinner diameter="20"  color="accent"></mat-spinner>
          </div>
          <doughnut-chart [data]="[datadifendif.xdeesaventa,100-datadifendif.xdeesaventa]" *ngIf="datadifendif.xdeesaventa" [labels]="['%']" class="afluencia-number" [loading]="!datadifendif.xdeesaventa"></doughnut-chart>
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="datos-afluencias">
          <p><mat-icon>person</mat-icon>  {{ 'COMPONENTS.emissions_sales.result_analysis.block2.hour_max_aflu' | translate }}</p>
          <div class="spinner-container" *ngIf="!datadifendif.cont_faceshour">
            <mat-spinner diameter="20"  color="accent"></mat-spinner>
          </div>
          <p *ngIf="datadifendif.cont_faceshour" class="afluencia-number">{{ datadifendif.hora_punta }}:00</p>
        </div>
        <div class="datos-afluencias">
          <p><mat-icon>trending_up</mat-icon> {{ 'COMPONENTS.emissions_sales.result_analysis.block2.percentage_aflu' | translate }}</p>
          <div class="spinner-container" *ngIf="!datadifendif.cont_faceshour">
            <mat-spinner diameter="20"  color="accent"></mat-spinner>
          </div>
          <doughnut-chart [data]="[datadifendif.xdeesaface,100-datadifendif.xdeesaface]" *ngIf="datadifendif.xdeesaface" [labels]="['%']" class="afluencia-number" [loading]="!datadifendif.xdeesaface"></doughnut-chart>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-card-content>
</mat-card>
<mat-card #block3 *ngIf="!loading">
  <mat-card-header class="padding-top">
    <mat-card-title>{{ 'COMPONENTS.emissions_sales.result_analysis.block3.title' | translate }}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <linear-chart [data]="VentasHoraDiaLineChartData" [labels]="VentasEmisionesAfluenciasLineChartLabels" [loading]="!datadifendif.variacionvmdte"></linear-chart>
    <mat-grid-list cols="2" rowHeight="8rem">
      <mat-grid-tile>
        <div class="datos-afluencias">
          <p><mat-icon>schedule</mat-icon> {{ 'COMPONENTS.emissions_sales.result_analysis.block3.hour_max' | translate }}</p>
          <div class="spinner-container" *ngIf="!datadifendif.variacionvmdte">
            <mat-spinner diameter="20"  color="accent"></mat-spinner>
          </div>
          <p *ngIf="datadifendif.variacionvmdte" class="afluencia-number">{{ datadifendif.whorapunta }}:00</p>
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="datos-afluencias">
          <p><mat-icon>calendar_today</mat-icon>  {{ 'COMPONENTS.emissions_sales.result_analysis.block3.day_max' | translate }}</p>
          <div class="spinner-container" *ngIf="!datadifendif.cont_faceshour">
            <mat-spinner diameter="20"  color="accent"></mat-spinner>
          </div>
          <p *ngIf="datadifendif.cont_faceshour" class="afluencia-number">{{ datadifendif.weekdaymayorafluencia }}</p>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-card-content>
</mat-card>
<mat-card #block4 *ngIf="!loading">
<mat-card-header class="padding-top">
    <mat-card-title>{{ 'COMPONENTS.emissions_sales.result_analysis.block4.title' | translate }}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <bar-chart [data]="ComparativaConPeriodoBarchartData" [labels]="[labelAverSales]" [loading]="!datadifendif.variacionvmdte"></bar-chart>
    <mat-grid-list cols="1" rowHeight="12rem" *ngIf="comparativePeriod.length > 0">
      <mat-grid-tile>
        <div class="datos-afluencias">
          <p><mat-icon>arrow_upward</mat-icon> {{ 'COMPONENTS.emissions_sales.result_analysis.block4.incr_sales' | translate }}</p>
          <div class="spinner-container" *ngIf="!datadifendif.variacionvmdte">
            <mat-spinner diameter="20"  color="accent"></mat-spinner>
          </div>
          <doughnut-chart [data]="[comparativePeriod]" *ngIf="datadifendif.variacionvmdte" [labels]="['%']" class="afluencia-number" [loading]="!datadifendif.xdeesaface" [positive]="positive"></doughnut-chart>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-card-content>
</mat-card>
<mat-card #block5 *ngIf="!loading">
<mat-card-header class="padding-top">
    <mat-card-title>{{ 'COMPONENTS.emissions_sales.result_analysis.block5.title' | translate }}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <bar-chart [data]="ComparativaConTiendasBarchartData" [labels]="[labelAverSales]" [loading]="!datadifendif.variacionvmdte"></bar-chart>
    <mat-grid-list cols="2" rowHeight="8rem">
      <mat-grid-tile>
        <table border="1" style="width: 90%;" *ngIf="datadifendif.variacionvmdte">
          <tr style="background-color: grey;color: white;">
            <th>{{ 'COMPONENTS.emissions_sales.result_analysis.block5.dif_sales_before' | translate }}</th>
            <th>{{ 'COMPONENTS.emissions_sales.result_analysis.block5.dif_emi_before' | translate }}</th>
            <th [innerHTML]="'COMPONENTS.emissions_sales.result_analysis.block5.dif_impact' | translate"></th>
          </tr>
          <tr>
            <td class="txtright"> {{ datadifendif.variacionvmdte.diff_var_uni_preEm | numbersp }} </td>
            <td class="txtright"> {{ datadifendif.variacionvmdte.diff_var_uni_pEm | numbersp }}</td>
            <td class="txtright"> {{ datadifendif.variacionvmdte.diif_var_uni | numbersp }}</td>
          </tr>
        </table>      
      </mat-grid-tile>
      <mat-grid-tile>
        <table border="1" style="width: 90%;" *ngIf="datadifendif.variacionvmdte">
          <tr style="background-color: grey;color: white;">
            <th *ngIf="datadifendif.variacionvmdte.diff_inc_uni" [innerHTML]="'COMPONENTS.emissions_sales.result_analysis.block5.incr_sales_impact' | translate"></th>
            <th>{{ 'COMPONENTS.emissions_sales.result_analysis.block5.impact_money' | translate }}</th>
          </tr>
          <tr>
            <td class="txtright" *ngIf="datadifendif.variacionvmdte.diff_inc_uni != 0.00"> {{ datadifendif.variacionvmdte.diff_inc_uni | numbersp }} % </td>
            <td class="txtright" *ngIf="datadifendif.variacionvmdte.diff_inc_uni == 0.00"> -- </td>                   
            <td class="txtright"> {{ datadifendif.variacionvmdte.diff_eur | numbersp }}</td>                             
          </tr>
        </table>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-card-content>
</mat-card>
