<h1 mat-dialog-title>{{title | translate }}</h1>
<form class="custom-form" [formGroup]="form"> 
<mat-dialog-content>
  <div fxLayout="column">  
    <div fxLayout="column" class="form-container">   

      <mat-label  color="primary">{{ 'FORMS.fields.name' | translate }} </mat-label>
      <mat-form-field  appearance="outline">
        <input matInput type="text" formControlName="name"/>
      </mat-form-field>   
    </div>

    <div fxLayout="column" class="form-container"> 
      <mat-label  color="primary">Color</mat-label>
      <input [(colorPicker)]="color" [style.background]="color" />
    </div> 
  </div>    

</mat-dialog-content>

<mat-dialog-actions fxLayout="row" fxFlexFill *ngIf="(!button)" align="end">  
  <div>
    <button class="mat-raised-button mat-accent"(click)="save(form.value)" cdkFocusInitial>{{ 'FORMS.buttons.save' | translate }}</button>
  </div>
  <div>
    <button class="mat-raised-button" (click)="close()">{{ 'FORMS.buttons.cancel' | translate }}</button>
  </div>
</mat-dialog-actions>
<mat-dialog-actions fxLayout="row" fxFlexFill *ngIf="(button)" align="end">
  <div>
    <button class="mat-raised-button mat-accent right"(click)="close()" cdkFocusInitial>{{button | translate }}</button>
  </div>
</mat-dialog-actions>
</form>

