<div class='container'>
    <emissions-sales-form *ngIf="!submitted" (onSubmittedForm)="submitForm($event, tab)"></emissions-sales-form>
    <emissions-sales-result-analysis *ngIf="submitted && tab === 0" [data]="data" (onError)="onErrorHandler()" (onBackToForm)="backToForm($event)"></emissions-sales-result-analysis>
    <emissions-sales-result-summary *ngIf="submitted && tab === 1" [data]="data" (onError)="onErrorHandler()" (onBackToForm)="backToForm($event)"></emissions-sales-result-summary>
</div>
