<form *ngIf="ticketMisc" [formGroup]="filterForm" #f="ngForm" fxFlex="100" fxLayout="column">
    <mat-form-field appearance="outline">
        <mat-label>{{ label | translate}}</mat-label><br>
        <mat-select formControlName="id" (selectionChange)="captureValue()">
            <mat-option>Select...</mat-option>
            <mat-option *ngFor="let ticket of ticketMisc" [value]="ticket.id">{{ticket.name}}</mat-option>
        </mat-select>
    </mat-form-field>
</form>