.spacer {
  flex: 1 1 auto;
}

.mat-toolbar {
 /*  color: #ffffff; */
  position: fixed;
  top:0;
  z-index: 2;
  /* background-color: #26b7ca; */
  height: 128px;
}

.menu-button {
  transition: 300ms ease-in-out;
  transform: rotate(0deg);
}
.menu-button.rotated {
  transform: rotate(180deg);
}

.mat-expansion-panel{
  box-shadow: none;
  padding-left: 0px;
  background-color: initial;
  padding-bottom:0;
}
.mat-expansion-panel-spacing{
  margin:0;
}

.sidenav {
  position: fixed;
  top: 128px;
  padding-left: 10px;
  height: 100%;
 /*  background-color: #222830 ; */
  width: 240px;
}

.menu{
  font-size: 10px;
  line-height: 1.5;
  letter-spacing: 0.6px;
  text-align: left;
  margin-bottom:1rem;
/*   color: #26c7db; */
}

mat-panel-title {
  display: block;
  padding: 8px 0px;
}

.submenu{
  font-size: 14px;
  line-height: 1.13;
  text-align: left;
 /*  color: rgba(255, 255, 255, 0.33); */
}

.mat-expansion-panel-header {
  height: auto!important; 
}

.mat-drawer-side {
  border: none;
}

span{
  padding-left: 0.5rem;
  text-transform: uppercase;
  font-size:1rem;
}

a{
  font-size:16px;
}

mat-icon {
  vertical-align: middle;
}

.ico{
  width: 18px;
  height: 14px;
  padding-top:4px;
}

xng-breadcrumb{
  position: absolute;
  top: 125px;
  width: 100%;
  height: 88px;
  background-color: #212e35; 
}

@media (max-width: 599px){

  .mat-toolbar-row, .mat-toolbar-single-row {
      height: 64px;
  }

}






