<mat-nav-list>
  <div class='menu' *ngFor="let menu of menus">
    <span *ngIf="menu.items.length > 0">{{ menu.title | translate }}</span>
    <mat-list-item *ngFor="let item of menu.items" routerLink="{{ item.url }}">
      <mat-icon>{{ item.icon }}</mat-icon>
      <label class='submenu'>{{ item.name | translate }}</label>
    </mat-list-item>
  </div>     
</mat-nav-list>