<div class="area-item" [ngClass]="{'clicked': selected}" (click)="select()">
    <img [src]="area.format.image_url"/>
    <p class="titl-are name">{{area.format.name}} - {{area.location.name}}</p>
</div>

