.area-item {
  width: 100%;
  float: left;
  min-height: auto;
  background: #FAFCF7;
  padding: 20px;
  cursor: pointer;
}

.area-item.clicked {
    background-color: #09b8b8;
    filter:invert(100%);
}

.area-item img {
  display: block;
  width: 52px;
  height: 50px;
  margin:0 auto;
  user-select: none;
}

.area-item .name {
  font-weight: bold;
  margin-bottom: 5px;
  text-align: center;
}