<ng-container *ngIf="type == 'img' else video">
   <img [src]="img" class="img_dialog">
</ng-container>

<ng-template #video>
    <video  width="100%" height="100%" controls>
        <source [src]="img | safe" type="video/mp4">
    </video>
</ng-template>