<mat-card>
  <mat-card-header>
    <div mat-card-avatar>
      <mat-icon aria-hidden="false" [aria-label]="'COMPONENTS.dashboard.chart_people.title' | translate">people</mat-icon>
    </div>
    <mat-card-title>{{ 'COMPONENTS.dashboard.chart_people.title' | translate }}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <linear-chart [data]="lineChartData" [labels]="lineChartLabels" [loading]="isLoading"></linear-chart>
  </mat-card-content>
</mat-card>