.mat-card{
    padding-bottom:2rem;
    margin-bottom:2rem;
}
th{padding:10px;border: 1pt solid black; background-color:grey;color:white; position:sticky;top:0}
tr {
border: 1px solid black;
}
td {
border: 1pt solid black;
}
.circulo {
    margin:auto;
     width: 50px;
     height: 50px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
  
}
.fa-star{
    margin-left: 10px;
    color: orange;
    font-size: 2rem;;
}

.star-white{
    color:white;
}
.spinner-container{
    text-align: center;
    margin: 1rem auto;
    width: fit-content;
}

.filefield{
    margin-top:2rem;
    margin-bottom:0rem;
    display:block;
}
.fieldsetContainer{
    width:50%;
    margin:0 auto;
}

.greentd{
    width:100%;
    height:100%;
    background:green;
    color:#fff;
    display:block;
}
.greentdx{
    width:100%;
    height:100%;
    background:green;
    color:green;
    display:block;
}
.table-container{
    margin: 1rem auto;
    margin-top:2rem;
    text-align: center;
    display:block;
}
.table-wrapper{
    margin-top:2rem;
    width:100%;
    height:43vh;
    overflow:auto;
}
.circle{
    width:10px;
    height:10px;
    border-radius: 5px;
    border:1px solid #ccc;
    display:inline-block;
}
.sticky{
    position:sticky;
    left:0;
}
.categoria{
    position:sticky;
    top:0;
    left:0;
    z-index:9999;
}