<mat-card>
    <mat-card-header>
      <mat-card-title>{{ 'Obtención de Datos en el Algoritmo de Asociaciones' | translate }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
    <fieldset>
      <div class="fieldsetContainer">
        <form-field-upload [fieldData]="fieldDataFile" [formGroup]="formGroup" class="filefield"></form-field-upload>
        <button mat-raised-button color="accent" [disabled]="loading || formGroup.invalid" (click)="getData()">{{ 'Resultados' | translate }}</button>
      </div>
    </fieldset>
    <div class="spinner-container" *ngIf="loading">
        <mat-spinner diameter="50"  color="accent"></mat-spinner>
    </div>
    </mat-card-content>
    <div class="table-container" *ngIf="!loading && dataTable.length > 0">
      <h2>{{ 'Resultado Asociaciones' |translate }}</h2>
      <div class="table-wrapper">
        <table>
          <tr>
            <th class="categoria">{{ 'Categoría' | translate }}</th>
            <th *ngFor="let key of keys">{{ key }}</th>
          </tr>
          <tr *ngFor="let data of dataTable;let i = index">
            <td class="sticky" [style.background]="'#ffffff'">{{ keys[i] }}</td>
            <td *ngFor="let d of data" [style.color]="d.value == '-' ? '#FFFFFF': '#000000'"><span class="circle" [style.background]="d.color" *ngIf="d.value !== '-' && d.color"></span> {{ d.value | numbersp }}</td>
          </tr>
        </table>
      </div>
    </div>
  </mat-card>