<mat-card>
  <mat-card-content>
    <div mat-card-avatar>
      <mat-icon aria-hidden="false" [aria-label]="'Afluencias de éste mes' | translate">people</mat-icon>
    </div>
    <p class="title"><a [routerLink]="['/private/emisiones/afluencias']">{{ 'DASHBOARD.influxes' | translate }}</a><br>{{ 'STATISTICS.in_month' | translate }}</p>
    <p *ngIf="!load">{{ counter }}</p>
    <div class="spinner-container" *ngIf="load">
      <mat-spinner diameter="40"  color="accent"></mat-spinner>
    </div>
  </mat-card-content>
</mat-card>