.container {
    //padding-top: 250px;
    //padding-left: 25px;
}

.loading{
    position: relative;
    left: 50%;
}


.actions{
    padding-bottom: 25px;   
}

.actions a{
    margin-right: 5px;
    width: 100px;
}

.actions button{
    margin-right: 5px;
    width: 100px;
}

th.mat-header-cell, td.mat-cell {
    border:none;
}

img {
    width: 32px;
    height: 32px;
}
.tableMat {
    overflow:auto;
}

.mat-column-name {
    flex: 0 0 30%;
}

.tableHeaderCellDiv{
    resize: horizontal;  
    overflow:hidden;
}

.mat-table__wrapper .mat-table {
    min-width: auto !important;
    width: 100% !important;
}

.mat-header-row {
    width: 100%;
}

.mat-row {
    width: 100%;
}

.mat-column-id {
    flex: 0 0 5% !important;
    min-width: 60px !important;
}

.mat-column-name {
    flex: 0 0 25% !important;
    min-width: 150px !important;
}


.mat-column-from {
    flex: 0 0 8% !important;
    min-width: 80px !important;
}

.mat-column-to {
    flex: 0 0 8% !important;
    min-width: 80px !important;
}

.mat-column-state{
    flex: 0 0 5% !important;
    min-width: 30px !important;
}

.mat-column-category{
    flex: 0 0 10% !important;
    min-width: 60px !important;
}

.mat-column-playcircuit:hover{
    cursor: zoom-in;
}

.mat-column-area:hover{
    cursor: zoom-in;
}
.active, .inactive, .archived{
    width:20px;
    height:20px;
    border-radius: 10px;
}
.active{
    background:green;
}
.inactive{
    background:orange;
}
.archived{
    background:grey;
}