<div class='container loading' *ngIf="load" > 
  <mat-spinner diameter = "80" strokeWidth = "5" color='accent'></mat-spinner>
</div>
<div class='container' *ngIf="!load" >
  <h1 class="title">{{ 'CONTENT.list.title' | translate }}</h1>        
  <div *ngIf="!permission"><h3 class='title'>{{ 'COMMON.no_permission' | translate }}</h3></div>
  <div *ngIf="permission">
    <div class="actions" fxLayoud="row">
      <div fxFlex="50">
        <button mat-raised-button color="accent" [disabled]="!new" [routerLink]="['/private/content/create']" mat-button><span matTooltip="{{ 'FORMS.buttons.tooltip_no_permisions' | translate }}" [matTooltipDisabled]="new">{{ 'FORMS.buttons.new' | translate }}</span></button>         
        <button mat-raised-button color="accent" [disabled]="!edit" (click)="update()" mat-button><span matTooltip="{{ 'FORMS.buttons.tooltip_no_permisions' | translate }}" [matTooltipDisabled]="edit">{{ 'FORMS.buttons.edit' | translate }}</span></button>
        <button mat-raised-button color="accent" [disabled]="!deleted" (click)="delete()" mat-button><span matTooltip="{{ 'FORMS.buttons.tooltip_no_permisions' | translate }}" [matTooltipDisabled]="deleted">{{ 'Archivar' | translate }}</span></button>
      </div>
      <div fxFlex="50" fxLayout="row">
        <form-field-select fxFlex="20" [fieldData]="fieldDataFilterContent" [formGroup]="formGroup" (onChangeField)="onChangeStatus($event)"></form-field-select>
        <mat-form-field appearance="outline" fxFLex="80">          
          <input matInput filter  (change)="applyFilter($event)"  placeholder="{{'filter'| translate}}" #input>
        </mat-form-field>
      </div>
    </div>
    <div *ngIf="!dataSource" fxLayout="row" fxLayoutAlign="space-around center" style="height:100%">
      <mat-spinner diameter="50" strokeWidth="5"></mat-spinner>
    </div>
    <mat-table *ngIf="dataSource" [dataSource]="dataSource" matSort class="tableMat" (matSortChange)="sortData($event)">
      <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef>
          <mat-checkbox (change)="masterToggle($event)"
                          [checked]="selection.hasValue() && isAllSelected()"
                          [indeterminate]="selection.hasValue() && !isAllSelected()"
                          [aria-label]="checkboxLabel()">
          </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let row">
          <mat-checkbox   [value]="row.idcontent"
                          (click)="$event.stopPropagation()"
                          (change)="$event ? selection.toggle(row) : null"
                          [checked]="selection.isSelected(row)"
                          [aria-label]="checkboxLabel(row)"
                          #table>
          </mat-checkbox>
        </td>
      </ng-container>      
      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'CONTENT.list.id' | translate }} </mat-header-cell>
        <mat-cell class="first" *matCellDef="let row">
          <span *ngIf="row.idcontent"><a [routerLink]="['/private/content/edit',row.idcontent]">{{ row.idcontent }}</a> </span>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'CONTENT.list.name' | translate }} </mat-header-cell>
        <mat-cell class="" *matCellDef="let row" >
          <span *ngIf="row.name">
            <a *ngIf="edit; else onlyName" [routerLink]="['/private/content/edit',row.idcontent]" mat-button matTooltip="{{ row.name }}">{{row.name}}</a>
            <ng-template #onlyName>
              {{row.name}}
            </ng-template>
          </span>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="category">
        <mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'CONTENT.list.category' | translate }} </mat-header-cell>
        <mat-cell class="" *matCellDef = "let row" ><span *ngIf="row.category"> {{row.category.name}} </span></mat-cell>
      </ng-container>
      <ng-container matColumnDef="from">
        <mat-header-cell *matHeaderCellDef> {{ 'Desde' | translate }} </mat-header-cell>
        <mat-cell class="" *matCellDef="let row" ><span *ngIf="row.dates.length > 0 && row.dates[0].date_on"> {{row.dates[0].date_on}} </span></mat-cell>
      </ng-container>
      <ng-container matColumnDef="to">
        <mat-header-cell *matHeaderCellDef> {{ 'Hasta' | translate }} </mat-header-cell>
        <mat-cell class="" *matCellDef="let row" ><span *ngIf="row.dates.length > 0 && row.dates[0].date_off"> {{row.dates[0].date_off}} </span></mat-cell>
      </ng-container>
      <ng-container matColumnDef="playcircuit" *ngIf="!isUser">
        <mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'CONTENT.list.circuits' | translate }} </mat-header-cell>
        <mat-cell class="" *matCellDef="let row" (click)="openDialog(row.playcircuits, 'playcircuits')">
          <span *ngIf="row.playcircuits" fxLayout="row" fxLayoutAlign="center stretch">
            <div *ngFor="let circuit of row.playcircuits" [matTooltip]="circuit.name" >
              <div>
                <img *ngIf="!circuit.image_url || circuit.image_url=='';else image" src="https://ladorianids.com/images/v4/localizacioncircuitos.png">
                <ng-template #image>
                  <img [src]="circuit.image_url">
                </ng-template>
              </div>
            </div>
          </span>
        </mat-cell>
      </ng-container>  
      <ng-container matColumnDef="area">
        <mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'CONTENT.list.playareas' | translate }} </mat-header-cell>
        <mat-cell class="" *matCellDef="let row" (click)="openDialog(row.playareas, 'areas')">
          <span *ngIf="row.playareas" fxLayout="row" fxLayoutAlign="center stretch">
            <div *ngFor="let areas of row.playareas" matTooltip="{{ areas.format.name }} - {{ areas.location.name }}">
              <div>
                <img *ngIf="!areas.format.image_url || areas.format.image_url=='';else image" src="https://ladorianids.com/images/v4/horizontal.png">
                <ng-template #image>
                  <img [src]="areas.format.image_url">
                </ng-template>
              </div>
            </div>
          </span>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef = "state">
        <mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'Estado' | translate }} </mat-header-cell>
        <mat-cell *matCellDef="let row" flexLayout="row" fxLayoutAlign="space-around center">
          <mat-slide-toggle [(ngModel)]="row.status" (change)="changeStatus(row.idcontent)"></mat-slide-toggle>
          <span class="{{ row.statusString }}" matTooltip="{{ row.statusString | translate }}"></span>
        </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  </div>
  <mat-paginator paginator [hidden]="(load)" showFirstLastButtons></mat-paginator>
  <button mat-raised-button color="accent" (click)="excelExport()" mat-button><span matTooltip="{{ 'Exportaspanr como hoja excel' | translate }}" [matTooltipDisabled]="edit">{{ 'Exportar como hoja excel' | translate }}</span></button>
</div>
