.mat-card-title{
    margin-bottom:1.5rem!important;
    margin-top:0.5rem!important;
}
fieldset{
    padding:2rem 2rem 0 2rem;
    margin-bottom: 1rem;
    display:grid;
}
.fieldsetContainer{
    width:50%;
    min-width:500px;
    margin:auto;
}
.fieldsetContainerContent{
    width:90%;
    min-width:500px;
    margin:auto;
}
.remove-border-bottom ::ng-deep .mat-tab-header {
    border-bottom: none;
    margin-bottom:1rem;
}