<mat-card>
  <mat-card-header>
    <mat-card-title>{{ 'COMPONENTS.emissions_sales.form.title' | translate }}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
  <fieldset>
    <div class="fieldsetContainer">
      <form-field-select [fieldData]="fieldDataCustomer" [formGroup]="formGroup"></form-field-select>
      <form-field-select *ngIf="formGroup.get('site').value !== null" [fieldData]="fieldDataSite" [formGroup]="formGroup" (onChangeField)="onChangeSite($event)" [isLoading]="loadingSite"></form-field-select>
      <form-field-select [fieldData]="fieldDataBIPA" [formGroup]="formGroup" [isLoading]="loadingBIPA" (onChangeField)="onChangeBIPA($event)"></form-field-select>
    </div>
  </fieldset>
  <mat-tab-group (selectedTabChange)="changeTab($event)">
    <mat-tab label={{labelTab1}}>
      <fieldset>
        <div class="fieldsetContainer">
          <div fxLayout="row" fxLayoutAlign="space-between center">
            <div fxLayout="column" fxLayoutAlign="space-evenly stretch">
              <form-field-select [fieldData]="fieldDataYear" [formGroup]="formGroup" (onChangeField)="onChangeDates($event)" [isLoading]="loadingYear"></form-field-select>
            </div>
            <div fxLayout="column" fxLayoutAlign="space-evenly stretch">
              <form-field-select [fieldData]="fieldDataMonth" [formGroup]="formGroup" (onChangeField)="onChangeDates($event)" [isLoading]="loadingMonth"></form-field-select>
            </div>
          </div>
        </div>
        <div class="fieldsetContainer">
          <div fxLayout="row" fxLayoutAlign="space-around center">
            <span fxFlex.gt-sm="30" fxFlex.gt-xs = "100">{{ 'Selecciona un contenido' | translate }}</span>
            <mat-form-field appearance="outline" class="action_filter"  fxFlex.gt-sm="70" fxFlex.gt-xs = "100" >
              <input #contentFilter matInput type="text" placeholder="{{ 'Filtrar por nombre o id' | translate }}" (keyup)="filterByName(contentFilter.value)" />
            </mat-form-field>
          </div>
        </div>
        <div class="fieldsetContainerContent">
          <div [formGroup]="formGroup" *ngIf="fieldDataContent.options.length > 0">
            <form-field-select-content *ngIf="formGroup.get('content')" [fieldData]="fieldDataContent" [formGroup]="formGroup" (onChangeField)="onChangeContent($event)"></form-field-select-content>
          </div>
        </div>
        <div class="fieldsetContainer">
          <div [formGroup]="formGroup" *ngIf="fieldDataProducts.options.length > 0 && formGroup.get('products')">
            <form-field-multi-select [fieldData]="fieldDataProducts" [formGroup]="formGroup"></form-field-multi-select>
          </div>
          <fieldset>
            <form-field-date-picker *ngIf="formGroup.get('date')" [fieldData]="fieldDataPrevious" [formGroup]="formGroup"></form-field-date-picker>
          </fieldset>
        </div>
      </fieldset>
    </mat-tab>
    <mat-tab *ngIf="this.formGroup.get('site').value === 0" label={{labelTab2}}>
      <fieldset>
        <div class="fieldsetContainer">
          <div fxLayout="row" fxLayoutAlign="space-around center">
            <div fxLayout="column" fxLayoutAlign="space-evenly stretch">
              <form-field-select [fieldData]="fieldDataYear" [formGroup]="formGroup" (onChangeField)="onChangeDates($event)"></form-field-select>
            </div>
            <div fxLayout="column" fxLayoutAlign="space-evenly stretch">
              <form-field-select [fieldData]="fieldDataMonth" [formGroup]="formGroup"></form-field-select>
            </div>
          </div>
        </div>
      </fieldset>
    </mat-tab>
  </mat-tab-group>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="accent" [disabled]="formGroup.invalid" (click)="submitForm()">{{ 'COMPONENTS.emissions_sales.form.submit' | translate }}</button>
  </mat-card-actions>
</mat-card>
