<div class="container loading" *ngIf="load">
  <mat-spinner diameter="80" strokeWidth="5" color="accent"></mat-spinner>
</div>

<div class="container" *ngIf="!load">
  <h1 class="title">{{ "Audios" | translate }}</h1>

  <div *ngIf="permission">
    <h3 class="title">{{ "COMMON.no_permission" | translate }}</h3>
  </div>

  <div class="actions" fxLayout.gt-sm="row"  fxLayout.gt-xs = "column"    fxLayoutGap="20px"  fxLayoutAlign="center center" *ngIf="!permission">

    <div fxFlex.gt-sm="35" fxFlex.gt-xs="100" fxLayout="row" fxLayoutGap="20px">

      <button mat-raised-button color="accent" [disabled]="!new" (click)="createAudio()" mat-button>
        <span matTooltip="{{ 'FORMS.buttons.tooltip_no_permisions' | translate }}" [matTooltipDisabled]="new">{{
          "FORMS.buttons.new" | translate }}</span>
      </button>

   
    <button mat-raised-button color="accent" [disabled]="!edit"  (click)="updateAudio()" mat-button>
          <span matTooltip="{{ 'FORMS.buttons.tooltip_no_permisions' | translate }}" [matTooltipDisabled]="edit">{{
          "FORMS.buttons.edit" | translate }}</span>
      </button>
    

  

      <button mat-raised-button color="accent" [disabled]="!deleted" (click)="deleteAudio()" mat-button>
        <span matTooltip="{{ 'FORMS.buttons.tooltip_no_permisions' | translate }}" [matTooltipDisabled]="deleted">{{ 'Archivar' | translate }}</span>
      </button>

    </div>

    <div fxFlex.gt-sm="65" fxFlex.gt-xs = "100"  fxFlexFill >
     
          <mat-form-field appearance="outline" class="action_filter" fxFlexFill>
            <input #contentFilter filter matInput type="text" placeholder="{{ 'Filtrar por nombre o id' | translate }}"
            (change)="applyFilter($event)" />
          </mat-form-field>

     </div>
  </div>

  <div *ngIf="!dataSource" fxLayout="row" fxLayoutAlign="space-around center" style="height: 100%">
    <mat-spinner diameter="50" strokeWidth="5"></mat-spinner>
  </div>

  <mat-table  [dataSource]="dataSource" matSort (matSortChange) = "sortData($event)">
    
    <ng-container matColumnDef="select">

      <mat-header-cell *matHeaderCellDef>
        <mat-checkbox 
            (change)="masterToggle($event)" 
            [checked]="selection.hasValue() && isAllSelected()"
            [indeterminate]="selection.hasValue() && !isAllSelected()" 
            [aria-label]="checkboxLabel()">
        </mat-checkbox>
      </mat-header-cell>

      <mat-cell *matCellDef="let row">
        <mat-checkbox [value]="row.idaudio" 
            (click)="$event.stopPropagation()" 
            (change)="$event ? selection.toggle(row) : null"
            [checked]="selection.isSelected(row)" 
            [aria-label]="checkboxLabel(row)"
            #table>
        </mat-checkbox>
      </mat-cell>

    </ng-container>

    <ng-container matColumnDef="idaudio" >
      <mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'CUSTOMER.list.id' | translate }}</mat-header-cell>
      <mat-cell *matCellDef="let lesson"><a [routerLink]="" (click)="openDialog(lesson.idaudio)">{{ lesson.idaudio }}</a></mat-cell>
    </ng-container>

    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'audio_name' | translate }}</mat-header-cell>
      <mat-cell class="description-cell" *matCellDef="let lesson">{{ lesson.name  }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="audio_url">
      <mat-header-cell *matHeaderCellDef>{{ 'Audio' | translate }}</mat-header-cell>

      <mat-cell class="duration-cell" *matCellDef="let lesson">
        <mat-icon (click)="playAudio(lesson)">{{ lesson.play ? "pause" : "play_arrow" }}
        </mat-icon>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
  </mat-table>
</div>

<mat-paginator paginator [hidden]="(load)" showFirstLastButtons></mat-paginator>
