<h2 mat-dialog-title>{{ 'Audio' | translate }}</h2>
<mat-dialog-content class="mat-typography">
  <form id="form" class="custom-form" [formGroup]="form" fxLayout="row">
    <div fxLayout="row">
      <div fxLayout="column" class="form">

        <mat-label color="primary">{{ 'audio_name' | translate }}</mat-label><br>
        <mat-form-field appearance="outline">
          <input matInput type="text" formControlName="name"  />
          <mat-error *ngIf="name.hasError('required')" color="accent">{{ 'FORMS.errors.name_required' | translate }}
          </mat-error>
        </mat-form-field>



        <mat-label color="primary">{{ 'audio_isrc' | translate }}</mat-label><br>
        <mat-form-field appearance="outline">
          <input matInput type="text" formControlName="isrc" />
          <mat-error *ngIf="isrc.hasError('required')" color="accent">{{ 'FORMS.errors.name_required' | translate }}
          </mat-error>
        </mat-form-field>




        <mat-label color="primary">{{ 'audio_duration' | translate }}</mat-label><br>
        <mat-form-field appearance="outline">
          <input matInput type="number" formControlName="duration" />
        </mat-form-field>



     

        <mat-slide-toggle [checked]="status" (change)="changeStatus()">{{ 'status' | translate }}
        </mat-slide-toggle>


      
        <mat-form-field appearance="outline">
          <ngx-mat-file-input [placeholder]="'Audio'" [formControl]="audio_url"
            [accept]="'audio/*'" id="fileinput">
          </ngx-mat-file-input>
          <mat-error *ngIf="audio_url.hasError('maxSize')" color="accent">{{ 'Tamaño Archivo incorrecto' | translate }}
          </mat-error>
        </mat-form-field>



      </div>
    </div>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">

  <button mat-button mat-dialog-close>{{ 'Cancelar' | translate }}</button>


  <button mat-button (click)="save()">{{ 'btn-audio' | translate }}</button>
</mat-dialog-actions>


<input type="hidden" id="duration" value="">