<div class="container loading" *ngIf="load">
  <mat-spinner diameter="80" strokeWidth="5" color="accent"> </mat-spinner>
</div>

<div class="container fondo-verd espaci-cotds" *ngIf="!load">
  <h1 class="title">{{ "CONTENT_CATEGORY.list.title" | translate }}</h1>
  <div class="selec-tabls">
    <customer-select
      [customersToSelect]="customersToSelect"
      (onSelected)="customerSelected($event)"
    ></customer-select>
  </div>

  <div
    class="listd-contend"
    fxLayout="row"
    fxLayoutGap="20px"
    *ngIf="contentcategories.length > 0"
  >
    <div class="cont-limitd">
      <mat-form-field class="filter">
        <mat-label>{{ "CONTENT_CATEGORY.list.filter" | translate }}</mat-label>
        <input
          matInput
          [placeholder]="'CONTENT_CATEGORY.list.placeholder' | translate"
          [(ngModel)]="filterVal"
        />
      </mat-form-field>
      
      <content-category-element
        *ngFor="let category of contentcategories | filter: filterVal"
        [contentcategory]="category"
        [editContentcategory]="editContentCategory"
        [deletedContentcategory]="deletedContentCategory"
        (onDeleted)="change()"
        (onUpdate)="change()"
      >
      </content-category-element>
    </div>
  </div>
  <br />
  <div class="circut-botns">
    <div class="actions" fxLayout="row" layout-margin>
      <a
        mat-raised-button
        color="accent"
        *ngIf="newContentCategory"
        (click)="openDialog()"
        mat-button
        >{{ "CONTENT_CATEGORY.list.buttons.new_category" | translate }}</a
      >
    </div>
  </div>
</div>
