span.selected {
  background-color:#64ca26;
  color:white;
}

.date-on, .date-off, .delete-icon {
  display: inline-block;
}

.date-on {
  width: 20%
}

.date-off {
  width: auto;
}

.delete-icon {
  display: block;
  color: #000;
  cursor:pointer;
}

span{
  border: 1px solid black;
  margin: 2px;
  padding-right: 6px;
  padding-left: 6px;
  cursor: pointer;
}

.container {
  margin-bottom: 5px;
}
.line{
  border-style: solid;
  border-color: #ccc;
  border-width: 1px;
}
.selectedPowerList li{
  list-style-type: none;
}