<div class="container" fxLayout="column">
    <div fxLayout="row" fxLayoutAlign="center center">
        <span class="copy-days-from-day" *ngFor="let weekDay of weekdays;" [ngClass]="{'selected':weekDay.selected}" (click)="selectDay($event, weekDay)">{{weekDay.short_name | translate}}</span>
    </div>
    <div fxLayout="row" fxLayoutAlign="center center" [style.marginTop]="'10px'">
        <div> {{ 'COMPONENTS.powerselect.from' | translate }} 
            <input type="time" [(ngModel)]="timeOn" />
        </div>
        <div [style.marginLeft]="'10px'"> {{ 'COMPONENTS.powerselect.to' | translate }}  
            <input type="time" [(ngModel)]="timeOff" />
        </div>
        <div class="delete-icon" (click)="onSavePower($event)">
            <mat-icon >save</mat-icon>
        </div>
    </div>
</div>
