<div fxLayout="row">
    <div fxLayout="column" fxFlex>
        <h1 class="title">Tickets Nuevo</h1>
    </div>
    <div fxLayout="column" align="end">
        <button mat-icon-button [routerLink]="['/private/ticket/dashboard']">
            <mat-icon>west</mat-icon>
        </button>
    </div>
</div>

<form [formGroup]="ticketForm" (ngSubmit)="onSubmit()">
    <div fxLayout="column" class="form-container" fxFlexFill>
        <div fxLayout="row" fxLayoutGap="15px">
            <div fxLayout="column" fxFlex="33">
                <mat-label>Email</mat-label>
                <mat-form-field appearance="outline">
                    <input matInput placeholder="Email" formControlName="email">
                </mat-form-field>
            </div>
            <div fxLayout="column" fxFlex="33">
                <mat-label>Telefono</mat-label>
                <mat-form-field appearance="outline">
                    <input matInput placeholder="Telefono" formControlName="phone">
                </mat-form-field>
            </div>
            <div fxLayout="column" fxFlex="33">
                <mat-label>Dirección Centro</mat-label>
                <mat-form-field appearance="outline">
                    <input matInput placeholder="Dirección Centro" formControlName="point_address">
                </mat-form-field>
            </div>
        </div>
        <div fxLayout="row" fxLayoutGap="15px">
            <div fxLayout="column" fxFlex="100">
                <mat-label class="required">Titulo</mat-label>
                <mat-form-field appearance="outline">
                    <input matInput placeholder="Titulo" formControlName="title" required>
                    <mat-error *ngIf="ticketForm.controls.title.hasError('required')">
                        Titulo es <strong>requerido</strong>
                    </mat-error>
                </mat-form-field>
            </div>
        </div>
        <div fxLayout="row" fxLayoutGap="15px" style="margin-bottom: 25px;">
            <div fxLayout="column" fxFlex="100">
                <mat-label>Descripcion</mat-label>
                <ckeditor [editor]="editor" (change)="onChange($event)" [(ngModel)]="sHtml" [ngModelOptions]="{standalone: true}"></ckeditor>
            </div>
        </div>
        <div fxLayout="row" fxLayoutGap="15px">
            <div fxLayout="column" fxFlex="25">
                <mat-label>Fecha de Creación</mat-label>
                <mat-form-field appearance="outline">
                    <input matInput formControlName="created_at" readonly>
                </mat-form-field>
            </div>
            <div fxLayout="column" fxFlex="50"></div>
        </div>
        <div fxLayout="row" fxLayoutGap="15px">
            <div fxLayout="column" fxFlex="50">
                <mat-label>Asignar Cliente</mat-label>
                <mat-form-field appearance="outline">
                    <mat-select formControlName="id_customer" (selectionChange)="onChangeCustomer($event.value)">
                        <mat-option value="0">Todos</mat-option>
                        <mat-option *ngFor="let customer of customers" [value]="customer.idcustomer">
                            {{ customer.name }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div fxLayout="column" fxFlex="50">
                <mat-label class="required">Asignar Categoria</mat-label>
                <mat-form-field appearance="outline">
                    <mat-select formControlName="id_category" required>
                        <mat-option *ngFor="let category of categories" [value]="category.id">
                            {{ category.name }}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="ticketForm.controls.id_category.hasError('required')">
                        Categoria es <strong>requerido</strong>
                    </mat-error>
                </mat-form-field>
            </div>
        </div>
        <div fxLayout="row" fxLayoutGap="15px">
            <div fxLayout="column" fxFlex="50">
                <mat-label>Asignar Centro</mat-label>
                <mat-form-field appearance="outline">
                    <mat-select formControlName="id_site">
                        <mat-option value="0">Todos</mat-option>
                        <mat-option *ngFor="let site of sites" [value]="site.idsite">
                            {{ site.name }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div fxLayout="column" fxFlex="50">
                <mat-label>Asignar Estado</mat-label>
                <mat-form-field appearance="outline">
                    <mat-select formControlName="id_status">
                        <mat-option *ngFor="let stat of status" [value]="stat.id">
                            {{ stat.name }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        <div fxLayout="row" fxLayoutGap="15px">
            <div fxLayout="column" fxFlex="50">
                <mat-label class="required">Asignar Prioridad</mat-label>
                <mat-form-field appearance="outline">
                    <mat-select formControlName="id_priority" (selectionChange)="onChangePriority($event.value)" required>
                        <mat-option *ngFor="let priority of priorities" [value]="priority.id">
                            {{ priority.name }}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="ticketForm.controls.id_priority.hasError('required')">
                        Prioridad es <strong>requerido</strong>
                    </mat-error>
                </mat-form-field>
            </div>
            <div fxLayout="column" fxFlex="50">
                <mat-label class="required">Asignar Departamento</mat-label>
                <mat-form-field appearance="outline">
                    <mat-select formControlName="id_department" (selectionChange)="onChangeDepartment($event.value)" required>
                        <mat-option *ngFor="let department of departments" [value]="department.id">
                            {{ department.name }}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="ticketForm.controls.id_department.hasError('required')">
                        Departamento es <strong>requerido</strong>
                    </mat-error>
                </mat-form-field>
            </div>
        </div>
        <div fxLayout="row" fxLayoutGap="15px">
            <div fxLayout="column" fxFlex="50">
                <mat-label>Horas estimadas de resolución</mat-label>
                <mat-form-field appearance="outline">
                    <input matInput type="number" placeholder="tiempo en horas" formControlName="expected_resolution_date">
                </mat-form-field>
            </div>
            <div fxLayout="column" fxFlex="50">
                <mat-label class="required">Asignar Responsable</mat-label>
                <mat-form-field appearance="outline">
                    <mat-select formControlName="id_responsible" required>
                        <mat-option *ngFor="let responsible of responsibles" [value]="responsible.id">
                            {{ responsible.name }}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="ticketForm.controls.id_responsible.hasError('required')">
                        Responsable es <strong>requerido</strong>
                    </mat-error>
                </mat-form-field>
            </div>
        </div>
        <div fxLayout="row" fxLayoutGap="15px" style="margin-top: 20px;">
            <div fxLayout="column" fxFlex="20">
                <h4><mat-checkbox formControlName="notify_user">Alerta de Usuario</mat-checkbox></h4>
            </div>
            <div fxLayout="column" fxFlex="25">
                <mat-label>Elegir Fecha de Alerta</mat-label>
                <mat-form-field appearance="outline">
                    <input matInput [matDatepicker]="pickerDateAlert" [min]="today" formControlName="date_alert">
                    <mat-datepicker-toggle matSuffix [for]="pickerDateAlert"></mat-datepicker-toggle>
                    <mat-datepicker #pickerDateAlert></mat-datepicker>
                </mat-form-field>        
            </div>
            <div fxLayout="column" fxFlex="80"></div>
        </div>

        <div fxLayout fxLayoutAlign="center center">
            <drag-drop-files [files]="files" (filesDropped)="getFiles($event)"></drag-drop-files>
        </div>
        
        <div fxLayout fxLayoutGap="20px" fxLayoutAlign="end center">
            <button type="button" class="mat-raised-button mat-accent" [routerLink]="['/private/ticket/dashboar/0']">Volver</button>
            <button type="submit" class="mat-raised-button mat-accent">Guardar</button>
        </div>
    </div>
</form>