<div class='container loading' *ngIf="load" > 
  <mat-spinner diameter = "80" strokeWidth = "5" color='accent'>    
</mat-spinner>
</div>
<ng-container class='container'>
  <div *ngIf="!load" >
    <h1 class="title">{{ 'Plantilla' | translate }}</h1>
    <div *ngIf="!permission"><h3 class='title'>{{ 'COMMON.no_permission' | translate }}</h3></div>
    <div *ngIf="permission">
      <div class="actions" fxLayound="row">
        <div fxFlex="50">
          <button mat-raised-button color="accent" [disabled]="!new" [routerLink]="['/private/template/create']" mat-button><span matTooltip="{{ 'FORMS.buttons.tooltip_no_permisions' | translate }}" [matTooltipDisabled]="new">{{ 'FORMS.buttons.new' | translate }}</span></button>         
          <button mat-raised-button color="accent" [disabled]="!edit" (click)="update()" mat-button><span matTooltip="{{ 'FORMS.buttons.tooltip_no_permisions' | translate }}" [matTooltipDisabled]="edit">{{ 'FORMS.buttons.edit' | translate }}</span></button>
          <button mat-raised-button color="accent" [disabled]="!deleted" (click)="delete()" mat-button><span matTooltip="{{ 'FORMS.buttons.tooltip_no_permisions' | translate }}" [matTooltipDisabled]="deleted">{{ 'FORMS.buttons.delete' | translate }}</span></button>
        </div>
        <div fxFlex="50">
          <mat-form-field appearance="outline">            
            <input matInput filter (change)="applyFilter($event)" placeholder="{{'filter'| translate}}" #input>
          </mat-form-field>
        </div>
      </div>
      <div *ngIf = "!dataSource" fxLayout = "row" fxLayoutAlign = "space-around center" style = "height:100%">
          <mat-spinner diameter = "50" strokeWidth = "5"></mat-spinner>
      </div>
      <mat-table *ngIf = "dataSource" [dataSource] = "dataSource"  matSort (matSortChange)="sortData($event)">

        <ng-container matColumnDef="select">
          <th mat-header-cell *matHeaderCellDef>
            <mat-checkbox (change)="$event ? masterToggle() : null"
                          [checked]="selection.hasValue() && isAllSelected()"
                          [indeterminate]="selection.hasValue() && !isAllSelected()"
                          [aria-label]="checkboxLabel()">
            </mat-checkbox>
          </th>
          <td mat-cell *matCellDef="let row">
            <mat-checkbox (click)="$event.stopPropagation()"
                          (change)="$event ? selection.toggle(row) : null"
                          [checked]="selection.isSelected(row)"
                          [aria-label]="checkboxLabel(row)">
            </mat-checkbox>
          </td>
        </ng-container>

        <ng-container matColumnDef = "idtemplate">
          <mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'PLAYERS.list.code' | translate }} </mat-header-cell>         
          <mat-cell class = "first" *matCellDef = "let row" >
            <span *ngIf="row.idtemplate"><a [routerLink]="['/private/template/edit',row.idtemplate]">{{ row.idtemplate }}</a> </span>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef = "name">
          <mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'CUSTOMER.list.name' | translate }} </mat-header-cell>
          <mat-cell class = "second" *matCellDef = "let row">  {{row.name}} </mat-cell>
        </ng-container>   

        <ng-container matColumnDef = "html">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Html </mat-header-cell>
          <mat-cell *matCellDef = "let row" >  {{ row.html }} </mat-cell>
        </ng-container>
      
        <mat-header-row  *matHeaderRowDef = "displayedColumns"></mat-header-row>
        <mat-row *matRowDef = "let row; columns: displayedColumns;" ></mat-row>
      </mat-table>
    </div>
  </div>
  <mat-paginator paginator [hidden] = "(load)" showFirstLastButtons></mat-paginator>
</ng-container>

