.cell {
    position: relative;
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center center;
    width:100%;
    height:100%;
    display:block;
}

.selected > img {
    opacity: 0.5;
}

.media {
    position: absolute;
    width: 100%;
    height: 100%;
}

.actions {
    position: absolute;
    right: 0px;
}

.name {
    background-color:rgba($color: #fff, $alpha: 0.8);
    color: rgba(0, 0, 0, 0.87);
    position: absolute;
    bottom: 0px;
    width: 100%;
    padding: 0px 6px 6px 6px;
}

label {
    font-family: PoppinsBold;
    font-size: 12px;
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

span {
    font-family: PoppinsLight;
    font-size: 12px;
    line-height: 12px;
}

.actions .mat-icon {
    color: #ffffff;
}

.preview {
    width: 100%;
    height: 100%;
}

.preview .mat-icon {
    line-height: 64px;
    height: 64px;
    width: 64px;
    font-size: 64px;
    color: #ffffff;
}

button {
    margin: 0 auto;
}
.assetContents{
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background: #fff;
    border:1px solid #ccc;
    font-size: 0.8rem;
    text-align: center;
    line-height: 20px;
    margin-top:10px;
    cursor:pointer;
}