<div fxLayout="column" *ngIf="(asset)" class="cell" [ngClass]="{'selected': asset.selected}" [style.backgroundImage]="'url('+asset.cover_url+')'">
    <div fxLayout="column" class="media">
        <div fxFlex fxLayoutAlign="center center">
             <button class="preview" mat-icon-button (click)="onClick.emit(asset)">
                <mat-icon>{{asset.typeIconName()}}</mat-icon>
            </button>
        </div>
        <div fxLayout="row" fxLayoutAlign="space-between center" class="name">
            <div fxLayout="column" fxFlex="90">
                <label>{{asset.name}}</label>
                <span>{{asset.duration}} seg</span>
            </div>
            <span class="assetContents" fxFlex="10" matTooltip="{{ getContentsTooltip(asset.contents) }}"> {{ asset.contents ? asset.contents.length : 0 }}  </span>
        </div>
        <div fxLayout="column" class="actions">
            <button mat-icon-button aria-label="Editar" [matMenuTriggerFor]="menu">
                <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="openPreview()">
                    <mat-icon>play_arrow</mat-icon>
                    <span>{{ "Ver" | translate }}</span>
                </button>
                <button mat-menu-item (click)="openEditForm()">
                    <mat-icon>edit</mat-icon>
                    <span>{{ "Editar" | translate }}</span>
                </button>
                <button mat-menu-item (click)="confirmDelete()">
                    <mat-icon>delete</mat-icon>
                    <span>{{ "Borrar" | translate }}</span>
                </button>
            </mat-menu>
        </div>
    </div>
</div>