<div class='container loading' *ngIf="load" > 
  <mat-spinner diameter = "80" strokeWidth = "5" color='accent'></mat-spinner>
</div>
<ng-container class='container'>
  <div *ngIf="!load" >
    <h1 class="title">{{ 'PLAYERS.list.title' | translate }}</h1>        
    <div *ngIf="!permission"><h3 class='title'>{{ 'COMMON.no_permission' | translate }}</h3></div>
    <div *ngIf="permission" class='container'>
      <div class="actions" fxLayound="row">
        <div fxFlex="50">
          <button mat-raised-button color="accent" [disabled]="!new" [routerLink]="['/private/player/create']" mat-button><span matTooltip="{{ 'FORMS.buttons.tooltip_no_permisions' | translate }}" [matTooltipDisabled]="new">{{ 'FORMS.buttons.new' | translate }}</span></button>         
          <button mat-raised-button color="accent" [disabled]="!edit" (click)="update()" mat-button><span matTooltip="{{ 'FORMS.buttons.tooltip_no_permisions' | translate }}" [matTooltipDisabled]="edit">{{ 'FORMS.buttons.edit' | translate }}</span></button>
          <button mat-raised-button color="accent" [disabled]="!deleted" (click)="delete()" mat-button><span matTooltip="{{ 'FORMS.buttons.tooltip_no_permisions' | translate }}" [matTooltipDisabled]="deleted">{{ 'Archivar' | translate }}</span></button>
        </div>
        <div fxFlex="50">
          <mat-form-field appearance="outline">            
            <input matInput filter (change)="applyFilter($event)" placeholder="{{'filter'| translate}}" #input>
          </mat-form-field>
        </div>
      </div>
      <div *ngIf = "!dataSource" fxLayout = "row" fxLayoutAlign = "space-around center" style = "height:100%">
          <mat-spinner diameter = "50" strokeWidth = "5"></mat-spinner>
      </div>      
      <mat-table *ngIf = "dataSource" [dataSource] = "dataSource"  matSort (matSortChange)="sortData($event)">
        <ng-container matColumnDef="select">
          <th mat-header-cell *matHeaderCellDef>
            <mat-checkbox (change)="masterToggle($event)"
                          [checked]="selection.hasValue() && isAllSelected()"
                          [indeterminate]="selection.hasValue() && !isAllSelected()"
                          [aria-label]="checkboxLabel()">
            </mat-checkbox>
          </th>
          <td mat-cell *matCellDef="let row">
            <mat-checkbox [value]="row.idplayer"
                          (click)="$event.stopPropagation()"
                          (change)="$event ? selection.toggle(row) : null"
                          [checked]="selection.isSelected(row)"
                          [aria-label]="checkboxLabel(row)"
                          #table>
            </mat-checkbox>
          </td>
        </ng-container>
        <ng-container matColumnDef="idplayer">
          <mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'PLAYERS.list.id' | translate }} </mat-header-cell>
          <mat-cell class = "first" *matCellDef = "let row" >
            <span *ngIf="row.idplayer"><a [routerLink]="['/private/player/edit',row.idplayer]">{{ row.idplayer }}</a> </span>
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef = "email">
          <mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'PLAYERS.list.email' | translate }} </mat-header-cell>
          <mat-cell *matCellDef = "let row" >  {{ row.email }} </mat-cell>
        </ng-container>
        <ng-container matColumnDef = "site">
          <mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'PLAYERS.list.site' | translate }} </mat-header-cell>
          <mat-cell *matCellDef = "let row" >  {{ row.site.name }} </mat-cell>
        </ng-container>
        <ng-container matColumnDef = "status">
          <mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'Estado' | translate }} </mat-header-cell>
          <mat-cell *matCellDef = "let row" ><mat-slide-toggle [(ngModel)]="row.status" (change)="changeStatus(row.idplayer)"></mat-slide-toggle></mat-cell>
        </ng-container>      
        <mat-header-row  *matHeaderRowDef = "displayedColumns"></mat-header-row>
        <mat-row *matRowDef = "let row; columns: displayedColumns;" ></mat-row>
      </mat-table>     
    </div>
     <mat-paginator paginator [hidden] = "(load)" showFirstLastButtons></mat-paginator>
  </div>
</ng-container>

