<form [formGroup]="form"  *ngIf="form">
<mat-form-field appearance="outline">
 <mat-select (selectionChange)="onSelect($event)" formControlName="tags" multiple>
      <mat-option [value]="null">-- None --</mat-option>
      <mat-optgroup *ngFor="let category of categories" [label]="category[0]">
       <mat-option [value]="tag.idtag" *ngFor="let tag of category[1]">{{tag.name}}</mat-option>
    </mat-optgroup>
    </mat-select>
  </mat-form-field>
</form>
