<div class='container loading' *ngIf="load" > 
  <mat-spinner diameter = "80" strokeWidth = "5" color='accent'></mat-spinner>
</div>
<ng-container class='container'>
  <div *ngIf="!load" >
    <h1 class="title">{{ 'Productos-Categorías' | translate }}</h1>  
    <div fxLayout="row" fxLayoutAlign="space-between start" fxLayoutGap="1.2rem" class="form-background">
      <div fxFlex="33">
        <h2>{{ 'Categorías' | translate }}</h2>
        <div fxLayoutAlign="space-between start" fxLayoutGap="0.5rem">
          <button class="create-button" mat-flat-button color="accent" fxFlex="15" (click)="createCategory()">{{ 'Nuevo' | translate }}</button>
          <mat-form-field appearance="outline" class="filter-input" fxFlex="85">          
            <input #categoryFilter matInput type="text" [placeholder]="'filter_categories' | translate" (keyup)="filterCategory(categoryFilter.value)"/>
          </mat-form-field>        
        </div>
        <div class="list-container">
          <ul>
            <li fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="0.5rem" class="headers-list">
              <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="0.5rem" fxFlex="83">
                <span>{{ 'Id' | translate }}</span> <span>{{ 'Nombre' | translate }}</span> <span>{{ 'Código' | translate}}</span>
              </div>
              <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="0.5rem" fxFlex="17">
                <span>{{ 'Editar' | translate }}</span><span>{{ 'Borrar' | translate }}</span>
              </div>
            </li>
            <ng-container *ngIf="filteredCategories.length > 0">
              <li *ngFor="let category of filteredCategories;let i = index" #categoryElem class="data" [ngClass]="(category.idcategory === catSelected.idcategory) ? 'selected' : null" fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="0.5rem" (click)="selectCategory(categ)" (click)="selectCategory(i)">
                <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="0.5rem" fxFlex="83">
                  <span>{{ category.idcategory }}</span><span>{{ category.name }}</span><span>{{ category.code }}</span>
                </div>
                <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="0.5rem" fxFlex="17">
                  <button mat-icon-button color="warning" aria-label="Editar Categoría" (click)="editCategory(category)">
                    <mat-icon>save</mat-icon>
                  </button>
                  <button mat-icon-button color="warning" aria-label="Borrar categoría" (click)="deleteCategory(category)">
                    <mat-icon>delete</mat-icon>
                  </button>
                </div>
              </li> 
            </ng-container>         
          </ul>
        </div>
      </div>
      <div fxFlex="33">
        <h2>{{ 'Productos' | translate }}</h2>
        <div fxLayoutAlign="space-between start" fxLayoutGap="0.5rem">
          <button mat-flat-button class="create-button" color="accent" fxFlex="15" (click)="createProduct()">Nuevo</button>
          <mat-form-field appearance="outline" fxFlex="85">          
            <input #productFilter matInput type="text" [placeholder]="'filter_products' | translate" (keyup)="filterProduct(productFilter.value)"/>
          </mat-form-field>        
        </div>
        <div class="list-container">
          <ul>
            <li fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="0.5rem" class="headers-list">
              <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="0.5rem" fxFlex="83">
                <span>{{ 'Id' | translate }}</span> <span>{{ 'Nombre' | translate }}</span> <span>{{ 'Código' | translate}}</span>
              </div>
              <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="0.5rem" fxFlex="17">
                <span>{{ 'Editar' | translate }}</span><span>{{ 'Borrar' | translate }}</span>
              </div>
            </li>
            <ng-container *ngIf="filteredProducts.length > 0">
              <li *ngFor="let product of filteredProducts;let i = index" #productElem class="data" [ngClass]="(product.idproduct === prodSelected.idproduct) ? 'selected' : null" fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="0.5rem" (click)="selectProduct(i)">
                <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="0.5rem" fxFlex="83">
                  <span>{{ product.idproduct }}</span><span>{{ product.name }}</span><span>{{ product.code }}</span>
                </div>
                <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="0.5rem" fxFlex="17">
                  <button mat-icon-button color="warning" aria-label="Editar Categoría" (click)="editProduct(product)">
                    <mat-icon>save</mat-icon>
                  </button>
                  <button mat-icon-button color="warning" aria-label="Borrar categoría" (click)="deleteProduct(product)">
                    <mat-icon>delete</mat-icon>
                  </button>
                </div>
              </li>   
            </ng-container>       
          </ul>
        </div>
      </div>
      <div fxFlex="33">
        <h2>{{ 'Contenidos' | translate }}</h2>
        <div fxLayoutAlign="space-between center" fxLayoutGap="0.5rem">
          <mat-form-field appearance="outline">          
            <input #contentFilter matInput type="text" [placeholder]="'Filtrar contenidos' | translate" (keyup)="filterContent(contentFilter.value)"/>
          </mat-form-field>        
        </div>
        <div class="list-container">
          <ul>
            <li fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="0.5rem" class="headers-list">
              <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="0.5rem" fxFlex="85">
                <span>{{ 'Id' | translate }}</span> <span>{{ 'Nombre' | translate }}</span>
              </div>
              <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="0.5rem" fxFlex="15">
                <span>{{ 'Borrar' | translate }}</span>
              </div>
            </li>
            <ng-container *ngIf="filteredContents.length > 0">
              <li *ngFor="let content of filteredContents" class="data" fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="0.5rem">
                <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="0.5rem" fxFlex="85">
                  <span>{{ content.idcontent }}</span><span>{{ content.name }}</span>
                </div>
                <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="0.5rem" fxFlex="15">
                  <button mat-icon-button color="warning" aria-label="Borrar categoría" (click)="detachProduct(content)">
                    <mat-icon>delete</mat-icon>
                  </button>
                </div>
              </li>    
            </ng-container>      
          </ul>
        </div>
      </div>
    </div>
  </div>
</ng-container>

