.container{
    display: flex;
    flex-direction: column;
    min-width: 300px;
}

.mat-table {
    overflow: auto;
  }

.loading{
    position: relative;
    left: 50%;
}

.actions button{
    margin-right: 5px;
    width: 100px;
}

th.mat-header-cell, td.mat-cell {
    border:none;
}
.opentags{
    cursor:pointer;
}
ul{
    margin:0;
    padding:0 0.5rem;
    list-style:none;
    li{
        .selected{
            background: rgb(100, 202, 38);
            color:#fff;
        }
        padding:0.2rem 0.5rem;
    }
    li.data{
        cursor:pointer;
        &:hover{
            background:#666;
            color:#fff;
        }
    }
    li.headers-list{
        position: sticky;
        top: 0px;
        background:#fff;
        border-bottom:1px solid #666;
        z-index:999;
    }
}
.list-container{
    max-height:calc(100vh - 500px);
    overflow-y: auto;
}
.form-background{
    padding:2rem;
    max-height:calc(100vh - 300px);
}
.create-button{
    margin-top:0.4em;
}

.selected {
    background-color:#64ca26;
    color:#fff;
}