<div class="area-container" [ngStyle]="{'border-color': error}">     
    <div class="area-wrapper">
        <button mat-button *ngFor="let area of areas" [ngClass]="{selected:checkSelect(area)}" class="area-select" (click)="onSelect(area)" [id]="'area-'+area.idarea">
            <img [src]="area.format.image_url" height="50" />
            <p>{{ area.location.name }}</p>
        </button>
    </div>
</div>