<div fxLayout="row">
  <div fxLayout="column" fxFlex> 
    <h1 class="title">{{ 'Plantilla' | translate }}</h1>
  </div>
  <div fxLayout="column" align="end">  
    <button  mat-icon-button [routerLink]="['/private/template/list']" matTooltip="{{'Volver' | translate}}"><mat-icon>west</mat-icon></button>
  </div>
</div> 
<div fxLayout="column" class="form-container" id="full">
  <form class="custom-form" [formGroup]="form">         
      <mat-label color="primary">{{ 'FORMS.fields.name' | translate }} </mat-label><br>        
      <mat-form-field  appearance="outline">          
        <input matInput type="text"  formControlName="name" value=""/>
      </mat-form-field> 
      <mat-label color="primary"> Html </mat-label><br>
       <mat-form-field  appearance="outline">
        <input  matInput type="text"  formControlName="html" value=""/>
      </mat-form-field>         
  </form>
  <ckeditor [editor]="Editor" [(ngModel)]="sHtml" (change)="onChange($event)"></ckeditor> 
  <div class="button-container">
    <div class="spinner-container" *ngIf="loading">
        <mat-spinner diameter="24"  color="accent"></mat-spinner>
      </div>
    <button class="form" mat-raised-button *ngIf="(!id)" color="accent" [disabled]="loading" (click)="create()">{{ 'Nuevo' | translate }}</button>
    <button class="form" mat-raised-button *ngIf="(id)" color="accent" [disabled]="loading" (click)="update()">{{ 'Editar' | translate }}</button>
  </div>           
 
</div> 

