.spinner-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .button-container {
    margin-top: 25px;
  } 

  .form{
    width: 300px;
    text-align: center;
    height: 45px;
    background-color: #64ca26;
    float: right;

  }

  #full{
    width: 100%;
  }
  
  
