<mat-card>
  <mat-card-header>
    <div mat-card-avatar>
        <mat-icon aria-hidden="false" aria-label="Impacto de ventas del mes anterior">euro</mat-icon>
    </div>
    <mat-card-title>{{ 'COMPONENTS.dashboard.impacto.title' | translate }}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p *ngIf="!load">
      {{ ventas }}
    </p>
    <div class="spinner-container" *ngIf="load">
      <mat-spinner diameter="40"  color="accent"></mat-spinner>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>{{ 'COMPONENTS.dashboard.impacto.button' | translate }}</button>
  </mat-card-actions>
</mat-card>