h3, p{
    display:block;
}
h3{
    font-size:0.8rem;
    font-weight: 600;
    line-height:1rem;
}
p{
    font-size:0.8rem;
}
.contentContainer{
    overflow-x:auto;
}
.contentItem{
    width: 15%; min-width:200px;
    background-color: #f5f9ee;
    background-size: cover;
    margin: 0 0.5rem;
    cursor:pointer;
    margin-bottom:1rem;
    border:1px solid #fff;
    position:relative;
}
.contentItem img{
    width:100%;
}
.contentItem p{
    padding:0 1rem;
}
.contentItem:hover, .active{
    opacity:0.7;
    background:#ff6666;
    color:#fff;
}
.active{
    opacity: 1;
}
.contentItemHeader{
    height:3rem;
    display:block;
    position:relative;
    bottom:0;
}
.textDates{
    font-size: 0.7rem;
}