<h4>{{ "Selecciona un contenido" | translate }}*</h4>
<div fxLayout="row" fxLayoutAlign="start stretch" class="contentContainer">
  <div fxLayout="column" fxLayoutAlign="space-between"class="contentItem" [ngClass]="{'active': selected === content.idcontent}" [id]='content.idcontent' *ngFor="let content of fieldData.options" (click)="contentSelected($event,content)">
    <img *ngIf="content.thumbnail_url" src="{{ content.thumbnail_url }}" />
    <p>{{ content.idcontent }} - <b>{{ content.name }}</b></p>
  </div>
</div>
