<a [routerLink]="link">
  <mat-card class="crear-contenido-card" fxLayout="column" fxLayoutAlign="center center">
      <img class="icon" [src]="icon">
      <p>{{title | translate }}</p>
  </mat-card>
</a>
