  *{ text-decoration: none;}

  mat-card{
    width:100%;
    height:100%;
    background-color: #64CA26 !important;
    border-radius: 0;
    color: #fff;
  }

  a{
    font-size:18px;
  }

  .icon{
    height:80px;
  }






