<div class='container loading' *ngIf="load"> 
  <mat-spinner diameter = "80" strokeWidth = "5" color='accent'>    
  </mat-spinner>
</div>
<div class="container fondo-verd espaci-cotds" *ngIf="!load">
     <div fxLayout="row">
           <div fxFlex="50"> 
             <h1 class="title">{{ 'PLAYCIRCUITS.list.title' | translate }}</h1>
            </div>

           <div fxFlex="50">
            <mat-form-field appearance="outline" class="action_filter" fxFlexFill>
              <input #contentFilter matInput type="text" placeholder="{{ 'Filtrar por nombre' | translate }}"
                (keyup)="filterByName(contentFilter.value)" />
            </mat-form-field>
           </div>
         
    </div>
  
     <div class="selec-tabls">
     <customer-select [customersToSelect]="customersToSelect" (onSelected)="customerSelected($event)"></customer-select>
     </div>
      <div class="listd-contend" fxLayout="row" fxLayoutGap="20px" *ngIf="pCircuits.length > 0">
        <div class="cont-limitd">
          <playcircuit-element *ngFor="let circuit of pCircuits"
            [playcircuit]="circuit"
            [editPlaycircuit]="editPlaycircuit"
            [deletedPlaycircuit]="deletedPlaycircuit"
            (playcircuitDeleted)="playcircuitDeleted($event)">
          </playcircuit-element>
        </div>
      </div>
    <br> 
    <div class="circut-botns">
       <div class="actions" fxLayout="row" layout-margin>
          <a mat-raised-button color="accent" *ngIf="newPlaycircuit" [routerLink]="['/private/playcircuit/create']" mat-button>{{ 'PLAYCIRCUITS.list.buttons.new_circuit' | translate }}</a>
       </div>
    </div>
</div>

    
