.container {
    //padding-top: 250px;
    //padding-left: 25px;
}

/*.container {
  background-color: #f5f9ee;
  padding: 0px 10px;
}*/

.loading{
    position: relative;
    left: 50%;
}


.actions{
    padding-bottom: 25px; 
}

.actions a{
    margin-right: 5px;
    width: 150px;
}

.actions button{
    margin-right: 5px;
    width: 100px;
}

th.mat-header-cell, td.mat-cell {
    border:none;
}

#selection-area-table {
  /*width: 600px;*/
  table-layout: fixed;
}

#selection-area-table td {
  padding: 40px 10px;
}

#selection-area-table td.table-head {
  padding: 10px;
  width: 300px !important;
}

#selection-area-table td.table-head:last-child {
  width: 70% !important;
}

#selection-area-table td.clicked {
  background-color: #f64747;
  color: #fff;
}

#selection-area-table td.clicked .description {
  /*color: #fff;*/
}

#selection-area-table td.area-box {
  cursor: pointer;
  /*transition: all 0.5s;*/
}

#selection-area-table td.area-box .description {
  /*color: #888;*/
  width: fit-content;
  margin-top: 5px;
}

#selection-area-table td.area-box:hover {
  /*background-color: #eee;*/
  /*color: #888;*/
}

#selection-area-table tr:first-child {
  font-weight: bold;
  font-size: 16px;
}

#selection-area-table tr:nth-child(odd) {
  background-color: #fff;
}

.loading{
    position: relative;
    left: 50%;
}

#table-footer {
  margin-top: 10px;
}

#table-footer #actions {
  display: inline-block;
  float: right;
}

#table-footer #actions a {
  margin-left: 5px;
  margin-bottom: 5px;
}

#table-footer #all-selection-checkbox {
  float: left;
}


/*** css nueo ***/



.fondo-verd {
    padding-bottom: 50px;
    padding-right: 25px;
    display: table;
    width: 100%;
    box-sizing: border-box;
}

/*
::ng-deep .mat-drawer-content {
    background: #F4FAEF;
}
*/
.listd-contend {
    width: 100%;
    float: left;
    background: white;
    display: block !important;
    padding: 20px;
        margin-bottom: 10px;
}


.listd-contend playcircuit-element {
   width: 23%;
    float: left;
    margin-bottom: 30px;
    display: block !important;
    margin-right: 2% !important;
}


.circut-botns {
    width: 100%;
    float: left;
}


.cont-limitd {
    width: 90%;
    float: left;
    box-sizing: border-box;
}