<div class="chart-wrapper" *ngIf="!loading && data.length > 0" [style.height.px]="height">
  <canvas #chart baseChart 
          height="95%"
          [datasets]="data" 
          [labels]="labels" 
          [options]="lineChartOptions"
          [colors]="lineChartColors" 
          [chartType]="lineChartType">
  </canvas>
</div>
<div class="spinner-container" *ngIf="loading">
  <mat-spinner diameter="100"  color="accent"></mat-spinner>
</div>