<mat-card>
  <mat-card-header>
    <mat-card-title>{{ 'COMPONENTS.flow.form.title' | translate }}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
  <fieldset>
    <div class="fieldsetContainer">
      <form-field-select [fieldData]="fieldDataCustomer" [formGroup]="formGroup" [isLoading]="loadingCustomers"></form-field-select>
      <form-field-select *ngIf="formGroup.get('site').value !== null" [fieldData]="fieldDataSite" [formGroup]="formGroup" [isLoading]="loadingSites"></form-field-select>
      <camera-select *ngIf="formGroup.get('site').value !== 0" [site]="formGroup.get('site').value" (onSelected)="cameraSelected($event)"></camera-select>
    </div>
  </fieldset>
  <fieldset>
    <div class="fieldsetContainer" fxLayout="row" fxLayoutAlign="space-between center">
      <form-field-date-time-hour-picker [fieldData]="fieldDataStart" [formGroup]="formGroup" (onChangeField)="onChangeStartDate($event)"></form-field-date-time-hour-picker>
      <form-field-date-time-hour-picker [fieldData]="fieldDataEnd" [formGroup]="formGroup" (onChangeField)="onChangeEndDate($event)"></form-field-date-time-hour-picker>
    </div>
  </fieldset> 
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="accent" (click)="submitForm()">{{ 'COMPONENTS.flow.form.submit' | translate }}</button>
  </mat-card-actions>
</mat-card>
