<div fxLayout="row">
    <div fxLayout="column" fxFlex>
        <h1 class="title">{{ "peoples" | translate }}</h1>
    </div>

    <div fxLayout="column" align="end">
        <button mat-icon-button [routerLink]="['/private/peoples/list']" matTooltip="{{ 'Volver' | translate }}">
            <mat-icon>west</mat-icon>
        </button>
    </div>
</div>

<form [formGroup]="form" (ngSubmit)="create()">

    <div fxLayout="column" class="form-container" fxFlexFill>

        <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="15px" *ngIf="!show">
            <customer-select style="width: 33%;" apparence="outline" (onSelected)="getSites($event)"
                customersToSelect="true"></customer-select>
            <site-select style="width: 33%;" apparence="outline" (onChange)="setSites($event)"></site-select>
        </div>



        <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="15px" >
            <div fxLayout="column" fxFlex="33">
                <mat-label color="primary">{{ 'email' | translate }} </mat-label><br>
                <mat-form-field class="mat-form-field" appearance="outline">
                    <input matInput type="text" placeholder="{{ 'email' |translate }}" formControlName="email"/>
                </mat-form-field>
            </div>

            <div fxLayout="column" fxFlex="33">
                <mat-label color="primary">{{ 'phone' | translate }} </mat-label><br>
                <mat-form-field class="mat-form-field" appearance="outline">
                    <input matInput type="text" placeholder="{{ 'phone' |translate }}" formControlName="phone" />
                </mat-form-field>
            </div>
        </div>


        <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="15px">

            <div fxLayout="column" fxFlex="33">
                <mat-label color="primary">Tags</mat-label>
                <a class="link" mat-raised-button color="accent" (click)="openDialogTags()" mat-button>{{ "Editar tags"
                    | translate }}
                </a>
            </div>

            <div class="chip_container">
                <mat-chip-list #chipList>
                    <mat-chip *ngFor="let tag of tags">
                        <div fxLayout="row" fxLayoutGap="5px">
                            <span>{{ tag.categoryName }} - {{ tag.name }}</span>
                            <span (click)="removeTag(tag)" class="remove_tag">X</span>
                        </div>
                    </mat-chip>
                </mat-chip-list>
            </div>
        </div>




        <div fxLayout fxLayoutGap="20px" fxLayoutAlign="end center">
            <button type="button" class="mat-raised-button mat-accent"
                [routerLink]="['/private/peoples/list']">{{'FORMS.buttons.back' | translate }}</button>

            <button *ngIf="!id" type="submit" class="mat-raised-button mat-accent">{{ 'create' | translate }}</button>
            <button *ngIf="id" type="submit" class="mat-raised-button mat-accent">{{ 'update' | translate }}</button>
        </div>

    </div>
</form>



<div class="loading-indicator" *ngIf="loading">
    <mat-spinner></mat-spinner>
</div>