.spinner-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .button-container {
    position: absolute;
    bottom: 15px;
    right: 25px;
    
  }
  
  .hide{
    visibility: hidden;
  }

  .btn-margin {
    margin-top: 65px;
    width:115px !important;
    float: right;
  }

  .top-space {
    margin-top: 50px;
  }

.top-space-100 {
    margin-top: 100px;
}  