<div fxLayout="row">
  <div fxLayout="column" fxFlex>
    <h1 class="title">{{ "dynamic_events" | translate }}</h1>
  </div>
  <div fxLayout="column" align="end"></div>
</div>



<form [formGroup]="form" class="form-background" #f="ngForm" (ngSubmit)="save()" *ngIf="form">
<div fxLayout="column"> 
  <input type="hidden" formControlName="id" />

  <div fxLayout="row"  fxFlex="100" fxLayoutGap="10px">

    <div fxLayout="column" fxFlex="50" fxFlex.lt-xs="100">
      <mat-label color="primary">{{ 'Nombre' | translate }}* </mat-label><br>
      <mat-form-field appearance="outline">
        <input matInput type="text" formControlName="name" required />
      </mat-form-field>

      <select-sites [idsite]="idsite" required="false" (onChange)="setSites($event)"></select-sites>
    </div>



    <div fxLayout="column" fxFlex="50" fxFlex.lt-xs="100">

      <mat-label color="primary">{{ 'source_url' | translate }}* </mat-label><br>
      <mat-form-field appearance="outline">
        <input matInput type="text" formControlName="source_url" required />
      </mat-form-field>

      <br>
      <player-select-players isCascade="true" required="false" (onChange)="setPlayers($event)"></player-select-players>
  
    </div>

  </div>


    <div fxLayout="row" fxFlex="100" fxFlex.lt-xs="100">
        
        <div fxLayout  fxFlex="33"  fxLayoutGap="10px" class="top-space">
          <mat-label>Diferido</mat-label> 
          <mat-slide-toggle formControlName="is_right_now">{{ 'righ_now' | translate }}!</mat-slide-toggle>
        </div>

      
        <div fxLayout  fxFlex="33"  fxLayoutGap="10px" class="top-space">
          <mat-label>Inactivo</mat-label> 
          <mat-slide-toggle formControlName="status">{{ 'active' | translate }}</mat-slide-toggle>
        </div>
         
          <div fxLayout="column"  fxFlex="33">
            <mat-label color="primary">{{ 'frecuency' | translate }} </mat-label><br>
            <mat-form-field appearance="outline">
              <input matInput type="number" formControlName="frecuency" required />
           </mat-form-field>
          </div>
    </div>
 </div>




  <div  class="top-space-100">
      <rules-list
        (emmitRules)="delete($event)"
        (emmitUpdate)="update($event)" 
        (openDialog)="openDialog()"
        [rules]="rules">
      </rules-list>
  </div>


  <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="end center">
 
    <button mat-button  class="mat-raised-button" (click)="close()">{{ 'FORMS.buttons.cancel' | translate }}</button> 
    <button mat-raised-button color="accent" [disabled]="!f.valid">  {{ 'save' | translate }}</button>
  </div>

</form>