<div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxLayoutAlign="start space-between"  fxLayoutGap="20px" fxFlex="100">
    <form-field-date-picker fxFlex="50" [fieldData]="fieldDataStart" [formGroup]="formGroup" (onModelChange)="onChangeStartDate()"></form-field-date-picker>
    <form-field-date-picker fxFlex="50" [fieldData]="fieldDataEnd" [formGroup]="formGroup" (onModelChange)="onChangeEndDate()"></form-field-date-picker>
</div>