<div fxLayout="row">
  <div fxFlex="50">
    <fieldset>
      <mat-grid-list cols="8" rowHeight="1:1" [gutterSize]="'1rem'">
        <mat-grid-tile colspan="4">
          <form-field-select
              [fieldData]="fieldDataRatius" 
              [formGroup]="formGroup"
              (onChangeField)="ratiusChanged($event)">
          </form-field-select>
        </mat-grid-tile>
        <mat-grid-tile colspan="4">
          <form-field-select
            [fieldData]="fieldDataProvince" 
            [formGroup]="formGroup"
            (onChangeField)="provinceChanged($event)">
          </form-field-select>
        </mat-grid-tile>
      </mat-grid-list>
    </fieldset>
    <fieldset>
      <h3>{{ 'Criterios Demográficos con desviación significativamente positiva' | translate }}</h3>
      <mat-grid-list cols="9" rowHeight="1.05:1" [gutterSize]="'1rem'">
        <label>{{ 'Rango de edad:' | translate }}</label>
        <mat-grid-tile colspan="5">
            <form-field-select
              [fieldData]="fieldDataAgeFrom" 
              [formGroup]="formGroupDemo"
              (onChangeField)="changeAgeFrom($event)">
            </form-field-select>
            <form-field-select
              [fieldData]="fieldDataAgeTo" 
              [formGroup]="formGroupDemo">
            </form-field-select>
        </mat-grid-tile>
        <mat-grid-tile colspan="2">
          <form-field-select
            [fieldData]="fieldDataGender" 
            [formGroup]="formGroupDemo">
          </form-field-select>
        </mat-grid-tile>
        <mat-grid-tile colspan="2">
          <div class="button">
            <button [disabled]="formGroup.invalid || formGroupDemo.invalid" mat-raised-button color="accent" (click)="submitDemographic()">{{ 'Ver Centros' | translate }}</button> 
          </div>
        </mat-grid-tile>
      </mat-grid-list>
    </fieldset>
    <fieldset>
      <h3>{{ 'Criterios Económicos' | translate }}</h3>
      <mat-grid-list cols="8" rowHeight="1.1:1" [gutterSize]="'1rem'">
        <mat-grid-tile colspan="6">
            <form-field-select-monospace
              [fieldData]="fieldDataIncomePerson" 
              [formGroup]="formGroupEco">
            </form-field-select-monospace>
        </mat-grid-tile>
        <mat-grid-tile colspan="2">
          <div class="button">
            <button [disabled]="formGroup.invalid || !formGroupEco.get('income_person').value" mat-raised-button color="accent" (click)="submitEconomic()">{{ 'Ver Centros' | translate }}</button> 
          </div>
        </mat-grid-tile>
      </mat-grid-list>
    </fieldset>    
  </div>
  <div fxFlex="50">
    <analisis-sociodemografico-admin-tab-segmentation-result
      [sites]="sites"
      (onCleanSites)="cleanSites($event)">
    </analisis-sociodemografico-admin-tab-segmentation-result>
  </div>
</div>
<div class="table-container">
  <table>
    <tr>
      <th>{{ 'idcentro' | translate  }}</th>
      <th>{{ 'código de centro' |translate }}</th>
      <th>{{ 'Nombre' | translate }}</th>
      <th>{{ 'Domicilio' | translate }}</th>
      <th>{{ 'C.P.' | translate }}</th>
    </tr>
    <tr *ngFor="let site of sites">
      <td>{{ site.idsite }}</td>
      <td>{{ site.code }}</td>
      <td>{{ site.name }}</td>
      <td>{{ site.address }}</td>
      <td>{{ site.zipcode }}</td>
    </tr>
  </table>
  <div class="button">
    <button [disabled]="sites.length === 0" mat-raised-button color="accent" (click)="exportToExcel()">{{ 'Exportar en excel' | translate }}</button> 
  </div>
</div>
<div class="spinner-container-profiles" *ngIf="loading">
    <mat-spinner diameter="50"  color="accent"></mat-spinner>
</div>