<div class="container">
  <h1 mat-dialog-title>{{title | translate}}</h1>
  <mat-dialog-content>
    <div *ngIf = "!dataSource || load" fxLayout="row" fxLayoutAlign="space-around center" style="height:100%">
      <mat-spinner diameter = "50" strokeWidth = "5"></mat-spinner>
    </div>
    <div fxLayout="row" fxLayoutGap="20px" *ngIf="dataSource && !load">
      <div fxFlex="25">
        <h2>{{'Categorias' | translate}}</h2>
        <mat-form-field appearance="outline">          
          <input #categoryFilter matInput type="text" [placeholder]="'filter_categories' | translate" (keyup)="filterCategory(categoryFilter.value)"/>
      </mat-form-field>
        <ul class="categoryList">
          <li *ngFor="let category of categoriesData; let i = index"  #categoryElem (click)="filterProducts(category.idcategory, i)">{{ category.code }} - {{ category.name }}</li>
        </ul>
      </div>
      <div fxFlex="45">
        <div class="actions" fxLayoud="row">
          <div fxFlex="100">
            <div id="filters-container">
              <div> 
                <mat-form-field appearance="outline">          
                    <input #productFilter matInput type="text" [placeholder]="'filter_products' | translate" (keyup)="filterProduct(productFilter.value)"/>
                </mat-form-field>
              </div>
            </div>
          </div>
        </div>
        <mat-table *ngIf="dataSource" [dataSource]="dataSource"  matSort (scroll)="onTableScroll($event)">
        <ng-container matColumnDef="select">
          <th mat-header-cell *matHeaderCellDef>
            <mat-checkbox (change)="$event ? masterToggle() : null"
                          [checked]="selection.hasValue() && isAllSelected()"
                          [indeterminate]="selection.hasValue() && !isAllSelected()">
            </mat-checkbox>
          </th>
          <td mat-cell *matCellDef="let row">
            <mat-checkbox (click)="$event.stopPropagation()"
                          (change)="$event ? selection.toggle(row) : null"
                          (change)="$event ? selectRow($event, row) : null"
                          [checked]="row.selected">
            </mat-checkbox>
          </td>
        </ng-container>
    
        <ng-container matColumnDef = "code">
          <mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'FORMS.fields.code' | translate }} </mat-header-cell>
          <mat-cell class="first" *matCellDef="let row" >{{row.code}} </mat-cell>
        </ng-container>
    
        <ng-container matColumnDef = "name">
          <mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'FORMS.fields.name' | translate }} </mat-header-cell>
          <mat-cell class="" *matCellDef="let row">  {{row.name}} </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
      </div>
      <div fxFlex="30">
        <h2>{{ 'product_selected' | translate }}</h2>
        <ul class="selectedProducts">
          <li *ngFor="let sel of selectedproducts" fxLayout="row" fxLayoutAlign="space-between center"><span>{{ sel.code }} - {{ sel.name }}</span> <mat-icon (click)="selectRow($event, sel)">delete</mat-icon></li>
        </ul>
      </div>
    </div>
    <mat-dialog-actions fxLayout="row" fxLayoutAlign="space-between center" fxFlexFill *ngIf="dataSource && !load">
        <button class="mat-raised-button black" (click)="close()">{{ 'FORMS.buttons.cancel' | translate }}</button>
        <button class="mat-raised-button mat-accent" (click)="save()" cdkFocusInitial>{{ 'FORMS.buttons.confirm' | translate }}</button>
    </mat-dialog-actions>
  </mat-dialog-content>
</div>

