mat-dialog-actions{
  margin-bottom: 12px;
}

.mat-accent{
  color: white!important;
}

button{
  font-weight: bold;
  border-radius: 10px;
}

.black{
  color: black!important;
}

.right{
  float: right;
}

@media screen and (max-width: 320px) {
  button{
    font-size: 0.8em;
  }
}

.categoryList{
  overflow-y: auto;
  max-height: 385px;
  padding:0;
  li{
    list-style: none;
    margin-bottom:0.5rem;
    padding:0.2rem 0.5rem;
    cursor:pointer;
    &:hover{
      background:rgba(0,0,0,0.1)
    }
  }
}
.selectedProducts{
  overflow-y: auto;
  max-height: 500px;
  padding:0;
  li{
    list-style: none;
    padding:0 0.5rem;
    mat-icon{
      cursor:pointer;
      padding:0.5rem;
      &:hover{
        background:rgba(0,0,0,0.1)
      }
    }
  }
}
.mat-table{
  max-height:450px;
  overflow-y: auto;
  th, td{
    border:0!important;
  }
  mat-header-row{
    position: sticky;
    top: 0;
    background: #fff;
    z-index: 999;
  }
}