<div fxLayout="row" fxFlex="100" fxLayoutGap="25px" fxLayoutAlign="space-beetwen center" class="container_text">
    <div fxLayout="column" fxFlex="33" *ngIf="email">
        <mat-label color="primary">{{ 'email' | translate }} </mat-label>
        <ckeditor [editor]="Editor" (change)="onChange($event)" [(ngModel)]="sHtml"
            [ngModelOptions]="{standalone: true}">
        </ckeditor>
    </div>

    <div fxLayout="column" fxFlex="33" *ngIf="sms">
        <mat-label color="primary">{{ 'sms' | translate }} </mat-label>
        <textarea (change)="setBody($event, 'sms')">{{body}}</textarea>
    </div>

    <div fxLayout="column" fxFlex="33" *ngIf="whatsapp">
        <div fxLayout="column" fxFlex="33" *ngIf="(whatsapp) || (!whatsapp && format == 3)">
            <button mat-raised-button color="accent" (click)="openDialogTemplate()">Add template</button>
            <mat-nav-list>
                <mat-list-item *ngFor="let template of templates; let i = index" #template (click)="setTemplate(i)">
                    <span matLine>{{template.name_template}}</span>
                    <button (click)="removeTemplate(template.idtemplate)" mat-icon-button color="warn"
                        style="background-color: white;">
                        <mat-icon>clear</mat-icon>
                    </button>
                </mat-list-item>

            </mat-nav-list>
        </div>

    </div>