<mat-card *ngIf="totalDemographic && selectedDemographic && economicResult">
  <mat-card-header>
    <mat-card-title>{{ 'PERFIL DEMOGRÁFICO' | translate }}, {{ 'Radio' | translate }} {{ ratius }} {{ 'metros' | translate }}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
      <div fxLayout="row">
        <div fxFlex="33" fxLayout="row" fxLayoutAlign="space-around center">
          <div [style.textAlign]="'center'" fxFlex="35">
            <img src="assets/img/icons/dashboard/hombre.png">
            <p class="results-demo">{{ selectedDemographic.H.total | numbersp }}</p>
            <doughnut-chart [data]="[selectedDemographic.H.percentage,100-selectedDemographic.H.percentage]"[labels]="['%']" [height]="90" [fromProfiles]="'true'" [loading]="false"></doughnut-chart>
          </div>
          <table [style.width]="'80%'" [style.margin]="'auto'" fxFlex="65">
            <tr>
              <th>{{ 'Edad' | translate }}</th>
              <th>{{ 'Número' | translate }}</th>
              <th>%</th>
              <!--<th>Comparativa del canal</th>-->
              <th [style.width]="'30%'">{{ 'Por encima media nacional' | translate }}</th>
            </tr>
            <tr *ngFor="let item of selectedDemographic.H.range">
              <td class="item-range">{{ item.range }}</td>
              <td class="item-count">{{ item.count }}</td>
              <td class="item-count">{{ item.select_percentage | numbersp }}%</td>
              <!--<td class="item-count">{{ item.total_percentage | numbersp }}%</td>-->
              <td class="item-range">
                <div>
                  <mat-icon class="fa fa-star" *ngIf="item.stars && item.stars >= 1">star_rate</mat-icon>
                  <mat-icon class="fa fa-star" *ngIf="item.stars && item.stars >= 2">star_rate</mat-icon>
                  <mat-icon class="fa fa-star" *ngIf="item.stars && item.stars >= 3">star_rate</mat-icon>
                </div>
              </td>
            </tr>
          </table>
        </div>
        <div fxFlex="33" fxLayout="row" fxLayoutAlign="space-around center" >
          <div [style.textAlign]="'center'" fxFlex="35">
            <img src="assets/img/icons/dashboard/mujeres.png">
            <p class="results-demo">{{ selectedDemographic.M.total | numbersp }}</p>
            <doughnut-chart [data]="[selectedDemographic.M.percentage,100-selectedDemographic.M.percentage]"[labels]="['%']" [height]="90" [fromProfiles]="'true'" [loading]="false"></doughnut-chart>
          </div>
          <table [style.width]="'80%'" [style.margin]="'auto'" fxFlex="65">
            <tr>
              <th>{{ 'Edad' | translate }}</th>
              <th>{{ 'Número' | translate }}</th>
              <th>%</th>
              <!--<th>Comparativa del canal</th>-->
              <th [style.width]="'30%'">{{ 'Por encima media nacional' | translate }}</th>
            </tr>
            <tr *ngFor="let item of selectedDemographic.M.range">
              <td class="item-range">{{ item.range }}</td>
              <td class="item-count">{{ item.count }}</td>
              <td class="item-count">{{ item.select_percentage | numbersp }}%</td>
              <!--<td class="item-count">{{ item.total_percentage | numbersp }}%</td>-->
              <td class="item-range">
                <div>
                  <mat-icon class="fa fa-star" *ngIf="item.stars && item.stars >= 1">star_rate</mat-icon>
                  <mat-icon class="fa fa-star" *ngIf="item.stars && item.stars >= 2">star_rate</mat-icon>
                  <mat-icon class="fa fa-star" *ngIf="item.stars && item.stars >= 3">star_rate</mat-icon>
                </div>
              </td>
            </tr>
          </table>
        </div>
      <div>
    </div>
      <div fxFlex="33" fxLayout="row" fxLayoutAlign="space-around center" >
        <div [style.textAlign]="'center'"  fxFlex="35">
          <div>
            <img src="assets/img/icons/dashboard/hombre.png">
            <img src="assets/img/icons/dashboard/mujeres.png">
          </div>
          <p class="results-demo">{{ selectedDemographic.total | numbersp }}</p>
        </div>
        <table [style.width]="'80%'" [style.margin]="'auto'"  fxFlex="65">
          <tr>
            <th>{{ 'Edad' | translate }}</th>
            <th>{{ 'Número' | translate }}</th>
            <th>%</th>
            <!--<th>Comparativa del canal</th>-->
            <th [style.width]="'30%'">{{ 'Por encima media nacional' | translate }}</th>
          </tr>
          <tr *ngFor="let item of totalDemographic.range">
            <td class="item-range">{{ item.range }}</td>
            <td class="item-count">{{ item.count }}</td>
            <td class="item-count">{{ item.select_percentage | numbersp }}%</td>
            <!--<td class="item-count">{{ item.total_percentage | numbersp }}%</td>-->
            <td class="item-range">
              <div>
                <mat-icon class="fa fa-star" *ngIf="item.stars && item.stars >= 1">star_rate</mat-icon>
                <mat-icon class="fa fa-star" *ngIf="item.stars && item.stars >= 2">star_rate</mat-icon>
                <mat-icon class="fa fa-star" *ngIf="item.stars && item.stars >= 3">star_rate</mat-icon>
              </div>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </mat-card-content>
</mat-card>
<mat-card *ngIf="economicResult">
  <mat-card-header>
    <mat-card-title>{{ 'PERFIL ECONÓMICO' | translate }}, {{ 'Radio' | translate }} {{ ratius }} {{ 'metros' | translate }}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <table class="socioeconomic-table">
      <tr>
        <th>
          {{ 'Renta media por persona' | translate }}
        </th>
        <td [style.textAlign]="'center'">
          {{ economicResult.income_person.rank_from | numbersp }} - {{ economicResult.income_person.rank_to | numbersp }}
        </td>
        <td [style.textAlign]="'center'" rowspan="2">
          ({{ economicResult.income_person.rank_text | translate }})
        </td>
      </tr>
      <tr>
        <th>
          {{ 'Renta media por hogar' | translate }}
        </th>
        <td [style.textAlign]="'center'">{{ economicResult.income_home.rank_from | numbersp }} - {{ economicResult.income_home.rank_to | numbersp }}</td>
      </tr>
    </table>
  </mat-card-content>
</mat-card>