<h2 mat-dialog-title>{{ 'user_not_valid' | translate }}</h2>
<mat-dialog-content class="mat-typography">
  
</mat-dialog-content>
<mat-dialog-actions align="center">
  <button mat-raised-button color="accent" (click)="close()">{{ 'FORMS.buttons.accept' | translate }}</button>
</mat-dialog-actions>