<div class="container loading" *ngIf="load">
  <mat-spinner diameter="80" strokeWidth="5" color="accent"></mat-spinner>
</div>

<div class="container" *ngIf="!load">
  <h1 class="title">{{ "dynamic_events" | translate }}</h1>

  <div *ngIf="permission">
    <h3 class="title">{{ "COMMON.no_permission" | translate }}</h3>
  </div>

  <div class="actions" fxLayout.gt-sm="row" fxLayout.gt-xs="column" fxLayoutGap="20px" fxLayoutAlign="center center"
    *ngIf="!permission">

    <div fxFlex.gt-sm="35" fxFlex.gt-xs="100" fxLayout="row" fxLayoutGap="20px">

      <button mat-raised-button color="accent" [routerLink]="['../add']" mat-button>
        <span matTooltip="{{ 'FORMS.buttons.tooltip_no_permisions' | translate }}" [matTooltipDisabled]="new">{{
          "FORMS.buttons.new" | translate }}</span>
      </button>


      <button mat-raised-button color="accent" (click)="updateEvent()" mat-button>
        <span matTooltip="{{ 'FORMS.buttons.tooltip_no_permisions' | translate }}" [matTooltipDisabled]="edit">{{
          "FORMS.buttons.edit" | translate }}</span>
      </button>

     <button mat-raised-button color="accent" (click)="deleteEvent()" mat-button>
        <span matTooltip="{{ 'FORMS.buttons.tooltip_no_permisions' | translate }}" [matTooltipDisabled]="deleted">{{
          "FORMS.buttons.delete" | translate }}</span>
      </button>

    </div>

    <div fxFlex.gt-sm="65" fxFlex.gt-xs="100" fxFlexFill>

      <mat-form-field appearance="outline" class="action_filter" fxFlexFill>
        <input #contentFilter filter matInput type="text" placeholder="{{ 'Filtrar por nombre o id' | translate }}"
          (change)="applyFilter($event)" />
      </mat-form-field>

    </div>
  </div>

  <ng-container *ngIf="dataSource.data.length > 0 else loader"> 

  <mat-table [dataSource]="dataSource" matSort (matSortChange)="sortData($event)" >

    <ng-container matColumnDef="select">

      <mat-header-cell *matHeaderCellDef>
        <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
          [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
        </mat-checkbox>
      </mat-header-cell>

      <mat-cell *matCellDef="let row">
        <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
          [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)">
        </mat-checkbox>
      </mat-cell>

    </ng-container>

    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'CUSTOMER.list.id' | translate }}</mat-header-cell>
      <mat-cell *matCellDef="let lesson"><a [routerLink]='["../add", lesson.id]'>{{ lesson.id }}</a></mat-cell>
    </ng-container>

    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'Nombre' | translate }}</mat-header-cell>
      <mat-cell class="description-cell" *matCellDef="let lesson">{{ lesson.name }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="source_url">
      <mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'source_url' | translate }}</mat-header-cell>
      <mat-cell *matCellDef="let lesson">{{ lesson.source_url | translate }}</mat-cell>
    </ng-container>


    <ng-container matColumnDef="is_right_now">
      <mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'execute' | translate }}</mat-header-cell>
      <mat-cell *matCellDef="let lesson">
        <span *ngIf="lesson.is_right_now else ko">{{ 'deferred' | translate }}</span>
        <ng-template #ko>
          <span>{{ 'inmediate' | translate }}</span>
        </ng-template>


      </mat-cell>
    </ng-container>


    <ng-container matColumnDef="frecuency">
      <mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'frecuency' | translate }}</mat-header-cell>
      <mat-cell *matCellDef="let lesson">{{ lesson.frecuency }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="status">
      <mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'status' | translate }}</mat-header-cell>
      <mat-cell *matCellDef="let lesson">
        <mat-icon *ngIf="lesson.status else ko2">check_circle_outline</mat-icon>
        <ng-template #ko2>
          <mat-icon>highlight_off</mat-icon>
        </ng-template>
      </mat-cell>
    </ng-container>

   <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
  </mat-table>
</ng-container>
</div>


<mat-paginator paginator [hidden]="(loading)" showFirstLastButtons></mat-paginator>




<ng-template #loader>
  <div fxLayout="row" fxFlexFill fxLayoutAlign="center end">
     <mat-spinner *ngIf="loading"></mat-spinner>
 </div>
</ng-template>