.content {
  margin-bottom: 10px;
  background-color: rgba(240, 240, 240, 1);
}

.data {
  padding: 10px 10px;
}

.image {
  background-color: #000;
}

h3 {
  margin-bottom: 0px;
  font-size: 13px;
  font-weight: bolder;
}

.date {
  font-size: 10px;
}

label {
  font-size: 12px;
  padding-left: 8px;
}

hr {
  background-color: rgb(255, 204, 102);
  height: 4px;
  border: none;
}

hr:last-child {
  background-color: rgb(100, 100, 100);
  height: 4px;
  border: none;
}


.actions {
  margin-bottom: 2%;
  margin-top: 2%;
  display: flex;
}

.action_filter {
  float: right;
  margin-top: 2.2%;
}
