<div class='container loading' *ngIf="load"> 
  <mat-spinner diameter = "80" strokeWidth = "5" color='accent'>    
  </mat-spinner>
</div>
<div class="container fondo-verd espaci-cotds" *ngIf="!load">
    <h1 class="title">{{ 'FORMAT.list.title' | translate }}</h1>
      <div class="listd-contend" fxLayout="row" fxLayoutGap="20px" *ngIf="formats.length > 0">
        <div class="cont-limitd">
          <mat-form-field class="filter">
            <mat-label>{{ 'FORMAT.list.filter' | translate }}</mat-label>           
              <input matInput  [placeholder]="'FORMAT.list.placeholder' | translate" [(ngModel)]="filterVal">
            </mat-form-field>
          <format-element *ngFor="let format of formats | filter: filterVal"
            [format]="format"
            [editFormat]="editFormat"
            [deleteFormat]="deletedFormat"
            (onDeleted)="change()"
            (onUpdate)="change()">
          </format-element>
        </div>
      </div>
    <br> 
    <div class="circut-botns">
       <div class="actions" fxLayout="row" layout-margin>
          <a mat-raised-button color="accent" *ngIf="newFormat" (click)="openDialog()" mat-button>{{ 'FORMAT.list.buttons.new_format' | translate }}</a>
       </div>
    </div>
</div>

    
