<div class="chart-wrapper" *ngIf="!loading" [style.height.px]="height">
  <canvas #chart baseChart 
          [datasets]="data" 
          [labels]="labels" 
          [options]="ChartOptions"
          [colors]="ChartColors" 
          [chartType]="ChartType">
  </canvas>
</div>
<div class="spinner-container" *ngIf="loading">
  <mat-spinner diameter="100"  color="accent"></mat-spinner>
</div>