<div class="carousel-container">
  <div class="title">
    {{format}} {{lang}}
  </div>
    <carousel height="150" [arrowsOutside]="true">
        <ng-template ngFor let-element [ngForOf]="elemsToShow" let-i="idx">
            <div *ngIf="element" class="carousel-cell" style="text-align:center;" (dblclick)="onSelect.emit(element)" (dblclick)="onSelectAsset($event)">
                <div fxLayout="column" *ngIf="(element)" class="cell">
                    <img [src]="element.cover_url" alt="">
                    <div fxLayout="column" class="media">                      
                        <div fxLayout="column" class="name">
                            <label fxFlex fxLayoutAlign="start center">{{element.name |  slice:0:30 }}</label>
                            <span>{{ 'ASSETS.assetcarousel.sec' | translate:element }}</span>
                        </div>
                        <div fxLayout="column" class="actions">
                            <a mat-icon-button aria-label="Editar" [matMenuTriggerFor]="menu">
                                <mat-icon>more_vert</mat-icon>
                            </a>
                            <mat-menu #menu="matMenu">
                                <a mat-menu-item (click)="preview(element)">
                                    <mat-icon *ngIf="(element.idtype === 1)">photo_camera</mat-icon>
                                    <mat-icon *ngIf="(element.idtype === 2)">play_arrow</mat-icon>
                                    <mat-icon *ngIf="(element.idtype === 3)">public</mat-icon>
                                    <mat-icon *ngIf="(element.idtype === 5 || element.idtype === 4)">link</mat-icon>
                                    <span>{{ 'ASSETS.assetcarousel.see' | translate }}</span>
                                </a>
                            </mat-menu>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
    </carousel>
    <br>
</div>


