// .carousel-container {
//   display: flex;
//   flex-direction: column;
//   padding: 0 20px;
// }

// .carousel-container .title {
//   margin-left: 20px;
//   // margin-bottom: 10px;
//   color: #888;
// }

// .carousel-items {
//   display: flex;
//   overflow-x: scroll;
//   // This is not supported by all browsers. If you want a different animation, please feel free
//   // to find your own solution.
//   scroll-behavior: smooth;

//   &::-webkit-scrollbar {
//       width: 0px;
//       background: transparent;
//   }

// }

// .controls {
//   display: flex;
//   justify-content: center;
// }

// [appCarouselItem] {
// //   flex-shrink: 0;
// }

// .carousel-items .item {
//   width: 250px;
//   height: 170px;
//   margin-left: 20px;
//   display: inline-block;
// }

// .carousel-items .item img, .carousel-items .item video {
//   width: 100%;
//   height: auto;
// }

// .carousel-items .item .image, .carousel-items .item .video {
//   font-size: 60px;
//   color: #fff;
//   position: relative;
//   top: 120px;
//   left: 100px;
//   display: block;
// }

// .carousel-items .item .duration {
//   // color: #fff;
//   // position: relative;
//   // left: 220px;
//   // top: 150px;
// }

// .carousel-container .options {
//   text-align: center;
// }

// .carousel-container .left-btn, .carousel-container .right-btn {
//   display: inline-block;
// }

// .carousel-container button, .carousel-container button {
//   font-size: 18px;
//   background-color: transparent;
//   // padding: 0;
//   color: #888;
//   border: none;
//   cursor: pointer;
// }

// .carousel-container .left-btn {
//   margin-right: 5px;
// }

// .carousel-container .right-btn {
  
// }

// .carousel-items img.clicked, .carousel-items video.clicked {
//   opacity: 0.8;
// }

// /*** css nuevo ***/


// ::ng-deep app-assetcarousel {
//     width: 100%;
//     float: left;
//     position: relative;
// }

// .flech-cotd .left-btn {
//     position: absolute;
//     left: 0;
//      transform: translateY(-50%);
//     top: 50%;
// }


// .flech-cotd .right-btn {
//     position: absolute;
//     right: 0;
//     top: 50%;
//      transform: translateY(-50%);
// }


// .carruc-varios .ng-star-inserted .item {
//     width: 100% !important;
//     float: left;
//     height: 100% !important;
//     margin: 0 !important;
//     position: relative !important;
// }


// .carruc-varios .carcuc-cont {
//     width: 33.33%;
//     float: left;
//     padding: 0 1%;
// }


// .carruc-varios .ng-star-inserted .video {
//     top: 50% !important;
//     left: 50% !important;
//     position: absolute;
//     transform: translateY(-65%) translateX(-50%) scale(0.5);
//         width: auto;
//     height: auto;
// }


// .flec-drech {
//     position: relative;
//     left: -7px;
// }

// .carousel-container{
// // overflow-y: auto !important;
// //     overflow-x:hidden;
  
// }

/*EstilosCartelera*/
.carousel-container{
    margin-left:50px;
    margin-right:50px;
}

.cell {
    position: relative;
}

.media {
    position: absolute;
    width: 100%;
    height: 100%;
}

.actions {
    position: absolute;
    right: 0px;
}

.name {
    background-color:rgba($color: #fff, $alpha: 0.2);
    color: #fff;
    position: absolute;
    bottom: 0px;
    width: 100%;
    padding: 0px 6px 6px 6px;
}

label {
    font-family: PoppinsBold;
    font-size: 12px;
}

span {
    font-family: PoppinsLight;
    font-size: 12px;
    line-height: 12px;
}

.actions .mat-icon {
    color: #ffffff;
}

.preview {
    width: 100%;
    height: 100%;
}

.preview .mat-icon {
    line-height: 64px;
    height: 64px;
    width: 64px;
    font-size: 64px;
    color: #ffffff;
}

button {
    margin: 0 auto;
}