<div *ngIf="(content)" class="content" fxLayout="row">
    <div fxFlex="200px" fxLayoutAlign="start center" class="image"><img [src]="content.thumbnail_url" [alt]="content.name" width="100%" height="auto"></div>
    <div fxFlex fxLayout="column" class="data">
        <div fxLayout="row">
            <div fxFlex>
                <h3>{{content.idcontent}} - {{content.name}}</h3>
            </div>
            <div >
                <mat-icon *ngIf="is_play" class="big" color="accent">play_circle_outline</mat-icon>
                <mat-icon *ngIf="is_power" class="big" [matTooltip]="'COMPONENTS.content.element.mat_tooltip.outtime' | translate" [ngStyle]="{'color':'#f5c2c7'}">alarm_off</mat-icon>
            </div>
        </div>
        
        <div class="date">{{ 'COMPONENTS.content.element.from' | translate }} {{content.date_on|date:"dd-MM-yyyy"}} &nbsp;&nbsp;&nbsp; {{ 'COMPONENTS.content.element.to' | translate }} {{content.date_off|date:"dd-MM-yyyy"}}</div>
        <div *ngIf="(content.category)" fxFlex fxLayout="row" fxLayoutAlign="start center">
            <img [src]="content.category.image_url" [alt]="content.category.name" width="auto" height="32">
            <label fxFlex>{{content.category.name}}</label>
        </div>
    </div>
</div>