.content {
    margin-bottom: 10px;
    background-color: rgba(240, 240, 240, 1);
}

.data {
    padding: 10px 10px;
}

.image {
    background-color: #000;
}

h3 {
    margin-bottom: 0px;
    font-size: 13px;
    font-weight: bolder;
}

.date {
    font-size: 10px;
}

label {
    font-size: 12px;
    padding-left: 8px;
}

.big{
    transform: scale(1.1);
    padding: 5px;
}