.menu-container{
    width:100%;
    height:calc(100vh - 300px);
    display:block;
    background:#fff;
    overflow: auto;
    margin-right:2rem;
    .menu-element{
        width:100%;
        border-bottom:solid 1px #ccc;
        cursor:pointer;
        margin:0;
        padding:1rem;
        p{
            margin:0;
        }
        &:hover{
            background:#eee;
        }
    }
}
.form-container{
    width:80%;
    height:fit-content;
    padding:2rem;
}
.back{
    cursor:pointer;
    margin-top:1rem;
    margin-left:1rem;
    transform: scaleY(-1);
    &:hover{
        opacity:0.5;
    }
}
.margin-top-10{
    margin-top:1rem;
}
.titleMenu{
    font-size:1rem;
    color:#666;
    padding-left:1rem;
    padding-top:1rem;
    padding-bottom:0.5rem;
    border-bottom:solid 2px #000;
}
.delete{
    color:#000;
    &:hover{
        color:#fff;
        background:#666;
    }
}
