<div class="container">
    <div fxLayout="row" fxLayoutGap="10px">
        <div fxFlex="20">
            <div class="menu-container">
                <p class="titleMenu" *ngIf="title">{{ title }}</p>
                <div *ngFor="let key of keys" class="menu-element" fxLayout="row">
                    <p fxFlex="90" fxLayoutAlign="start center" (click)="showTranslations(key)">{{ key }}</p>
                    <span fxFlex="10" fxLayoutAlign="center center" class="delete" (click)="delete(key)"> - </span>
                </div>
                <p *ngIf="title" class="back" (click)="back()"><mat-icon>undo</mat-icon></p>
            </div>
            <button class="margin-top-10" mat-raised-button color="accent" (click)="newTranslation()" mat-button>{{ 'Nueva traducción' | translate }}</button>
        </div>
        <div class="form-container" fxFlex="80" *ngIf="key || newKey">
            <h3 *ngIf="key">{{ 'Traducciones para' | translate }} <b>{{ key }}</b></h3>
            <h3 *ngIf="!key">{{ 'Nueva traducción' | translate }}:</h3>
            <form-field-text *ngIf="newKey" [fieldData]="fieldDataKey" [formGroup]="formGroup"></form-field-text>
            <form-field-text [fieldData]="fieldDataEs" [formGroup]="formGroup"></form-field-text>
            <form-field-text [fieldData]="fieldDataEn" [formGroup]="formGroup"></form-field-text>
            <form-field-text [fieldData]="fieldDataFr" [formGroup]="formGroup"></form-field-text>
            <form-field-text [fieldData]="fieldDataIt" [formGroup]="formGroup"></form-field-text>
            <button mat-raised-button color="accent" (click)="saveTranslation()" mat-button>{{ 'Guardar' | translate }}</button>         
        </div>
    </div>
</div>