<div *ngIf="!loaded">Cargando...</div>

<div fxLayout="column" class="form-container" style="width: 100%; height:100%" *ngIf="me && !me.customer">
    <customer-select [selected]="customerSelect" [customersToSelect]="customersToSelect"
        (onSelected)="customerSelected($event)"></customer-select>
</div>

<form class="custom-form" (keydown.enter)="$event.preventDefault()" *ngIf="!hide && loaded">
    <div fxLayout="row">
        <div fxLayout="column" fxFlex *ngIf="!load">
            <h1 class="title">
                {{ "CONTENT.list.title" | translate }} {{ id ? id : null }}
            </h1>
        </div>
        <div class="loading" *ngIf="load">
            <mat-spinner diameter="80" strokeWidth="5" color="accent"></mat-spinner>
        </div>
        <div fxLayout="column" align="end">
            <button *ngIf="id" mat-icon-button [routerLink]="['/private/content/list']"
                matTooltip="{{ 'Volver' | translate }}">
                <mat-icon>west</mat-icon>
            </button>
        </div>
    </div>

    <div class="emission-dates-container">
        <div class="disable-layer" *ngIf="showContentCreate && !isEditing" [style.width]="'120%'"></div>
        <h4>{{ 'Fechas de emisión' | translate }}</h4><br>
        <div class="dates-container" fxFlex="100">
            <div fxFlex="30" *ngFor="let date of dates;let i = index" fxLayoutGap="20px"
                fxLayoutAlign="start center space-between">
                <content-select-dates [date]="date" [position]='i' fxFlex="80" (onDateChange)="datesChanged($event)">
                </content-select-dates>
                <button fxFlex="10" mat-icon-button color="warn" (click)="deleteDate(i)" *ngIf="i !== 0"
                    class="add-date">
                    <mat-icon>delete</mat-icon>
                </button>
                <button fxFlex="10" *ngIf="i === dates.length - 1 && dates.length < 4" mat-icon-button color="success"
                    (click)="addDate()" class="add-date">
                    <mat-icon>add_circle</mat-icon>
                </button>
            </div>
        </div>
    </div>
    <div class="circuits-selection-container">
        <div class="selector circuits-selection" [style.height]="isUser ? 0 : null">
            <div class="disable-layer" *ngIf="showContentCreate && !isEditing"></div>
            <playcircuit-selector [playcircuitsSelected]="selectedCircuits"
                (playcircuitsSelectedChange)="playcircuitChanged($event)" [sitesSelected]="selectedSites"
                (sitesSelectedChange)="sitesChanged($event)" (idcircuit)="userCircuits($event)">
            </playcircuit-selector>
        </div>
        <site-data *ngIf="isUser" [item]="all_sites[0]"></site-data>
        <div id="nav-actions" *ngIf="(dateChecked && !hideButton && !isEditing && selectedCircuits.length > 0)">
            <a mat-raised-button color="accent" (click)="onContentNavigate()" mat-button>{{ "FORMS.buttons.new_content"
                | translate }}</a>
        </div>

        <div class="areas-selection-container"
            *ngIf="(showContentCreate && (selectedCircuits.length > 0) && hideButton) || isEditing && contents.length > 0">
            <playarea-selection [disabled]="disabled" [filtered]="idareas_filtered" [recomendations]="recomendation"
                [selected]="selectedAreas" (onChange)="onSelectedAreasChange($event)">
            </playarea-selection>

            <type-message [selected]="updateSelected" (onChange)="changeType($event)" [filters]="types"></type-message>
            <!--     <format-multiselect broadcasting="1" [selected]="format" (onChange)="changeFormat($event)">
            </format-multiselect><br> -->
        </div>

        <content-form-data
            *ngIf="(showContentCreate && (selectedCircuits.length > 0) && hideButton) || isEditing && contents.length > 0"
            [sites]="sites_filtered" [content]="contents[contentIndex]" [isEditing]="isEditing"
            (onChangedForm)='changedForm($event)' (onChangedDates)='changedDates($event)'
            (onChangedTags)="changedTags($event)" (onChangedProducts)="changedProducts($event)"
            (onChangedPowers)="changedPowers($event)">
        </content-form-data>


        <div fxLayout="column" style="background-color: white; padding: 3%;"
            *ngIf="((showContentCreate && (selectedCircuits.length > 0) && hideButton) || isEditing && contents.length > 0 ) && showTxt">
            <calculate-people (chargeCSV)="chargeCSV($event)" [tags]="tags"></calculate-people>
            <div fxLayout="row" fxFlex="100" fxLayoutGap="25px">
                <div fxLayout="column" fxFlex="50">
                    <mat-label color="primary">{{ 'select_date' | translate }} *</mat-label>
                    <mat-form-field apparence="outline">
                        <input matInput [(ngModel)]="datetime" name="datetime" [matDatepicker]="picker" [min]="today">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker panelClass="example-month-picker">
                        </mat-datepicker>
                    </mat-form-field>
                </div>

                <div fxLayout="column" fxFlex="50">
                    <mat-label color="primary">{{ 'hours' | translate }} *</mat-label>
                    <mat-form-field appearance="outline">
                        <input matInput type="time" [(ngModel)]="houres" name="houres" min="00:00" max="24:00">
                    </mat-form-field>
                </div>
            </div>

            <mat-accordion>
                <mat-expansion-panel hideToggle>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            MENSAJES
                        </mat-panel-title>
                        <mat-panel-description>
                            Escriba los texto de los mensajes
                        </mat-panel-description>
                    </mat-expansion-panel-header>

                </mat-expansion-panel>

                <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false"
                    [expanded]="dis[index]" *ngFor="let lang of langs; let index = index">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <div fxLayout="row" fxLayoutAlign="space-between center" fxFlexFill>
                                <span>{{lang.lang[0].name}}</span>
                                <mat-icon color="accent" *ngIf="!dis[index]">check_circle</mat-icon>
                                <mat-icon color="warn" *ngIf="dis[index]">not_interested</mat-icon>
                            </div>

                        </mat-panel-title>
                        <mat-panel-description>
                            <div fxLayout="row" fxLayoutAlign="space-around center" fxFlexFill>
                                <span>Pulse para abrir el panel {{panelOpenState ? 'open' : 'closed'}}</span>
                            </div>
                        </mat-panel-description>
                    </mat-expansion-panel-header>

                    <mat-checkbox class="example-margin" (change)="dis[index] = !dis[index]; disableLang(lang.idlang)">
                        No utilizar!
                    </mat-checkbox>

                    <msg-text-containers (messages)="getMessage($event)" style="background-color: white;"
                        [email]="email" *ngIf="!dis[index]" [idlang]="lang.idlang" [sms]="sms" [id]="id"
                        [whatsapp]="whatsapp">
                    </msg-text-containers>

                </mat-expansion-panel>
            </mat-accordion>
            <div style="margin-top: 3%;"></div>
            <mat-card>
                <mat-card-title>Listado de mensajes</mat-card-title>
                <mat-card-subtitle>Enviados</mat-card-subtitle>
                <mat-card-content>
                    <list-message></list-message>
                </mat-card-content>
            </mat-card>


        </div>







        <content-assets-manager
            *ngIf="(showContentCreate && (selectedCircuits.length > 0 && selectedAreas.length > 0 && contents.length > 0) && hideButton) || isEditing"
            [maxSize]="me.customer.max_file_size" [playcircuits]="selectedCircuits" [contents]="contents"
            [contentIndex]="contentIndex" [selectedAreas]="selectedAreas" [isEditing]="isEditing"
            [savedContents]="savedContents" (onSelectedAssetsChange)="selectedAssetsChanged($event)"
            (onCreateNewContent)="createNewContent($event)" (onSelectContent)="selectContentIndex($event)">
        </content-assets-manager>

        <div class="btones-guardar" *ngIf="showContentCreate || isEditing">
            <button class="mat-raised-button mat-accent" (click)="saveAllContents()" [disabled]="disableSubmit">{{
                (isEditing ? 'FORMS.buttons.update' : 'FORMS.buttons.new_circuit') | translate }}</button>
            <a class="mat-raised-button mat-accent" (click)="deleteItemsStore()" *ngIf="!isEditing">{{ 'Cancelar' |
                translate }}</a>
            <a class="mat-raised-button mat-accent" [routerLink]="['/private/content/list']" *ngIf="isEditing">{{
                'FORMS.buttons.back' | translate }}</a>
        </div>

    </div>
</form>