<div class='container loading' *ngIf="load">
    <mat-spinner diameter="80" strokeWidth="5" color='accent'></mat-spinner>
</div>

<div *ngIf="!load">
    
    <div fxLayout="row" fxLayoutFill fxLayoutGap="25px" class="block_container">

        <div class="block  block__1 link" fxLayout="row" fxLayoutAlign="space-between center" fxFlex="25" [routerLink]="['../' ,3]">
    
            <mat-icon class="block_icon">grid_on</mat-icon>
    
            <div fxLayout="column">
                <span class="block_number">{{ all }}</span>
                <span>Total tickets</span>
            </div>
        </div>
    
        <div class="block  block__2 link" fxLayout="row" fxLayoutAlign="space-between center" fxFlex="25" [routerLink]="['../' ,0]">
    
            <mat-icon class="block_icon">build</mat-icon>
    
            <div fxLayout="column"  >
                <span class="block_number">{{ open }}</span>
                <span>Tickets abiertos</span>
            </div>
        </div>
    
        <div class="block  block__3 link" fxLayout="row" fxLayoutAlign="space-between center" fxFlex="25" [routerLink]="['../' ,1]">
    
            <mat-icon class="block_icon">thumb_up</mat-icon>
    
            <div fxLayout="column"  >
                <span class="block_number">{{ close }}</span>
                <span>Tickets cerrados</span>
            </div>
        </div>
    
        <div class="block block__4 link" fxLayout="row" fxLayoutAlign="space-between center" fxFlex="25" [routerLink]="['../' ,2]">
    
            <mat-icon class="block_icon">chat_bubble_outline</mat-icon>
    
            <div fxLayout="column">
                <span class="block_number">{{ this.commemts_not_read }}</span>
                <span>Comentarios no leidos</span>
            </div>
        </div>
    
    </div>
    
    <h1>Incidencias {{ title }}</h1>
    <div fxLayoutFill class="separation"></div>
    
    <div class="actions" fxLayound="row">
        <div fxFlex="50">
            <button mat-raised-button color="accent" [routerLink]="['/private/ticket/create']" mat-button><span
                    matTooltip="{{ 'FORMS.buttons.tooltip_no_permisions' | translate }}"
                    [matTooltipDisabled]="new">{{ 'FORMS.buttons.new' | translate }}</span></button>
            <button mat-raised-button color="accent" (click)="update()" mat-button><span
                    matTooltip="{{ 'FORMS.buttons.tooltip_no_permisions' | translate }}"
                    [matTooltipDisabled]="edit">{{ 'FORMS.buttons.edit' | translate }}</span></button>
            <button mat-raised-button color="accent" (click)="delete()" mat-button><span
                    matTooltip="{{ 'FORMS.buttons.tooltip_no_permisions' | translate }}"
                    [matTooltipDisabled]="deleted">{{ 'Archivar' | translate }}</span></button>
        </div>
    </div>
    
    <mat-form-field appearance="outline">
        <mat-label>Filtro</mat-label>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Escriba un criterio">
    </mat-form-field>
    
    <div class="mat-elevation-z8">
    
        <table mat-table matSort [dataSource]="dataSource">
    
            <ng-container matColumnDef="select">
                <th mat-header-cell *matHeaderCellDef>
                    <mat-checkbox (change)="masterToggle($event)" 
                                  [checked]="selection.hasValue() && isAllSelected()"
                                  [indeterminate]="selection.hasValue() && !isAllSelected()" 
                                  [aria-label]="checkboxLabel()">
                    </mat-checkbox>
                </th>
                <td mat-cell *matCellDef="let row">
                    <mat-checkbox [value]="row.id" 
                                  (click)="$event.stopPropagation()"
                                  (change)="$event ? selection.toggle(row) : null" 
                                  [checked]="selection.isSelected(row)" 
                                  [aria-label]="checkboxLabel(row)" #table>
                    </mat-checkbox>
                </td>
            </ng-container>
    
            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Id </th>
                <td mat-cell *matCellDef="let element"> {{ element.id }} </td>
            </ng-container>
    
            <ng-container matColumnDef="titulo">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Titulo </th>
                <td mat-cell *matCellDef="let element">
                    <a [routerLink]="['/private/ticket/create', element.id]">{{ element.titulo }}</a>
                </td>
            </ng-container>
    
            <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
                <td mat-cell *matCellDef="let element"> {{ element.status }} </td>
            </ng-container>
    
            <ng-container matColumnDef="responsible">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Responsible </th>
                <td mat-cell *matCellDef="let element"> {{ element.responsible }} </td>
            </ng-container>
    
            <ng-container matColumnDef="site">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Site </th>
                <td mat-cell *matCellDef="let element"> {{ element.site }} </td>
            </ng-container>
    
            <ng-container matColumnDef="priority">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Priority </th>
                <td mat-cell *matCellDef="let element"><span class="alert_color" [ngStyle]="{ 'border-left': '7px solid' + element.priority_color }" >{{ element.priority }}</span></td>
            </ng-container>
    
            <ng-container matColumnDef="category">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Category </th>
                <td mat-cell *matCellDef="let element"> {{ element.category }} </td>
            </ng-container>
    
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"
                (click)="selection.toggle(row)">
            </tr>
        </table>
    
        <mat-paginator [pageSizeOptions]="[50, 100, 200]" showFirstLastButtons></mat-paginator>
    
    </div>

</div>
