<div class="cart-carousel-container" appDrag (files)="filesDropped($event, lang, format)">
    <h3 *ngIf="name" flexLayout="row" fxLayoutAlign="start">
        <strong fxLayoutAlign="start center">{{name}}</strong> 
        <img fxLayoutAlign="start center" [matTooltip]="'ASSETS.group.matTooltip' | translate" matTooltipPosition="above" src="assets/img/icons/draganddrop.png">
    </h3>
    <div fxLayout="row" fxLayoutAlign="space-between center">
        <h3 *ngIf="lang && format" flexLayout="row" fxLayoutAlign="start">
            <strong fxLayoutAlign="start center">{{format.name}} | {{lang.name}}</strong> 
            <img fxLayoutAlign="start center" src="assets/img/icons/draganddrop.png" [matTooltip]="'ASSETS.group.matTooltip' | translate" matTooltipPosition="above">
        </h3>
        <button *ngIf="format && lang" mat-button class="gridLinkStyle" [routerLink]="['/private/asset/list/'+format.idformat+'/'+lang.idlang]"><mat-icon>apps</mat-icon></button>
    </div>
    <div class="carousel" fxLayout="center center">
        <div class="prev" fxFlex="5" (click)="prev($event)"></div>
        <div fxFlex="90" class="carousel-container" #carouselContainer>
            <div class="assets-container" #carouselWrapper>
                <ng-container *ngFor="let asset of assetsToShow; let currentIndex = index;">
                    <div class="carousel-cell" #carouselCell>
                        <asset-slide 
                            [asset]="asset" 
                            [canSelect]="canSelect" 
                            (onUpdated)="onUpdated($event)" 
                            (onDeleted)="onDeleted($event)" 
                            (onClick)="onClick($event)">
                        </asset-slide>
                    </div>
                </ng-container>
            </div>
        </div>
        <div class="next" fxFlex="5" (click)="next($event)"></div>
    </div>
</div>
