carousel {
    margin-bottom: 40px;
    margin-left: 60px;
    margin-right: 60px;
    width: calc(100% - 120px);
}

p {
    font-family: Lato;
  }
  .dropzone {
    min-height: 400px;
    min-width: 400px;
    display: table;
    width: 100%;
    background-color: #eee;
    border: dotted 1px #aaa;
  }
  
  .text-wrapper {
    display: table-cell;
    vertical-align: middle;
  }
  
  .centered {
    font-family: sans-serif;
    font-size: 1.3em;
    font-weight: bold;
    text-align:center;
  }

h3{
  img{
    height:50px;
    margin-left:0.5rem;
    cursor:pointer;
  }
}

.cart-carousel-container{
  min-height:200px;
  display:block;
}

.carousel{
  width:100%;
  overflow: hidden;
  height:120px;
}
.assets-container{
  width: max-content;
  position:absolute;
  left:0;
}
.carousel-cell{
  float:left;
}
asset-slide{
  width: 200px;
  height: 120px;
  display: block;
  margin:0 5px;
}
.carousel-container{
  overflow: hidden;
  width:100%;
  position:relative;
}
.prev, .next{
  opacity:0.7;
  &:hover{
    opacity:1;
  }
}
.prev::after, .next::after{
  font-size:2rem;
  width:50px;
  height:50px;
  border-radius: 25px;
  background:#fff;
  display:block;
  margin:0 auto;
  position:relative;
  top:35px;
  text-align: center;
  line-height:50px;
  cursor:pointer;
  color:#666;
}
.prev::after{
  content:"<";
}
.next::after{
  content:">";
}

.gridLinkStyle{
  margin-right:4rem;
}