<mat-card>
    <mat-card-header>
        <mat-card-title>{{ 'CAMERA.detail.genre_hour' | translate }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <linear-chart 
            [data]="genderHourLineChartData" 
            [labels]="genderHourLineChartLabels" 
            [loading]="load" 
            [aspectRatio]="aspectRatio" 
            [height]="height">
        </linear-chart>
    </mat-card-content>
</mat-card>

