<div class="container">
  <h1 mat-dialog-title>{{title | translate }}</h1>
  <mat-dialog-content >
    <ng-container class="sellc-cont"  *ngFor="let holiday of holidays; let i = index">
      <div fxLayout="row">
        <mat-form-field appearance="fill" fxLayout="column">
          <mat-label>{{ 'FORMS.fields.change_date' | translate }}</mat-label>
          <input matInput [matDatepicker]="picker"  [value]="holiday.date">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker color="primary"></mat-datepicker>            
        </mat-form-field> 
        <button mat-icon-button fxLayout="column" (click)="delete(i)">
          <mat-icon>delete</mat-icon>  
        </button>
      </div>             
    </ng-container>
    <ng-container class="sellc-cont">
      <mat-form-field appearance="fill">
        <mat-label>{{ 'FORMS.fields.choose_date' | translate }}</mat-label>
        <input matInput [matDatepicker]="picker"  [formControl]="date" (dateChange)="dateChange($event)">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker color="primary"></mat-datepicker>
      </mat-form-field>
    </ng-container>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close class="mat-raised-button" (click)="close()">{{ 'FORMS.buttons.cancel' | translate }}</button>
    <div fxLayout="column" fxFlex="20px"></div>
    <button mat-button class="mat-raised-button mat-accent" (click)="save()" cdkFocusInitial>{{ 'FORMS.buttons.save' | translate }}</button>  
  </mat-dialog-actions>
</div>
