mat-dialog-actions{
  margin-bottom: 12px;
}

.mat-accent{
  color: white!important;
}

button{
  font-weight: bold;
  border-radius: 10px;
}

.black{
  color: black !important;
}

.right{
  float: right;
}

#content-powers-table {
  width: 100%;
}

#content-powers-table, #content-powers-table th, #content-powers-table td {
  border: solid 1px #aaa;
  border-collapse: collapse
}

#content-powers-table td.daytime {
  cursor: pointer;
  color: #fff
}

#content-powers-table td.selected {
  background-color: #f64747;
  color: #f64747
}

/******* css nuevo ***/

.sellc-cont {
    width: 100%;
    float: left;
    display: block !important;
}

.slec-dis {
    width: 100%;
    display: table !important;
}


.labl-selc {
    width: 100%;
    float: left;
    font-size: 14px;
    color: #ACAFA8;
    margin-bottom: 6px;
}

@media screen and (max-width: 320px) {
  button{
    font-size: 0.8em;
  }
}

a{
  width: 100%;
}

hr {
  width: 100%;
}

fieldset {
  border: 2px solid #ddd;
  color: #888;
}
/******/


