<div fxLayout="column">
    <div fxLayout="column" fxFlex>
        <h1>Ticket Dashboard</h1>
        <mat-divider></mat-divider>
    </div>

    <div fxLayout="column" fxLayoutFill>
        <ticket-table [dataTickets]="dataTickets"></ticket-table>
    </div>

    <div fxLayout="column">

        <h2>Estadísticas</h2>
        <mat-divider></mat-divider>

        <form [formGroup]="filterForm" (ngSubmit)="onSubmit()">

                <div fxLayout="row">
                    <div fxFlex="50" fxLayoutAlign="space-around center" fxLayoutGap="2%">

                        <mat-form-field appearance="outline">
                            <mat-label>Rango de Fechas</mat-label>
                            <mat-date-range-input [rangePicker]="picker">
                                <input matStartDate placeholder="Fecha Inicio" formControlName="start">
                                <input matEndDate placeholder="Fecha Fin" formControlName="end">
                            </mat-date-range-input>
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-date-range-picker #picker></mat-date-range-picker>
                            
                            <!-- <mat-error *ngIf="filterForm.range.controls.start.hasError('matStartDateInvalid')">Invalid start date</mat-error>
                            <mat-error *ngIf="filterForm.range.controls.end.hasError('matEndDateInvalid')">Invalid end date</mat-error> -->
                        </mat-form-field>
                        
                        <mat-form-field appearance="outline">
                            <mat-label>Seleccione Cliente</mat-label>
                            <mat-select name="customers" formControlName="customer">
                                <mat-option value="Todos">Todos</mat-option>
                                <mat-option *ngFor="let customer of dataByCustomers" [value]="customer.name">
                                    {{ customer.name }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>

                    </div>
                    <div fxFlex="15" fxLayoutAlign="space-around center" fxLayoutGap="2%">
                        
                        <button mat-raised-button color="accent" type="submit">Filtrar</button>
                        <button mat-raised-button color="primary" style="margin-left: 25px;" (click)="onCleanFilter()">Limpiar Filtro</button>

                    </div>
                </div>
                 
        </form>

    </div>

    <div fxLayout="column" fxLayoutFill>

        <div fxLayout="row" fxLayoutAlign="space-between start" style="padding-top: 10px;">
            <div fxFlex="50">
                <ticket-chart-bar [tickets]="dataMaping"></ticket-chart-bar>
            </div>
            <div fxFlex="50" fxFlexOffset="3">
                <mat-tab-group>
                    <mat-tab label="Ránking por Categorías"> 
                        <ticket-list columnKey="categoria" [dataList]="dataListCategories"></ticket-list>
                    </mat-tab>
                    <mat-tab label="Ránking por Centros">
                        <ticket-list columnKey="centro" [dataList]="dataListSites"></ticket-list>
                    </mat-tab>
                </mat-tab-group>
            </div>
        </div>

        <div fxLayout="row" fxLayoutAlign="space-between start" style="padding-top: 10px;">
            <div fxFlex="50">
                <ticket-chart-pie title="Incidencias por Cliente" [dataPie]="dataPieCustomer"></ticket-chart-pie>
            </div>
            <div fxFlex="50" fxFlexOffset="3">
                <ticket-chart-pie title="Incidencias por Pais" [dataPie]="dataPieCountry"></ticket-chart-pie>
            </div>
        </div>

        <div fxLayout="row" fxLayoutAlign="space-between start" style="padding-top: 20px;">
            <div fxFlex="50">
                <ticket-chart-pie title="Incidencias por Responsable" [dataPie]="dataPieResponsible"></ticket-chart-pie>
            </div>
        </div>

        <h2>Resolución de Incidencias Según SLA's</h2>
        <mat-divider></mat-divider>
        <div fxLayout="row" fxLayoutAlign="space-between start" style="padding-top: 10px;">
            <div fxFlex="50">
                <ticket-chart-bar-vertical [tickets]="dataChartPriorities"></ticket-chart-bar-vertical>
            </div>
        </div>
        
    </div>

</div>