<mat-card>
  <mat-card-header>
    <mat-card-title>{{ 'Centros seleccionados:' | translate }} {{ sites.length }}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <dashboard-mapa-tiendas [tiendas]="sites" [height]="'19vw'"></dashboard-mapa-tiendas>
    <mat-grid-list cols="6" rowHeight="2:1" [gutterSize]="'1rem'">
      <mat-grid-tile colspan="5">
        <div class="button">
          <button mat-raised-button color="accent" (click)="sendSitesToNewCircuit()" [disabled]="this.sites.length === 0">{{ 'Grabar centros' | translate }}</button> 
        </div>
      </mat-grid-tile>
      <mat-grid-tile colspan="1">
        <div class="button" [style.textAlign]="'right'">
          <button mat-raised-button color="accent" (click)="cleanSites()">{{ 'Limpiar' | translate }}</button> 
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-card-content>
</mat-card>