<mat-card>
  <mat-card-header>
    <div mat-card-avatar>
        <mat-icon aria-hidden="false" aria-label="Cámara">{{ 'COMPONENTS.dashboard.camera_player.title' | translate }}</mat-icon>
    </div>
    <mat-card-title>
      <mat-form-field appearance="outline">
        <mat-select [(ngModel)]="camera" (selectionChange)="changeCamera($event.value)">
          <mat-option *ngFor="let cam of cameras.get()" [value]="cam">{{cam.email}}</mat-option>
        </mat-select>
      </mat-form-field>
    </mat-card-title>
  </mat-card-header>
<mat-card-content>
  <div fxLayout="row">
      <div *ngIf="streaming == 1" fxFlex><camera-streaming *ngIf="(email)" [email]="!config.demo ? email : 'icreative@ladorian.com'"></camera-streaming></div>
      <div *ngIf="streaming == 2" fxFlex><camera-streaming-flv *ngIf="(email)" [email]="!config.demo ? email : 'icreative@ladorian.com'"></camera-streaming-flv></div>
      <!-- <div *ngIf="hls == 2" fxFlex><camera-streaming-hls *ngIf="(email)" [email]="!config.demo ? email : 'icreative@ladorian.com'"></camera-streaming-hls></div> -->           
    <div class="data-container">
      <p fxLayout="row"><img src="assets/img/icons/dashboard/hombre.png" fxLayoutAlign="start center"> <span fxLayoutAlign="start center">{{ 'Hombres' | translate }}: {{ hombres }}</span></p>
      <p fxLayout="row"><img src="assets/img/icons/dashboard/mujeres.png" fxLayoutAlign="start center"> <span fxLayoutAlign="start center">{{ 'Mujeres' | translate }}: {{ mujeres }}</span></p>
    </div>
  </div>
</mat-card-content>
</mat-card>