:host-context{
  .mat-icon{
    transform:scale(2);
    margin-top:0.5rem;
    margin-left:0.5rem;
    color:#9A9A9A;
  }
  .mat-card-title{
    color:#9A9A9A;
    font-size:1rem;
  }
  
  .spacer {
    flex: 1 1 auto;
  }
  
  .mat-toolbar {
   /*  color: #ffffff; */
    position: fixed;
    top:0;
    z-index: 2;
    /* background-color: #26b7ca; */
    height: 128px;
  }
  
  .menu-button {
    transition: 300ms ease-in-out;
    transform: rotate(0deg);
  }
  .menu-button.rotated {
    transform: rotate(180deg);
  }
  
  .mat-expansion-panel{
    box-shadow: none;
    padding-left: 0px;
    background-color: initial;
  }
  .mat-card-content{
    height:calc(100% - 50px);
  }
  iframe{
    border:none;
    overflow:hidden;
    height:100%;
  }
  iframe html{
    overflow:hidden;
  }
  .sidenav {
    position: fixed;
    top: 128px;
    padding-left: 10px;
    height: 100%;
   /*  background-color: #222830 ; */
    width: 240px;
  }
  
  .menu{
    font-size: 10px;
    line-height: 1.5;
    letter-spacing: 0.6px;
    text-align: left;
  /*   color: #26c7db; */
  }
  
  .submenu{
    font-size: 14px;
    line-height: 1.13;
    text-align: left;
   /*  color: rgba(255, 255, 255, 0.33); */
  
  }
  
  .mat-expansion-panel-header {
    height: auto!important; 
  }
  
  .mat-drawer-side {
    border: none;
  }
  
  span{
    padding-left: 20px;
    text-transform: uppercase;
  
  }
  
  a{
    font-size:16px;
  }
  
  .ico{
    width: 18px;
    height: 14px;
    padding-top:4px;
  }
  
  xng-breadcrumb{
    position: absolute;
    top: 125px;
    width: 100%;
    height: 88px;
    background-color: #212e35; 
    
  }
  
  .mat-card-header .mat-card-title{
    margin-bottom:0;
    line-height: 2.5rem;
    font-size:1.2rem;
  }
  
  .mat-card-content p{
    text-align: right;
    margin-top:0.5rem;
    font-size: 1rem;
  }
  
  .mat-card-actions{
    text-align:right;
  }
  .mat-card-actions button{
    color:#8BD85B;
  }
  
  .mat-card-image{
    height:100%; 
    width:auto;
    margin: auto;
    display:block;
    margin-top:0.03rem!important;
  }
  .mat-card-header{
    margin-bottom:0.5rem;
  }
  @media (max-width: 599px){
  
    .mat-toolbar-row, .mat-toolbar-single-row {
        height: 64px;
    }
  
  }
  
  .data-container{
    p{
      img{
        height:initial;
      }
      font-size: 1.5rem;
      text-align: left;
    }
  }
  
  ::ng-deep .mat-card-header-text {
    width: 100%;
  }
}