.mat-card{
    padding-bottom:2rem;
    margin-bottom:2rem;
}
table{
    margin-top:2rem;
}
th{padding:10px;border: 1pt solid black; background-color:grey;color:white;}
tr {
border: 1px solid black;
}
td {
padding:10px;
border: 1pt solid black;

}
.circulo {
    margin:auto;
     width: 50px;
     height: 50px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
  
}
.fa-star{
    margin-left: 10px;
    color: orange;
    font-size: 2rem;;
}

.star-white{
    color:white;
}
.spinner-container{
    text-align: center;
    margin: 1rem auto;
    width: fit-content;
}