<mat-card>
    <mat-card-header>
      <mat-card-title>{{ 'RECOMENDACIONES.asociaciones.title' | translate }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
    <fieldset>
      <div class="fieldsetContainer">
        <form-field-select [fieldData]="fieldDataCategory" [formGroup]="formGroup" [isLoading]="loadingCategories" (onChangeField)="changeCategory($event)"></form-field-select>
      </div>
    </fieldset>
    <div class="spinner-container" *ngIf="loadingAssociated">
        <mat-spinner diameter="50"  color="accent"></mat-spinner>
    </div>
    <table style="border:1px solid black;margin-left:auto;margin-right:auto;" *ngIf="associations.length > 0 && !loadingAssociated">
        <tr>
            <th style="text-align:center">{{ 'RECOMENDACIONES.asociaciones.table.categories' | translate }}</th>
            <th style="text-align:center">{{ 'RECOMENDACIONES.asociaciones.table.also_bought' | translate }}</th>
            <th style="text-align:center">{{ 'RECOMENDACIONES.asociaciones.table.together' | translate }}</th>
        </tr>
        <ng-container *ngFor="let uvalor of associations">
            <tr class="tr" style="display: table-row;" *ngIf="uvalor.procon > 2">
                <td>
                    <i class="fa fa-star  star-white" aria-hidden="true"></i>
                    <span class="mazcatsele" [data-customer]="uvalor.customer_id" [data-code]="uvalor.category_code">{{ uvalor.name }}</span></td>
                <td style="padding:5px;text-align:center;">{{ uvalor.procon | numbersp }}%</td>
                <td>
                    <div>
                        <mat-icon class="fa fa-star" *ngIf="uvalor.impacto >= 0.9">star_rate</mat-icon>
                        <mat-icon class="fa fa-star" *ngIf="uvalor.impacto >= 1.1">star_rate</mat-icon>
                        <mat-icon class="fa fa-star" *ngIf="uvalor.impacto >= 1.5">star_rate</mat-icon>
                    </div>
                </td>
            </tr>
        </ng-container>
    </table>
    </mat-card-content>
  </mat-card>