<mat-card>
  <mat-card-header>
    <mat-card-title>{{ 'Obtención de Datos en el Algoritmo Prime Time' | translate }}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
  <fieldset>
    <div class="fieldsetContainer">
      <form-field-upload [fieldData]="fieldDataFile" [formGroup]="formGroup" class="filefield" (onChangeField)="onChangeFile($event)" [disabled]="isLoading ? 'disabled' : null"></form-field-upload>
      <form-field-select [fieldData]="fieldDataCategory" [formGroup]="formGroup" [isLoading]="loadingCategories" [disabled]="isLoading ? 'disabled' : null"></form-field-select>
      <button mat-raised-button color="accent" [disabled]="loading || formGroup.invalid" (click)="getData()">{{ 'Resultados' | translate }}</button>
    </div>
  </fieldset>
  <div class="spinner-container" *ngIf="isLoading">
    <mat-spinner diameter="50"  color="accent"></mat-spinner>
  </div>
  </mat-card-content>
  <result-test-primetime 
    [data]="data" 
    [cat_data]="cat_data" 
    [site_data]="site_data" 
    [category]="category" 
    [isPainting]="isPainting" 
    [sites]="sites" 
    [categories]="categories" 
    (onLoaded)="removeSpinner($event)"
    >
  </result-test-primetime>
</mat-card>