.content {
    background: #fff;
    padding: 20px 20px;
}

::ng-deep .mat-tab-body-content {
    height: 100%;
    overflow: hidden !important;
    min-height: 630px;
    display: block;
    width: 100%;
}

.mat-form-field {
    width: 50%;
}

.icon-display {
   transform: scale(2);
}

.chip-style {
    padding: 100%;
    background-color: #64ca26;
}
