<customer-select></customer-select>
<div class="content" fxLayout="column" fxLayoutGap="25px">
    <!-- ORDENAR -->
    <div fxLayout="row">
        <div fxLayout="column">
            <form-field-date-time-hour-picker [fieldData]="fieldDataPrevious" [formGroup]="formGroup"
                (onChangeField)="onChangeDate($event)"></form-field-date-time-hour-picker>
        </div>
        <div fxLayout="column" fxFlex=80>
        </div>
    </div>
    <div fxLayout="row">
        <div fxLayout="column" fxFlex>
            <h3>{{ 'PLAYLOGICS.edit.order_by' | translate }}</h3>
        </div>
    </div>
    <mat-tab-group animationDuration="0ms" #tabGroup>
        <mat-tab [label]="'PLAYLOGICS.edit.label.playarea' | translate" *ngIf="!isUser">
            <br />
            <playlogics-area [date]="d" (onChange)="onChangeArea($event)"></playlogics-area>
        </mat-tab>
        <mat-tab [label]="'PLAYLOGICS.edit.label.player' | translate">
            <br />
            <playlogics-player [date]="d"></playlogics-player>
        </mat-tab>
    </mat-tab-group>
</div>