<div class="container">
  <h1 mat-dialog-title>{{title | translate}}</h1>
  <mat-dialog-content>
    <div *ngIf="load" fxLayout="row" fxLayoutAlign="space-around center" style="height:100%">
      <mat-spinner diameter = "50" strokeWidth = "5"></mat-spinner>
    </div>
    <div *ngIf="!load" fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="0.5rem">
      <form-field-text fxFlex="50" [fieldData]="fieldName" [formGroup]="formGroup"></form-field-text>
      <form-field-text fxFlex="50" [fieldData]="fieldCode" [formGroup]="formGroup"></form-field-text> 
    </div>
  </mat-dialog-content>
  <mat-dialog-actions fxLayout="row" fxLayoutAlign="space-between center" fxFlexFill *ngIf="!load">
    <button class="mat-raised-button black" (click)="close()">{{ 'FORMS.buttons.cancel' | translate }}</button>
    <button class="mat-raised-button mat-accent" (click)="save()" cdkFocusInitial>{{ 'FORMS.buttons.save' | translate }}</button>
  </mat-dialog-actions>
</div>


