<div class='container loading' *ngIf="load" > 
    <mat-spinner diameter = "80" strokeWidth = "5" color='accent'></mat-spinner>
  </div>
  
  <div  *ngIf="!load" >
    <h1 class="title">{{ 'category' | translate }}</h1>        
  

    <div *ngIf="permission" class='container'>
      <div class="actions" fxLayound="row" style="margin-bottom: 3%">
        <div fxFlex="50" fxLayoutGap="25px">
          <button mat-raised-button color="accent"  (click)="create()" mat-button><span matTooltip="{{ 'FORMS.buttons.tooltip_no_permisions' | translate }}" [matTooltipDisabled]="new">{{ 'FORMS.buttons.new' | translate }}</span></button>         
          <button mat-raised-button color="accent"  (click)="update()" mat-button><span matTooltip="{{ 'FORMS.buttons.tooltip_no_permisions' | translate }}" [matTooltipDisabled]="edit">{{ 'FORMS.buttons.edit' | translate }}</span></button>
          <button mat-raised-button color="accent"  (click)="delete()" mat-button><span matTooltip="{{ 'FORMS.buttons.tooltip_no_permisions' | translate }}" [matTooltipDisabled]="deleted">{{ 'FORMS.buttons.delete' | translate }}</span></button>
        </div>
        <div fxFlex="50">
         
        </div>
      </div>

      <div *ngIf = "!dataSource" fxLayout = "row" fxLayoutAlign = "space-around center" style = "height:100%">
          <mat-spinner diameter = "50" strokeWidth = "5"></mat-spinner>
      </div>   

      <mat-table *ngIf = "dataSource" [dataSource] = "dataSource"  matSort (matSortChange)="sortData($event)">
        <ng-container matColumnDef="select">
          <th mat-header-cell *matHeaderCellDef>
            <mat-checkbox (change)="masterToggle($event)"
                          [checked]="selection.hasValue() && isAllSelected()"
                          [indeterminate]="selection.hasValue() && !isAllSelected()"
                          [aria-label]="checkboxLabel()">
            </mat-checkbox>
          </th>
          <td mat-cell *matCellDef="let row">
            <mat-checkbox [value]="row.id"
                          (click)="$event.stopPropagation()"
                          (change)="$event ? selection.toggle(row) : null"
                          [checked]="selection.isSelected(row)"
                          [aria-label]="checkboxLabel(row)"
                          #table>
            </mat-checkbox>
          </td>
        </ng-container>
  
        <ng-container matColumnDef = "id">
            <mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'SITE.list.id' | translate }} </mat-header-cell>
            <mat-cell class = "first" *matCellDef = "let row" >
              <a class = "second"><strong>{{ row.id }}</strong></a>
            </mat-cell>
          </ng-container>
    
          <ng-container matColumnDef = "name">
            <mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'SITE.list.name' | translate }} </mat-header-cell>
            <mat-cell  *matCellDef = "let row">    <span class = "second">{{row.name}}</span> </mat-cell>
          </ng-container>   
  
          <ng-container matColumnDef = "email">
              <mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'SITE.list.email' | translate }} </mat-header-cell>
              <mat-cell  *matCellDef = "let row">    <span class = "second">{{row.email}}</span> </mat-cell>
          </ng-container>  
          
          <ng-container matColumnDef= "department" >
              <mat-header-cell *matHeaderCellDef  mat-sort-header> {{ 'department' | translate }}       </mat-header-cell>
              <mat-cell  *matCellDef = "let row">    <span class = "second">{{row.department.name}}</span> </mat-cell>         
          </ng-container>  
  


      
       <mat-header-row  *matHeaderRowDef = "displayedColumns"></mat-header-row>
        <mat-row *matRowDef = "let row; columns: displayedColumns;" ></mat-row>
      </mat-table>
     
    </div>
   <mat-paginator paginator [hidden] = "load" showFirstLastButtons></mat-paginator>
  </div>
  
  
  
  
  