<div fxLayout="row" fxLayoutAlign="space-around center">
  <div *ngIf="fieldData.options.length === 0">
    <mat-spinner diameter="20" color="accent"></mat-spinner>
  </div>
  <div [formGroup]="formGroup">
    <mat-label>{{ fieldData.label | translate }}</mat-label>
    <mat-selection-list 
          matNativeControl 
          formControlName="{{fieldData.name}}" 
          (selectionChange)="onChange()" 
          [multiple]="fieldData.multiple"
          [required]="fieldData.required"
          [disabled]="fieldData.options.length === 0">
      <mat-list-option *ngFor="let option of fieldData.options" [value]="option.value">
        {{option.name | translate}}
      </mat-list-option>
    </mat-selection-list>
  </div>
</div>
