<h1 mat-dialog-title>{{title | translate }}</h1>
<mat-dialog-content>
  <form class="custom-form" [formGroup]="form" enctype="multipart/form-data">         
        <mat-label color="primary">{{ 'FORMS.fields.name' | translate }}* </mat-label><br>        
        <mat-form-field  appearance="outline">          
          <input matInput type="text"  formControlName="nameTemplate" value="" required />
        </mat-form-field> 
   </form>

</mat-dialog-content>

<mat-dialog-actions fxLayout="row" fxFlexFill>
  <div fxFlex="50">
    <button class="mat-raised-button black" (click)="close()">{{ 'FORMS.buttons.cancel' | translate }}</button>
  </div>

  <div fxFlex="50">
    <button class="mat-raised-button" (click)="save()">{{ 'FORMS.buttons.save' | translate }}</button>
  </div>
 
</mat-dialog-actions>

