<div class="cincu-conte">
    <div class="con-circuits">
        <div class="list-circui">
            <div class="nombr-cicui">
                {{playcircuit.name}}
            </div>
            <div class="cincu-imgen">
                <ng-template #image>
                    <img [src]="playcircuit.image_url" alt="" width="52px">
                </ng-template>
                <div fxLayout="row">
                    <button *ngIf="editPlaycircuit" mat-icon-button mat-button (click)="update(playcircuit.idcircuit)"><mat-icon>edit</mat-icon></button>
                    <button *ngIf="deletedPlaycircuit" mat-icon-button mat-button (click)="delete(playcircuit.idcircuit)"><mat-icon>delete</mat-icon></button>
                </div>
            </div>

        </div>
    </div>
</div>
