<div class='container'>
    <flow-form (onSubmittedForm)="submitForm($event)"></flow-form>
    <flow-result-ladorian *ngIf="submitted && me.customer.influxes_type === 'Ladorian Básico'" [data]="data" [cameras]="cameras" (onBackToForm)="backToForm($event)"></flow-result-ladorian>
    <flow-result-beethedata *ngIf="submitted && me.customer.influxes_type === 'Ladorian Bee The Data'" [data]="data" [cameras]="cameras" (onBackToForm)="backToForm($event)"></flow-result-beethedata>
</div>
