<mat-card>
  <mat-card-header>
    <mat-card-title>{{ 'Obtención de Datos socio-económicos' | translate }}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
  <fieldset>
    <div class="fieldsetContainer">
      <form-field-upload [fieldData]="fieldDataFile" [formGroup]="formGroup" class="filefield"></form-field-upload>
      <form-field-text [fieldData]="fieldDataRadius" [formGroup]="formGroup"></form-field-text>
      <button mat-raised-button color="accent" [disabled]="loading || formGroup.invalid" (click)="getData()">{{ 'Resultados' | translate }}</button>
    </div>
  </fieldset>
  <div class="spinner-container" *ngIf="isLoading">
    <mat-spinner diameter="50"  color="accent"></mat-spinner>
  </div>
  </mat-card-content>
</mat-card>