<mat-card>
    <mat-card-header>
        <mat-card-title>{{ 'CAMERA.detail.type_hour' | translate }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <linear-chart [data]="typeHourLineChartData" [labels]="typeHourLineChartLabels" [loading]="load" [aspectRatio]="aspectRatio" [height]="height"></linear-chart>
    </mat-card-content>
</mat-card>

