<mat-card>
  <mat-card-content>
    <div mat-card-avatar>
      <mat-icon aria-hidden="false" aria-label="'Emisiones de éste mes' | translate">preview</mat-icon>
    </div>
    <p class="title"><a [routerLink]="['/private/emisiones/emisiones']">{{ "DASHBOARD.emissions" | translate }}</a><br>{{ "en el mes:" | translate  }}</p>
    <p *ngIf="!load">{{ emissions }}</p>
    <div class="spinner-container" *ngIf="load">
      <mat-spinner diameter="40"  color="accent"></mat-spinner>
    </div>
  </mat-card-content>
</mat-card>
