<h2 mat-dialog-title *ngIf="!is_send">{{ 'LOGIN.title_recovery' | translate }}</h2>
<h2 mat-dialog-title *ngIf="is_send">{{ 'Servicio de recuperación de contraseña' | translate }}</h2>
<mat-dialog-content class="mat-typography" *ngIf="!is_send">
    <form id="form" class="custom-form" [formGroup]="form">  
    <mat-label color="primary">{{ 'FORMS.fields.email' | translate }}* </mat-label><br>
      <mat-form-field  appearance="outline">
        <input matInput type="text" formControlName="email" value=""/>
        <mat-error *ngIf="email.hasError('email')">{{ 'FORMS.errors.wrong_email' | translate }}</mat-error>
        <mat-error *ngIf="email.hasError('required')">{{ 'FORMS.errors.email_required' | translate }}</mat-error>
    </mat-form-field>  
    <mat-error *ngIf="is_error">{{ 'LOGIN.recovery_error' | translate }}</mat-error>
    <mat-error *ngIf="is_error_email">{{ 'LOGIN.recovery_error_email' | translate }}</mat-error>
    </form>
</mat-dialog-content>
<mat-dialog-content class="mat-typography" *ngIf="is_send">
    <span *ngIf="is_send">{{ 'LOGIN.recovery_send' | translate }}</span>
</mat-dialog-content>
<mat-dialog-actions align="end" *ngIf="!is_send">
    <button mat-button mat-dialog-close>{{ 'FORMS.buttons.cancel' | translate }}</button>
    <button mat-button (click)="send()">{{ 'FORMS.buttons.accept' | translate }}</button>
</mat-dialog-actions>
<mat-dialog-actions align="end" *ngIf="is_send">
    <button mat-flat-button mat-dialog-close color="accent">{{ 'FORMS.buttons.accept' | translate }}</button>
</mat-dialog-actions>