<div fxLayout="row">
    <div fxFlex>
        <div fxLayout="row">
            <site-select fxFlex (onChange)="changeSite($event)" [selected]="site"></site-select>
            <div fxFlex="20px"></div>
            <player-select fxFlex [site]="site" (onChange)="changePlayer($event)"></player-select>
        </div>
        <br>
    </div>
    <div fxFlex="20px"></div>
    <div fxFlex>
        <ng-container *ngIf="(player)">
            <player-viewer 
                *ngIf="show" 
                [date]="date" 
                [email]="player.email" 
                [width]="player.area.format.width" 
                [height]="player.area.format.height"
                [emittingContent]="emittingContent"
            ></player-viewer>
            <br>
            <player-text [date]="date" [email]="player.email"></player-text>
        </ng-container>
    </div>
</div>