<div class="container">
  <h1 mat-dialog-title>{{title | translate}}</h1>
  <mat-dialog-content>
    <div fxLayout="column">
      <div fxFill>
        <img src="assets/img/icons/circuitos.png" width="250px">
          <ng-container *ngFor="let c of rastroSeleccion">
            <p class="rastro" *ngIf="!c.provinces">{{ c.country }}</p>
            <ng-container *ngIf="c.provinces && c.provinces.length > 0">
              <ng-container *ngFor="let p of c.provinces; let j = index">
                <p class="rastro">{{ c.country }} <span>-></span> {{ p.province }} <span *ngIf="(j < c.provinces.length - 1 || (p.cities && p.cities.length > 0))">-></span> <span class="bold" *ngFor="let ci of p.cities;let i = index">{{ ci.city }} {{ i < p.cities.length - 1 ? ', ' : null }}</span></p>
              </ng-container>
            </ng-container>
            <hr>
          </ng-container>
      </div>
    </div>
    <div fxLayout="column" fxFlex="20px"></div>
    <div fxLayout="column">
      <div class="slec-dis loctin-sele" fxLayout="row">
        <fieldset>
          <legend> {{ 'Centros' | translate }} </legend>
        <div class="sellc-cont">
          <mat-form-field appearance="fill">
            <mat-label>{{ 'Centros' | translate }}</mat-label>
            <mat-select [formControl]="site" #select multiple>
              <div class="select-all">
                <mat-checkbox class="black" [(ngModel)]="allSelected"
                                [ngModelOptions]="{standalone: true}"
                                (change)="toggleAllSelection()">{{ 'Seleccionar todo' | translate }}</mat-checkbox>
              </div>
              <!-- <mat-option disabled>{{ 'FORMS.placeholder.select' | translate }}</mat-option> -->
              <input class = "search" [placeholder] ="'Buscar' | translate"  #text>
              <mat-option *ngFor="let site of selectedSites" (click)="optionClick()"  [class.hide]="text.value !== '' && !classHide(site.name, text.value)" [value]="site.idsite">{{site.name}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        </fieldset>
      </div>
      <br>
      <br>
      <fieldset>
      <legend> {{ 'Ubicación Geográfica' | translate }} </legend>
      <div class="slec-dis loctin-sele" fxLayout="row">
        <label class="labl-selc">{{ 'FORMS.fields.country' |translate }}</label>
        <div class="sellc-cont">
          <mat-form-field appearance="fill">
            <mat-label>{{ 'FORMS.fields.country' | translate }}</mat-label>
            <mat-select [formControl]="country" (selectionChange)="selectionCountries()" multiple [disabled]="countries.length === 0">
              <mat-option disabled>{{ 'FORMS.placeholder.select' | translate }}</mat-option>
              <mat-option *ngFor="let country of countries" [value]="country.idcountry">{{country.name}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>

      <div class="slec-dis loctin-sele" fxLayout="row">
        <label class="labl-selc">{{ 'FORMS.fields.provinces' | translate }}</label>
        <div class="sellc-cont">
          <mat-form-field appearance="fill">
            <mat-label>{{ 'FORMS.fields.provinces' | translate }}</mat-label>
            <mat-select [formControl]="province" (selectionChange)="selectionProvinces()" multiple [disabled]="provinces.length === 0 || disabledProvince">
              <mat-option disabled>{{ 'FORMS.placeholder.select' | translate }}</mat-option>
              <mat-option *ngFor="let province of provinces" [value]="province.idprovince">{{province.name}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div> 

      <div class="slec-dis loctin-sele" fxLayout="row">
        <label class="labl-selc">{{ 'FORMS.fields.city' | translate }}</label>
        <div class="sellc-cont">
          <mat-form-field appearance="fill">
            <mat-label>{{ 'FORMS.fields.city' | translate }}</mat-label>
            <mat-select [formControl]="city" (selectionChange)="selectionCities()" multiple [disabled]="cities.length === 0 || disabledCity">
              <mat-option disabled>{{ 'FORMS.placeholder.select' | translate }}</mat-option>
              <mat-option *ngFor="let city of cities" [value]="city.idcity">{{city.name}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </fieldset>
    <br />

    </div>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close class="mat-raised-button" (click)="close()">{{ 'FORMS.buttons.cancel' | translate }}</button>
    <div fxLayout="column" fxFlex="20px"></div>
    <button mat-button class="mat-raised-button mat-accent" (click)="save()" cdkFocusInitial>{{ 'FORMS.buttons.save' | translate }}</button>  
  </mat-dialog-actions>
</div>
