<div class="cincu-conte">
    <div class="con-circuits">
        <div class="list-circui">
            <div fxLayout="row" class="nombr-cicui">
                <div fxLayoutAlign="start center">
                    <img [src]="contentcategory.image_url" alt="" width="18px">
                </div>
                <div fxLayout="column" fxFlex>
                    <span>{{contentcategory.name}}</span>
                    <span>{{contentcategory.duration != null?contentcategory.duration:0}} {{ 'COMPONENTS.contents_category.element.sec' | translate }}</span>
                </div>
            </div>
            <div class="cincu-imgen">                
                <div fxLayout="row">
                    <button *ngIf="editContentcategory" mat-icon-button mat-button (click)="update(contentcategory.idcategory)"><mat-icon>edit</mat-icon></button>
                    <button *ngIf="deletedContentcategory" mat-icon-button mat-button (click)="delete(contentcategory.idcategory)"><mat-icon>delete</mat-icon></button>
                </div>
            </div>
        </div>
    </div>
</div>
