<div class="selections-section" fxLayout="row">
    <div class="cajas-abjo" id="asset-selection-container" [fxFlex]="flexIzda">
        <div class="item-container">
            <div fxLayout="row">
                <div fxFlex="20">
                    <h3 style="line-height:85px;margin-bottom:0">{{ 'FORMS.fields.creativities' | translate }}</h3>
                </div>
                <div class="creativity-actions" fxFlex="80" fxLayout="row">
                    <div fxLayoutAlign="start center">
                        <button mat-raised-button color="accent" (click)="openNewForm(3)">{{ 'Nueva URL' | translate }}</button>
                        <button mat-raised-button color="accent" (click)="openNewTemplate()">{{ 'Nueva plantilla' | translate }}</button>
                        <ng-container *ngIf='landingpages.length>0'>
                            <button mat-raised-button color="accent" [matMenuTriggerFor]="menu" #menuTrigger>{{ 'Nuevo Widget' | translate }}</button>
                            <mat-menu #menu >
                                <ng-container *ngFor="let landingpage of landingpages">
                                    <button mat-menu-item (click)="openDialogLandingpage(landingpage)">
                                        <img [src]="landingpage.thumbnail_url" width="20px" height="20px"/>
                                        <span class='landingpage_text'>{{landingpage.name}}</span>
                                    </button>
                                </ng-container>
                            </mat-menu>
                        </ng-container>
                    </div>
                    <button *ngIf="!isEditing" mat-fab color="accent" aria-label="Crear nuevo contenido" (click)="createNewContent()" >
                        <mat-icon class="add-content">add</mat-icon>
                    </button>
                </div>
            </div>
            
            <div class="contents-carrusel">
                <content-contents-carousel 
                    [contentIndex]="contentIndex"
                    [contents]='contents' 
                    [formatsLangs]="formatsLangs"
                    [displayed]="displayed"
                    (onSelectContent)="selectContent($event)"
                    (onFileDropped)="OnFileDropped($event)"
                    >
                </content-contents-carousel>
            </div>
        </div>
    </div>
    <div id="asset-manager-container" [fxFlex]="flexDcha" #assetsList>
        <div fxLayout="row">
            <h3 fxLayout="row" fxLayoutAlign="start center" fxFlex="25">
                <button mat-mini-fab color="accent" (click)="toggleAssetsList()" fxShow="true" [style.marginRight]="'1rem'" [style.marginLeft]="'0'">
                    <mat-icon>menu</mat-icon>
                </button> 
                {{ 'FORMS.fields.assets' | translate }}
            </h3>
            <div fxLayoutAlign="space-between center" fxFlex="50" *ngIf="displayed">
                <mat-form-field appearance="outline">
                    <input matInput #assetFilter type="text" [placeholder]="'Búsqueda de contenido' | translate" [(ngModel)]="filterName" [ngModelOptions]="{standalone: true}" (keyup)="proccessData(assetFilter.value)"/>
                </mat-form-field>
            </div>
        </div>
        <div *ngIf="selectedAreas.length == 0" class="no-content">
            <p>{{ 'FORMS.errors.no_areas' | translate }}</p>
        </div>
        <ng-template [ngIf]="selectedAreas.length > 0 && !loadingAssets && displayed">
            <div class="asset-groups-container">
                <ng-container *ngFor="let group of groups">
                    <asset-group [lang]="group.lang" [format]="group.format" [assets]="group.assets" [name]="group.name" [sliderWith]="sliderWith" [slidesToShow]="slidesToShow" (onChange)="onChangeAsset($event)" (onFileDropped)="OnFileDropped($event)" (onClickAsset)="onClickAsset($event)"></asset-group>
                </ng-container>
            </div>
        </ng-template>
    </div>
</div>