<ng-container *ngIf="me">
  <mat-toolbar color = "accent">
    <div fxLayout="column" fxFlex="260px">
      <div fxFlex class="logoLadorian">
        <img src="assets/img/logo.png" height="40" />
      </div>
      <button mat-icon-button (click)="sidenav.toggle()" fxShow="true">
        <mat-icon>menu</mat-icon>
        {{ app }} {{version}}
      </button>  
    </div>
    <div fxLayout="column" fxFlex>
      <div fxFlex="78px" class="logoCliente">
        <a *ngIf="config.demo && me.customer && me.customer.gaid" href="{{ me.customer.gaid }}" target="_blank">
          <img *ngIf="me.customer && me.customer.image_url" src={{me.customer.image_url}} [alt]="me.customer.name" height="60"/>
        </a>
        <img *ngIf="me.customer && me.customer.image_url && (!config.demo || config.demo && !me.customer.gaid)" src={{me.customer.image_url}} [alt]="me.customer.name" height="60"/>
      </div>
      <div fxFlex="36px" fxLayout="row">
        <div fxFlex>{{ 'COMMON.hello' | translate:me }}</div>
        <div class="content-message">
          <ng-container *ngIf="messages && messages.length > 0;">
            <div class="count-messages" (click)="toggleShow()"><mat-icon class="tilted" style="color:#000; font-size: 30px;" role="img" [matBadge]="messages.length">announcement</mat-icon></div>
            
            <div *ngIf="isShown">
              <div *ngFor="let msg of messages; index as i">
                <div class="message-box">
                  <div class="title-message" *ngIf="msg.customer; else not_customer">Mensaje #{{ i + 1 }} - {{ msg.customer.name }}</div>
                  <ng-template #not_customer><div class="title-message">Mensaje #{{ i + 1 }} - TODOS</div></ng-template>
                  <div class="subtitle-message" [innerHTML]="msg.message"></div>
                </div>
              </div>
            </div>
          </ng-container>
        </div>
        <button mat-button (click)="logout()">
          <mat-icon>exit_to_app</mat-icon>{{ 'Salir' | translate }}
        </button>
      </div>
    </div>
  </mat-toolbar> 
  <mat-sidenav-container class="example-container">
    <mat-sidenav color = 'primary' #sidenav class="sidenav" mode="side" opened="true">
      <div fxFlex fxLayout="column">
        <div fxFlex><menu></menu></div>
        <div style="padding: 0 20px 0 0;" *ngIf="(me.iduser === 14 && !config.demo)">
          <p style="padding-left: 0.5rem; color: rgba(0, 0, 0, 0.6);">Powered by:</p>
          <img style="padding-left: 5px;" src="assets/img/bee-the-data.png" width="80%" height="auto" />
          <br /><br />
        </div>
      </div>
    </mat-sidenav>
    <mat-sidenav-content> 
      <div fxLayout="row" fxLayoutAlign="start center" class="bread-container">
        <xng-breadcrumb fxFlex separator=">">             
          <ng-container *xngBreadcrumbItem="let breadcrumb; let info = info; let first = first" > 
            <ng-container>{{breadcrumb | translate | titlecase}}</ng-container> 
          </ng-container>     
        </xng-breadcrumb>
        <div class="bread-data">
          <p>{{ 'COMMON.centers_count' | translate }}<span>{{ navbar.sites }}</span></p> 
          <p *ngIf="me && me.customer && me.customer.has_emissions">{{ 'COMMON.players_count' | translate }}<span>{{ navbar.players }}</span></p>  
          <p *ngIf="me && me.customer && me.customer.has_influxes">{{ 'COMMON.cameras_count' | translate }}<span> {{ navbar.cameras }}</span></p>
        </div>
      </div>
      <div style="height: 60px;"></div>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</ng-container>