
  
/* Absolute Center Spinner */
.loading-indicator {
    position: fixed;
    z-index: 999;
    height: 2em;
    width: 2em;
    overflow: show;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
  
  /* Transparent Overlay */
  .loading-indicator:before {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.3);
  }

  .remove_tag {
      text-align: end;
      color: red;
      cursor: pointer;
  }

  .container_text {
      height: 338px;
      margin-top: 25px;
      margin-bottom: 25px;

      textarea {
          height: 338px;
      }
  }

  .chip_container {
      padding: 2%;
  }

 