<div fxLayout="row">
    <div fxLayout="column" fxFlex>
        <h1 class="title">{{ "messages" | translate }}</h1>
    </div>

    <div fxLayout="column" align="end">
        <button mat-icon-button [routerLink]="['/private/mensaje/list']" matTooltip="{{ 'Volver' | translate }}">
            <mat-icon>west</mat-icon>
        </button>
    </div>
</div>

<form [formGroup]="form" (ngSubmit)="create()">

    <div fxLayout="column" class="form-container" fxFlexFill>


        <div fxLayout="row" fxFlex="100" fxLayoutGap="25px">
            <div fxLayout="column" fxFlex="50">
                <mat-label color="primary">{{ 'select_date' | translate }} *</mat-label>
                    <mat-form-field apparence="outline">
                        <input matInput  formControlName="datetime" [matDatepicker]="picker" [min]="today">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker 
                        #picker 
                        panelClass="example-month-picker">
                    </mat-datepicker>
                </mat-form-field>
            </div>

            <div fxLayout="column" fxFlex="50">
                <mat-label color="primary">{{ 'hours' | translate }} *</mat-label>
                <mat-form-field appearance="outline">
                    <input matInput type="time"  formControlName="hours"   min="00:00" max="24:00">
                </mat-form-field>
            </div>
       </div> 
        <div fxLayout="column" fxFlex="100">
            <mat-label color="primary">{{ 'subject' | translate }} </mat-label><br>
            <mat-form-field  class="mat-form-field" appearance="outline">
                <input matInput type="text" placeholder="{{ 'subject' |translate }}" formControlName="subject"  />
            </mat-form-field>
        </div>


        <div fxLayout="column" fxFlex="100" *ngIf="!id">
            <mat-label color="primary">{{ 'type' | translate }} </mat-label><br>
            <ng-container *ngIf="pass">
                <type-message (onChange)="changeType($event)" [filters]="types"></type-message>
            </ng-container  >
        </div>

          
              
                  
        <div fxLayout="row" fxFlex="100" fxLayoutGap="25px" fxLayoutAlign="space-beetwen center" class="container_text">
           

            <div fxLayout="column" fxFlex="33" *ngIf="(email) || (!email && format == 1)">
                <mat-label color="primary">{{ 'email' | translate }} </mat-label>
                <ckeditor [editor]="Editor" (change)="onChange($event)" 
                     [(ngModel)]="sHtml"
                  
                     [ngModelOptions]="{standalone: true}">
                </ckeditor>

                <div fxLayout="column" fxFlex="33"> 
                    <mat-label  color="primary">Tags</mat-label>
                        <a class="link" mat-raised-button color="accent" 
                            (click)="openDialogTags('email')" mat-button>{{ "Editar tags" | translate }}
                        </a>
                </div>
          

                <div class="chip_container">
                    <mat-chip-list #chipList >
                        <mat-chip *ngFor="let tag of tags.email" >
                            <div fxLayout="row" fxLayoutGap="5px">
                                <span >{{ tag.categoryName }} - {{ tag.name }}</span> 
                                <span (click)="removeTag(tag, 'email')" class="remove_tag">X</span>
                            </div>   
                        </mat-chip>
                    </mat-chip-list>
                </div>
            </div>

            <div fxLayout="column" fxFlex="33"  *ngIf="(sms) ||  (!sms && format == 2)">
                <mat-label color="primary">{{ 'sms' | translate }} </mat-label>

                <textarea   (change)="setBody($event, 'sms')" >{{body}}</textarea>


                <div fxLayout="column" fxFlex="33"> 
                    <mat-label  color="primary">Tags</mat-label>
                        <a class="link" mat-raised-button color="accent" 
                        (click)="openDialogTags('sms')" mat-button>{{ "Editar tags" | translate }}
                        </a>
                </div>
                 
                <div class="chip_container">
                    <mat-chip-list #chipList >
                        <mat-chip *ngFor="let tag of tags.sms" >
                            <div fxLayout="row" fxLayoutGap="5px">
                                <span >{{ tag.categoryName }} - {{ tag.name }}</span> 
                                <span (click)="removeTag(tag, 'sms')" class="remove_tag">X</span>
                            </div>   
                        </mat-chip>
                    </mat-chip-list>
                </div>
            
              
            </div>

            <div fxLayout="column" fxFlex="33"  *ngIf="(whatsapp) || (!whatsapp && format == 3)">

                <button mat-raised-button color="accent"  (click)="openDialogTemplate()" >Add template</button>

                <mat-nav-list>
                    <mat-list-item *ngFor="let template of templates; let i = index" #template (click)="setTemplate(i)">
                       <span matLine>{{template.name_template}}</span>

                     
                    <button (click)="removeTemplate(template.idtemplate)" mat-icon-button color="warn" style="background-color: white;">
                        <mat-icon>clear</mat-icon>
                     </button>
                    </mat-list-item>

                  </mat-nav-list>

   



                    <div fxLayout="column" fxFlex="33"> 
                        <mat-label  color="primary">Tags</mat-label>
                            <a class="link" mat-raised-button color="accent" 
                            (click)="openDialogTags('whatsapp', 'whatsapp')" mat-button>{{ "Editar tags" | translate }}
                            </a>
                    </div>

                    <div class="chip_container">
                        <mat-chip-list #chipList >
                            <mat-chip *ngFor="let tag of tags.whatsapp" >
                                <div fxLayout="row" fxLayoutGap="5px">
                                    <span >{{ tag.categoryName }} - {{ tag.name }}</span> 
                                    <span (click)="removeTag(tag)" class="remove_tag">X</span>
                                </div>   
                            </mat-chip>
                        </mat-chip-list>
                    </div>
               
            </div>

        </div>           
           
              
      



        

       
         

        
        <div fxLayout fxLayoutGap="20px" fxLayoutAlign="end center">
            <button type="button" class="mat-raised-button mat-accent"
                [routerLink]="['/private/mensaje/list']">{{'cancel' | translate }}</button>
            <button *ngIf="!id" type="submit" class="mat-raised-button mat-accent">{{ 'create' | translate }}</button>
            <button *ngIf="id" type="submit" class="mat-raised-button mat-accent">{{ 'update' | translate }}</button>
        </div>

    </div>
</form>



<div class="loading-indicator" *ngIf="loading">
    <mat-spinner ></mat-spinner>
</div>

    
    

