<div fxLayout="row">
  <div fxLayout="column" fxFlex> 
    <h1 class="title">{{ 'USER.list.title' | translate }}</h1>  
  </div>
  <div fxLayout="column" align="end">  
    <button mat-icon-button [routerLink]="['/private/users']" matTooltip="{{'Volver' | translate}}"><mat-icon>west</mat-icon></button>
  </div>
</div> 


<div class="form-background" fxLayout="column"> 

  <form   [formGroup]="form" autocomplete="off">   

   
   <div fxLayout="row" fxLayoutAlign="center space-between" fxLayoutGap="33px">

       <div fxLayout="column" fxFlex="25">

          <mat-label color="primary">{{ 'FORMS.fields.username' | translate }}* </mat-label><br>        
          <mat-form-field  appearance="outline">          
            <input matInput type="text"  formControlName="name" value="" required />
          </mat-form-field> 
    
          <mat-label color="primary">{{ 'FORMS.fields.email' | translate }}* </mat-label><br>
          <mat-form-field  appearance="outline">
            <input  matInput type="email"  formControlName="email" value=""/>
          </mat-form-field> 
        
        
              <mat-label  color="primary">{{ 'FORMS.fields.password' | translate }}* </mat-label><br>
                 <mat-form-field  appearance="outline">
                    <input  matInput type="password"  formControlName="password" value=""/>
                 </mat-form-field> 
         
        
        </div> 

         

  

       <div fxLayout="column" fxFlex="25">

        <mat-label color="primary">{{ 'FORMS.fields.role' | translate }}* </mat-label><br>
          <mat-form-field  appearance="outline" >
            <mat-select formControlName="role" (selectionChange)="typeRole($event)">
              <mat-option *ngFor="let role of roles" value={{role.name}}>{{role.name}}</mat-option>
            </mat-select>          
          </mat-form-field>

          <customer-select  [idcustomer]="idcustomer" apparence="true" customersToSelect="true" (onSelected)="chargeSelect($event)"></customer-select>
          <ng-container *ngIf="showSite"> 
            <select-sites  [idsite]="site"   customersToSelect="true" (onChange)="setSite($event)"></select-sites>
          </ng-container> 
    
      </div>

      <div fxLayout="column" fxFlex="25" *ngIf="showBipaCategories ">  

        <mat-label  color="primary">{{ 'bipa_category' | translate }} </mat-label><br>
          <mat-form-field  appearance="outline">
            <mat-select formControlName="idcategories" multiple>
              <mat-option *ngFor="let category of categories" value='{{category.idcategory}}' >{{category.name}}</mat-option>
            </mat-select>          
          </mat-form-field> 

        <mat-label  color="primary">{{ 'Circuitos de reproducción' | translate }} </mat-label><br>
          <mat-form-field  appearance="outline">
            <mat-select formControlName="idcircuits" multiple>
              <mat-option *ngFor="let circuit of circuits" value='{{circuit.idcircuit}}' >{{circuit.name}}</mat-option>
            </mat-select>          
          </mat-form-field> 
     </div> 

  </div> 

   

      <div fxLayout fxLayoutAlign="center space-between" fxLayoutGap="20px">
        <div class="spinner-container" *ngIf="loading">
            <mat-spinner diameter="24"  color="accent"></mat-spinner>
        </div>
        <button  type="button" mat-button  class="mat-raised-button" (click)="close()">{{  'FORMS.buttons.cancel' | translate }} </button>  
        <button  mat-raised-button *ngIf="!iduser" color="accent" [disabled]="loading" (click)="create()">{{ 'FORMS.buttons.new' | translate }}</button>
        <button  mat-raised-button *ngIf="iduser" color="accent" [disabled]="loading" (click)="create()">{{ 'FORMS.buttons.edit' | translate }}</button>
      </div>
 </form>
</div>


