.table-fw {
    width: 100%;
}

.actions {
    padding-bottom: 10px;
}

.actions button{
    margin-right: 5px;
    width: 100px;
}


.block_container {
    padding: 2%;
}

.block {
    border: 1px solid #d6d6d4;
    padding: 2%;

    &__1 {
        background-color: yellow;
    }
    
    &__2 {
        background-color: cornflowerblue;  
    }

    &__3 {
        background-color: darkolivegreen;
    }
    
    &__4 {
        background-color: hotpink;
    }
}

.block_icon {
    transform: scale(2);
} 

.block_number {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.link {
    cursor: pointer;
}