<h2>Incidencias {{ title }}</h2>

<div fxLayout="row" fxLayoutFill fxLayoutGap="25px" class="block_container">

    <div class="block  block__1 link" fxLayout="row" fxLayoutAlign="space-between center" fxFlex="25" (click)="updateAll()">

        <mat-icon class="block_icon">grid_on</mat-icon>

        <div fxLayout="column">
            <span class="block_number">{{ all }}</span>
            <span>Total tickets</span>
        </div>
    </div>

    <div class="block  block__2 link" fxLayout="row" fxLayoutAlign="space-between center" fxFlex="25" (click)="updateOpen()">

        <mat-icon class="block_icon">build</mat-icon>

        <div fxLayout="column"  >
            <span class="block_number">{{ open }}</span>
            <span>Tickets abiertos</span>
        </div>
    </div>

    <div class="block  block__3 link" fxLayout="row" fxLayoutAlign="space-between center" fxFlex="25" (click)="updateClosed()">

        <mat-icon class="block_icon">thumb_up</mat-icon>

        <div fxLayout="column"  >
            <span class="block_number">{{ close }}</span>
            <span>Tickets cerrados</span>
        </div>
    </div>

    <div class="block block__4 link" fxLayout="row" fxLayoutAlign="space-between center" fxFlex="25" (click)="updateNotRead()">

        <mat-icon class="block_icon">chat_bubble_outline</mat-icon>

        <div fxLayout="column">
            <span class="block_number">{{ this.commemts_not_read }}</span>
            <span>Comentarios no leidos</span>
        </div>
    </div>

</div>

<div class="actions" fxLayound="row">
    <div fxFlex="50">
        <button mat-raised-button color="accent" [routerLink]="['/private/ticket/create']" mat-button>
            <span matTooltip="Nuevo" [matTooltipDisabled]="new">Nuevo</span>
        </button>
        <button mat-raised-button color="accent" (click)="update()" mat-button>
            <span matTooltip="Editar" [matTooltipDisabled]="edit">Editar</span>
        </button>
        <button mat-raised-button color="accent" (click)="delete()" mat-button>
            <span matTooltip="Archivar" [matTooltipDisabled]="deleted">Archivar</span>
        </button>
    </div>
</div>

<mat-form-field appearance="outline">
    <mat-label>Filtro</mat-label>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Escriba un criterio">
</mat-form-field>

<div>

    <table mat-table matSort [dataSource]="dataSource" class="table-fw">

        <ng-container matColumnDef="select">
            <th mat-header-cell *matHeaderCellDef>
                <mat-checkbox (change)="masterToggle($event)" 
                                [checked]="selection.hasValue() && isAllSelected()"
                                [indeterminate]="selection.hasValue() && !isAllSelected()" 
                                [aria-label]="checkboxLabel()">
                </mat-checkbox>
            </th>
            <td mat-cell *matCellDef="let row">
                <mat-checkbox [value]="row.id" 
                                (click)="$event.stopPropagation()"
                                (change)="$event ? selection.toggle(row) : null" 
                                [checked]="selection.isSelected(row)" 
                                [aria-label]="checkboxLabel(row)" #table>
                </mat-checkbox>
            </td>
        </ng-container>

        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Id </th>
            <td mat-cell *matCellDef="let element"> {{ element.id }} </td>
        </ng-container>

        <ng-container matColumnDef="title">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Titulo </th>
            <td mat-cell *matCellDef="let element">
                <a [routerLink]="['/private/ticket/edit', element.id]" matTooltip="{{ element.title }}">{{ element.title | slice:0:30 }}</a>
            </td>
        </ng-container>

        <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Estado </th>
            <td mat-cell *matCellDef="let element"> {{ element.status }} </td>
        </ng-container>

        <ng-container matColumnDef="responsible">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Responsable </th>
            <td mat-cell *matCellDef="let element"> {{ element.responsible }} </td>
        </ng-container>

        <ng-container matColumnDef="site">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Centro </th>
            <td mat-cell *matCellDef="let element"> {{ element.site }} </td>
        </ng-container>

        <ng-container matColumnDef="priority">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Prioridad </th>
            <td mat-cell *matCellDef="let element"><span [ngStyle]="{ 'border-left': '7px solid' + element.priority_color, 'padding': '5%;' }" >{{ element.priority }}</span></td>
        </ng-container>

        <ng-container matColumnDef="category">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Categoria </th>
            <td mat-cell *matCellDef="let element"> {{ element.category }} </td>
        </ng-container>

        <ng-container matColumnDef="created_at">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha de Creación </th>
            <td mat-cell *matCellDef="let element"> {{ element.created_at }} </td>
        </ng-container>

        <ng-container matColumnDef="updated_at">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha de Cierre </th>
            <td mat-cell *matCellDef="let element"> {{ element.updated_at }} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"
            (click)="selection.toggle(row)">
        </tr>
    </table>

    <mat-paginator [pageSizeOptions]="[50, 100, 200]" showFirstLastButtons></mat-paginator>

</div>