<h1 mat-dialog-title>{{'Centros' | translate }}</h1>
<mat-dialog-content> 
  <mat-form-field appearance="outline" class="action_filter" fxFlexFill>
    <input matInput [(ngModel)]="searchText" type="text" placeholder="{{ 'Filtrar por nombre o id' | translate }}" (keyup)="filterByName(searchText)" />
  </mat-form-field>
    <mat-table *ngIf="dataSource" [dataSource]="dataSource" matSort (matSortChange)="sortData($event)">
      <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef>
          <mat-checkbox (change)="masterToggle($event)"
                        [checked]="selection.hasValue() && isAllSelected()"
                        [indeterminate]="selection.hasValue() && !isAllSelected()"
                        [aria-label]="checkboxLabel()">
          </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let row">
          <mat-checkbox (click)="$event.stopPropagation()"
                        (change)="$event ? selection.toggle(row) : null"
                        [checked]="selection.isSelected(row)"
                        [aria-label]="checkboxLabel(row)">
          </mat-checkbox>
        </td>
      </ng-container>    
      <ng-container matColumnDef="idsite">
        <mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'PLAYERS.list.id' | translate }} </mat-header-cell>
        <mat-cell class="first" *matCellDef="let row" >
          <span *ngIf="row.idsite">{{ row.idsite }} </span>
        </mat-cell>
      </ng-container>   
      <ng-container matColumnDef = "name">
        <mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'Centro' | translate }} </mat-header-cell>
        <mat-cell class = "second" *matCellDef = "let row">  {{row.name}} </mat-cell>
      </ng-container>    
      <mat-header-row *matHeaderRowDef = "displayedColumns"></mat-header-row>
      <mat-row *matRowDef = "let row; columns: displayedColumns;" ></mat-row>
    </mat-table>  
</mat-dialog-content>
<mat-dialog-actions fxLayout="row" align="end">  
      <button class="mat-raised-button mat-accent"  (click)="save()" cdkFocusInitial>{{ 'FORMS.buttons.save' | translate }}</button>
      <button class="mat-raised-button" (click)="close()">{{ 'FORMS.buttons.cancel' | translate }}</button>
</mat-dialog-actions>
  