<ng-container *ngFor="let loop of loops; let i = index">
    <ng-container *ngIf="(loop)">
        <content-element *ngFor="let playlogic of loop" [content]="getContent(playlogic, i)"></content-element>
        <hr />
    </ng-container>
</ng-container>
<content-element *ngIf="(!loops)" [content]="content"></content-element>