<div class="dentr-conte" fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxLayoutAlign="start space-between" fxLayoutGap="20px" fxFlex="100">
    <div fxFlex="100">
        <mat-label color="primary">{{ 'Categoría' | translate }} </mat-label><br>     
        <mat-form-field appearance="outline">
            <mat-select [formControl]="idcategory" (selectionChange)="onChangeContentCategory($event)">
                <mat-option *ngFor="let contentCategory of contentCategories" [value]="contentCategory.idcategory">{{contentCategory.name}}</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
</div>