<div>
    <div class="header">
        <h4>{{category.name}}</h4>
        <button mat-icon-button class="btn-close" (click)="close()">
            <mat-icon>close</mat-icon>
        </button>
    </div>
    <div class="body">
        <div class="cdk-list" *ngIf="(contents.length > 0)" cdkDropList [cdkDropListData]="contents"
            (cdkDropListDropped)="drop($event)">
            <div class="content" *ngFor="let content of contents" cdkDrag>
                <div fxFlex fxLayout="row">
                    <div fxFlex="90px" class="image" fxLayoutAlign="start center">
                        <img *ngIf="(content.thumbnail_url)" [src]="content.thumbnail_url" width="100%" height="auto" />
                    </div>

                    <div fxFlex fxLayout="column" class="data">
                        <div fxLayout="row">
                            <div fxFlex class="name">{{content.idcontent}} - {{content.name}}</div>
                            <div *ngIf="checkHide(content)">
                                <mat-icon class="big" color="accent">visibility</mat-icon>
                            </div>
                            <div *ngIf="!checkHide(content)">
                                <mat-icon class="big" [ngStyle]="{'color':'gray'}">visibility_off</mat-icon>
                            </div>
                        </div>

                        <div fxLayout="row">
                            <div class="duration" fxFlex>
                                {{ 'COMPONENTS.content.order.duration' | translate:content.category }}
                            </div>
                            <div *ngIf="(content.is_exclusive)" fxFlex='60'>
                                <mat-icon class="material-icons color_warning">warning</mat-icon>&nbsp;&nbsp;
                                <label fxFlex class='label'>{{ 'Excluyente' | translate }}</label>
                            </div>

                            <mat-icon [ngStyle]="{'color':'gray'}" (click)="edit(content.idcontent)" class="big cursor">
                                edit
                            </mat-icon>

                            <div>
                                <mat-slide-toggle [(ngModel)]="content.status" (change)="changeStatus(content)"
                                    [disabled]="disabled"></mat-slide-toggle>
                            </div>

                        </div>
                    </div>


                </div>
            </div>
        </div>
        <p *ngIf="(contents.length === 0)" class="no-data">{{ 'COMPONENTS.content.order.error' | translate }}</p>
        <br />
    </div>
    <div class="footer">
        <div fxLayout="row">
            <div fxFlex></div>
            <div *ngIf="!disabled">
                <button *ngIf="(!loading)" mat-flat-button color="accent" (click)="update()">{{
                    'COMPONENTS.content.order.apply' | translate }}</button>
                <mat-spinner *ngIf="(loading)"></mat-spinner>
            </div>
        </div>
    </div>
</div>