<mat-card>
  <mat-card-content>
    <div mat-card-avatar>
      <mat-icon aria-hidden="false" aria-label="'Contenidos creados este mes' | translate">playlist_play</mat-icon>
    </div>
    <p class="title"><a [routerLink]="['/private/content/list']">{{ "Contenidos creados este mes" | translate }}</a><br></p>
    <p *ngIf="!load">{{ contents }}</p>
    <div class="spinner-container" *ngIf="load">
      <mat-spinner diameter="40"  color="accent"></mat-spinner>
    </div>
  </mat-card-content>
</mat-card>
