<mat-form-field [formGroup]="formGroup">
  <input 
    matInput 
    [ngxMatDatetimePicker]="picker" 
    [placeholder]="fieldData.label | translate" 
    [formControlName]="fieldData.name"
    [min]="fieldData.minDate" 
    [max]="fieldData.maxDate" 
    (dateChange)="changedField($event)"
    >
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-spinner diameter="20" color="accent" *ngIf="fieldData.disabled"></mat-spinner>
  <ngx-mat-datetime-picker #picker [defaultTime]="fieldData.defaultTime" [disabled]="fieldData.disabled"  [hideTime]="hideTime">
    <!-- Custom icon or text of Apply icon -->
    <ng-template>
      <!--<mat-icon>star</mat-icon>-->
      <span>OK</span>
    </ng-template>
  </ngx-mat-datetime-picker>
</mat-form-field>