.container{
    display: flex;
    flex-direction: column;
    min-width: 300px;
}

.mat-table {
    overflow: auto;
  }

.loading{
    position: relative;
    left: 50%;
}

.actions button{
    margin-right: 5px;
    width: 100px;
}

th.mat-header-cell, td.mat-cell {
    border:none;
}

.mat-cell {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-right: 10px;
}

.green-icon {
    color: #64ca26;
}

.orange-icon {
    color: #f64747 ;
}

.not_defined {
    border-left:7px solid #f64747;
    padding: 7%;
    text-align: center;
    width: 100%;
    
}

.alert_color {
    
    padding: 7%;
    color: black;
    width: 100%;
    text-align: center;
}


.white_line {
    border-left:7px solid #ffff;
    padding: 7%;
    text-align: center;
    width: 100%;
    
}

.mat-column-id {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 5% !important;
    width: 5% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
  
    word-break: break-word;
  
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
  }

  mat-header-cell {
    display: flex;
    justify-content: center;
    width: 100%;
  }