<div class='container loading' *ngIf="load">
    <mat-spinner diameter="80" strokeWidth="5" color='accent'></mat-spinner>
</div>

<div *ngIf="!load">


    <div class='container'>
        <div class="actions" fxLayound="row">

            <div fxFlex="50">
                <mat-form-field appearance="outline">
                    <input matInput filter (change)="applyFilter($event)" placeholder="{{'filter'| translate}}" #input>
                </mat-form-field>
            </div>
        </div>
        <div *ngIf="!dataSource" fxLayout="row" fxLayoutAlign="space-around center" style="height:100%">
            <mat-spinner diameter="50" strokeWidth="5"></mat-spinner>
        </div>
        <mat-table *ngIf="dataSource" [dataSource]="dataSource" matSort (matSortChange)="sortData($event)">
          

            <ng-container matColumnDef="id">
                <mat-header-cell *matHeaderCellDef mat-sort-header> ID </mat-header-cell>
                <mat-cell *matCellDef="let row; let i = index">
                
                    <strong>{{ row.id }}</strong>
             
           </mat-cell>
            </ng-container>

            <ng-container matColumnDef="titulo">
                <mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'title' | translate }} </mat-header-cell>
                <mat-cell class="first" *matCellDef="let row; let i = index">
                    <ng-container *ngIf="checkTable(row, 'responsible', i ) else not_user">
                       <a [routerLink]="['/private/ticket/view', row.id]"> <span>{{ row.titulo }}</span></a> 
                    </ng-container>
                    <ng-template #not_user>
                        <a [routerLink]="['/private/ticket/create', row.id]"> <span>{{ row.titulo }}</span></a>
                    </ng-template>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="status">
                <mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'status' | translate }} </mat-header-cell>
                <mat-cell *matCellDef="let row; let i = index">
                <span class="alert_color" [ngStyle]="{ 'background-color': row.status.color }">
                    {{ row.status.name}}
                </span>
           </mat-cell>
            </ng-container>

            <ng-container matColumnDef="responsable">
                <mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'responsible' | translate }} </mat-header-cell>
                <mat-cell *matCellDef="let row;let i = index">
                    <ng-container *ngIf="checkTable(row, 'responsible', i ) else not_user">
                        <span class="white_line">{{ row.responsible.name  }}</span>
                    </ng-container>
                    <ng-template #not_user>

                       <span class="not_defined">{{ 'not_defined' | translate }}</span> 
                    </ng-template>
                    
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="ref">
                <mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'ref' | translate }} </mat-header-cell>
                <mat-cell *matCellDef="let row; let i = index">
                    <ng-container *ngIf="checkTable(row, 'site', i ) else not_user">
                        <span class="white_line">{{ row.site.name  }}</span>
                    </ng-container>
                    <ng-template #not_user>

                       <span class="not_defined">{{ 'not_defined' | translate }}</span> 
                    </ng-template>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="prioridad">
                <mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'priority' | translate }} </mat-header-cell>
                <mat-cell *matCellDef="let row; let i = index">

                    <ng-container *ngIf="checkTable(row, 'priority', i ) else not_priority">
                        <span class="alert_color" [ngStyle]="{ 'border-left': '7px solid' + row.priority.color }">
                            {{        row.priority.name }}</span>
                    </ng-container>
                    <ng-template #not_priority>
                        <span class="not_defined">{{ 'not_defined' | translate }}</span>
                    </ng-template>

                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="categoria">
                <mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'category' | translate }} </mat-header-cell>
                <mat-cell *matCellDef="let row; let i = index"> 
                    <ng-container *ngIf="checkTable(row, 'category', i ) else not_category">
                        <span class="alert_color" [ngStyle]="{ 'border-left' : '7px solid' + row.category.color }" >{{ row.category.name }}</span>
                    </ng-container>
                    <ng-template #not_category>
                        <span class="not_defined">{{ 'not_defined' | translate }}</span> 
                    </ng-template>
                </mat-cell>
            </ng-container>






            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>

    </div>
    <mat-paginator paginator [hidden]="load" showFirstLastButtons></mat-paginator>
</div>