<mat-form-field appearance="outline" [formGroup]="formGroup">
  <mat-label>{{ fieldData.label | translate }}</mat-label>
  <input matInput [formControl]="date" [matDatepicker]="picker" [max]="today">
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker 
    #picker 
    startView="multi-year"
    (yearSelected)="chosenYearHandler($event)"
    (monthSelected)="chosenMonthHandler($event, picker)"
    panelClass="example-month-picker"
  ></mat-datepicker>
</mat-form-field>