/* 
::ng-deep xng-breadcrumb {
    left: 0 !important;
}
 */
.circut-botns {
  width: 100%;
  float: left;
}

.cincu-conte {
  width: 100%;
  float: left;
}

.con-circuits {
  width: 100%;
  float: left;
}

.list-circui {
  background: #FAFCF7;
  padding: 20px;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  float: left;
}

.parte-botons {
  width: 100%;
  float: left;
  display: block !important;
  padding-top: 15px;
  text-align: right;
}

.parte-botons .mat-focus-indicator {
  margin-left: 5px;
}

.cincu-imgen {
  width: 52px;
  float: right;
}

.nombr-cicui {
  width: calc(100%);
  float: left;
  padding-left: 15px;
  font-size: 17px;
  font-weight: bold;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  word-wrap: break-word;
}
/*# sourceMappingURL=format.element.css.map */