<div class="cincu-conte">
    <div class="con-circuits">
        <div class="list-circui">
            <!-- <div class="nombr-cicui">
                {{format.name}}
            </div>
            <div class="cincu-imgen">
                <ng-template #image>
                    <img [src]="format.image_url" alt="" width="52px">
                </ng-template>
                <div fxLayout="row">
                    <button *ngIf="editFormat" mat-icon-button mat-button (click)="update(format.idformat)"><mat-icon>edit</mat-icon></button>
                    <button *ngIf="deleteFormat" mat-icon-button mat-button (click)="delete(format.idformat)"><mat-icon>delete</mat-icon></button>
                </div>
            </div> -->
            <div fxLayout="row" class="nombr-cicui">
                <div fxLayoutAlign="start center">
                    <img [src]="format.image_url" alt="" width="18px">
                </div>
                <div fxLayout="column" fxFlex>
                    <span>{{format.name}}</span>                   
                </div>
            </div>
            <div class="cincu-imgen">                
                <div fxLayout="row">
                    <button *ngIf="editFormat" mat-icon-button mat-button (click)="update(format.idformat)"><mat-icon>edit</mat-icon></button>
                    <button *ngIf="deleteFormat" mat-icon-button mat-button (click)="delete(format.idformat)"><mat-icon>delete</mat-icon></button>
                </div>
            </div>
        </div>
    </div>
</div>
