<ng-container *ngFor="let categoryTag of tagsByCategory; let i = index">

    <ng-container *ngIf="categoryTag.tagtype == type">
        <div class="category-tags-form">
            <form>
                <div fxLayout="row" fxLayoutGap="5px" fxLayoutAlign="space-between start">
                    <mat-form-field fxFlex="90" class="mat-form-field" appearance="outline">
                        <input matInput id="cat-tag-{{categoryTag.idCategory}}" type="text"
                            value="{{categoryTag.categoryName}}"
                            [placeholder]="'FORMS.placeholder.category' | translate" />
                    </mat-form-field>

                    <ngx-colors ngx-colors-trigger fxFlex="10" [(ngModel)]="tagsByCategory[i].color"
                        [ngModelOptions]="{standalone: true}" (change)="colorChanged($event, categoryTag.idCategory)"
                        format="hex">
                    </ngx-colors>
                </div>


                <input *ngIf="!me.customer" id="cat-tag-{{categoryTag.customerName}}" type="text"
                    value="{{categoryTag.customerName}}" class="category-name" [attr.disabled]="'disabled'" />

                <mat-list class="list">
                    <input *ngIf="newTagPermission" type="text" id="add-{{categoryTag.idCategory}}" value=""
                        (keyup)="createTag($event, categoryTag.idCategory)" placeholder="Añadir Tag" class="add-tag" />

                    <div *ngFor="let tag of categoryTag.tags, let tagIndex = index" class="edit-tag">

                        <input id="{{tag.idtag}}" type="text" value="{{tag.tagName}}"
                            (keydown.enter)="updateTag(tag.idtag)"
                            [attr.readonly]="editTagPermission ? null : 'readonly'" />

                        <mat-icon *ngIf="editTagPermission" role="img"
                            class="mat-icon notranslate material-icons mat-icon-no-color" aria-hidden="true"
                            data-mat-icon-type="font" (click)="editTag(tag.idtag)">create</mat-icon>

                        <mat-icon *ngIf="deletedTagPermission" role="img"
                            class="mat-icon notranslate material-icons mat-icon-no-color" aria-hidden="true"
                            data-mat-icon-type="font" (click)="deleteTag(tag.idtag)">clear</mat-icon>
                    </div>
                </mat-list>

                <div class="actions btons-tgs">
                    <a *ngIf="deletedTagCategoryPermission" mat-raised-button color="accent" mat-button
                        (click)="deleteTagCategory(categoryTag.idCategory)">{{ 'FORMS.buttons.delete' |
                        translate
                        }}</a>
                    <a *ngIf="editTagCategoryPermission" mat-raised-button color="accent" mat-button
                        (click)="updateTagCategory(categoryTag.idCategory)">{{ 'FORMS.buttons.save' | translate
                        }}</a>
                </div>
            </form>
        </div>

    </ng-container>
</ng-container>