<mat-card>
  <mat-card-header>
    <mat-card-title *ngIf="me.customer.idcustomer !== 113">{{ 'RECOMENDACIONES.recomendaciones.title' | translate }}</mat-card-title>
    <mat-card-title *ngIf="me.customer.idcustomer === 113">{{ 'Patrones de Afluencias- Recomendaciones' | translate }}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <fieldset>
      <mat-grid-list cols="9" rowHeight="2:1" [gutterSize]="'1rem'">
        <mat-grid-tile colspan="2">
          <form-field-select 
            [fieldData]="fieldDataMonth" 
            [formGroup]="formGroup" 
            [isLoading]="loadingMonths" 
            (onChangeField)="changeMonth($event)">
          </form-field-select>
        </mat-grid-tile>
        <mat-grid-tile colspan="2" *ngIf="me.customer.has_trends">
          <form-field-select
            [fieldData]="fieldDataProvince" 
            [formGroup]="formGroup" 
            [isLoading]="loadingProvinces"
            (onChangeField)="changeProvince($event)">
          </form-field-select>
        </mat-grid-tile>
        <mat-grid-tile colspan="4"></mat-grid-tile>
        <mat-grid-tile colspan="4" *ngIf="!me.customer.has_trends">
          <form-field-select-monospace
              [fieldData]="fieldDataCategories" 
              [formGroup]="formGroup" 
              [isLoading]="loadingCategories"
              (onChangeField)="changeCategories($event)" 
              [panelOpen]="panelOpen"
              [isRecomendation]="recomendationSelect">
            </form-field-select-monospace>
        </mat-grid-tile>
        <mat-grid-tile colspan="4" *ngIf="me.customer.has_trends">
          <form-field-select-monospace
              [fieldData]="fieldDataCategoriesTrends" 
              [formGroup]="formGroup" 
              [isLoading]="loadingTrendCategories"
              (onChangeField)="changeCategories($event)">
            </form-field-select-monospace>
        </mat-grid-tile>
        <mat-grid-tile colspan="4" *ngIf="me.customer.has_trends">
          <form-field-select-monospace
              [color]="'green'"
              [fieldData]="fieldDataCategoriesWeights" 
              [formGroup]="formGroup" 
              [isLoading]="loadingWeightCategories"
              (onChangeField)="changeCategories($event)">
            </form-field-select-monospace>
        </mat-grid-tile>
        <mat-grid-tile colspan="1" *ngIf="!me.customer.has_trends">
          <div class="button">
            <button *ngIf="fieldDataCategories.options.length > 0" [disabled]="formGroup.invalid" mat-raised-button color="accent" (click)="submitMonthCategories()">{{ 'Mostrar' | translate}}</button> 
          </div>
        </mat-grid-tile>
        <mat-grid-tile colspan="1" *ngIf="me.customer.has_trends">
          <div class="button">
            <button *ngIf="fieldDataCategoriesTrends.options.length > 0 && fieldDataCategoriesWeights.options.length > 0" [disabled]="formGroup.invalid || (!formGroup.get('categoriesTrends').value && !formGroup.get('categoriesWeights').value)" mat-raised-button color="accent" (click)="submitCategoriesTrends()">{{ 'Mostrar' | translate}}</button> 
          </div>
        </mat-grid-tile>
      </mat-grid-list>
    </fieldset>
    <mat-card *ngIf="me.customer.has_trends && !isLoadingSalesEvolution">
      <mat-card-content>
        <div fxLayout="row">
          <div>
            <table>
              <tr>
                <td colspan="6" class="noborder">
                  <h3>{{ 'EVOLUCIÓN VENTAS' | translate }}</h3>
                </td>
                <td colspan="5" class="noborder">
                  <h3>{{ 'COMPETENCIA' | translate }}</h3>
                </td>
              </tr>
              <tr>
                <th rowspan="2"></th>
                <th rowspan="2">{{ 'Ventas últimas 4 semanas (Moneda local)' | translate }}</th>
                <th rowspan="2">{{ 'Peso sobre total' | translate }}</th>
                <th rowspan="2">{{ 'Tendencia último trimerstre' | translate }}</th>
                <th rowspan="2">{{ 'Tendencia últimos 30 días' | translate }}</th>
                <th rowspan="2">{{ 'Tendencia última semana' | translate }}</th>
                <th rowspan="2">{{ 'Número de marcas' | translate }}</th>
                <th colspan="3">{{ 'Cuotas de mercado' | translate }}</th>
                <th rowspan="2">{{ 'Indicador de concentración' | translate }}</th>
              </tr>
              <tr>
                <th>{{ '1ª marca' | translate }}</th>
                <th>{{ '2ª marca' | translate }}</th>
                <th>{{ '3ª marca' | translate }}</th>
              </tr>
              <tr *ngFor="let cat of selectedTrendCategories">
                <td [style.color]="cat.color === 'green' ? '#64ca26' : 'inherit'">
                  {{ cat.category.name }}
                </td>
                <td class="right">
                  {{ cat.sales_last_4_weeks  | numbersp }}
                </td>
                <td class="right">
                  {{ cat.weight  | numbersp }}%
                </td>
                <td class="center">
                  <img src="assets/arrows/{{ cat.trend_last_90days }}.png">
                </td>
                <td class="center">
                  <img src="assets/arrows/{{ cat.trend_last_30days }}.png">
                </td>
                <td class="center">
                  <img src="assets/arrows/{{ cat.trend_last_07days }}.png">
                </td>
                <td class="right">
                  {{ cat.brands_number }}
                </td>
                <td>
                  <span *ngIf="cat.brands_number > 0">{{ cat.name_brand_1 }} - {{ cat.weight_brand_1 }}</span>
                </td>
                <td>
                  <span *ngIf="cat.brands_number > 0">{{ cat.name_brand_2 }} - {{ cat.weight_brand_2 }}</span>
                </td>
                <td>
                  <span *ngIf="cat.brands_number > 0">{{ cat.name_brand_3 }} - {{ cat.weight_brand_3 }}</span>
                </td>
                <td class="center">
                  <div class="circle-{{ cat.colour_index }}"></div>
                </td>
              </tr>
            </table>
          </div>
        </div>
        <mat-grid-list cols="9" rowHeight="0.5:1" [gutterSize]="'1rem'" [style.marginTop]="'2rem'">
          <mat-card-header>
            <mat-card-title>{{ 'Tendencia última semana. (Media móvil de orden 7)' | translate }}</mat-card-title>
          </mat-card-header>
          <mat-grid-tile colspan="3" *ngFor="let salesEvolutionLineChartData of salesEvolution">
            <linear-chart [beginAtZero]="beginAtZero" [data]="salesEvolutionLineChartData" [labels]="salesEvolutionLineChartLabels" [loading]="false" [beginAtZero]="beginAtZero"></linear-chart>
          </mat-grid-tile>
        </mat-grid-list>
      </mat-card-content>
    </mat-card>
    <mat-card *ngIf="!isLoadingPatronVentas">
      <mat-card-header>
        <mat-card-title *ngIf="me.customer.idcustomer !== 113">{{ 'RECOMENDACIONES.recomendaciones.title_graph1' | translate }}</mat-card-title>
        <mat-card-title *ngIf="me.customer.idcustomer === 113">{{ 'Distribución por categoría y día de la semana (Afluencias medias de la semana=1)' | translate }}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <linear-chart [data]="patronVentasLineChartData" [labels]="patronVentasLineChartLabels" [loading]="isLoadingPatronVentas" [beginAtZero]="beginAtZero"></linear-chart>
      </mat-card-content>
    </mat-card>
    <mat-card *ngIf="!isLoadingPatronVentas && isLoadingDataTable">
      <div class="spinner-container" *ngIf="loadingAssociated">
        <mat-spinner diameter="50"  color="accent"></mat-spinner>
      </div>
    </mat-card>
    <mat-card *ngIf="!isLoadingDataTable">
      <mat-card-header>
        <mat-card-title *ngIf="me.customer.idcustomer !== 113">{{ 'RECOMENDACIONES.recomendaciones.title_table' | translate }}</mat-card-title>
        <mat-card-title *ngIf="me.customer.idcustomer === 113">{{ 'Distribución de Afluencias y perfiles de afluencias por horas' | translate }}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <fieldset class="tipo_promocion">
          <mat-radio-group [formControl]="promoControl">
            <mat-radio-button value="0" (click)="changePromoControl(0)">{{ 'RECOMENDACIONES.recomendaciones.option1' | translate }}</mat-radio-button>
            <mat-radio-button value="1"(click)="changePromoControl(1)" *ngIf="me.customer.idcustomer !== 113">{{ 'RECOMENDACIONES.recomendaciones.option2' | translate }}</mat-radio-button>
          </mat-radio-group>
        </fieldset>
        <div class="table_container">
          <table border="0" cellspacing="0" width="100%">
            <tr>
              <th style="text-align:center">{{ 'RECOMENDACIONES.recomendaciones.table.categories' | translate }}</th>
              <th style="text-align:center;cursor:pointer;text-decoration:underline" *ngFor="let elem of tableData[0]; index as i;" [matTooltip]="getDataTooltip(i)" matTooltipPosition="above" matTooltipClass="tooltip">{{ elem.hour }}</th>
            </tr>
            <ng-container *ngIf="!me.customer.has_trends">
              <tr *ngFor="let cat of formGroup.get('categories').value;index as i">
                <ng-container *ngFor="let category of categories">
                  <td *ngIf="category.code === cat" style="cursor:pointer; text-decoration:underline" (click)="showChartsBlock(category, i)">{{ category.name }}</td>
                </ng-container>
                <td *ngFor="let elem of tableData[i]" [style.backgroundColor]="elem.color" [style.color]="elem.color != '#ffffff' ? '#FFFFFF' : '#000000'">{{ elem.value | numbersp }}</td>
              </tr>
            </ng-container>
            <ng-container *ngIf="me.customer.has_trends">
              <tr *ngFor="let cat of selectedTrendCategories;index as i">
                <ng-container *ngFor="let category of categories">
                  <td *ngIf="category.code == cat.idcategory" style="cursor:pointer; text-decoration:underline" (click)="showChartsBlock(category, i)">{{ category.name }}</td>
                </ng-container>
                <td *ngFor="let elem of tableData[i]" [style.backgroundColor]="elem.color" [style.color]="elem.color != '#ffffff' ? '#FFFFFF' : '#000000'">{{ elem.value | numbersp }}</td>
              </tr>
            </ng-container>
          </table>
        </div>
      </mat-card-content>
    </mat-card>
    <mat-card *ngIf="showThirdBlock">
      <mat-card-content>
        <div class="perfilmedio" id="perfilmedio">
          <div class="bggris">
            <h4>{{ 'RECOMENDACIONES.recomendaciones.block3.title' |translate }}
              <span class="tituperficat">{{ selectedCategory }}</span>
            </h4>
          </div>
          <div>
            <b>{{ 'COMMON.men' | translate }}: </b>
            <em>{{ profileGender[0] }}%</em>&nbsp;
            <b>{{ 'COMMON.women' | translate }}: </b><em>{{ profileGender[1] }}%</em>
          </div>
          <div>
            <b>{{ 'COMMON.kids' | translate }}: </b><em>{{ profileType[0] }}%</em>&nbsp;  
            <b>{{ 'COMMON.young' | translate }}: </b><em>{{ profileType[1] }}%</em>&nbsp; 
            <b>{{ 'COMMON.adults' | translate }}: </b><em>{{ profileType[2] }}%</em>&nbsp; 
            <b>{{ 'COMMON.senior' | translate }}: </b><em>{{ profileType[3] }}%</em>
          </div>
        </div>
        <mat-grid-list cols="5" rowHeight="1:1">
          <mat-grid-tile colspan="2"> 
              <h3>{{ 'RECOMENDACIONES.recomendaciones.block3.title_graph1' |translate }}</h3>
              <pie-chart [data]="genderPieChartData" [labels]="genderPieChartLabels" [loading]="!showThirdBlock"></pie-chart>
          </mat-grid-tile>
          <mat-grid-tile colspan="2">
              <h3>{{ 'RECOMENDACIONES.recomendaciones.block3.title_graph2' |translate }}</h3>
              <pie-chart [data]="typePieChartData" [labels]="typePieChartLabels" [loading]="!showThirdBlock"></pie-chart>
          </mat-grid-tile>
          <mat-grid-tile colspan="1">                                      
              <div *ngIf="temperature === 'frio'"> 
                <h4>{{ 'COMMON.cold' | translate }}</h4>
                <img src="assets/img/temperatura/frio.jpg" class="temperatura">
              </div>
              <div *ngIf="temperature === 'calor'">
                <h4>{{ 'COMMON.hot' | translate }}</h4>
                <img src="assets/img/temperatura/calor.jpg" class="temperatura">
              </div>
              <div *ngIf="temperature === 'templado'"> 
                <h4>{{ 'COMMON.warm' | translate }}</h4>
                <img src="assets/img/temperatura/templado.jpg" class="temperatura">
              </div>
              <p *ngIf="temperature !== 'templado'"><span>{{ incremeto }}</span> {{ 'RECOMENDACIONES.recomendaciones.block3.increment' |translate }}</p>
          </mat-grid-tile>
      </mat-grid-list>
      </mat-card-content>
    </mat-card>
    <mat-card *ngIf="showThirdBlock && loadingProducts && loadingAssociated">
      <div class="spinner-container">
        <mat-spinner diameter="50"  color="accent"></mat-spinner>
      </div>
    </mat-card>
    <mat-card *ngIf="!loadingProducts">
      <mat-card-content>
        <mat-grid-list cols="2" rowHeight="3:1">
          <mat-grid-tile>
            <div [style.width]="'80%'">
              <h2>{{ 'RECOMENDACIONES.recomendaciones.block4.title' | translate }} {{ selectedCategory }}:</h2>
              <form-field-select-monospace [fieldData]="fieldDataProducts" [formGroup]="formGroup" [isLoading]="loadingProducts"></form-field-select-monospace>
              <button *ngIf="fieldDataProducts.options.length > 0" [disabled]="formGroup.get('products').value === null" mat-raised-button color="accent" (click)="goToNewPlayslist()">{{ 'RECOMENDACIONES.recomendaciones.block4.button' | translate }}</button> 
            </div>
          </mat-grid-tile>
        </mat-grid-list>
      </mat-card-content>
    </mat-card>
    <mat-card *ngIf="!loadingAssociated && promoControl.value === '1'">
      <mat-card-content>
        <table style="border:1px solid black;margin-left:auto;margin-right:auto;" *ngIf="associations.length > 0">
          <tr>
              <th style="text-align:center">{{ 'RECOMENDACIONES.asociaciones.table.categories' | translate }}</th>
              <th style="text-align:center">{{ 'RECOMENDACIONES.asociaciones.table.also_bought' | translate }}</th>
              <th style="text-align:center">{{ 'RECOMENDACIONES.asociaciones.table.together' | translate }}</th>
          </tr>
          <ng-container *ngFor="let uvalor of associations">
              <tr class="tr" style="display: table-row;" *ngIf="uvalor.procon > 2">
                  <td (click)="changeAssociated(uvalor)">
                      <i class="fa fa-star  star-white" aria-hidden="true"></i>
                      <span class="mazcatsele" [data-customer]="uvalor.customer_id" [data-code]="uvalor.category_code">{{ uvalor.name }}</span></td>
                  <td style="padding:5px;text-align:center;">{{ uvalor.procon | numbersp }}%</td>
                  <td>
                      <div>
                          <mat-icon class="fa fa-star" *ngIf="uvalor.impacto >= 0.9">star_rate</mat-icon>
                          <mat-icon class="fa fa-star" *ngIf="uvalor.impacto >= 1.1">star_rate</mat-icon>
                          <mat-icon class="fa fa-star" *ngIf="uvalor.impacto >= 1.5">star_rate</mat-icon>
                      </div>
                  </td>
              </tr>
          </ng-container>
      </table>
      <mat-grid-list cols="2" rowHeight="3:1" *ngIf="showProducts">
        <mat-grid-tile>
          <div [style.width]="'80%'">
            <h2>{{ 'RECOMENDACIONES.recomendaciones.block4.product_select' | translate }} {{ selectedCategory }}:</h2>
            <form-field-select-monospace [fieldData]="fieldDataProductsPrincipal" [formGroup]="formGroup" [isLoading]="loadingAssociated"></form-field-select-monospace>
          </div>
        </mat-grid-tile>
        <mat-grid-tile>
          <div [style.width]="'80%'">
            <h2>{{ 'RECOMENDACIONES.recomendaciones.block4.product_select' | translate }} {{ selectedAssociatedCategory }}:</h2>
            <form-field-select-monospace [fieldData]="fieldDataProductsAsociados" [formGroup]="formGroup" [isLoading]="loadingAssociated"></form-field-select-monospace>
          </div>
        </mat-grid-tile>
      </mat-grid-list>
      <button *ngIf="fieldDataProductsPrincipal.options.length > 0 && fieldDataProductsAsociados.options.length > 0" [disabled]="formGroup.get('productsPrin').value === null || formGroup.get('productsAssoc').value === null" mat-raised-button color="accent" (click)="goToNewPlayslist()">{{ 'Crear playlist' | translate}}</button> 
      </mat-card-content>
    </mat-card>
  </mat-card-content>
</mat-card>