.list-group {
    list-style: none;
    margin: 0;
    padding: 0;
    border: 1px solid #ccc;
    border-radius: .5em;
    width: 20em;
}

.list-group li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #ccc;
    padding: .5em;
}

.list-group li:first-child {
    border-top: 0;
}

.list-group .badge {
    background-color: rebeccapurple;
    color: #fff;
    font-weight: bold;
    font-size: 80%;
    border-radius: 10em;
    min-width: 1.5em;
    padding: .25em;
    text-align: center
}

.table-list {
    width: 100%;
}

tr.element-row:not(.expanded-row):hover {
    background: whitesmoke;
}

tr.element-row:not(.expanded-row):active {
    background: #efefef;
}

.mat-column-quantity {
    width: 12px;
    padding-right: 20px;
    text-align: center;
    font-weight: bold;
}

.mat-column-name {
    padding-left: 16px;
    // font-weight: bold;
}

.mat-column-tickets {
    width: 132px;
    text-align: center;
    // font-weight: bold;
}

.badge-secondary {
    color: #fff;
    background-color: #6c757d;
}

.badge-pill {
    padding-right: .6em;
    padding-left: .6em;
    border-radius: 18rem;
}

.badge {
    display: inline-block;
    padding: 0.85em 0.65em;
        padding-right: 1.8em;
        padding-left: 1.8em;
    border-radius: 18rem !important;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}