<table mat-table [dataSource]="dataSource" class="table-list">

    <ng-container matColumnDef="quantity">
        <th mat-header-cell *matHeaderCellDef>
            <span class="badge badge-secondary">total</span>
        </th>
        <td mat-cell *matCellDef="let element">
            <span class="badge badge-secondary">{{ element.quantity }}</span>
        </td>
    </ng-container>

    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> {{ columnKey }} </th>
        <td mat-cell *matCellDef="let element"> {{ element.name }} </td>
    </ng-container>

    <ng-container matColumnDef="tickets">
        <th mat-header-cell *matHeaderCellDef> abiertas / cerradas </th>
        <td mat-cell *matCellDef="let element"> {{ element.tickets_open }} / {{ element.tickets_close }} </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="element-row"></tr>
</table>