<div fxLayout="column" class="dashboard_content">

    <div fxLayout="column" fxLayoutFill class="block_container">
        <ticket-list></ticket-list>
    </div>

    <div fxLayout="column" fxLayoutFill class="block_container">
        <h1>Estadísticas</h1>
        <div fxLayoutFill class="separation"></div>


        <div fxFlex="100" fxLayout="row" fxLayoutAlign="space-between start" class="stats_container">
           <stats-toolbar 
            (sendDate)="getDate($event)"  
            (sendCustomer)="getCustomer($event)">
           </stats-toolbar>
        </div>


        <div fxLayout="row" fxLayoutAlign="space-between start">
            <div fxFlex="50" class="stats_container">
                <stats-ticket></stats-ticket>
            </div>
            

            <div fxFlex="50" class="stats_container" fxLayoutAlign="end start">
                <stats-type></stats-type>
            </div>
        </div>


          <stats-ticket #date></stats-ticket>



    </div>


</div>