<div fxLayout="column" fxFlexFill class="card-content" fxLayoutAlign="center center">

    <div fxLayout="row" fxLayoutAlign="end center" fxFlexFill>
        <input #elem type="file" hidden class="upload" (change)="changeListener($event.target.files)" accept=".csv">
        <button mat-raised-button color="accent" (click)="uploadCSV()">Subir csv</button>
        <p>{{filename}}</p>
        <!-- <create-csv-people [users]="users"></create-csv-people> -->
    </div>


    <div class="target">
        <h1>Target people</h1>
        <h1>{{count}}</h1>
    </div>
</div>