<div class="container">
  <mat-slide-toggle *ngIf="!loadingStreaming" [checked]="show" (change)="show = !show">{{
    "CAMERA.detail.streaming.heatmap" | translate
  }}</mat-slide-toggle>

  <div #container class="content">
    <div class="spinner-container" *ngIf="loadingStreaming">
      <mat-spinner diameter="100"  color="accent"></mat-spinner>
    </div>
    
    <div class="border" *ngIf="!loadingStreaming">
     
      <video-player-flv *ngIf="src" [streaming_url]="src"></video-player-flv>
      

      <camera-heatmap *ngIf="show" [email]="email"></camera-heatmap>
    </div>
    <ng-container *ngIf="!loadingStreaming && stopped">
      <p>{{ "CAMERA.detail.streaming.stopped" | translate }}</p>
      <button mat-raised-button (click)="openStreaming()">
        {{ "CAMERA.detail.streaming.ask" | translate }}
      </button>
    </ng-container>
  </div>
</div>
