<mat-card>
  <mat-card-header>
    <div mat-card-avatar>
        <mat-icon aria-hidden="false" aria-label="Mapa de las tiendas">room</mat-icon>
    </div>
    <mat-card-title>{{ 'COMPONENTS.dashboard.mapa_tiendas.connected_dots' | translate }}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <agm-map [zoom]="zoom" [fitBounds]="fitbounds" [latitude]="lat" [longitude]='lng' #gm [style.height]="height">
      <agm-marker *ngFor="let tienda of tiendas" [agmFitBounds]="true"  [latitude]="tienda.latitude" [longitude]="tienda.longitude" (markerClick)="filtrar(tienda.idsite)" (mouseOver)="onMouseOver(infoWindow,gm)">
        <agm-info-window [disableAutoPan]="false" #infoWindow>{{ tienda.name }}</agm-info-window>
      </agm-marker>
    </agm-map>
  </mat-card-content>
</mat-card>