.mat-card{
    margin-top:1.5rem;
    margin-bottom:1.5rem;
    padding-top:0;
}
.mat-icon{
    font-size: 2.5rem;
    width: 2rem;
    height: 2rem;
    position: relative;
    top: 0.8rem;
    margin-right: 0.5rem;
}
.mat-card-header-text{
    margin:0!important;
}
.mat-card-content div{
    padding:1rem;
    border:1px solid #ccc;
    background:#f5f9ee;
    margin-top:0;
}
.mat-card-content div p{
    margin:0;
    font-size:1rem;
}
.afluencia-number{
    font-size: 2rem!important;
    font-weight: 600;
    margin-left: 2.6rem!important;
    margin-top: 1rem!important;
}
.afluencias-hombres{
    margin-left:1rem!important;
    margin-top:1rem!important;
    img{
        margin-right:1rem;
    }
}
.mat-card-content div.datos-afluencias, .mat-card-content div.datos-afluencias div{
    background:#ffffff!important;
    border:0;
}
h3{
    font-size:1.5rem;
    padding-top:1.5rem;
}
linear-chart{
    width:100%;
    max-height:350px;
}
pie-chart{
    width:100%;
    max-height:350px;
}
.text-data{
    text-align: center;
    font-size: 2rem!important;
    margin-top: 1.5rem!important;
}
.undo{
    position:absolute;
    right:1rem;
    cursor:pointer;
    &:hover{
        opacity:0.5;
    }
}
.doughnut{
    width:150px;
    height:150px;
    margin-left:-25px!important;
    margin-top:0px!important;
    display:block;
}
.doughnut-container{
    height:100px;
    width:inherit;
    display:block;
    overflow:hidden;
    background:#fff;
    border:0!important;
    margin:0;
    padding:0!important;
    *{
        background:#fff!important;
    }
}
.cameras-table{
    width:100%;
    td{
        width:100px;
        overflow: hidden!important;
    }
}
.ranking{
    border-collapse:collapse;
    border-spacing: 0;
    margin:0 auto;
    th{
        background:#64ca26;
        color:#fff;
        border:1px solid #000;
        padding:0 1rem;
    }
    td{
        border:1px solid #000;
        text-align: center;  
        padding:0 1 rem;
    }
}
.content-container{
    background:#fff!important;
    border:0!important;
    border-bottom:1px solid #666 !important;
    &:last-child{
        border-bottom:0!important;
    }
}
.container{
    height:calc(100vh - )
}
.cleardiv{
    background:#fff!important;
    border:none!important;
}
.spinner-container{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100vh;
    display:block;
    text-align: center;
    background:#fff;
    z-index:9999;
}