<div class="spinner-container" *ngIf="loadingpdf">
    <mat-spinner diameter="100"  color="accent"></mat-spinner>
</div>
<div id="htmlData" #htmlData>
    <mat-card>
        <mat-card-header>
            <mat-card-title><mat-icon>bar_chart</mat-icon>{{ 'COMPONENTS.flow.result.title' | translate }}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div fxLayout="row" fxLayoutAlign="space-between">
                <p>{{ 'COMPONENTS.flow.result.period' | translate }} <b>{{data.startDate | customDate }} - {{data.endDate | customDate }}</b><p>
            </div>
            <div fxLayout="row" fxLayoutAlign="space-evenly center">
                <p>{{ 'COMPONENTS.flow.result.customer' | translate }}: <b>{{customer.name?customer.name:'' | translate}}</b></p>
                <p>{{ 'Centros/Áreas' | translate }}: <b>{{site.name ? site.name :'' | translate}}</b></p>
                <p>{{ 'Cámaras/Puertas' | translate }}: <b>{{camera.name ? camera.name : '' | translate}}</b></p>
            </div>
        </mat-card-content>
    </mat-card>
    <mat-card>
        <mat-card-content class="afluencia-total" fxLayout="row">
            <div class="cleardiv">
                <p><mat-icon>person</mat-icon> {{ 'Afluencias' | translate }}</p>
                <p class="afluencia-number" *ngIf="!isLoading">{{totalAfluencias}}</p>
            </div>
            <div class="cleardiv">
                <p class="afluencias-hombres" fxLayout="row" *ngIf="!isLoading"><img src="assets/img/icons/dashboard/hombre.png" fxLayoutAlign="start center"><span fxLayoutAlign="start center" *ngIf="hombres > 0">{{ 'STATISTICS.men' | translate }} <b>{{ hombres.toFixed(2) }}%</b></span></p>
            </div>
            <div class="cleardiv">
                <p class="afluencias-hombres" fxLayout="row" *ngIf="!isLoading"><img src="assets/img/icons/dashboard/mujeres.png" fxLayoutAlign="start center"><span fxLayoutAlign="start center" *ngIf="mujeres > 0">{{ 'STATISTICS.women' | translate }} <b>{{ mujeres.toFixed(2) }}%</b></span></p>
            </div>
        </mat-card-content>
    </mat-card>
    <mat-card>
        <mat-card-content>
            <h3>{{ 'Últimas caras detectadas' | translate }}</h3>
            <ng-container *ngIf="lastAfluences.length > 0">
                <div *ngFor="let af of lastAfluences | reverse">
                    <label *ngIf="af.gender === 'male'">{{  'Hombre' | translate }} - {{ getAgeRange(af) | translate }}</label>
                    <label *ngIf="af.gender === 'female'">{{  'Mujer' | translate }} - {{ getAgeRange(af) | translate }}</label>
                    <p>{{af.datetime | date: 'HH:mm:ss dd/MM/yyyy' }}</p>
                </div>
            </ng-container>
            <ng-container *ngIf="lastAfluences.length <= 0">
                <mat-spinner color="accent" *ngIf="loading"></mat-spinner>
                <p *ngIf="!loading">{{ 'CAMERA.detail.last_afluences.error' | translate }}</p>
            </ng-container>
        </mat-card-content>
    </mat-card>
    <mat-card>
        <mat-card-content>
            <h3>{{ 'Gráficos de Afluencias por Horas, Días y Día de la semana' | translate }}</h3>
            <form-field-select [fieldData]="fieldDataTotal" [formGroup]="formGroup" [isLoading]="false"></form-field-select>
            <linear-chart *ngIf="formGroup.get('total').value === 1" [data]="afluenciasHoraLineChartData" [labels]="afluenciasHoraLineChartLabels" [loading]="isLoading" [aspectRatio]="aspectRatio" [height]="chartHeihgt"></linear-chart>
            <linear-chart *ngIf="formGroup.get('total').value === 2" [data]="afluenciasDiaLineChartData" [labels]="afluenciasDiaLineChartLabels" [loading]="isLoading" [aspectRatio]="aspectRatio" [height]="chartHeihgt"></linear-chart>
            <linear-chart *ngIf="formGroup.get('total').value === 3" [data]="afluenciasDiaSemanaLineChartData" [labels]="afluenciasDiaSemanaLineChartLabels" [loading]="isLoading" [aspectRatio]="aspectRatio" [height]="chartHeihgt"></linear-chart>
            <hr>
            <div class="datos-afluencias" fxLayout="row" fxLayoutAlign="space-evenly center">
                <div *ngIf="formGroup.get('total').value === 1">
                    <p><mat-icon>schedule</mat-icon> {{ 'COMPONENTS.flow.result.block2.hour_max' | translate }}</p>
                    <p class="text-data" *ngIf="!isLoading">{{horaPunta}}</p>
                    <mat-spinner color="accent" *ngIf="isLoading"></mat-spinner>
                </div>
                <div *ngIf="formGroup.get('total').value === 2">
                    <p><mat-icon>calendar_today</mat-icon> {{ 'Día punta' | translate }}</p>
                    <p class="text-data">{{bestDay}}</p>
                </div>
                <div *ngIf="formGroup.get('total').value === 3">
                    <p><mat-icon>calendar_today</mat-icon> {{ 'COMPONENTS.flow.result.block2.day_max' | translate }}</p>
                    <p class="text-data">{{bestWeekday | translate}}</p>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
    <mat-card>
        <mat-card-content>
            <h3></h3>
            <form-field-select [fieldData]="fieldDataGenderRange" [formGroup]="formGroup" [isLoading]="false"></form-field-select>
            <mat-grid-list cols="2" rowHeight="2.3:1" *ngIf="formGroup.get('genderRange').value === 1">
                <mat-grid-tile>
                    <h3>{{ 'Afluencias por Género' | translate }}</h3>
                    <linear-chart [data]="genderHoraLineChartData" [labels]="genderHoraLineChartLabels" [loading]="isLoading"></linear-chart>
                </mat-grid-tile>
                <mat-grid-tile>
                    <h3>{{ 'Afluencias por Rango de Edad' | translate }}</h3>
                    <linear-chart [data]="ageRangeHoraLineChartData" [labels]="ageRangeHoraLineChartLabels" [loading]="isLoading"></linear-chart>
                </mat-grid-tile>
            </mat-grid-list>
            <mat-grid-list cols="2" rowHeight="2:1" *ngIf="formGroup.get('genderRange').value === 2">
                <mat-grid-tile>
                    <h3>{{ 'Afluencias por Género' | translate }}</h3>
                    <linear-chart [data]="genderDiaLineChartData" [labels]="genderDiaLineChartLabels" [loading]="isLoading"></linear-chart>
                </mat-grid-tile>
                <mat-grid-tile>
                    <h3>{{ 'Afluencias por Rango de Edad' | translate }}</h3>
                    <linear-chart [data]="ageRangeDiaLineChartData" [labels]="ageRangeDiaLineChartLabels" [loading]="isLoading"></linear-chart>
                </mat-grid-tile>
            </mat-grid-list>
            <mat-grid-list cols="2" rowHeight="2:1" *ngIf="formGroup.get('genderRange').value === 3">
                <mat-grid-tile>
                    <h3>{{ 'Afluencias por Género' | translate }}</h3>
                    <linear-chart [data]="genderDiaSemanaLineChartData" [labels]="genderDiaSemanaLineChartLabels" [loading]="isLoading"></linear-chart>
                </mat-grid-tile>
                <mat-grid-tile>
                    <h3>{{ 'Afluencias por Rango de Edad' | translate }}</h3>
                    <linear-chart [data]="ageRangeDiaSemanaLineChartData" [labels]="ageRangeDiaSemanaLineChartLabels" [loading]="isLoading"></linear-chart>
                </mat-grid-tile>
            </mat-grid-list>
        </mat-card-content>
    </mat-card>
    <mat-card>
        <mat-card-content>
            <mat-grid-list cols="2" rowHeight="2:1">
                <mat-grid-tile> 
                    <h3>{{ 'COMPONENTS.flow.result.block3.graph1_title' | translate }}</h3>
                    <pie-chart [data]="genderPieChartData" [labels]="genderPieChartLabels" [loading]="isLoading" (onClickedChart)="chartClicked($event)"></pie-chart>
                </mat-grid-tile>
                <mat-grid-tile>
                    <h3>{{ 'COMPONENTS.flow.result.block3.graph2_title' | translate }} <span *ngIf="selectedGender !== ''">-</span> {{ selectedGender | translate }}</h3>
                    <pie-chart [data]="typePieChartData" [labels]="typePieChartLabels" [loading]="isLoading"></pie-chart>
                </mat-grid-tile>
            </mat-grid-list>
        </mat-card-content>
    </mat-card>
    <mat-card>
        <mat-card-content>
            <h3>{{ 'RANKING DE PERFILES DETECTADOS' | translate }}</h3>
            <table class="ranking" *ngIf="!isLoading">
                <tr>
                    <th>{{ 'Género' | translate }}</th>
                    <th>{{ 'Rango de Edad' | translate }}</th>
                    <th>%</th>
                </tr>
                <ng-container *ngFor="let pos of ranking">
                    <tr>
                        <td *ngIf="pos.genre === 'male'">{{ 'COMMON.man' | translate }}</td>
                        <td *ngIf="pos.genre === 'female'">{{ 'COMMON.woman' | translate }}</td>
                        <td>{{ pos.range }}</td>
                        <td>{{ pos.percentage | numbersp}}</td>
                    </tr>
                </ng-container>
            </table>
            <mat-spinner color="accent" *ngIf="isLoading"></mat-spinner>
        </mat-card-content>
    </mat-card>    
    <mat-card>
        <mat-card-content>
            <h3>{{ 'COMPONENTS.flow.result.block3.graph3_title' | translate }}</h3>
            <form-field-select [fieldData]="fieldDataCamera" [formGroup]="formGroup"></form-field-select>
            <linear-chart *ngIf="formGroup.get('camera').value === 1" [data]="camarasHoraLineChartData" [labels]="camarasHoraLineChartLabels" [loading]="isLoading" [aspectRatio]="aspectRatio" [height]="chartHeihgt"></linear-chart>
            <linear-chart *ngIf="formGroup.get('camera').value === 2" [data]="camarasDiaLineChartData" [labels]="camarasDiaLineChartLabels" [loading]="isLoading" [aspectRatio]="aspectRatio" [height]="chartHeihgt"></linear-chart>
            <linear-chart *ngIf="formGroup.get('camera').value === 3" [data]="camarasDiaSemanaLineChartData" [labels]="camarasDiaSemanaLineChartLabels" [loading]="isLoading" [aspectRatio]="aspectRatio" [height]="chartHeihgt"></linear-chart>
        </mat-card-content>
    </mat-card>
    <mat-card>
        <mat-card-content>
            <h3>{{ 'Gráfico de Tiempos Medios de Estancia' | translate }}</h3>
            <form-field-select [fieldData]="fieldDataTimes" [formGroup]="formGroup"></form-field-select>
            <linear-chart *ngIf="formGroup.get('times').value === 1" [data]="timesHoraLineChartData" [labels]="timesHoraLineChartLabels" [loading]="isLoading" [aspectRatio]="aspectRatio" [height]="chartHeihgt"></linear-chart>
            <linear-chart *ngIf="formGroup.get('times').value === 2" [data]="timesDiaLineChartData" [labels]="timesDiaLineChartLabels" [loading]="isLoading" [aspectRatio]="aspectRatio" [height]="chartHeihgt"></linear-chart>
            <linear-chart *ngIf="formGroup.get('times').value === 3" [data]="timesDiaSemanaLineChartData" [labels]="timesDiaSemanaLineChartLabels" [loading]="isLoading" [aspectRatio]="aspectRatio" [height]="chartHeihgt"></linear-chart>
        </mat-card-content>
        <div class="datos-afluencias" fxLayout="row" fxLayoutAlign="space-evenly center">
            <div>
                <p><mat-icon>schedule</mat-icon> {{ 'Tiempo medio de estancia' | translate }}</p>
                <p class="text-data" *ngIf="!isLoading">{{totalMediumTime | numbersp}} minutos</p>
                <mat-spinner color="accent" *ngIf="isLoading"></mat-spinner>
            </div>
        </div>
    </mat-card>
</div>
<mat-card>
    <mat-card-actions>
        <button mat-raised-button color="accent" (click)="pdfExport()">{{ 'COMPONENTS.flow.result.buttons.pdf' | translate }}</button>
    </mat-card-actions>
</mat-card>
