.area-container{
    position: relative;
    overflow-x: auto;
    display: flex;
    border: 1px solid #ddd;
    .area-select{
        padding-top:0.5rem;
        padding-right: 10px;
        padding-left: 10px;
        width:100px;
        text-align: center;
        float:left;
        font-weight:600;
        cursor:pointer;
        &:hover{
            background:#009999;
            filter:invert(95%)
        }
        &.selected{
            background:#009999;
            filter:invert(100%);
            cursor: inherit;
        }
    }

}