<div class="area-container">
    <div *ngFor="let area of playareas" [ngClass]="{selected:checkSelect(area)}" class="area-select" (click)="onSelect(area)" [id]="'area-'+area.idarea">
        <img [src]="area.format.image_url" height="50" />
        <p>{{ area.location.name }}</p>
    </div>
</div>