



    <div fxFlex class="publi-container">
        <video #v preload="auto" autoplay muted loop class="video_container">
            <source src="assets/img/backgrounds/bodegones_web.mp4" type="video/mp4">
        </video>
    </div>
    
    <div fxFlex class="container" fxLayoutAlign="center center">
    
        <div class="center_content">
    
            <div fxLayout="row">
                <div fxLayout="column" fxFlex>
                    <h1 class="title">Contacto soporte</h1>
                </div>
            </div>
    
            <form [formGroup]="form" (ngSubmit)="create()">
    
                <div fxLayout="column" class="form-container" fxFlexFill fxLayoutGap="1%">
    
                    <mat-label color="primary"> Titulo *</mat-label><br>
                    <mat-form-field fxFlex="100" class="mat-form-field" appearance="outline">
                        <input matInput type="text" placeholder="Titulo" formControlName="titulo" />
                    </mat-form-field>
    
    
                    <mat-label color="primary"> Descripcion *</mat-label><br>
                    <ckeditor [editor]="Editor" (change)="onChange($event)" [(ngModel)]="sHtml"
                        [ngModelOptions]="{standalone: true}">
                    </ckeditor>
    
                    <drag-drop-files [files]="files" (filesDropped)="getFiles($event)"></drag-drop-files>
    
    
                    <div fxLayout="row" fxLayoutAling="space-between center" fxLayoutGap="15px">
    
                        <div fxLayout="column" fxFlex="70">
                            <mat-label color="primary"> Direccion punto de venta *</mat-label><br>
                            <mat-form-field class="mat-form-field" appearance="outline">
                                <input matInput type="text" placeholder="Direccion punto de venta"
                                    formControlName="point_address" />
                            </mat-form-field>
                        </div>
    
    
                        <div fxLayout="column" fxFlex="30">
                            <mat-label color="primary"> Telefono *</mat-label><br>
                            <mat-form-field class="mat-form-field" appearance="outline">
                                <input matInput type="text" placeholder="Telefono" formControlName="phone" />
                            </mat-form-field>
                        </div>
                    </div>

                    <mat-label color="primary"> Email *</mat-label><br>
                    <mat-form-field fxFlex="100" class="mat-form-field" appearance="outline">
                        <input matInput type="text" placeholder="Email" formControlName="email" />
                    </mat-form-field>






    
                    <div fxLayout fxLayoutGap="20px" fxLayoutAlign="space-between center">
                        <mat-checkbox formControlName="accept">Aceptar politicas y condiciones</mat-checkbox>
                        <button type="submit" class="mat-raised-button mat-accent">Enviar</button>
                    </div>
                </div>
    
    
            </form>
        </div>
    
    
    </div>


