
  .container{
   background-color: #EEEEEE;
   z-index: 100;
   position: absolute;
   left: 43%;
  
	max-width: 241px;
    margin:0 auto;

   
  }

  .center_content {
      margin-top: 2%;
      margin-bottom: 2%;
      background-color: white;
      width: 800px;
  }

  .title {
      margin-left: 5%;
      margin-top: 2%;
  }

  .public_container {
    position: relative;
    z-index: 1;
    
  }

  .video_container {
    top: 0;
    left: 0;
    height: auto;
    width: 100%;
  }

  ::ng-deep  .green-snackbar {
    background: #c3e6cb!important;
    color: black!important;
  }


 