<mat-card>
    <mat-card-header>
        <mat-card-title>{{ 'CAMERA.detail.type' | translate }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <pie-chart [data]="typePieChartData" [labels]="typePieChartLabels" [loading]="load"></pie-chart>
    </mat-card-content>
</mat-card>

