

::ng-deep .mat-form-field-flex {
    border: 1px solid #AFB5AA !important;
    border-radius: 6px !important;
        padding: 4px 10px !important;
    
        background-color: transparent !important;
}


::ng-deep .mat-form-field-underline {
    opacity: 0;
}

::ng-deep .mat-form-field-infix {
    padding: 0 !important;
        border-top: 0.58625em solid transparent;
}


::ng-deep .mat-form-field-appearance-fill .mat-select-arrow-wrapper {
    transform: translateY(-16%) !important;
}

.sellc-cont {
    width: 100%;
    float: left;
    display: block !important;
}

.slec-dis {
    width: 100%;
    display: table !important;
}


.labl-selc {
    width: 100%;
    float: left;
    font-size: 14px;
    color: #ACAFA8;
    margin-bottom: 6px;
}