 
 <div class="slec-dis" fxLayout="row">
     <label class="labl-selc">{{ 'COMPONENTS.country_select.label' | translate }}</label>
     <div class="sellc-cont">
        <mat-form-field appearance="fill">
            <mat-label>{{ 'COMPONENTS.country_select.label' | translate }}</mat-label>
            <mat-select [formControl]="paises" (selectionChange)="captureValue()" multiple>
                <mat-option disabled>{{ 'COMPONENTS.country_select.placeholder' | translate }}</mat-option>
                <mat-option *ngFor="let country of countries" [value]="country">{{country.name}}</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
</div>


