<div class='container loading' *ngIf="load">
    <mat-spinner diameter="80" strokeWidth="5" color='accent'></mat-spinner>
</div>

<div *ngIf="!load">
    <h1 class="title">{{ 'Peoples' | translate }}</h1>

    <div class='container'>
        <div class="actions" fxLayound="row">
            <div fxFlex="50">
                <button mat-raised-button color="accent" [routerLink]="['/private/peoples/add']" mat-button><span
                        matTooltip="{{ 'FORMS.buttons.tooltip_no_permisions' | translate }}"
                        [matTooltipDisabled]="new">{{ 'FORMS.buttons.new' | translate }}</span></button>
                <button mat-raised-button color="accent" (click)="update()" mat-button><span
                        matTooltip="{{ 'FORMS.buttons.tooltip_no_permisions' | translate }}"
                        [matTooltipDisabled]="edit">{{ 'FORMS.buttons.edit' | translate }}</span></button>
                <button mat-raised-button color="accent" (click)="delete()" mat-button><span
                        matTooltip="{{ 'FORMS.buttons.tooltip_no_permisions' | translate }}"
                        [matTooltipDisabled]="deleted">{{ 'Archivar' | translate }}</span></button>
            </div>
            <div fxFlex="50">
                <mat-form-field appearance="outline">
                    <input matInput filter (change)="applyFilter($event)" placeholder="{{'filter'| translate}}" #input>
                </mat-form-field>
            </div>
        </div>
        <div *ngIf="!dataSource" fxLayout="row" fxLayoutAlign="space-around center" style="height:100%">
            <mat-spinner diameter="50" strokeWidth="5"></mat-spinner>
        </div>

        <mat-table *ngIf="dataSource" [dataSource]="dataSource" matSort (matSortChange)="sortData($event)">

            <ng-container matColumnDef="select">
                <th mat-header-cell *matHeaderCellDef>
                    <mat-checkbox (change)="masterToggle($event)" [checked]="selection.hasValue() && isAllSelected()"
                        [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
                    </mat-checkbox>
                </th>
                <td mat-cell *matCellDef="let row">
                    <mat-checkbox [value]="row.id" (click)="$event.stopPropagation()"
                        (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)"
                        [aria-label]="checkboxLabel(row)" #table>
                    </mat-checkbox>
                </td>
            </ng-container>


            <ng-container matColumnDef="id">
                <mat-header-cell *matHeaderCellDef mat-sort-header> ID </mat-header-cell>
                <mat-cell *matCellDef="let row; let i = index" >
                    <strong class="white_line">{{ row.id }}</strong>
                </mat-cell>
            </ng-container>



            <ng-container matColumnDef="email">
               <mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'email' | translate }} </mat-header-cell>
               <mat-cell class="first" *matCellDef="let row; let i = index">
                                   <a [routerLink]="['/private/ticket/create', row.id]" class="white_line"> <span >{{ row.email}}</span></a>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="phone">
                <mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'phone' | translate }} </mat-header-cell>
                <mat-cell class="second" *matCellDef="let row"> 
                    <span class="alert_color" >{{ row.phone }}</span> </mat-cell>
            </ng-container>

    
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>

    </div>
    <mat-paginator paginator [hidden]="load" showFirstLastButtons></mat-paginator>
</div>
