.mat-card{
    margin-bottom:1.5rem;
    padding-top:0;
}
.top-card{
    top:1rem;
}
.mat-icon{
    font-size: 2.5rem;
    width: 2rem;
    height: 2rem;
    position: relative;
    top: 0.8rem;
    margin-right: 0.5rem;
}
.mat-card-header-text{
    margin:0!important;
}
.mat-card-content div{
    padding:1rem;
}
.mat-card-content div p{
    margin:0;
    font-size:1rem;
}
.afluencia-number{
    font-size: 2rem;
    font-weight: 600;
    margin-left: 0.5rem;
}
.mat-card-content div.datos-afluencias, .mat-card-content div.datos-afluencias div{
    background:#ffffff!important;
    border:0;
}
h3{
    font-size:1.5rem;
    padding-top:1.5rem;
}
linear-chart{
    width:100%;
    max-height:350px;
}
pie-chart{
    width:100%;
}
.text-data{
    text-align: center;
    font-size: 2rem!important;
    margin-top: 1.5rem!important;
}
h2{font-size:24px!important;}
 

.lineborder {
    border: 1px solid #000;
}

.textcenter{
    text-align: center;
}
.textright{
    text-align: right;
}
.padtr td{
    padding:10px;
    border-bottom: 1px solid grey;
    border-left: 1px solid grey;
}
.textmas{
    font-size:18px;
    font-weight: 600;
}
.textmas td{
    padding:5px;
}
#tableresumen thead tr{
    font-size: 14px;
    font-weight: 600;
}
.undo{
    position:absolute;
    right:1rem;
    cursor:pointer;
    &:hover{
        opacity:0.5;
    }
}