<mat-card #block1>
    <mat-card class="top-card">
        <mat-card-content>
            <div fxLayout="row" fxLayoutAlign="space-between start" >
                <div fxLayout="column" fxLayoutAlign="space-evenly start" style="width:50%; border:0" >
                    <p>{{ 'COMPONENTS.emissions_sales.result_summary.month' | translate }} <b>{{meses[data.formData.month] |translate}}</b></p>
                </div>
                <div fxLayout="column" fxLayoutAlign="space-evenly start" style="width:50%; border:0" >
                    <p>{{ 'COMPONENTS.emissions_sales.result_summary.year' |translate }} <b>{{data.formData.year}}</b></p>
                </div>
            </div>
            <mat-icon class="undo" (click)="volverForm($event)">undo</mat-icon>
        </mat-card-content>
    </mat-card>
    <mat-card-content>

        <table>
            <thead>
            <tr>
                <td colspan="2"></td>
                <td colspan="4" class="lineborder textcenter">{{ 'COMPONENTS.emissions_sales.result_summary.table.title_1_1' |translate }}</td>
                <td colspan="2"></td>
                <td colspan="2" class="lineborder textcenter">{{ 'COMPONENTS.emissions_sales.result_summary.table.title_1_2' |translate }}</td>
                <td></td>
            </tr>
            <tr>
                <td colspan="2"></td>
                <td colspan="2" class="lineborder textcenter">{{ 'COMPONENTS.emissions_sales.result_summary.table.title_2_1' |translate }}</td>
                <td colspan="2" class="lineborder textcenter">{{ 'COMPONENTS.emissions_sales.result_summary.table.title_2_2' |translate }}</td>
                <td colspan="2"></td>
                <td colspan="2" class="lineborder textcenter">{{ 'COMPONENTS.emissions_sales.result_summary.table.title_2_3' |translate }}</td>
                <td></td>
            </tr>
            <tr>
                <td colspan="2"></td>
                <td class="lineborder textcenter">{{ 'COMPONENTS.emissions_sales.result_summary.table.title_3_1' |translate }}</td>
                <td class="lineborder textcenter">{{ 'COMPONENTS.emissions_sales.result_summary.table.title_3_2' |translate }}</td>
                <td class="lineborder textcenter">{{ 'COMPONENTS.emissions_sales.result_summary.table.title_3_1' |translate }}</td>
                <td class="lineborder textcenter">{{ 'COMPONENTS.emissions_sales.result_summary.table.title_3_2' |translate }}</td>
                <td class="lineborder textcenter" [innerHTML]="'COMPONENTS.emissions_sales.result_summary.table.title_3_5' |translate"></td>
                <td class="lineborder textcenter" [innerHTML]="'COMPONENTS.emissions_sales.result_summary.table.title_3_6' |translate"></td>
                <td class="lineborder textcenter">{{ 'COMPONENTS.emissions_sales.result_summary.table.title_3_7' |translate }}</td>
                <td  class="lineborder textcenter">%</td>
                <td  class="lineborder textcenter">{{ 'COMPONENTS.emissions_sales.result_summary.table.title_3_9' |translate }}</td>
              
            </tr>
            </thead>

       

            <tbody class="lineborder">
                <tr class="padtr" *ngFor="let datres of resumeData">
                    <td>{{datres.idcampaign}}</td> <td>{{datres.name}}</td>
                    <td class="textcenter">{{datres.diff_em_preEm_r| numbersp }}</td> <td class="textcenter">{{datres.diff_em_pEm_r | numbersp}} </td>
                    <td class="textcenter">{{datres.diff_co_preEm_r | numbersp}}</td> <td class="textcenter">{{datres.diff_co_pEm_r | numbersp}}</td>
                    <td class="textcenter">{{datres.diff_var_uni_preEm| numbersp}}</td> <td class="textcenter">{{datres.diff_var_uni_pEm | numbersp }}</td>
                    <td class="textcenter">{{datres.diif_var_uni | numbersp}}</td> 
                    <td class="textcenter">
                        {{ datres.diff_inc_uni=='0.00'?'--': datres.diff_inc_uni | numbersp}}
                    </td>
                    <td class="textright">{{ datres.diff_eur | numbersp}}</td>
                </tr>
            </tbody>
            <tr class="textmas"><td colspan="10" class="textright">{{ 'COMPONENTS.emissions_sales.result_summary.table.total' |translate }}</td><td class="textright">{{totalimpactomonetarioString}}</td></tr>
            <tr class="textmas"><td colspan="10" class="textright">{{ 'COMPONENTS.emissions_sales.result_summary.table.impact' |translate }}</td><td class="textright">{{impactototalString}}</td></tr>
          </table>
    </mat-card-content>
</mat-card>
<mat-card #block2>
    <linear-chart [data]="ImpactoMonetarioLineChartData" [labels]="ImpactoMonetarioLineChartLabels" [loading]="isLoading" [aspectRatio]="aspectRatio" [height]="chartHeihgt"></linear-chart>
</mat-card>
<mat-card #block3>
    <bar-chart [data]="ImpactoPantallasBarChartData" [labels]="ImpactoPantallasBarChartLabels" [loading]="isLoading"></bar-chart>
</mat-card>
