:host-context{
    th{padding:10px;border: 1pt solid black; background-color:grey;color:white;}
    tr {
    border: 1px solid black;
    }
    td {
        padding:10px;
        font-weight: 600;
        border: 1pt solid black;
    }
    .circulo {
        margin:auto;
         width: 50px;
         height: 50px;
         -moz-border-radius: 50%;
         -webkit-border-radius: 50%;
         border-radius: 50%;
      
    }
    .fa-star{
        color: orange;
        font-size: 20px;
    }
    
    .star-white{
        color:white;
    }
    
    .tablescroll {
            width: 100%;
            border-collapse: collapse;
            border-spacing: 0;
          /*  height: 300px;*/
        }
    
    
        .perfilmedio{
        height: 100px;
        margin-top: 30px;margin-bottom: 30px;
        border: 1px solid #ddd;
        padding:0px;
    }
    
    .bggris{
        background-color:#ddd;
    }
    
    .cover-spin {
        position:absolute;
        width:100%;
        left:0;right:0;top:0;bottom:0;
        background-color: rgba(255,255,255,0.7);
        z-index:9999;
        display:none;
    }
    
    @-webkit-keyframes spin {
        from {-webkit-transform:rotate(0deg);}
        to {-webkit-transform:rotate(360deg);}
    }
    
    @keyframes spin {
        from {transform:rotate(0deg);}
        to {transform:rotate(360deg);}
    }
    
    .cover-spin::after {
        content:'';
        display:block;
        position:absolute;
        left:48%;top:40%;
        width:40px;height:40px;
        border-style:solid;
        border-color:black;
        border-top-color:transparent;
        border-width: 4px;
        border-radius:50%;
        -webkit-animation: spin .8s linear infinite;
        animation: spin .8s linear infinite;
    }
    
    .mazcatsele{
        cursor: pointer;
        text-decoration: underline;
    }
    .cathorasref{
        color: black;
        text-decoration: underline;
        cursor: pointer;
    }
    
    .tithoras{
        color:#fff;
    }
    
    .mat-card{
        margin-bottom:2rem;
    }
    
    fieldset{
        margin-bottom:2rem;
        padding-top:2rem;
    }
    
    .fieldsetContainer{
        width:50%;
        margin:2rem auto;
    }
    
    ::ng-deep .tooltip{
        white-space: pre-line;
        color:#fff;
        font-size: 1rem;
        text-align: center;
    }
    .mat-radio-button{
        margin-right:1rem;
    }
    fieldset.tipo_promocion{
        border:0;
    }
    pie-chart{
        width:100%;
    }
    
    .temperatura{
        width:60%;
        margin:0 auto;
        display:block;
    }
    form-field-select, form-field-select-monospace, form-field-text{
        width:100%;
        flex-basis:100%;
    }
    h2{
        display:block;
        flex-basis:100%;
    }
    .mat-grid-tile{
        margin-right:1rem;
    }
    .button{
        width: 100%;
        height: 100%;
        padding-top: 10px;
        text-align: left;
    }
    .spinner-container{
        text-align: center;
        margin: 1rem auto;
        width: fit-content;
    }
    .socioeconomic-table{
        margin:auto;
    }
    
    .results-demo{
        font-size: 1.5rem;
        font-weight: 600;
    }
    .item-range{
        text-align: center;
    }
    .item-count, .item-percent{
        text-align: right;
    }
    .mat-card-header-text{
        width:fit-content!important;
    }
    .text-ine{
        font-size:1rem;
    }
}