<mat-card>
  <mat-card-header class="socioeconomic" fxLayout="row" fxLayoutAlign="space-between center">
    <mat-card-title>{{ 'Perfiles Socioeconómicos' | translate }}</mat-card-title>
    <span class="text-ine">({{ 'Elaboración propia con datos extraidos del sitio web del INE' | translate }}: <a href="https://www.ine.es" target="_blank">www.ine.es</a>)</span>
  </mat-card-header>
  <mat-card-content>
    <fieldset>
      <mat-grid-list cols="9" rowHeight="2:1" [gutterSize]="'1rem'">
        <mat-grid-tile colspan="4">
          <form-field-text *ngIf="me.site" [fieldData]="fieldDataSite" [formGroup]="formGroup"></form-field-text>
          <form-field-select
            *ngIf="me.customer && !me.site"
            [fieldData]="fieldDataCity" 
            [formGroup]="formGroup"
            (onChangeField)="onChangeCity($event)">
        </form-field-select>
        </mat-grid-tile>
        <mat-grid-tile colspan="4" *ngIf="fieldDataRatius.options.length > 0">
          <form-field-select
              [fieldData]="fieldDataRatius" 
              [formGroup]="formGroup">
            </form-field-select>
        </mat-grid-tile>
        <mat-grid-tile colspan="1">
          <div class="button">
            <button [disabled]="formGroup.invalid" mat-raised-button color="accent" (click)="submit()">{{ 'Enviar' |translate }}</button> 
          </div>
        </mat-grid-tile>
      </mat-grid-list>
    </fieldset>
    <mat-card *ngIf="result && result.demographic.length !== 0">
      <mat-card-header>
        <mat-card-title>{{ 'PERFIL DEMOGRÁFICO' | translate }}, {{ 'Radio' | translate }} {{ formGroup.get('ratius').value }} {{ 'metros' | translate }}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div fxLayout="row">
          <div fxFlex="33" fxLayout="row" fxLayoutAlign="space-around center" >
            <div [style.textAlign]="'center'" fxFlex="35">
              <img src="assets/img/icons/dashboard/hombre.png">
              <p class="results-demo">{{ result.demographic.H.count | numbersp }}</p>
              <doughnut-chart [data]="[result.demographic.H.percentage,100-result.demographic.H.percentage]"[labels]="['%']" [height]="90" [fromProfiles]="'true'" [loading]="false"></doughnut-chart>
            </div>
            <table [style.width]="'80%'" [style.margin]="'auto'" fxFlex="65">
              <tr>               
                <th>{{'Edad' | translate}}</th>
                <th>{{'Numero' | translate}}</th>
                <th>%</th>
                <th [style.width]="'30%'"> {{'Por encima media nacional' | translate}}</th>
              </tr>
              <tr *ngFor="let item of hdata">
                <td class="item-range">{{ item.range }}</td>
                <td class="item-count">{{ item.count | numbersp }}</td>
                <td class="item-percent">{{ item.percentage | numbersp }}%</td>
                <td class="item-range">
                  <div>
                    <mat-icon class="fa fa-star" *ngIf="item.stars && item.stars >= 1">star_rate</mat-icon>
                    <mat-icon class="fa fa-star" *ngIf="item.stars && item.stars >= 2">star_rate</mat-icon>
                    <mat-icon class="fa fa-star" *ngIf="item.stars && item.stars >= 3">star_rate</mat-icon>
                  </div>
                </td>
              </tr>
            </table>
          </div>
          <div fxFlex="33" fxLayout="row" fxLayoutAlign="space-around center">
            <div [style.textAlign]="'center'"  fxFlex="35">
              <img src="assets/img/icons/dashboard/mujeres.png">
              <p class="results-demo">{{ result.demographic.M.count | numbersp }}</p>
              <doughnut-chart [data]="[result.demographic.M.percentage,100-result.demographic.M.percentage]"[labels]="['%']" [height]="90" [fromProfiles]="'true'" [loading]="false"></doughnut-chart>
            </div>
            <table [style.width]="'80%'" [style.margin]="'auto'" fxFlex="65">
              <tr>
                <th>{{ 'Edad' | translate }}</th>
                <th>{{ 'Nº' | translate }}</th>
                <th>%</th>
                <th [style.width]="'30%'">{{ 'Por encima media nacional' | translate }}</th>
              </tr>
              <tr *ngFor="let item of mdata">
                <td class="item-range">{{ item.range }}</td>
                <td class="item-count">{{ item.count | numbersp }}</td>
                <td class="item-percent">{{ item.percentage | numbersp }}%</td>
                <td class="item-range">
                  <div>
                    <mat-icon class="fa fa-star" *ngIf="item.stars && item.stars >= 1">star_rate</mat-icon>
                    <mat-icon class="fa fa-star" *ngIf="item.stars && item.stars >= 2">star_rate</mat-icon>
                    <mat-icon class="fa fa-star" *ngIf="item.stars && item.stars >= 3">star_rate</mat-icon>
                  </div>
                </td>
              </tr>
            </table>
          </div>
          <div fxFlex="33" fxLayout="row" fxLayoutAlign="space-around center">
            <div [style.textAlign]="'center'" [style.height]="'150px'" fxFlex="35">
              <div>
                <img src="assets/img/icons/dashboard/hombre.png">
                <img src="assets/img/icons/dashboard/mujeres.png">
              </div>
              <p class="results-demo">{{ total | numbersp }}</p>
            </div>
            <table [style.width]="'70%'" [style.margin]="'auto'" fxFlex="65">
              <tr>
                <th>{{ 'Edad' | translate }}</th>
                <th>{{ 'Nº' | translate }}</th>
                <th>%</th>
                <th [style.width]="'30%'">{{ 'Por encima media nacional' | translate }}</th>
              </tr>
              <tr *ngFor="let item of totales">
                <td class="item-range">{{ item.range }}</td>
                <td class="item-count">{{ item.count | numbersp }}</td>
                <td class="item-percent">{{ item.percentage | numbersp }}%</td>
                <td class="item-range">
                  <div>
                    <mat-icon class="fa fa-star" *ngIf="item.stars && item.stars >= 1">star_rate</mat-icon>
                    <mat-icon class="fa fa-star" *ngIf="item.stars && item.stars >= 2">star_rate</mat-icon>
                    <mat-icon class="fa fa-star" *ngIf="item.stars && item.stars >= 3">star_rate</mat-icon>
                </div>
                </td>
              </tr>
            </table>
          </div>
      </div>
      </mat-card-content>
    </mat-card>
    <mat-card *ngIf="result && result.economic.length > 0">
      <mat-card-header>
        <mat-card-title>{{ 'PERFIL ECONÓMICO' | translate }}, {{ 'Radio' | translate }} {{ formGroup.get('ratius').value }} {{ 'metros' | translate }}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <table class="socioeconomic-table">
          <tr>
            <th>
              {{ 'Renta media por persona' | translate }}
            </th>
            <td [style.textAlign]="'center'">
              {{ result.economic[0].income_person.rank_from | numbersp }} - {{ result.economic[0].income_person.rank_to | numbersp }}<br>
            </td>
            <td [style.textAlign]="'center'" rowspan="2">
              ({{ result.economic[0].income_person.rank_text }})
            </td>
          </tr>
          <tr>
            <th>
              {{ 'Renta media por hogar' | translate }}
            </th>
            <td [style.textAlign]="'center'">{{ result.economic[0].income_home.rank_from | numbersp }} - {{ result.economic[0].income_home.rank_to | numbersp }}</td>
          </tr>
        </table>
      </mat-card-content>
    </mat-card>
  </mat-card-content>
</mat-card>