.container {
    position: absolute !important;
    left: 0;
    top: 0;
    width: 100% !important;
    height: 100% !important;
}

canvas {
    width: 100% !important;
    height: 100% !important;
}