<div id="htmlData" #htmlData>
<mat-card>
  <mat-card-header>
    <mat-card-title><mat-icon>bar_chart</mat-icon>{{ 'COMPONENTS.flow.result.title' | translate }}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div fxLayout="row" fxLayoutAlign="space-between">
        <p>{{ 'COMPONENTS.flow.result.period' | translate }} <b>{{data.startDate | customDate }} - {{data.endDate | customDate }}</b><p>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-evenly center">
        <p>{{ 'COMPONENTS.flow.result.customer' | translate }}: <b>{{customer.name?customer.name:'' | translate}}</b></p>
        <p>{{ 'Centros/Áreas' | translate }}: <b>{{site.name?site.name:'' | translate}}</b></p>
        <p>{{ 'Cámaras/Puertas' | translate }}: <b>{{camera.name?camera.name:'' | translate}}</b></p>
    </div>
  </mat-card-content>
</mat-card>
<mat-card>
    <mat-card-content class="afluencia-total" fxLayout="row">
        <div class="cleardiv" fxLayout="row">
            <div class="cleardiv">
                <p matTooltipPosition="above" [matTooltip]="'Nº movimientos' | translate"><mat-icon>person</mat-icon> {{ 'Nº movimientos' | translate }}</p>
                <p class="afluencia-number" *ngIf="!isLoading">{{numMovements | numbersp}}</p>
                <mat-spinner color="accent" *ngIf="isLoading"></mat-spinner>
            </div>
            <div class="b-line" *ngIf="data.camera === null || data.camera === 0 || data.camera === 120 || data.camera === 121"></div>
            <div class="cleardiv">
                <p matTooltipPosition="above" [matTooltip]="'Nº total de perfiles detectados' | translate"><mat-icon>person</mat-icon> {{ 'Perfiles detectados' | translate }}</p>
                <p class="afluencia-number" *ngIf="!isLoading">{{totalVisits.length | numbersp}}</p>
                <mat-spinner color="accent" *ngIf="isLoading"></mat-spinner>
            </div>
            <div class="b-line" *ngIf="data.camera === null || data.camera === 0 || data.camera === 120 || data.camera === 121"></div>
            <div class="cleardiv">
                <p matTooltipPosition="above" [matTooltip]="'Nº de perfiles únicos detectados a través de perfilado' | translate"><mat-icon>person</mat-icon> {{ 'Perfiles únicos' | translate }}</p>
                <p class="afluencia-number" *ngIf="!isLoading">{{allRecurrencersCounter | numbersp}}</p>
                <mat-spinner color="accent" *ngIf="isLoading"></mat-spinner>
            </div>
            <div class="cleardiv" *ngIf="data.camera === null || data.camera === 0 || data.camera === 120 || data.camera === 121">
                <div class="cleardiv afluencias-hombres" fxLayout="row" *ngIf="!isLoading">
                    <img src="assets/img/icons/dashboard/hombre.png" fxLayoutAlign="start center">
                    <div class="cleardiv" fxLayout="column"  fxLayoutAlign="start center">
                        <p fxLayoutAlign="center center"  *ngIf="hombres > 0">{{ 'STATISTICS.men' | translate }} <b>{{ hombres }}%</b></p>
                        <p fxLayoutAlign="center center" >{{ getAverageAge(afluencias,'male') | numbersp }} {{ 'años de media' |translate }}</p>
                    </div>
                </div>
                <div class="cleardiv afluencias-hombres" fxLayout="row" *ngIf="!isLoading">
                    <img src="assets/img/icons/dashboard/mujeres.png" fxLayoutAlign="start center">
                    <div class="cleardiv" fxLayout="column" fxLayoutAlign="start center">
                        <p fxLayoutAlign="center center"  *ngIf="mujeres > 0">{{ 'STATISTICS.women' | translate }} <b>{{ mujeres }}%</b></p>
                        <p fxLayoutAlign="center center"  class="averageAge">{{ getAverageAge(afluencias,'female') | numbersp }} {{ 'años de media' |translate }}</p>
                    </div>
                </div>
            </div>
            <div class="b-line" *ngIf="data.camera === null || data.camera === 0 || data.camera === 120 || data.camera === 121"></div>
        </div>
        <div class="cleardiv" fxLayout="row" *ngIf="data.camera === null || data.camera === 0 || data.camera === 120 || data.camera === 121">
            <div class="cleardiv" fxLayout="column">
                <div class="cleardiv" *ngIf="data.camera === null || data.camera === 0 || data.camera === 120 || data.camera === 121">
                    <p matTooltipPosition="above" [matTooltip]="'Nº de perfiles que vuelven en el periodo de tiempo elegido' | translate"><mat-icon>person</mat-icon> {{ 'Perfiles recurrentes' | translate }}</p>
                    <p class="afluencia-number" *ngIf="!isLoading">{{uniqueRecurrentVisits | numbersp}}</p>
                    <mat-spinner color="accent" *ngIf="isLoading"></mat-spinner>
                </div>
                <div class="cleardiv">
                    <p matTooltipPosition="above" [matTooltip]="'Numero medio de veces que se repite cada perfil' | translate"><mat-icon>person</mat-icon> {{ 'Media de Visitas' | translate }}</p>
                    <p class="afluencia-number" *ngIf="!isLoading">{{(totalRecurrentsVisits/uniqueRecurrentVisits) | numbersp}}</p>
                    <mat-spinner color="accent" *ngIf="isLoading"></mat-spinner>
                </div>
            </div>
            <div class="cleardiv" *ngIf="data.camera === null || data.camera === 0 || data.camera === 120 || data.camera === 121">
                <div class="cleardiv afluencias-hombres" fxLayout="row" *ngIf="!isLoading">
                    <img src="assets/img/icons/dashboard/hombre.png" fxLayoutAlign="start center">
                    <div class="cleardiv" fxLayout="column"  fxLayoutAlign="start center">
                        <p fxLayoutAlign="center center" *ngIf="hombres > 0">{{ 'STATISTICS.men' | translate }} <b>{{ hombresRecurrentes }}%</b></p>
                        <p fxLayoutAlign="center center" >{{ getAverageAge(allRecurrencers,'male') | numbersp }} {{ 'años de media' |translate }}</p>
                    </div>
                </div>
                <div class="cleardiv afluencias-hombres" fxLayout="row" *ngIf="!isLoading">
                    <img src="assets/img/icons/dashboard/mujeres.png" fxLayoutAlign="start center">
                    <div class="cleardiv" fxLayout="column" fxLayoutAlign="start center">
                        <p fxLayoutAlign="center center" *ngIf="mujeres > 0">{{ 'STATISTICS.women' | translate }} <b>{{ mujeresRecurrentes }}%</b></p>
                        <p fxLayoutAlign="center center" >{{ getAverageAge(allRecurrencers,'female') | numbersp }} {{ 'años de media' |translate }}</p>
                    </div>
                </div>
            </div>
        </div>
    </mat-card-content>
</mat-card>
<mat-card *ngIf="data.camera === null || data.camera === 0 || data.camera === 120 || data.camera === 121">
    <mat-card-content>
        <h3>{{ 'Últimas caras detectadas' | translate }}</h3>
        <ng-container *ngIf="lastAfluences.length > 0">
            <div *ngFor="let af of lastAfluences">
                <label *ngIf="af.gender === 'male'">{{  'Hombre' | translate }} {{ 'con' | translate }}  {{ af.age }} {{ 'años' |translate }}</label>
                <label *ngIf="af.gender === 'female'">{{  'Mujer' | translate }} {{ 'con' | translate }}  {{ af.age }} {{ 'años' |translate }}</label>
                <p>{{af.datetime | date: 'HH:mm:ss dd/MM/yyyy' }}</p>
            </div>
        </ng-container>
        <ng-container *ngIf="lastAfluences.length <= 0">
            <mat-spinner color="accent" *ngIf="loading"></mat-spinner>
            <p *ngIf="!loading">{{ 'CAMERA.detail.last_afluences.error' | translate }}</p>
        </ng-container>
    </mat-card-content>
</mat-card>
<mat-card *ngIf="data.camera === null || data.camera === 0">
    <mat-card-content *ngIf="!isLoading">
        <h3>{{ 'Distribución por Cámaras/Puertas:' | translate }}</h3>
        <ng-container *ngFor="let s of groupedSitesCameras">
            <div fxLayout="row" fxLayoutAlign="space-evenly center" class="content-container">
                <div fxFlex="15">
                    <h4><b>{{ s.site.name }}</b></h4>
                    <ng-container *ngFor="let c of s.cameras">
                        <p *ngIf="c.idcamera === 120 || c.idcamera === 121">{{  'Perfiles totales' | translate }}: {{ c.totalVisits | numbersp }}</p>
                        <p *ngIf="c.idcamera === 120 || c.idcamera === 121">{{  'Perfiles únicos' | translate }}: {{ c.uniqueVisits | numbersp }}</p>
                    </ng-container>
                </div>
                <ng-container *ngFor="let c of s.cameras">
                    <ng-container *ngIf="(data.camera === null || data.camera === 0 || data.camera === 120 || data.camera === 121) && (c.idcamera === 121 || c.idcamera === 120)" fxFlex="20">
                        <div class="cleardiv">
                            <p class="afluencias-hombres" fxLayout="row" *ngIf="!isLoading"><img src="assets/img/icons/dashboard/hombre.png" fxLayoutAlign="start center"><span fxLayoutAlign="start center" *ngIf="hombres > 0">{{ 'STATISTICS.men' | translate }} {{ c.malepercentage }}%</span></p>
                        </div>
                        <div class="cleardiv">
                            <p class="afluencias-hombres" fxLayout="row" *ngIf="!isLoading"><img src="assets/img/icons/dashboard/mujeres.png" fxLayoutAlign="start center"><span fxLayoutAlign="start center" *ngIf="mujeres > 0">{{ 'STATISTICS.women' | translate }} {{ c.femalepercentage }}%</span></p>
                        </div>
                    </ng-container>
                </ng-container>
                <table fxFlex="65" class="cameras-table" *ngIf="me.customer.idcustomer === 2">
                    <tr>
                        <th></th>
                        <ng-container *ngFor="let c of s.cameras">
                            <th *ngIf="c.idcamera !== 121 && c.idcamera !== 120" style="text-align: left;">{{ c.name | translate }}</th>
                        </ng-container>
                    </tr>
                    <!--
                    <tr *ngIf="s.cameras.length > 1">
                        <td>{{ 'Total Visitas' | translate }}</td>
                        <ng-container *ngFor="let c of s.cameras">
                            <td *ngIf="c.idcamera !== 121 && c.idcamera !== 120">{{ c.total }}</td>
                        </ng-container>
                    </tr>
                    -->
                    <tr>
                        <td></td>
                        <ng-container *ngFor="let c of s.cameras">
                            <td *ngIf="c.idcamera !== 121 && c.idcamera !== 120">
                                <div class="doughnut-container" *ngIf="c.visitpercentage">
                                    <doughnut-chart class="afluencia-number doughnut" [data]="[c.visitpercentage,100-c.visitpercentage]" [labels]="['%']" [loading]="false" height="20"></doughnut-chart>
                                </div>
                            </td>
                        </ng-container>
                    </tr>
                </table>
            </div>
        </ng-container>
    </mat-card-content>
    <mat-card-content *ngIf="isLoading">
        <h3>{{ 'Distribución por Cámaras/Puertas:' | translate }}</h3>
        <mat-spinner color="accent"></mat-spinner>
    </mat-card-content>
</mat-card>
<mat-card>
    <mat-card-content>
        <h3>{{ 'Perfiles por horas, Día y Día de la semana' | translate }}</h3>
        <form-field-select [fieldData]="fieldDataTotal" [formGroup]="formGroup" [isLoading]="false"></form-field-select>
        <linear-chart *ngIf="formGroup.get('total').value === 1" [data]="afluenciasHoraLineChartData" [labels]="afluenciasHoraLineChartLabels" [loading]="isLoading" [aspectRatio]="aspectRatio" [height]="chartHeihgt"></linear-chart>
        <linear-chart *ngIf="formGroup.get('total').value === 2" [data]="afluenciasDiaLineChartData" [labels]="afluenciasDiaLineChartLabels" [loading]="isLoading" [aspectRatio]="aspectRatio" [height]="chartHeihgt"></linear-chart>
        <linear-chart *ngIf="formGroup.get('total').value === 3" [data]="afluenciasDiaSemanaLineChartData" [labels]="afluenciasDiaSemanaLineChartLabels" [loading]="isLoading" [aspectRatio]="aspectRatio" [height]="chartHeihgt"></linear-chart>
        <hr>
        <div class="datos-afluencias" fxLayout="row" fxLayoutAlign="space-evenly center">
            <div *ngIf="formGroup.get('total').value === 1">
                <p><mat-icon>schedule</mat-icon> {{ 'COMPONENTS.flow.result.block2.hour_max' | translate }}</p>
                <p class="text-data" *ngIf="!isLoading">{{horaPunta}}</p>
                <mat-spinner color="accent" *ngIf="isLoading"></mat-spinner>
            </div>
            <div *ngIf="formGroup.get('total').value === 2">
                <p><mat-icon>calendar_today</mat-icon> {{ 'Día punta' | translate }}</p>
                <p class="text-data">{{bestDay}}</p>
            </div>
            <div *ngIf="formGroup.get('total').value === 3">
                <p><mat-icon>calendar_today</mat-icon> {{ 'COMPONENTS.flow.result.block2.day_max' | translate }}</p>
                <p class="text-data">{{bestWeekday | translate}}</p>
            </div>
        </div>
    </mat-card-content>
</mat-card>
<mat-card *ngIf="data.camera === null || data.camera === 0 || data.camera === 120 || data.camera === 121">
    <mat-card-content>
        <h3></h3>
        <form-field-select [fieldData]="fieldDataGenderRange" [formGroup]="formGroup" [isLoading]="false"></form-field-select>
        <mat-grid-list cols="2" rowHeight="2:1" *ngIf="formGroup.get('genderRange').value === 1">
            <mat-grid-tile>
                <h3>{{ 'Afluencias por Género' | translate }}</h3>
                <linear-chart [data]="genderHoraLineChartData" [labels]="genderHoraLineChartLabels" [loading]="isLoading"></linear-chart>
            </mat-grid-tile>
            <mat-grid-tile>
                <h3>{{ 'Afluencias por Rango de Edad' | translate }}</h3>
                <linear-chart [data]="ageRangeHoraLineChartData" [labels]="ageRangeHoraLineChartLabels" [loading]="isLoading"></linear-chart>
            </mat-grid-tile>
        </mat-grid-list>
        <mat-grid-list cols="2" rowHeight="2:1" *ngIf="formGroup.get('genderRange').value === 2">
            <mat-grid-tile>
                <h3>{{ 'Afluencias por Género' | translate }}</h3>
                <linear-chart [data]="genderDiaLineChartData" [labels]="genderDiaLineChartLabels" [loading]="isLoading"></linear-chart>
            </mat-grid-tile>
            <mat-grid-tile>
                <h3>{{ 'Afluencias por Rango de Edad' | translate }}</h3>
                <linear-chart [data]="ageRangeDiaLineChartData" [labels]="ageRangeDiaLineChartLabels" [loading]="isLoading"></linear-chart>
            </mat-grid-tile>
        </mat-grid-list>
        <mat-grid-list cols="2" rowHeight="2:1" *ngIf="formGroup.get('genderRange').value === 3">
            <mat-grid-tile>
                <h3>{{ 'Afluencias por Género' | translate }}</h3>
                <linear-chart [data]="genderDiaSemanaLineChartData" [labels]="genderDiaSemanaLineChartLabels" [loading]="isLoading"></linear-chart>
            </mat-grid-tile>
            <mat-grid-tile>
                <h3>{{ 'Afluencias por Rango de Edad' | translate }}</h3>
                <linear-chart [data]="ageRangeDiaSemanaLineChartData" [labels]="ageRangeDiaSemanaLineChartLabels" [loading]="isLoading"></linear-chart>
            </mat-grid-tile>
        </mat-grid-list>
    </mat-card-content>
</mat-card>
<mat-card *ngIf="data.camera === null || data.camera === 0 || data.camera === 120 || data.camera === 121">
    <mat-card-content>
    <mat-grid-list cols="2" rowHeight="2:1">
        <mat-grid-tile> 
            <h3>{{ 'COMPONENTS.flow.result.block3.graph1_title' | translate }}</h3>
            <pie-chart [data]="genderPieChartData" [labels]="genderPieChartLabels" [loading]="isLoading" (onClickedChart)="chartClicked($event)"></pie-chart>
        </mat-grid-tile>
        <mat-grid-tile>
            <h3>{{ 'COMPONENTS.flow.result.block3.graph2_title' | translate }} <span *ngIf="selectedGender !== ''">-</span> {{ selectedGender | translate }}</h3>
            <pie-chart [data]="typePieChartData" [labels]="typePieChartLabels" [loading]="isLoading"></pie-chart>
            <p>{{ getAverageAge(afluencias, filterAllVisitors) | numbersp }} {{ 'años de media' | translate }}</p>
        </mat-grid-tile>
    </mat-grid-list>
    </mat-card-content>
</mat-card>
<mat-card *ngIf="data.camera === null || data.camera === 0 || data.camera === 120 || data.camera === 121">
    <mat-card-content>
        <h3>{{ 'RANKING DE PERFILES DETECTADOS' | translate }}</h3>
        <table class="ranking" *ngIf="!isLoading">
            <tr>
                <th>{{ 'Género' | translate }}</th>
                <th>{{ 'Rango de Edad' | translate }}</th>
                <th>%</th>
            </tr>
            <ng-container *ngFor="let pos of ranking">
                <tr>
                    <td *ngIf="pos.genre === 'male'">{{ 'COMMON.man' | translate }}</td>
                    <td *ngIf="pos.genre === 'female'">{{ 'COMMON.woman' | translate }}</td>
                    <td>{{ pos.range }}</td>
                    <td>{{ pos.percentage | numbersp}}</td>
                </tr>
            </ng-container>
        </table>
        <mat-spinner color="accent" *ngIf="isLoading"></mat-spinner>
    </mat-card-content>
</mat-card>
<mat-card *ngIf="data.camera === null || data.camera === 0 || data.camera === 120 || data.camera === 121">
    <mat-card-content>
    <mat-grid-list cols="2" rowHeight="2:1">
        <mat-grid-tile> 
            <h3>{{ 'Recurrencias por género' | translate }}</h3>
            <pie-chart [data]="genderRecurrencePieChartData" [labels]="genderRecurrencePieChartLabels" [loading]="isLoading" (onClickedChart)="chartRecurrenceClicked($event)"></pie-chart>
        </mat-grid-tile>
        <mat-grid-tile>
            <h3>{{ 'Recurrencias por rango de edad' | translate }} <span *ngIf="selectedRecurrenceGender !== ''">-</span> {{ selectedRecurrenceGender | translate }}</h3>
            <pie-chart [data]="typeRecurrencePieChartData" [labels]="typeRecurrencePieChartLabels" [loading]="isLoading"></pie-chart>
            <p>{{ getAverageAge(allRecurrencers, filterRecurrencers) | numbersp}} {{ 'años de media' | translate }}</p>
        </mat-grid-tile>
    </mat-grid-list>
    </mat-card-content>
</mat-card>
<mat-card *ngIf="data.camera === null || data.camera === 0 || data.camera === 120 || data.camera === 121">
    <mat-card-content>
        <h3>{{ 'RANKING DE PERFILES RECURRENTES' | translate }}</h3>
        <table class="ranking" *ngIf="!isLoading">
            <tr>
                <th>{{ 'Género' | translate }}</th>
                <th>{{ 'Rango de Edad' | translate }}</th>
                <th>%</th>
            </tr>
            <ng-container *ngFor="let pos of recurrenceRanking">
                <tr>
                    <td *ngIf="pos.genre === 'male'">{{ 'COMMON.man' | translate }}</td>
                    <td *ngIf="pos.genre === 'female'">{{ 'COMMON.woman' | translate }}</td>
                    <td>{{ pos.range }}</td>
                    <td>{{ pos.percentage | numbersp}}</td>
                </tr>
            </ng-container>
        </table>
        <mat-spinner color="accent" *ngIf="isLoading"></mat-spinner>
    </mat-card-content>
</mat-card>
<mat-card *ngIf="data.camera === null || data.camera === 0">
    <mat-card-content>
        <h3>{{ 'COMPONENTS.flow.result.block3.graph3_title' | translate }}</h3>
        <form-field-select [fieldData]="fieldDataCamera" [formGroup]="formGroup"></form-field-select>
        <linear-chart *ngIf="formGroup.get('camera').value === 1" [data]="camarasHoraLineChartData" [labels]="camarasHoraLineChartLabels" [loading]="isLoading" [aspectRatio]="aspectRatio" [height]="chartHeihgt"></linear-chart>
        <linear-chart *ngIf="formGroup.get('camera').value === 2" [data]="camarasDiaLineChartData" [labels]="camarasDiaLineChartLabels" [loading]="isLoading" [aspectRatio]="aspectRatio" [height]="chartHeihgt"></linear-chart>
        <linear-chart *ngIf="formGroup.get('camera').value === 3" [data]="camarasDiaSemanaLineChartData" [labels]="camarasDiaSemanaLineChartLabels" [loading]="isLoading" [aspectRatio]="aspectRatio" [height]="chartHeihgt"></linear-chart>
    </mat-card-content>
</mat-card>
</div>
<mat-card>
  <mat-card-actions>
    <button mat-raised-button color="accent" (click)="excelExport()">{{ 'COMPONENTS.flow.result.buttons.excel' | translate }}</button>
    <button mat-raised-button color="accent" (click)="pdfExport()">{{ 'COMPONENTS.flow.result.buttons.pdf' | translate }}</button>
  </mat-card-actions>
</mat-card>