h4 {
    margin: 0 0 4px;
    text-align: center;
}

.cdk-list {
    background: white;
    border: 1px solid #ddd;
}

.playlogic {
    background-color: white;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
}

.playlogic:last-child {
    border-bottom: none;
}

.cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
}
  
.cdk-drag-placeholder {
    opacity: 0;
}
  
.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
  
.cdk-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}