<h4>{{ 'Cadena BIPA' | translate }}</h4>
<div class="cdk-list" cdkDropList [cdkDropListData]="playlogics" (cdkDropListDropped)="drop($event)">
    <div class="playlogic" *ngFor="let playlogic of playlogics"  cdkDrag> 
        <playlogic *ngIf="(playlogic.content_category)" [disabled]="disabled" [show]="true" [playlogic]="playlogic" (onView)="view($event)"></playlogic>                    
    </div>           
</div>
<br />
<div fxLayout="row" *ngIf="!disabled">
    <div fxFlex></div>
    <button *ngIf="(!loading)" mat-flat-button color="accent" (click)="update()">{{ 'Aplicar' | translate }}</button>
    <mat-spinner *ngIf="(loading)"></mat-spinner>
</div>