<mat-card>
  <mat-card-content>
    <div mat-card-avatar>
      <mat-icon aria-hidden="false" aria-label="Áreas de reproducción">web</mat-icon>
    </div>
    <p class="title"><a [routerLink]="['/private/playareas']">{{ "Áreas de reproducción" | translate }}</a><br></p>
    <p *ngIf="!load">{{ playareas }}</p>
    <div class="spinner-container" *ngIf="load">
      <mat-spinner diameter="40"  color="accent"></mat-spinner>
    </div>
  </mat-card-content>
</mat-card>
