<h1 mat-dialog-title>{{title | translate }}</h1>
<mat-dialog-content>
    <form class="custom-form" [formGroup]="form" enctype="multipart/form-data">
        <mat-label color="primary">{{ 'FORMS.fields.name' | translate }}* </mat-label><br>
        <mat-form-field appearance="outline">
            <input matInput type="text" formControlName="name" value="" required />
            <mat-error *ngIf="name.hasError('required')" color="accent">{{ 'FORMS.errors.name_required' | translate }}
            </mat-error>
        </mat-form-field>
        <mat-label color="primary">{{ 'FORMS.fields.description' | translate }} </mat-label><br>
        <mat-form-field appearance="outline">
            <input matInput type="text" formControlName="description" value="" />
        </mat-form-field>
        <mat-label color="primary">{{ 'FORMS.fields.height' | translate }} </mat-label><br>
        <mat-form-field appearance="outline">
            <input matInput type="text" formControlName="height" value="" />
        </mat-form-field>
        <mat-label color="primary">{{ 'FORMS.fields.width' | translate }} </mat-label><br>
        <mat-form-field appearance="outline">
            <input matInput type="text" formControlName="width" value="" />
        </mat-form-field>
        <mat-label color="primary">{{ 'Broadcasting' }} </mat-label><br>

        <mat-slide-toggle formControlName="broadcasting">Broadcasting!</mat-slide-toggle><br>

        <mat-label color="primary">{{ 'FORMS.fields.image' | translate }}* </mat-label><br>
        <mat-form-field appearance="outline">
            <ngx-mat-file-input [formControl]="image_url" accept="image/png, image/jpeg" required>
            </ngx-mat-file-input>
            <mat-error *ngIf="image_url.hasError('maxSize')" color="accent">{{ 'Tamaño Archivo incorrecto' | translate
                }}</mat-error>
            <mat-error *ngIf="image_url.hasError('required')" color="accent">{{ 'Imagen es obligatoria' | translate }}
            </mat-error>
        </mat-form-field>
    </form>
</mat-dialog-content>
<mat-dialog-actions fxLayout="row" fxFlexFill *ngIf="(!button)">
    <div fxFlex="50">
        <button class="mat-raised-button black" (click)="close()">{{ 'FORMS.buttons.cancel' | translate }}</button>
    </div>
    <div fxFlex="50">
        <button class="mat-raised-button mat-accent" (click)="save(form.value)" cdkFocusInitial>{{ 'FORMS.buttons.send'
            | translate }}</button>
    </div>
</mat-dialog-actions>
<mat-dialog-actions fxLayout="row" fxFlexFill *ngIf="(button)">
    <div fxFlex="100">
        <button class="mat-raised-button mat-accent right" (click)="close()" cdkFocusInitial>{{button | translate
            }}</button>
    </div>
</mat-dialog-actions>