 
 <div class="slec-dis" fxLayout="row">
     <label class="labl-selc">{{ 'COMPONENTS.province_select.label' | translate }}</label>
     <div class="sellc-cont">
        <mat-form-field appearance="fill" >
            <mat-label>{{ 'COMPONENTS.province_select.label' | translate }}</mat-label>
            <mat-select [formControl]="provincias" (selectionChange)="captureValue()" multiple [disabled]="!provinceAvailable">
                <mat-option disabled>{{ 'COMPONENTS.province_select.placeholder' | translate }}</mat-option>
                <mat-option *ngFor="let province of provinces" [value]="province">{{province.name}}</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
</div>


