<mat-card>
  <mat-card-header>
    <div mat-card-avatar>
      <mat-icon aria-hidden="false" [aria-label]="'Emisiones totales por hora' | translate">preview</mat-icon>
    </div>
    <mat-card-title>{{ 'Emisiones totales por hora' | translate }}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <linear-chart [data]="lineChartData" [labels]="lineChartLabels" [loading]="isLoading"></linear-chart>
  </mat-card-content>
</mat-card>