<div fxLayout="row">
  <div fxLayout="column" fxFlex> 
    <h1 class="title">{{ 'App' | translate }}</h1> 
  </div>
  <div fxLayout="column" align="end">  
    <button mat-icon-button [routerLink]="['/private/apps']" matTooltip="{{'Volver' | translate}}"><mat-icon>west</mat-icon></button>
  </div>
</div> 
<div fxLayout="column" class="form-container">
  <form class="custom-form" [formGroup]="form">         
      <mat-label color="primary">{{ 'FORMS.fields.name' | translate }}* </mat-label><br>        
      <mat-form-field  appearance="outline">          
        <input matInput type="text"  formControlName="name" value="" required />
        <mat-error *ngIf="name.hasError('required')" color="accent">{{ 'FORMS.errors.name_required' | translate }}</mat-error>
      </mat-form-field> 
      <mat-label color="primary">{{ 'FORMS.fields.api_key' | translate }}* </mat-label><br>
      <mat-form-field  appearance="outline">
        <input  matInput type="text"  formControlName="apikey" value=""/>
        <mat-error *ngIf="apikey.hasError('email')">{{ 'FORMS.errors.api_key' | translate }}</mat-error>
        <mat-error *ngIf="apikey.hasError('required')" color="accent">{{ 'Api Key es requerido' | translate }}</mat-error>
      </mat-form-field>          
      <mat-label  color="primary">{{ 'COMPONENTS.customer_select.label1' | translate }}*</mat-label><br>
      <mat-form-field  appearance="outline">
        <mat-select formControlName="idcustomer" [compareWith]="compareCustomer" >
          <mat-option value=""></mat-option>
          <mat-option *ngFor="let customer of customers" value={{customer.idcustomer}} >{{customer.name}}</mat-option>
        </mat-select>          
        <mat-error *ngIf="idcustomer.hasError('required')">{{ 'FORMS.errors.role_required' | translate }}</mat-error>
      </mat-form-field>       
      <div class="button-container">
        <div class="spinner-container" *ngIf="loading">
            <mat-spinner diameter="24"  color="accent"></mat-spinner>
          </div>
        <button mat-raised-button *ngIf="!id" color="accent" [disabled]="loading" (click)="create()">{{ 'FORMS.buttons.new' | translate }}</button>
        <button mat-raised-button *ngIf="id" color="accent" [disabled]="loading" (click)="update()">{{ 'FORMS.buttons.edit' | translate }}</button>
      </div>              
  </form>
</div> 

