.spinner-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .button-container {
    display: inline-block;
    position: absolute;
    bottom: 10px;
    left: 40px;
  }

  button{
    width: 300px;
    text-align: center;
  }

  
