.container{
    display: flex;
    flex-direction: column;
    min-width: 300px;
}

.mat-table {
    overflow: auto;
  }

.loading{
    position: relative;
    left: 50%;
}

.actions button{
    margin-right: 5px;
    width: 100px;
}

th.mat-header-cell, td.mat-cell {
    border:none;
}

.mat-cell {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-right: 10px;
}

.green-icon {
    color: #64ca26;
}

.orange-icon {
    color: #f64747 ;
}
