<div class='container'>

  <div class='loading' *ngIf="load"> 
    <mat-spinner diameter = "80" strokeWidth = "5" color='accent'>    
    </mat-spinner>
  </div>


  <form class="custom-form" [formGroup]="form">
    <div fxLayout="row"> 
      <div fxLayout="column" class="form-container">
        <customer-select [selected]="idcustomer" [customersToSelect]="customersToSelect" (onSelected)="customerSelected($event)"></customer-select>        
        <div class="cont-nombre">    
          <mat-label color="primary">{{ 'FORMS.fields.name' | translate }}* </mat-label>             
          <mat-form-field  appearance="outline">                    
            <input matInput type="text"  formControlName="name" value="" id="name" required />
            <mat-error *ngIf="name.hasError('required')" color = "accent">{{ 'FORMS.errors.name_required' | translate }}</mat-error>
          </mat-form-field> 
        </div>          
        <div class="content">
          <mat-label color="primary">{{ 'FORMS.fields.location' | translate }}* </mat-label><br>
          <locations
            [idcustomer]="idcustomer"
            [playcircuit]="(playcircuit)"               
            (onSave)="onSaveLocationsDialog($event)" >
          </locations>
        </div>
      </div>       
      <div fxLayout="column" class="form-container">
        <div class="content">
          <mat-label color="primary">{{ 'FORMS.fields.tags' | translate }}</mat-label><br>
          <mat-chip-list #chipList aria-label="Tag selection">
            <mat-chip *ngFor="let tag of playcircuit.tags">
              {{tag.name}}
            </mat-chip>
          </mat-chip-list><br>
          <a class="link" mat-raised-button color="accent" (click)="openDialog()" mat-button>{{ 'FORMS.buttons.edit_tags' | translate }}</a>
        </div>
      </div>
      <div fxLayout="column" class="form-container">  
        <div class="content">
          <mat-label color="primary">{{ 'FORMS.fields.langs' | translate }}*</mat-label><br><br>
          <mat-chip-list #chipList aria-label="Lang selection">
            <mat-chip *ngFor="let lang of playcircuit.langs">
              {{lang.name}}
            </mat-chip>
          </mat-chip-list><br>
          <mat-form-field appearance="fill">
            <mat-label color="primary">{{ 'FORMS.fields.lang_select' | translate }}</mat-label><br>
            <mat-select [formControl]="lang" [compareWith] = "compareFnLang" (selectionChange)="selLang()" multiple>
              <mat-option disabled>{{ 'FORMS.placeholder.select' | translate }}</mat-option>
              <mat-option *ngFor="let lang of langs" [value]="lang">{{lang.name}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="button-container">
          <div class="spinner-container" *ngIf="loading">
            <mat-spinner diameter="24"  color="accent"></mat-spinner>
          </div>
          <button mat-button mat-dialog-close class="mat-raised-button" [routerLink]="['/private/playcircuit/list']">{{ 'FORMS.buttons.cancel' | translate }}</button>
          <div fxLayout="column" fxFlex="20px"></div>
          <button mat-raised-button *ngIf="!id" color="accent" [disabled]="loading" (click)="create()">{{ 'FORMS.buttons.save' | translate }}</button>
          <button mat-raised-button *ngIf="id" color="accent" [disabled]="loading" (click)="update()">{{ 'FORMS.buttons.save' | translate }}</button>
        </div>
      </div>
    </div>
    <div fxLayout="row">
      
    </div>
  </form>
</div>    


