.container {
   /* padding-top: 250px;*/
    padding-left: 5px;
}

.form-container{
    min-height: 400px;
    height: 100%;
}

.spinner-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .button-container {
    position: absolute;
    bottom: 15px;
    right: 25px;
    
  }

  .button-container button{
    text-align: center;
  }

  
/***** css nuevo ****/



.cont-nombre mat-label {
    font-size: 14px;
    color: #9A9A9A;
}


.logdr-tag mat-label {
    font-size: 14px;
    color: #9A9A9A;
}

.logdr-tag {
    margin-bottom: 30px;
}


.logdr-tag mat-list {
    padding-top: 0;
    font-size: 13px;
    line-height: 13px;
    padding-bottom: 3px;
}


.caja-heig {
    height: auto;
}

.cont-nombre .mat-form-field-flex {
    border: none !important;
    padding: 13px 8px 5px !important;
}

.subr-imgen .mat-form-field-flex {
    border: none !important;
    padding: 14px 10px 7px !important;
}


.cont-nombre .mat-form-field-flex .mat-form-field-infix {
    border-top: 0 !important;
}

.subr-imgen .mat-form-field-flex .mat-form-field-infix {
    border-top: 0 !important;
}



.subr-imgen .mat-form-field-flex .mat-form-field-infix .mat-form-field-suffix {
    top: 3px;
}

.subr-imgen .mat-form-field-flex #mat-form-field-label-3 {
    display: none;
}


.subr-imgen .mat-form-field-flex br.ng-tns-c112-2 {
    display: none;
}

.cont-nombre .mat-form-field-wrapper {
    padding-bottom: 10px;
}


.subr-imgen .mat-form-field-wrapper {
    padding-bottom: 10px;
}

.logdr-tag .mat-focus-indicator {
    width: 100%;
    box-shadow: none !important;
    margin-top: 3px;
}

.logdr-tag #locations-container {
    margin-top: 5px;
}

.logdr-tag mat-list {
    padding-top: 0;
    font-size: 13px;
    line-height: 13px;
    padding-bottom: 3px;
}


.caja-heig .button-container {
    position: relative !important;
    float: left;
    width: 100%;
    bottom: auto !important;
    left: initial !important;
    margin-top: 20px;
}


.caja-heig .mat-raised-button {
    width: 100%;
}


.caja-heig .mat-form-field-infix {
    border-top: 0 !important;
}

.caja-heig .mat-form-field-infix .mat-standard-chip.mat-chip-with-trailing-icon {
    min-height: 27px;
}


.caja-heig .conted-tag .mat-form-field-flex {
    padding: 6px 12px 9px !important;
}


.caja-heig .conted-tag .mat-form-field-flex {
    border: 1px solid #AFB5AA !important;
    border-radius: 6px !important;
    padding: 4px 10px !important;
    background-color: transparent !important;
}


.caja-heig .conted-tag .mat-form-field-underline {
    opacity: 0;
}

.caja-heig .conted-tag .mat-form-field-infix {
    // padding: 0 !important;
    border-top: 0.58625em solid transparent;
}


.caja-heig .conted-tag .mat-form-field-appearance-fill .mat-select-arrow-wrapper {
    transform: translateY(-16%) !important;
}


// mover a /idsv4-panel/src/dialogs/locations/locations.dialog.css

.loctin-sele .mat-form-field-flex {
    border: 1px solid #AFB5AA !important;
    border-radius: 6px !important;
    padding: 13px 10px 4px !important;
    background-color: transparent !important;
}

.loctin-sele .mat-form-field-underline {
    opacity: 0;
}


.loctin-sele  .mat-form-field-infix {
    padding: 0 !important;
    border-top: 0 solid transparent;
}


.loctin-sele .mat-form-field-appearance-fill .mat-select-arrow-wrapper {
    transform: translateY(-16%) !important;
}

.botons-locli {
    text-align: right;
}

.botons-locli .mat-raised-button {
    box-shadow: none !important;
    border-radius: 6px !important;
    margin-left: 15px;
}

.botons-locli .bord-botn{
    border: 1px solid #64ca26;
    color: #64ca26 !important;
}

/* .content{
    position: absolute;
    top: 120px;
} */

a{
    width: 100%;
}