<mat-form-field appearance="outline" [formGroup]="formGroup">
  <mat-label>{{ fieldData.label | translate }}</mat-label>
  <input 
    matInput 
    [formControlName]="fieldData.name" 
    [matDatepicker]="picker" 
    [min]="fieldData.minDate" 
    [max]="fieldData.maxDate"
    (dateChange)="changedField($event)">
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-error *ngIf="formGroup.controls[fieldData.name].hasError('matDateInvalid')">{{ 'FORMS.errors.date_picker' | translate }}</mat-error>
  <mat-datepicker #picker></mat-datepicker>
</mat-form-field>