<mat-card>
  <mat-card-content>
    <div mat-card-avatar>
      <mat-icon aria-hidden="false" aria-label="Emisiones de éste mes">euro</mat-icon>
    </div>
    <p class="title"><a [routerLink]="['/private/emisiones/emisionesxhora']">{{ "Importe Ventas" | translate }}</a><br>{{ "en el mes:" | translate }}</p>
    <p *ngIf="!load">{{ ventas | numbersp}}</p>
    <div class="spinner-container" *ngIf="load">
      <mat-spinner diameter="40"  color="accent"></mat-spinner>
    </div>
  </mat-card-content>
</mat-card>