<div class="dentr-conte" fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxLayoutAlign="start space-between" fxLayoutGap="20px" fxFlex="100">
    <div fxFlex="100">
        <mat-label color="primary">{{ 'Posición en pantalla' | translate }} </mat-label><br>        
        <mat-form-field appearance="outline">    
            <mat-select [formControl]="priority">
                <mat-option *ngFor="let p of priorities" [value]="p.priority" (click)="onChangeContentPosition(p)" >{{p.name | translate}}</mat-option>
            </mat-select>  
        </mat-form-field>
    </div>      
</div>