mat-dialog-actions{
  margin-bottom: 12px;
}

.mat-accent{
  color: white!important;
}

button{
  font-weight: bold;
  border-radius: 10px;
}

.black{
  color: black!important;
}

.right{
  float: right;
}

a{
  width: 100%;
}

@media screen and (max-width: 320px) {
  button{
    font-size: 0.8em;
  }
}
