<div class="container">
    <h1 mat-dialog-title>{{title | translate }}</h1>
    <div *ngIf="load">
        <mat-spinner diameter="80" strokeWidth="5" color='accent'>
        </mat-spinner>
    </div>
    <mat-dialog-content *ngIf="!load" fxLayout="row" fxLayoutGap="20px">
        <ng-container *ngFor="let tags of tagcategories">
            <div *ngIf="tags.tags.length > 0" [fxFlex]="tags.tags.length > 0 ? 50 : 100">
            <h3>{{ tags.category | translate }}</h3>
               <tag-categoryselectitem *ngFor="let tag of tags.tags" [item]="tag"></tag-categoryselectitem>
            </div>
        </ng-container>
    </mat-dialog-content>
    <mat-dialog-actions fxLayout="row" align="end">
        <button mat-button mat-dialog-close class="mat-raised-button" (click)="cancel()">{{ 'FORMS.buttons.cancel' |
            translate }}</button>
        <div fxLayout="column" fxFlex="20px"></div>
        <button mat-button class="mat-raised-button mat-accent" (click)="save()" cdkFocusInitial>{{ 'FORMS.buttons.save'
            | translate }}</button>
    </mat-dialog-actions>
</div>