<div fxLayout="column" fxLayoutFill fxFlex="100">


<mat-tab-group fxFlex="100">
    <mat-tab label="Ránking por Categorías"> 
        
        <mat-list>
            <mat-list-item *ngFor="let category of categories ">
                  
                 <div fxLayout="row" fxFlex="100">
                   <span fxFlex='50'>{{ category.name }}</span>

                   <div fxFlex='50'  fxLayout="row" FxLayoutAlign="space-between center" fxLayoutGap="10px"> 
                     <p>Abiertas: {{ category.open }}</p>  
                     <p>Cerrradas: {{ category.close }}</p>
                   </div>

                  </div>


           
            </mat-list-item>
           
           </mat-list> 
    
    </mat-tab>
    <mat-tab label="Ránking por Centros"> 
     
        <mat-list>
            <mat-list-item *ngFor="let user of users ">
                  
                 <div fxLayout="row" fxFlex="100">
                   <span fxFlex='50'>{{ user.name }}</span>

                   <div fxFlex='50'  fxLayout="row" FxLayoutAlign="space-between center" fxLayoutGap="10px"> 
                     <p>Abiertas: {{ user.open }}</p>  
                     <p>Cerrradas: {{ user.close }}</p>
                   </div>

                  </div>


           
            </mat-list-item>
           
           </mat-list>  
     
    </mat-tab>
</mat-tab-group>

</div>



