<h2 mat-dialog-title>{{ 'DIALOGS.contentcategory.title' | translate }}</h2>
<mat-dialog-content class="mat-typography">
    <form id="form" class="custom-form" [formGroup]="form" fxLayout="row">
      <div fxLayout="row" >  
        <div fxLayout="column" class="form">    
         
          <mat-label color="primary">{{ 'FORMS.fields.name' | translate }}*</mat-label><br>
          <mat-form-field  appearance="outline">               
            <input matInput type="text" formControlName="name" required/>
            <mat-error *ngIf="name.hasError('required')" color = "accent">{{ 'FORMS.errors.name_required' | translate }}</mat-error>
          </mat-form-field>
   
        

          
                      
          <mat-slide-toggle [checked]="status"  (change)="changeStatus()">{{ 'status' | translate }}</mat-slide-toggle>
         
  


          <mat-label color="primary">{{ 'FORMS.fields.image_301x301' | translate }}</mat-label><br>
          <mat-form-field  appearance="outline">          
            <ngx-mat-file-input [placeholder]="'FORMS.fields.image' | translate" [formControl]="image_url" accept="image/png, image/jpeg">
            </ngx-mat-file-input>  
            <mat-error *ngIf="image_url.hasError('maxSize')" color = "accent">{{ 'Tamaño Archivo incorrecto' | translate }}</mat-error>              
          </mat-form-field>  
          <img  *ngIf="(url)" [src]="url" alt="" width="200px">
        </div>
      </div>    
    </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>{{ 'FORMS.buttons.cancel' | translate }}</button>
    <button mat-button (click)="save()">{{ 'FORMS.buttons.accept' | translate }}</button>    
</mat-dialog-actions>