<div class="container">
  <h1 mat-dialog-title>{{title | translate }}</h1>
  <div>
    <ul class="primetimeContainer">
        <li class="p-site" *ngFor="let site of selectedData | keyvalue"><span>{{ site.key }}</span>
          <ul>
            <li class="p-category" *ngFor="let category of site.value | keyvalue"><span>{{ category.key }}</span>
              <ul>
                <li class="p-weekday" *ngFor="let weekday of category.value | keyvalue">{{ weekday.key }}: <span *ngFor="let hour of weekday.value">{{ hour }}, </span></li>
              </ul>
            </li>
          </ul>
        </li>
    </ul>
  </div>
  <mat-dialog-actions fxLayout="row" fxFlexFill>
    <div fxFlex="50">
      <button class="mat-raised-button mat-accent" (click)="close()">{{ "Volver" | translate }}</button>
    </div>
  </mat-dialog-actions>
</div>