mat-dialog-actions{
  margin-bottom: 12px;
}

.mat-accent{
  color: white!important;
}

button{
  font-weight: bold;
  border-radius: 10px;
}

.black{
  color: black !important;
}

.right{
  float: right;
}

.copy-days{
  margin-top:20px;
  cursor: pointer;
}
.copy-days span{
  border: 1px solid black;
  /*border-radius:50%;*/
  /*padding:2px;*/
  margin:2px;
  padding-right: 6px;
  padding-left: 6px;
}

.copy-days span.selected {
  background-color:#64ca26;
  color:white;
}

#content-powers-table {
  width: 100%;
}

#content-powers-table, #content-powers-table th, #content-powers-table td {
  border: solid 1px #aaa;
  border-collapse: collapse;
  user-select: none;
}

#content-powers-table td.daytime {
  cursor: pointer;
  color: #fff;
}
#content-powers-table td.time-col {
  width:50px;
  text-align: right;
  padding-right:5px;
}
#content-powers-table td.selected {
  background-color: #f64747;
  color: #f64747;
}
.new{
  color: #f64747; 
}
#content-powers-table td.notFull {
  background-color: #fa8484!important;
  color: #fa8484!important;
}

.manual-add {
  border: solid 1px #888;
  margin-bottom: 10px;
  padding: 10px;
  height: 100px !important;
  overflow-y: auto
}

.add-btn {
  text-align: center
}

.add-btn a {
  text-decoration: none;
  color: #000;
  display: block;
}

@media screen and (max-width: 320px) {
  button{
    font-size: 0.8em;
  }
}

.selectedPowerList{
  padding:0;
  max-height:420px;
  overflow-y: auto;
}
.selectedPowerList li{
    list-style: none;
}
.selectedPowerList li:hover{
  background:rgba(0,0,0,.04);
}
.deletePower{
  cursor:pointer;
}
.deletePower:hover{
  opacity:0.5;
}
.primetimeContainer{
  max-height:500px;
  display:block;
  padding:1rem;
  overflow-y:auto;
}
ul{
  list-style: none;
}
li.p-site span{
  width:100%;
  display:block;
  border-bottom:1px solid #000;
}
li.p-category span{
  border:none;
  font-weight: 600;
}
li.p-weekday span{
  border:none;
  display:inline;
  font-weight: 100;
}