

  <div class='container'>
     <div fxLayout="row" fxLayoutAlign="space-between space-between">
         <h1 class="title">{{ 'Reglas' | translate }}</h1>
         <button type="button" mat-raised-button color="accent" (click)="open()">
          {{ "create_rules" | translate }}
        </button>
     </div>
           
  
    
     <mat-table *ngIf = "rules" [dataSource] = "rules"  matSort class="tableMat">
       
        <ng-container matColumnDef="id">
          <mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'CONTENT.list.id' | translate }} </mat-header-cell>
          <mat-cell class = "first" *matCellDef = "let row" >
            <span *ngIf="row.id">{{ row.id }} </span>    <span *ngIf="!row.id">X</span>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="symbol">
          <mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'symbol' | translate }} </mat-header-cell>
          <mat-cell class = "" *matCellDef = "let row" >{{row.symbol}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="comp_value">
          <mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'comp_value' | translate }} </mat-header-cell>
          <mat-cell class = "" *matCellDef = "let row" ><span> {{row.comp_value}} </span></mat-cell>
        </ng-container>

        <ng-container matColumnDef="entity">
          <mat-header-cell *matHeaderCellDef> {{ 'entity' | translate }} </mat-header-cell>
          <mat-cell class = "" *matCellDef = "let row" ><span> {{row.entity}} </span></mat-cell>
        </ng-container>


        <ng-container matColumnDef="times">
          <mat-header-cell *matHeaderCellDef> {{ 'times' | translate }} </mat-header-cell>
          <mat-cell class = "" *matCellDef = "let row" ><span> {{row.times}} </span></mat-cell>
        </ng-container>

        <ng-container matColumnDef = "delete">
          <mat-header-cell *matHeaderCellDef class="detailRow"> {{ 'delete' | translate }} </mat-header-cell>
          <mat-cell *matCellDef = "let row; let i = index;" class="detailRow"><mat-icon class="detail" (click)="delete(row)">delete_outline</mat-icon></mat-cell>
        </ng-container>


        <ng-container matColumnDef = "update">
          <mat-header-cell *matHeaderCellDef class="detailRow"> {{ 'update' | translate }} </mat-header-cell>
          <mat-cell *matCellDef = "let row; let i = index;" class="detailRow"><mat-icon class="detail" (click)="update(row, i)">edit</mat-icon></mat-cell>
        </ng-container>



      
        <mat-header-row  *matHeaderRowDef = "displayedColumns"></mat-header-row>
        <mat-row *matRowDef = "let row; columns: displayedColumns;" ></mat-row>
      </mat-table>
    </div>

    <mat-paginator paginator showFirstLastButtons></mat-paginator>
 
  