<div class="container">
    <mat-form-field class="">
        <!--St-chips-->
        <mat-chip-list #tags aria-label="Selección de tags">
            <ng-container *ngIf="categories.length > 0">
                <mat-chip *ngFor="let cat of categories; let i = index" (click)="openDialog()" class="default-chip"
                    [style.background-color]="cat.color ? cat.color:'#dddddd'">
                    {{cat.name}}
                    <mat-icon matChipRemove>
                        <img *ngIf="cat.image_url=='';else image"
                            src="https://cdn1.iconfinder.com/data/icons/iphone-x-5/66/iphone_x_mobile_device_screen_size-512.png"
                            alt="" width="15">
                    </mat-icon>
                    <ng-template #image>
                        <img [src]="cat.image_url" alt="" width="15">
                    </ng-template>
                </mat-chip>
            </ng-container>
        </mat-chip-list>
        <!--end-St-chips-->
        <mat-chip-list #tags aria-label="Selección de tags">
            <mat-chip *ngFor="let tag of selectedTags" [selectable]="selectable"
                [style.background-color]="tag.tag_category && tag.tag_category.color ? tag.tag_category.color:''">
                {{tag.name}}
                <mat-icon matChipRemove (click)="removeTag.emit(tag.idtag)">cancel</mat-icon>
            </mat-chip>
        </mat-chip-list>
    </mat-form-field><br>
    <a mat-raised-button color="accent" (click)="openDialog()" mat-button>{{ 'COMPONENTS.tagcategoryselect.edit' |
        translate }}</a>
</div>