<div class='container loading' *ngIf="load" > 
  <mat-spinner diameter = "80" strokeWidth = "5" color='accent'>    
</mat-spinner></div>
<div class='container' *ngIf="!load" >
        <h1 class="title">{{ 'TAGS.list.title' | translate }}</h1>        
        <div *ngIf="!permission"><h3 class='title'>{{ 'COMMON.no_permission' | translate }}</h3></div>
        <div *ngIf="permission">
        <div class="actions" fxLayound="row">
          <button  mat-raised-button color="accent">{{ 'FORMS.buttons.new' | translate }}</button>
          <button mat-raised-button color="accent">{{ 'FORMS.buttons.edit' | translate }}</button>
          <button mat-raised-button color="accent">{{ 'FORMS.buttons.delete' | translate }}</button>
        </div>
        <div *ngIf = "!dataSource && load" fxLayout = "row" fxLayoutAlign = "space-around center" style = "height:100%">
            <mat-spinner diameter = "50" strokeWidth = "5"></mat-spinner>
        </div>
        <mat-table *ngIf="dataSource" [dataSource] = "dataSource"  matSort>

        <ng-container matColumnDef="select">
          <th mat-header-cell *matHeaderCellDef>
            <mat-checkbox (change)="$event ? masterToggle() : null"
                          [checked]="selection.hasValue() && isAllSelected()"
                          [indeterminate]="selection.hasValue() && !isAllSelected()"
                          [aria-label]="checkboxLabel()">
            </mat-checkbox>
          </th>
          <td mat-cell *matCellDef="let row">
            <mat-checkbox (click)="$event.stopPropagation()"
                          (change)="$event ? selection.toggle(row) : null"
                          [checked]="selection.isSelected(row)"
                          [aria-label]="checkboxLabel(row)">
            </mat-checkbox>
          </td>
        </ng-container>

        <ng-container matColumnDef = "idtag">
          <mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'TAGS.list.id' | translate }} </mat-header-cell>
          <mat-cell class = "first" *matCellDef = "let row" >{{row.idapp}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef = "name">
          <mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'TAGS.list.name' | translate }} </mat-header-cell>
          <mat-cell class = "second" *matCellDef = "let row">  {{row.name}} </mat-cell>
        </ng-container>   
       
        <mat-header-row  *matHeaderRowDef = "displayedColumns"></mat-header-row>
        <mat-row *matRowDef = "let row; columns: displayedColumns;" ></mat-row>
      </mat-table>
    
      </div>
     
</div>

  <mat-paginator paginator [hidden] = "(load)" showFirstLastButtons></mat-paginator>