#cardSelected {
  cursor: pointer;
}

.fondo{
    background-color: #f64747 !important;
    color: #fff;
}


/**/

.circut-botns {
    width: 100%;
    float: left;
}


.cincu-conte {
    width: 100%;
    float: left;
}

.con-circuits {
    width: 100%;
    float: left;
}


.list-circui {
    background: #FAFCF7;
    padding: 20px;
        width: 100%;
    box-sizing: border-box;
        float: left;
}


.parte-botons {
        width: 100%;
    float: left;
    display: block !important;
    padding-top: 15px;
    text-align: right;
}

.parte-botons .mat-focus-indicator {
    margin-left: 5px;
}


.cincu-imgen {
    width: 52px;
    float: left;
}

.nombr-cicui {
        width: calc(100% - 52px);
    float: left;
    padding-left: 15px;
    font-size: 20px;
    font-weight: bold;
    box-sizing: border-box;
        word-wrap: break-word;
        user-select: none;
}

.cajs-opcons {
    width: 100%;
    float: left;
    min-height: auto;
    background: #FAFCF7;
    padding: 20px;
    cursor:pointer;
    margin-right: 10px;
}


.cajs-degradado{
    background: linear-gradient(to top right, #f64747,#f64747,#f0f0f0, #f0f0f0);
    color:white;
}


.selec-tabls .mat-form-field-appearance-fill .mat-form-field-flex {
    background-color: transparent;
}

.selec-tabls .mat-form-field-flex {
   border: 1px solid #AFB5AA !important;
    border-radius: 6px !important;
    padding: 4px 10px !important;
    background-color: transparent !important;
}


.selec-tabls .mat-form-field-underline {
    opacity: 0;
}

.selec-tabls .mat-form-field-infix {
    padding: 0 !important;
    border-top: 0.58625em solid transparent;
}


.selec-tabls .mat-form-field-appearance-fill .mat-select-arrow-wrapper {
    transform: translateY(-16%) !important;
}

.cincu-imgen img {
    height: 52px;
    object-fit: contain;
}

.disabled {
    pointer-events: none
}

.sites{
    position: relative;
    left: -45px; 
}

#big {
    transform: scale(1);
}

button{
    border: none;
    background-color: transparent;
    cursor: pointer;
}
.total_sites{
    position: relative;
    left: -30px; 
    bottom: -50px;
}


