<div class="cajs-opcons" fxFlex (click)="changeStatus(!selected)"
    [ngClass]="{'fondo': selected, 'disabled': disabled, 'cajs-degradado': is_degradado}">
    <div *ngIf="circuit">
        <div class="nombr-cicui">{{circuit.name}}</div>
    </div>
</div>

<div class='sites' fxLayout="column"
    *ngIf="circuit && (circuit.sites.length > 1 || circuit.countries.length > 0 || circuit.provinces.length > 0 || circuit.cities.length > 0)">
    <button color="accent" [disabled]="loading" (click)="openDialog()">
        <mat-icon id='big'>domain</mat-icon>
    </button>
    <span class='total_sites' [matBadge]="totalSites" matBadgeColor="primary" matBadgeOverlap="false"></span>
</div>