<div id="locations-container">
    <mat-chip-list #chipList aria-label="Lang selection">
        <mat-chip *ngFor="let country of playcircuit.countries">
            {{country.name}}
        </mat-chip>
        <mat-chip *ngFor="let province of playcircuit.provinces">
          {{province.name}}
        </mat-chip>
        <mat-chip *ngFor="let city of playcircuit.cities">
            {{city.name}}
        </mat-chip>
        <mat-chip *ngFor="let site of playcircuit.sites">
            {{site.name}}
        </mat-chip>
    </mat-chip-list><br>
    <div>
        <a mat-raised-button color="accent" mat-button (click)="openDialog()">{{ 'COMPONENTS.locations.button' | translate }}</a>
    </div>
</div>
