#powers-container .list {
    padding: 5px;
    // height: 150px;
    height: 70px;
    overflow: auto;
    border: solid 1px #888;
    margin-bottom: 10px;
}


/**** css nuevo ***/



.sellc-cont {
    width: 100%;
    float: left;
    display: block !important;
}

.slec-dis {
    width: 100%;
    display: table !important;
}


.labl-selc {
    width: 100%;
    float: left;
    font-size: 14px;
    color: #ACAFA8;
    margin-bottom: 6px;
}

a{
    width: 100%;
}