<div class="container">
  <h1 mat-dialog-title class="primetimeTitle">{{'content_created' | translate }}</h1>
  <h4>{{'want_to_create_more_content' | translate }}</h4>
  <mat-dialog-actions fxLayout="row" fxLayoutAlign="space-between center">
    <button class="mat-raised-button  mat-accent" (click)="close()">{{ "yes" | translate }}</button>
    <button class="mat-raised-button black" (click)="save()">{{'no' | translate}}</button>
  </mat-dialog-actions>
</div>