<div class='container loading' *ngIf="load" > 
  <mat-spinner diameter = "80" strokeWidth = "5" color='accent'></mat-spinner>
</div>
<ng-container class='container'>
  <div *ngIf="!load" >
    <h1 class="title">{{ 'Tags de Productos' | translate }}</h1>        
    <div *ngIf="!permission"><h3 class='title'>{{ 'COMMON.no_permission' | translate }}</h3></div>
    <div *ngIf="permission" class='container'>
      <div class="actions" fxLayound="row">
        <div fxFlex="50">
        </div>
        <div fxFlex="50">
          <mat-form-field appearance="outline">            
            <input matInput filter (change)="applyFilter($event)" placeholder="{{'filter'| translate}}" #input>
          </mat-form-field>
        </div>
      </div>
      <div *ngIf = "!dataSource" fxLayout = "row" fxLayoutAlign = "space-around center" style = "height:100%">
          <mat-spinner diameter = "50" strokeWidth = "5"></mat-spinner>
      </div>      
      <mat-table *ngIf = "dataSource" [dataSource] = "dataSource"  matSort (matSortChange)="sortData($event)">

        <ng-container matColumnDef="code">
          <mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'PLAYERS.list.id' | translate }} </mat-header-cell>
          <mat-cell class = "first" *matCellDef = "let row" >
            <span *ngIf="row.code">{{ row.code }}</span>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef = "name">
          <mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'PLAYERS.list.code' | translate }} </mat-header-cell>
          <mat-cell class = "second" *matCellDef = "let row">  {{row.name}} </mat-cell>
        </ng-container>
         
        <ng-container matColumnDef = "category">
          <mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'Categoría' | translate }} </mat-header-cell>
          <mat-cell *matCellDef = "let row" >  {{ row.category.name }} </mat-cell>
        </ng-container>

        <ng-container matColumnDef = "tags">
          <mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'Tags' | translate }} </mat-header-cell>
          <mat-cell *matCellDef = "let row" >
            <ng-container *ngFor='let tag of row.tags; let last =  last'>
              <span>{{ tag.name }}</span><span *ngIf="!last" [style.display]="'inline-block'">,&nbsp;</span>
            </ng-container>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef = "link">
          <mat-header-cell *matHeaderCellDef class="detailRow"> {{ 'Editar tags' | translate }} </mat-header-cell>
          <mat-cell *matCellDef = "let row" class="detailRow"><mat-icon class="opentags" (click)="openDialog(row)">search</mat-icon></mat-cell>
        </ng-container>
        
        <mat-header-row  *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef = "let row; columns: displayedColumns;" ></mat-row>
      </mat-table>     
    </div>

  </div>
    <mat-paginator paginator [hidden] = "(load)" showFirstLastButtons></mat-paginator>
</ng-container>

