
 <div class="slec-dis" fxLayout="row" *ngIf="(usersToSelect && !apparence)">
     <label class="labl-selc">{{ 'user' | translate }}</label>
     <div class="sellc-cont">
    <form *ngIf="usersToSelect" [formGroup]="filterForm" fxFlex="100">
        <mat-form-field [appearance]="aperance">
            <mat-label>{{ 'user' | translate }}</mat-label>
            <mat-select formControlName="user" (selectionChange)="captureValue()">
                <mat-option disabled>{{ 'COMPONENTS.user_select.placeholder' | translate }}</mat-option>
                <mat-option value=0>{{ 'COMPONENTS.user_select.all' | translate }}</mat-option>
                <mat-option *ngFor="let user of users" [value]="user.iduser">{{user.name}}</mat-option>
            </mat-select>
        </mat-form-field>
    </form>
    </div>
</div>


<ng-container *ngIf="apparence">
       <form *ngIf="usersToSelect" [formGroup]="filterForm"  #f="ngForm" fxFlex="100" fxLayout="column">
            <mat-form-field appearance="outline">
            <mat-label>{{ 'user' | translate}}</mat-label><br>
            <mat-select formControlName="user" (selectionChange)="captureValue()">                       
                <mat-option *ngFor="let user of users" [value]="user.iduser">{{user.name}}</mat-option>
            </mat-select>
        </mat-form-field>
    </form>
</ng-container>





