<div class="container" appDnd (fileDropped)="onFileDropped($event)">
    <input type="file" #fileDropRef multiple (change)="fileBrowseHandler($event.target.files)" />
    <img src="assets/img/dnd/ic-upload-file.svg" alt="">
    <h3>{{ 'drag_drop_here' | translate }}</h3>
    <h3>{{ 'or' | translate}}</h3>
    <label for="fileDropRef">{{ 'browse_file' | translate }}</label>
</div>
<div class="files-list">
    <div class="single-file" *ngFor="let file of files; let i = index">
        <img src="assets/img/ic-file.svg" width="45px" alt="file">
        <div class="info">
            <h4 class="name">
                {{ file?.name }}
            </h4>
            <p class="size">
                {{ formatBytes(file?.size) }}
            </p>
            <app-progress [progress]="file?.progress"></app-progress>
        </div>
        <img src="assets/img/ic-delete-file.svg" class="delete" width="20px" alt="file" (click)="deleteFile(i)">
    </div>
</div>