<fieldset>
  <mat-grid-list cols="12" rowHeight="1.5:1" [gutterSize]="'1rem'">
    <mat-grid-tile colspan="4">
      <form-field-select
        [fieldData]="fieldDataProvince" 
        [formGroup]="formGroup"
        (onChangeField)="onChangeProvince($event)">
      </form-field-select>
    </mat-grid-tile>
    <mat-grid-tile colspan="4">
      <form-field-select-autocomplete
        [fieldData]="fieldDataSite" 
        [formGroup]="formGroup"
        (onChangeField)="onChangeSite($event)">
      </form-field-select-autocomplete>
    </mat-grid-tile>
    <mat-grid-tile colspan="4">
      <form-field-select
        [fieldData]="fieldDataRatius" 
        [formGroup]="formGroup">
      </form-field-select>
    </mat-grid-tile>
    <mat-grid-tile colspan="1">
      <div class="button">
        <button [disabled]="formGroup.invalid" mat-raised-button color="accent" (click)="submit()">{{ 'Enviar' | translate }}</button> 
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</fieldset>