<div class='container'>    
    <emissions-form *ngIf="!submitted" (onSubmittedForm)="submitForm($event)"></emissions-form>
    <emissions-result *ngIf="submitted" [data]="data" (onBackToForm)="backToForm($event)"></emissions-result>
</div>
