.container{
    padding-bottom:2rem;
}
dashboard-link,
dashboard-emissions, 
dashboard-afluencias,
dashboard-ventas,
dashboard-impacto,
dashboard-playlist-player,
dashboard-camera-player,
dashboard-chart-people,
dashboard-chart-impacto,
dashboard-mapa-tiendas,
dashboard-link-crear-contenido,
dashboard-link-playlist,
dashboard-link-gestionar-centros,
dashboard-link-panel-control,
dashboard-blank,
dashboard-chart-emissions-last-month,
dashboard-chart-emissions,
dashboard-playareas,
dashboard-contents {
    width:100%;
    height:calc(100%);
}
.mat-grid-list{
    padding-bottom:2rem;
}
.mat-grid-tile .mat-figure {
    justify-content: flex-start !important;
    align-items: flex-start !important;
 }
 .crear-contenido-card{
     width:100%;
 }