<mat-grid-list cols="12" rowHeight="85px" [gutterSize]="'1rem'">
    <mat-grid-tile colspan="4" rowspan="1">
        <dashboard-blank *ngIf="!me.customer"></dashboard-blank>
        <dashboard-emissions [emissions]="emissions" *ngIf="me.customer && me.customer.has_emissions"></dashboard-emissions>
    </mat-grid-tile>
    <mat-grid-tile colspan="4" rowspan="1">
        <dashboard-afluencias [afluencias]="afluencias" *ngIf="me.customer && me.customer.has_influxes"></dashboard-afluencias>
        <dashboard-blank *ngIf="!me.customer"></dashboard-blank>
        <dashboard-contents *ngIf="me.customer && !me.customer.has_influxes"></dashboard-contents>
    </mat-grid-tile>
    <mat-grid-tile colspan="4" rowspan="1">
        <dashboard-ventas [ventas]="ventas" *ngIf="me.customer && me.customer.has_sales"></dashboard-ventas>
        <dashboard-playareas *ngIf="me.customer && !me.customer.has_sales"></dashboard-playareas>
        <dashboard-blank *ngIf="!me.customer"></dashboard-blank>
    </mat-grid-tile>
    <mat-grid-tile colspan="12" rowspan="5" *ngIf="!me.customer">
        <dashboard-blank></dashboard-blank>
    </mat-grid-tile>
    <mat-grid-tile colspan="12" rowspan="5" *ngIf="me.customer && !me.customer.has_influxes">
        <dashboard-playlist-player></dashboard-playlist-player>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="me.customer.streaming ? 6 : 12" rowspan="5" *ngIf="me.customer && me.customer.has_influxes">
        <dashboard-playlist-player></dashboard-playlist-player>
    </mat-grid-tile>
    <mat-grid-tile colspan="6" rowspan="5" *ngIf="me.customer && me.customer.has_influxes && me.customer.streaming">
        <dashboard-camera-player idLoading="loadingCamera" *ngIf="me.customer && me.customer.has_influxes"></dashboard-camera-player>
    </mat-grid-tile>
    <mat-grid-tile colspan="4" rowspan="4">
        <dashboard-chart-impacto [ventas]="ventasChart" [emissions]="emissionsChart"  *ngIf="me.customer && me.customer.has_sales"></dashboard-chart-impacto>
        <dashboard-blank *ngIf="!me.customer"></dashboard-blank>
        <dashboard-chart-emissions-last-month [store]="store" *ngIf="me.customer && !me.customer.has_sales"></dashboard-chart-emissions-last-month>
    </mat-grid-tile>
    <mat-grid-tile colspan="4" rowspan="4">
        <dashboard-chart-people *ngIf="me.customer && me.customer.has_influxes"></dashboard-chart-people>
        <dashboard-blank *ngIf="!me.customer"></dashboard-blank>
        <dashboard-chart-emissions [store]="store" *ngIf="me.customer && !me.customer.has_influxes"></dashboard-chart-emissions>
    </mat-grid-tile>
    <mat-grid-tile  colspan="4" rowspan="4">
        <dashboard-mapa-tiendas [tiendas]="tiendas" (filtered)="filterPageData($event)"></dashboard-mapa-tiendas>
    </mat-grid-tile>
</mat-grid-list>
<mat-grid-list cols="12" rowHeight="150px" [gutterSize]="'1rem'">
    <mat-grid-tile colspan="2" rowspan="1">
        <dashboard-link link="/private/asset/list" title="Cartelera" icon="assets/img/icons/dashboard/catelera.png"></dashboard-link>
    </mat-grid-tile>
    <mat-grid-tile colspan="2" rowspan="1">
        <dashboard-link link="/private/content/create" title="Crear Playlist" icon="assets/img/icons/dashboard/crear-playlist.png"></dashboard-link>
    </mat-grid-tile>
    <mat-grid-tile colspan="2" rowspan="1">
        <dashboard-link link="/private/playlists" title="Editar Playlist" icon="assets/img/icons/dashboard/editar-playlist.png"></dashboard-link>
    </mat-grid-tile>
    <mat-grid-tile colspan="2" rowspan="1" *ngIf="(!me.customer || (me.customer && me.customer.has_influxes))">
        <dashboard-link link="/private/camera/list" title="Cámaras" icon="assets/img/icons/dashboard/camaras.png"></dashboard-link>
    </mat-grid-tile>
    <mat-grid-tile colspan="2" rowspan="1" *ngIf="(me.customer && !me.customer.has_influxes)">
        <dashboard-link link="/private/content/list" title="Contenido" icon="assets/img/icons/dashboard/contents.png"></dashboard-link>
    </mat-grid-tile>
    <mat-grid-tile colspan="2" rowspan="1">
        <dashboard-link link="/private/analisis/emisiones" title="Estadísticas" icon="assets/img/icons/dashboard/estadisticas.png"></dashboard-link>
    </mat-grid-tile>
    <mat-grid-tile colspan="2" rowspan="1">
        <dashboard-link link="/private/support/players" title="Control TÉC." icon="assets/img/icons/dashboard/panel-control.png"></dashboard-link>
    </mat-grid-tile>
</mat-grid-list>
