.format-container{
    position: relative;
    overflow-x: auto;
    display: flex;
   
    background-color: #ffff;
    padding: 1%;
    .format-select{
        background-color: #FAFCF7;
        padding-top:0.5rem;
        padding-right: 10px;
        padding-left: 10px;
        width:100px;
        text-align: center;
        float:left;
        font-weight:600;
        cursor:pointer;
        &:hover{
            background:#009999;
            filter:invert(95%)
        }
        &.selected{
            background:#009999;
            filter:invert(100%);
            cursor: inherit;
        }
    }

}