.playcontent {   
  height: 50px;    
  background-color: white;
  /* color: white; */
  font-weight: bold;
/*   border-bottom: white solid 0.5px; */
  padding-top: 5px;
}

h4 {
  margin: 0 0 4px;
  text-align: center;
}

.cover {
  width: 70px; 
  height: 40px;
  padding-right: 5px;  
}

.thumbnail {
  width: 30px; 
  padding-left: 5px; 
  padding-right: 10px;  
}

.example-list {
  max-width: 100%;
  border: solid 1px #ccc;
  min-height: 60px;
  display: block;
  background: white;
  border-radius: none;
  overflow: hidden;
}

.example-box {
  padding: 5px 5px;
  border-bottom: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  background: white;
  font-size: 14px;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
  border: none;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-custom-placeholder {
  background: #ccc;
  border: dotted 3px #999;
  min-height: 60px;
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.nocontent{
  padding-left: 25%;
}

mat-spinner{
  margin-left: 40%;
}

.name{
  text-overflow: ellipsis;
  overflow: hidden;
}

.btn-close {
  position: absolute;
  right: 0;
  top: -8px;
}