
<div *ngIf='(!loading && filterContents.length>0)'>
    <h4>{{category.name}}</h4>
    <button mat-icon-button class="btn-close" (click)="close()">
        <mat-icon>close</mat-icon>
    </button>
    <div cdkDropList class="example-list" [cdkDropListData]="filterContents" (cdkDropListDropped)="drop($event)">
        <div class="example-box"  *ngFor="let content of filterContents" cdkDrag>            
            <div fxFlex fxLayout="row" class = "playcontent" id={{content.idcontent}}> 
                <div fxLayout="column"><img class = "cover" src={{content.thumbnail_url}} *ngIf='content.thumbnail_url'></div>
                <div fxFlex fxLayout="column">
                    <span fxFlex class="name">{{content.name}}</span>
                    <div fxFlex fxLayout="row">
                        <div fxFlex>{{ 'COMPONENTS.contents_category.duration' | translate:content.category }}</div> 
                        <div><mat-slide-toggle [(ngModel)]="content.status" (change)="changeStatus(content)"></mat-slide-toggle></div>
                    </div>
                </div>
            </div>             
        </div>        
    </div>
    <br />
    <div fxLayout="row">
        <div fxFlex></div>
        <button mat-raised-button color="accent" (click)="add()">{{ 'COMPONENTS.contents_category.button' | translate }}</button>
    </div>
</div>

<mat-spinner color='accent' *ngIf = 'loading'></mat-spinner> 
<div class='nocontent' *ngIf='(!loading && filterContents.length===0)'>
    <p>{{ 'COMPONENTS.contents_category.error' | translate }}</p>
</div> 

 

