
.filtr-conte {
    width: 100%;
    // float: left;
    display: block !important;
    padding: 10px 15px;
}


.slect-arribconte {
    width: 100%;
    // float: left;
    display: block !important;
    padding: 10px 15px;
}

.disabled {
  opacity: 0.6;
}

.cajas-opciones {
  width: 100%;
  //float: left;
  overflow-x: scroll;
  flex-flow: initial !important;
  height: 115px;
}


.cajas-opciones playcircuit-option {
    width: 25%;
    margin: 0 !important;
    float: left;
    flex: 0 0 25%;
    max-width: 300px;
}



.padding{
    padding-right: 10px;
}

.add{
  margin-top: 18px;
}

.mat-icon { 
  font-size: 30px; 
}

.date{
  min-width: 146px;
}

.filter{
  padding-right: 25px;
}

.date .mat-form-field{
  font-size: 12px;
}

.mat-hint{
  color:#f44336;
}