<div class="filtr-conte" fxLayout="row">
    <div fxFlex="100">
        <div fxFlex="30" class="filter">
            <mat-form-field>
                <mat-label>{{ 'COMPONENTS.playcircuit_select.filter' | translate }}</mat-label>
                <input matInput [(ngModel)]="searchText"
                    [placeholder]="'COMPONENTS.playcircuit_select.placeholder' | translate"
                    (keyup)="filterByText(searchText)">
            </mat-form-field>
        </div>
    </div>
</div>
<div class="slect-arribconte" fxLayout="row" *ngIf="(!isUser)" [ngClass]="{disabled: disabled}">
    <h3 class="title eligr-circuito">{{ 'COMPONENTS.playcircuit_select.choose_circuit' | translate }}</h3>
    <div id="all-selection-chekbox" fxFlex="30">
        <mat-checkbox [checked]="(hasSelected() && isAllSelected())"
            [indeterminate]="(hasSelected() && !isAllSelected())" (change)="checkboxToggle($event)">
            {{ 'COMPONENTS.playcircuit_select.choose_all' | translate }}
        </mat-checkbox>
    </div>
</div>
<div class="cajas-opciones" fxLayout="row wrap" fxLayoutGap="20px" *ngIf="playcircuits.length > 0">
    <playcircuit-option *ngFor="let circuit of playcircuits; let i = index" [disabled]="disabled" [circuit]="circuit"
        [selected]="circuitIsSelected(circuit)" (selectedChange)="selectedByCircuit(circuit, $event)"
        [sites]="sitesByCircuit(circuit)" (sitesChange)="changeSitesByCircuit(circuit, $event)">
    </playcircuit-option>
</div>