<div class='container loading' *ngIf="load"> 
  <mat-spinner diameter = "80" strokeWidth = "5" color='accent'>    
  </mat-spinner>
</div>
<div class="container fondo-verd espaci-cotds" *ngIf="!load">
    <h1 class="title">{{ 'LOCATIONS.list.title' | translate }}</h1>
    <div class="selec-tabls">
      <customer-select [customersToSelect]="customersToSelect" (onSelected)="customerSelected($event)"></customer-select>
    </div> 
    <div class="listd-contend" fxLayout="row" fxLayoutGap="20px" *ngIf="indoorlocations.length > 0">    
      <div class="cont-limitd">
        <mat-form-field class="filter">
          <mat-label>{{ 'LOCATIONS.list.filter' | translate }}</mat-label>           
          <input matInput  [placeholder]="'LOCATIONS.list.placeholder' | translate" [(ngModel)]="filterVal">
        </mat-form-field>
        <indoorlocation-element *ngFor="let location of indoorlocations | filter: filterVal"
          [indoorlocation]="location"
          [editIndoorlocation]="editIndoorLocation"
          [deletedIndoorlocation]="deletedIndoorLocation"
          (onDeleted)="change()"
          (onUpdate)="change()">
        </indoorlocation-element>
      </div>
    </div>
    <br> 
    <div class="circut-botns">
      <div class="actions" fxLayout="row" layout-margin>
        <a mat-raised-button color="accent" *ngIf="newIndoorLocation" (click)="openDialog()" mat-button>{{ 'LOCATIONS.list.buttons.new_location' | translate }}</a>
      </div>
    </div>
</div>

    
