<h2 mat-dialog-title>{{ 'DIALOGS.preview.title' | translate }}</h2>
<mat-dialog-content class="mat-typography">
    <preview [url]="data.asset_url" [type]="data.idtype" [delete]="false"></preview>
</mat-dialog-content>
 <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>{{ 'FORMS.buttons.accept' | translate }}</button>
</mat-dialog-actions>