.card_init_view {
    background-color: white;
    border: 1px solid #d6d6d4;
    padding: 2%;
}

.card_init {
    background-color: white;
    border: 1px solid #d6d6d4;
}
  
.back_card {
    background-color: white;
    padding: 1%;
}

.author_margin {
    margin-left: 1%;
}

.image {
    width: 100%;
    height: 160px;
}

.status {
   
    width: 200px;
    height: 50px;
    border: 1px gainsboro solid;
    text-align: center;
}

.status_ticket {
   
    width: 200px;
    height: 35px;
    border: 1px gainsboro solid;
    text-align: center;
    font-size: 15px;
    font-weight: bolder;
    
}

.text-bold {
    font-size: 15px;
    font-weight: bolder;
}


.img-frame-cap {
    width: 200px;
    background: #eee;
    padding: 18px 18px 18px 18px;
    border: 1px solid #999;
  }
 


.information_bar {
    border-bottom:  1px #d6d6d4 solid;
    padding: 1%;
}

.information_bottom {
    border-top:  1px #d6d6d4 solid;
    padding: 1%;
}

.text-center {
    padding-top: 1%;
}


.trash_icon {
    transform: scale(1.5);
    color: orangered;
    cursor: pointer;
}

.title_comment {

    font-size: 16px;
    font-weight: bold;
}

.open {
  color: greenyellow;
  transform: scale(1.5)!important;
  float: right;
  cursor: pointer;

}

.close {
    color: red;
    transform: scale(2)!important;
    float: right;
    cursor: pointer;
}









