<div fxLayout="column" *ngIf="ticket">
    <div fxLayout="column" fxFlex>
        <h2 class="title">Ticket</h2>
    </div>

    <div fxFlex fxFlexFill class="card_init" fxLayout="column">
        <div class="information_bar" fxLayoutAlign="space-betweeen center"> 

            <span fxFlex="5" class="title_comment">{{ ticket.titulo | translate }}</span>


            <span (click)="closeTicket()" fxFlex="95" *ngIf="ticket.finalizado else close"><mat-icon class="open">lock_open</mat-icon></span>

            <ng-template #close>
                <span  fxFlex="95"  ><mat-icon class="close">lock</mat-icon></span>
            </ng-template>


        </div>
         

        <div fxFlex FxLayoutFill class="back_card" fxLayout="row" fxLayoutGap="3%" fxLayoutAlign="space-betweeen center">

            <div fxLayout="column" fxFlex="50" fxLayoutAlign="space-betweeen  center" fxLayoutGap="2%">
                <div fxLayout fxLayoutAlign="center center">
                    <div fxFlex="50" class="text-bold"><strong>{{ 'user' | translate }}</strong></div>
                    <div fxFlex="50" class="status_ticket text-center">{{ ticket.user.name }}</div>
                </div>

                <div fxLayout fxLayoutAlign="center center">
                    <span fxFlex="50" class="text-bold"><strong>{{ 'status' | translate}}</strong></span>
                    <span fxFlex="50" class="status_ticket text-center"
                    [ngStyle]="{'background-color': ticket.status.color }"><span>{{ticket.status.name}}</span></span>
                </div>

             

                <div fxLayout fxLayoutAlign="center center">
                    <span fxFlex="50" class="text-bold"><strong>{{ 'created_at' | translate}}</strong></span>
                    <span fxFlex="50" class="status_ticket text-center">{{ ticket.created_at |  date: 'dd/MM/yyyy' }}</span>
                </div>

             

            </div>

            <div fxLayout="column" fxFlex="50" fxLayoutAlign="space-betweeen  center" fxLayoutGap="2%">
            
                <div fxLayout fxLayoutAlign="center center">
                    <span fxFlex="50" class="text-bold"><strong>{{ 'category' | translate}}</strong></span>
                    <span  fxFlex="50" class="status_ticket text-center"  [ngStyle]="{'background-color': ticket.category.color }">{{ ticket.category.name }} :</span>
                </div>

                <div fxLayout fxLayoutAlign="center center">
                    <span fxFlex="50" class="text-bold"><strong>{{ 'priority' | translate}}</strong></span>
                    <span fxFlex="50" class="status_ticket text-center"  [ngStyle]="{'background-color': ticket.priority.color }">{{ticket.priority.name}}</span>
                </div>
              
                <div fxLayout fxLayoutAlign="center center">
                    <span fxFlex="50" class="text-bold"><strong> {{ 'updated_at' | translate}}</strong></span>
                    <span fxFlex="50" class="status_ticket text-center">{{ ticket.updated_at |  date: 'dd/MM/yyyy' }}</span>
                </div>
            </div>

        </div>


        <div class="back_card" fxLayout="column" fxLayoutGap="4%">
            <ng-container *ngIf="images">
                <div fxFlex  
                 fxLayoutGap="20px"
                 fxLayoutAlign="space-betweeen center">
                 <ng-container *ngFor="let img of images"> 

                <ng-container *ngIf="(img.ruta | whatFile) else video">
                        <span class="img-frame-cap" (click)="openImage(img.ruta, 'img')">
                          <img class="image" [src]="img.ruta" />
                       </span>
                 </ng-container>
 
                 <ng-template #video>
                     <span class="img-frame-cap" (click)="openImage(img.ruta, 'video')">
                         <video class="image"  >
                             <source [src]="img.ruta" type="video/mp4">
                         </video>
                      </span>
                 </ng-template>
                 </ng-container>
                </div>

            </ng-container>
        </div>




        <div fxLayout="column" fxFlex  class="information_bottom">
            <h3><strong>{{ 'description' | translate }}</strong></h3>
            <span [innerHTML]="ticket.descripcion"></span>
        </div>

    </div>

    <ng-container *ngIf="comments">
        <div fxLayout="column" fxFlex>
            <h2 class="title">{{ 'comments' | translate}}</h2>
        </div>

         <ng-container  *ngFor="let comment of comments" >
            <ticket-comments-view   style="margin-bottom: 2%;"
            *ngIf="comment.deleted == 1"  
            [comment]="comment"
            [close]="ticket.finalizado" 
            (onClick)="deleteComment($event)"></ticket-comments-view>
         </ng-container>
      

    </ng-container>


    <ng-container  *ngIf="ticket && ticket.finalizado">
            <ticket-comment   
            [idTicket]="id"  
            (onSend)="setComment($event)">
    </ticket-comment>
    </ng-container>

</div>




