<div fxLayout="row" style="padding: 3%;">
    <h1>Datos del site</h1>
</div>

<div fxLayout="row" style="padding: 2%;" fxFlexFill>
    <div fxLayout="column" fxLayoutAlign="space-beetwen start" fxLayoutGap="3%" fxFlex="50">

        <div fxLayout="row" fxLayoutAlign="start start" style="width:100%">
            <strong fxFlex="50">Site</strong>
            <span fxFlex="50"> {{item.name}}</span>
        </div>

        <div fxLayout="row" fxLayoutAlign="start start" style="width:100%">

            <strong fxFlex="50">Email</strong>
            <span fxFlex="50"> {{item.email}}</span>
        </div>
        <div fxLayout="row" fxLayoutAlign="start start" style="width:100%">
            <strong fxFlex="50">Direccion</strong>
            <span fxFlex="50"> {{item.address}}</span>
        </div>



    </div>
    <div fxLayout="column" fxLayoutAlign="space-beetwen start" fxLayoutGap="3%" fxFlex="50">
        <div fxLayout="row" fxLayoutAlign="start start" style="width:100%">
            <strong fxFlex="50">CP</strong>
            <span fxFlex="50"> {{item.zipcode}}</span>
        </div>
        <div fxLayout="row" fxLayoutAlign="start start" style="width:100%">
            <strong fxFlex="50">Provincia</strong>
            <span fxFlex="50"> {{item.province.name}}</span>
        </div>
        <div fxLayout="row" fxLayoutAlign="start start" style="width:100%">
            <strong fxFlex="50">ID</strong>
            <span fxFlex="50"> {{ item.idsite}}</span>
        </div>
    </div>
</div>