video, img, iframe {
    object-fit: contain;
    width: fit-content;
}

button{
    position: relative;
    bottom: 7px;
}

mat-icon{
    transform: scale(1);
    color:#f44336;
}

#image, #video, #iframe{
    object-fit: contain;
    width: 800px;
}
#iframe{
    height:500px;
}

iframe{
    border:0;
}
.preview-container{
    position:relative;
}
.delete-preview{
    position:absolute;
    top:5px;
    right:5px;
}