<div class="preview-container" *ngIf="(url && type)">
    <button class="delete-preview" *ngIf="(delete)" mat-mini-fab color="warning">
        <mat-icon (click)="deleted()">delete</mat-icon>
    </button>
    <ng-container *ngIf="type === asset_types.image">
        <img id="image"  [src]="url | safe"/>
    </ng-container>
    <ng-container *ngIf="type === asset_types.video">
        <video fxLayoutAlign="center center" id="video" [src]="url | safe"  controls (canplay)="onloadVideo()"></video>        
    </ng-container>
    <ng-container *ngIf="type == asset_types.audio">
        <audio  id="audio" [src]="url | safe"  controls (canplay)="onloadAudio()"></audio>        
    </ng-container>
    <ng-container *ngIf="type == asset_types.url || type == asset_types.template">
        <iframe  id="iframe" [src]="url | safe" height="80%"></iframe>        
    </ng-container>
</div>