<div class='container loading' *ngIf="load">
    <mat-spinner diameter="80" strokeWidth="5" color='accent'></mat-spinner>
</div>

<div *ngIf="!load">
    <h1 class="title">{{ 'messages' | translate }}</h1>

    <div class='container'>
        <div class="actions" fxLayound="row">
            <div fxFlex="50">
                <button mat-raised-button color="accent" [routerLink]="['../../add']" mat-button><span
                        matTooltip="{{ 'FORMS.buttons.tooltip_no_permisions' | translate }}"
                        [matTooltipDisabled]="new">{{ 'FORMS.buttons.new' | translate }}</span></button>
                <button mat-raised-button color="accent" (click)="update()" mat-button><span
                        matTooltip="{{ 'FORMS.buttons.tooltip_no_permisions' | translate }}"
                        [matTooltipDisabled]="edit">{{ 'FORMS.buttons.edit' | translate }}</span></button>

            </div>
            <div fxFlex="50">
                <mat-form-field appearance="outline" *ngIf="dataSource">
                    <input matInput filter (change)="applyFilter($event)" placeholder="{{'filter'| translate}}" #input>
                </mat-form-field>
            </div>
        </div>
        <div *ngIf="!dataSource" fxLayout="row" fxLayoutAlign="space-around center" style="height:100%">
            <mat-spinner diameter="50" strokeWidth="5"></mat-spinner>
        </div>

        <mat-table *ngIf="dataSource" [dataSource]="dataSource" matSort (matSortChange)="sortData($event)">

            <ng-container matColumnDef="select">
                <th mat-header-cell *matHeaderCellDef>
                    <mat-checkbox (change)="masterToggle($event)" [checked]="selection.hasValue() && isAllSelected()"
                        [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
                    </mat-checkbox>
                </th>
                <td mat-cell *matCellDef="let row">
                    <mat-checkbox [value]="row.id" (click)="$event.stopPropagation()"
                        (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)"
                        [aria-label]="checkboxLabel(row)" #table>
                    </mat-checkbox>
                </td>
            </ng-container>


            <ng-container matColumnDef="id">
                <mat-header-cell *matHeaderCellDef mat-sort-header> ID </mat-header-cell>
                <mat-cell *matCellDef="let row; let i = index">
                    <div class="second"><strong>{{ row.id }}</strong></div>
               </mat-cell>
            </ng-container>



            <ng-container matColumnDef="subject">
                <mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'subject' | translate }} </mat-header-cell>
                <mat-cell class="first" *matCellDef="let row; let i = index">
                    <div class="second"> {{ row.subject }} </div>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="datetime">
                <mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'datetime' | translate }} </mat-header-cell>
                <mat-cell class="second" *matCellDef="let row">
                    <div class="second"> {{ row.datetime | date: 'dd/MM/yyyy'}}</div>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="formats">
                <mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'format' | translate }} </mat-header-cell>
                <mat-cell class="first" *matCellDef="let row; let i = index">
                    <div class="second"> {{ row.formats[0].name }} </div>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="status">
                <mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'status' | translate }} </mat-header-cell>
                <mat-cell *matCellDef="let row;let i = index">

                    <div class="second"> {{row.status | messageStatus}} </div>

                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="num_sends">
                <mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'num_sends' | translate }} </mat-header-cell>

                <mat-cell *matCellDef="let row; let i = index">
                    <ng-continer *ngIf="row.num_sends else people" class="second">
                        <div >{{row.num_sends}}</div>
                    </ng-continer>

                    <ng-template #people>
                        <div class="second"><span class="empty"></span></div>
                    </ng-template>
                </mat-cell>
            </ng-container>


            <ng-container matColumnDef="num_received">
                <mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'num_received' | translate }} </mat-header-cell>
                <mat-cell *matCellDef="let row; let i = index">
                    <ng-continer *ngIf="row.num_received else received" class="second">
                        <div class="second">{{row.num_received}}</div>
                    </ng-continer>

                    <ng-template #received>
                        <div class="second"><span class="empty"></span></div>
                    </ng-template>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="num_opened">
                <mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'num_opened' | translate }} </mat-header-cell>
                <mat-cell *matCellDef="let row; let i = index">
                    <ng-continer *ngIf="row.num_opened else opened" class="second">
                        <div class="second">{{row.num_opened}}</div>
                    </ng-continer>

                    <ng-template #opened>
                        <div class="second"> <span class="empty"></span></div>
                    </ng-template>
                </mat-cell>
            </ng-container>






            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>

    </div>
    <mat-paginator paginator [hidden]="load" showFirstLastButtons></mat-paginator>
</div>