.container{
    display: flex;
    flex-direction: column;
    min-width: 300px;
}

.mat-table {
    overflow: auto;
  }

.loading{
    position: relative;
    left: 50%;
}

.actions button{
    margin-right: 5px;
    width: 100px;
}


.mat-cell {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-right: 10px;
}

.green-icon {
    color: #64ca26;
}

.orange-icon {
    color: #f64747 ;
}


.not_defined {
    border-left:7px solid #f64747;
    padding: 7%;
    text-align: center;
    width: 100%;
    
}

.alert_color {
    
    padding: 7%;
    color: black;
    width: 100%;
    text-align: center;
}


.white_line {
    border-left:7px solid #ffff;
    padding: 7%;
    text-align: center;
    width: 100%;
    
}





  mat-header-cell {
    display: flex;
    justify-content: center;
    width: 100%;
  
  }

  th.mat-header-cell, td.mat-cell, td.mat-footer-cell {
    border-bottom-style: none;
    margin-right: 10px;
    text-align: center;
  }


  .second {
      text-align: center;
      width: 100%;
      
  }

  .empty {
      background-color: brown;
      padding: 5px;
     
    }
