
<form class="custom-form">
    <mat-form-field  appearance="outline">  
        <ngx-mat-file-input [placeholder]="'Selecciona un archivo' | translate" [formControl]="file_input">
        </ngx-mat-file-input>  
    </mat-form-field>
</form>



 

