.fileList{
    width:100%;
    display:block;
    padding-left:0;
    margin-top:0;
    margin-bottom:1rem;
    li{
        padding-left:0.5rem;
        list-style: none;
        color:#999;
        .delete{
            cursor:pointer;
            &:hover{
                opacity:0.3;
            }
        }
    }
}