<div [class]="fieldData.multiple ? 'hasList' : ''">
  <mat-form-field appearance="outline" [formGroup]="formGroup">
    <mat-label>{{ fieldData.label | translate }}</mat-label>
    <ngx-mat-file-input [formControlName]="fieldData.name" [placeholder]="fieldData.placeholder" (change)="onChange($event)" appDrag (files)="filesDropped($event)" [accept]="fieldData.accept"></ngx-mat-file-input>
      <mat-icon matSuffix>folder</mat-icon>
    <mat-error>{{ 'El formato del archivo no es correcto' | translate }}</mat-error>
  </mat-form-field>
  <ul *ngIf="fieldData.multiple" class="fileList">
    <li *ngFor="let file of files" fxLayout="row" fxLayoutAlign="space-between center">
      {{ file.name }} 
      <mat-icon class="delete" (click)="delete(file)">delete</mat-icon>
    </li>
  </ul>
</div>
