<h2>{{ title }}</h2>
<mat-divider></mat-divider>
<br>
<div style="display: block;">
    <canvas baseChart 
        [data]="pieChartData" 
        [labels]="pieChartLabels" 
        [chartType]="pieChartType"
        [options]="pieChartOptions"
        [plugins]="pieChartPlugins"
    >
    </canvas>
</div>