<h1 mat-dialog-title>{{title | translate }}</h1>
<form class="custom-form" [formGroup]="form"> 
<mat-dialog-content>
  <div fxLayout="column">  
    <div fxLayout="column" class="form-container">   

      <input type="hidden" formControlName="id_department">

      <mat-label  color="primary">{{ 'FORMS.fields.name' | translate }} </mat-label>
      <mat-form-field  appearance="outline">
        <input matInput type="text" formControlName="name"/>
      </mat-form-field> 
      
      
      <mat-label  color="primary">{{ 'FORMS.fields.email' | translate }} </mat-label>
      <mat-form-field  appearance="outline">
        <input matInput type="text" formControlName="email"/>
      </mat-form-field>  

      <mat-label color="primary">{{ "department" | translate }}* </mat-label><br />
      <mat-form-field appearance="outline">
        <mat-select formControlName="id_department"  >
          <mat-option value=""></mat-option>
          <mat-option *ngFor="let department of departments" [value]="department.id">{{ department.name }}</mat-option>
        </mat-select>
      </mat-form-field>
      
    </div>

  </div>    

</mat-dialog-content>

<mat-dialog-actions fxLayout="row" fxFlexFill *ngIf="(!button)" align="end">  
  <div>
    <button class="mat-raised-button mat-accent"(click)="save(form.value)" cdkFocusInitial>{{ 'FORMS.buttons.save' | translate }}</button>
  </div>
  <div>
    <button class="mat-raised-button" (click)="close()">{{ 'FORMS.buttons.cancel' | translate }}</button>
  </div>
</mat-dialog-actions>
<mat-dialog-actions fxLayout="row" fxFlexFill *ngIf="(button)" align="end">
  <div>
    <button class="mat-raised-button mat-accent right"(click)="close()" cdkFocusInitial>{{button | translate }}</button>
  </div>
</mat-dialog-actions>
</form>

