<div class='container loading' *ngIf="load">
    <mat-spinner diameter="80" strokeWidth="5" color='accent'></mat-spinner>
</div>

<div *ngIf="!load">
    <h1 class="title">{{ 'graphic_stats' | translate }}</h1>
    <h5>{{ 'send_messages' | translate }}</h5>

    <div class='container'>
        <div class="actions" fxLayound="row">
            <div fxFlex="50">

                <div fxLayout="row" fxLayoutAlign="space-beetween center" fxLayoutGap="15px">

                    <mat-form-field appearance="outline">
                        <mat-label color="primary">{{ 'init' | translate }}</mat-label>
                        <input matInput [(ngModel)]="init" name="init" [matDatepicker]="picker" [min]="today">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker panelClass="example-month-picker">
                        </mat-datepicker>
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <mat-label color="primary">{{ 'end' | translate }}</mat-label>
                        <input matInput [(ngModel)]="end" name="end" [matDatepicker]="picker1" [min]="today">
                        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                        <mat-datepicker #picker1 panelClass="example-month-picker">
                        </mat-datepicker>
                    </mat-form-field>




                </div>


            </div>
            <div fxFlex="50" fxLayoutAlign="end start">
                <button (click)="selectDate()" mat-raised-button color="accent">Mostrar</button>
            </div>
        </div>

        <div *ngIf="!dataSource" fxLayout="row" fxLayoutAlign="space-around center" style="height:100%">
            <mat-spinner diameter="50" strokeWidth="5"></mat-spinner>
        </div>

        <mat-table *ngIf="dataSource" [dataSource]="dataSource" matSort (matSortChange)="sortData($event)">

            <ng-container matColumnDef="idcontent">
                <mat-header-cell *matHeaderCellDef mat-sort-header> ID </mat-header-cell>
                <mat-cell *matCellDef="let row; let i = index">
                    <div class="second"><strong>{{ row.idcontent }}</strong></div>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="name">
                <mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'name' | translate }} </mat-header-cell>
                <mat-cell class="first" *matCellDef="let row; let i = index">
                    <div class="second"> {{ row.name }} </div>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="datetime">
                <mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'datetime' | translate }} </mat-header-cell>
                <mat-cell class="second" *matCellDef="let row">
                    <div class="second"> {{ row.datetime | date: 'dd/MM/yyyy'}}</div>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="hours">
                <mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'hours' | translate }} </mat-header-cell>
                <mat-cell class="first" *matCellDef="let row; let i = index">
                    <div class="second"> {{ row.hours | date: 'HH:mm'}} </div>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="format">
                <mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'format' | translate }} </mat-header-cell>
                <mat-cell class="first" *matCellDef="let row; let i = index">
                    <div class="second"> {{ row.format}} </div>
                </mat-cell>
            </ng-container>


            <ng-container matColumnDef="lang">
                <mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'lang' | translate }} </mat-header-cell>
                <mat-cell class="first" *matCellDef="let row; let i = index">
                    <div class="second"> {{ row.lang}} </div>
                </mat-cell>
            </ng-container>



            <ng-container matColumnDef="num_sends">
                <mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'num_sends' | translate }} </mat-header-cell>

                <mat-cell *matCellDef="let row; let i = index">
                    <ng-continer *ngIf="row.num_sends else people" class="second">
                        <div>{{row.num_sends}}</div>
                    </ng-continer>

                    <ng-template #people>
                        <div class="second"><span class="empty"></span></div>
                    </ng-template>
                </mat-cell>
            </ng-container>


            <ng-container matColumnDef="num_received">
                <mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'num_received' | translate }} </mat-header-cell>
                <mat-cell *matCellDef="let row; let i = index">
                    <ng-continer *ngIf="row.num_received else received" class="second">
                        <div class="second">{{row.num_received}}</div>
                    </ng-continer>

                    <ng-template #received>
                        <div class="second"><span class="empty"></span></div>
                    </ng-template>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="num_opened">
                <mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'num_opened' | translate }} </mat-header-cell>
                <mat-cell *matCellDef="let row; let i = index">
                    <ng-continer *ngIf="row.num_opened else opened" class="second">
                        <div class="second">{{row.num_opened}}</div>
                    </ng-continer>

                    <ng-template #opened>
                        <div class="second"> <span class="empty"></span></div>
                    </ng-template>
                </mat-cell>
            </ng-container>






            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>

    </div>
    <mat-paginator paginator [hidden]="load" showFirstLastButtons></mat-paginator>
</div>