<div class="container">
  <mat-form-field class="">
    <mat-chip-list #products [attr.aria-label]="'Selección de productos' | translate ">
      <mat-chip *ngFor="let prod of prods; let i = index" (click)="changeVal(i)" [style.background-color]="prod.estado?prod.color:'#dddddd'">
        {{prod.name}}
        <mat-icon matChipRemove> <img *ngIf="prod.image_url=='';else image" src="https://cdn1.iconfinder.com/data/icons/iphone-x-5/66/iphone_x_mobile_device_screen_size-512.png" alt="" width="15"></mat-icon>
        <ng-template #image>
          <img [src]="prod.image_url" alt="" width="15">
        </ng-template>
      </mat-chip>
    </mat-chip-list>
    
    <mat-chip-list #products [attr.aria-label]="'Selección de productos' | translate ">
      <mat-chip *ngFor="let product of selectedProducts" [selectable]="selectable" [style.background-color]="product.color?product.color:''">
          {{product.name}}
        <mat-icon matChipRemove (click)="removeProduct.emit(product.idproduct)">cancel</mat-icon>
      </mat-chip>
    </mat-chip-list>
  </mat-form-field><br>
  <a mat-raised-button color="accent" (click)="openDialog()" mat-button>{{ 'COMPONENTS.product_select.edit' | translate }}</a>
</div>
