.card {
    padding: 0;
    margin-bottom: 10px;
}
.title {
    //background-color: #111;
    background-color: #64ca26;
    color: #fff;
    padding: 20px;
    margin-bottom: 10px;
}
.content {
    background-color: #F5F9EE;
}
.subtitle {
    color: #aaa;
    padding-left: 10px;
    padding-top: 10px;
    margin-bottom: 0;
}