<mat-card class="card">
    <mat-card-title class="title">{{item.category}}</mat-card-title>
    <mat-card-content class="content">
        <mat-list>
           <mat-list-item *ngFor="let tag of item.tags">
               <mat-checkbox [(ngModel)]="tag.selected" [ngModelOptions]="{standalone: true}">
                  {{tag.name}}
                </mat-checkbox>
            </mat-list-item> 
        </mat-list>
    </mat-card-content>
</mat-card>
