<div class="content">
    <ng-container *ngIf="afluences.length > 0">
        <div *ngFor="let af of afluences | reverse">
            <label>{{ af.gender === 'male' ? 'Hombre' : 'Mujer' | translate}}  {{ af.age <= 20 ? 'Joven' : af.age > 20 && af.gender <= 50 ? 'Adulto' : 'Senior' | translate }}</label>
            <p>{{af.datetime | date: 'HH:mm:ss dd/MM/yyyy' }}</p>
        </div>
    </ng-container>
    <ng-container *ngIf="afluences.length <= 0">
        <mat-spinner *ngIf="loading"></mat-spinner>
        <p *ngIf="!loading">{{ 'CAMERA.detail.last_afluences.error' | translate }}</p>
    </ng-container>
</div>

