<mat-card>
    <mat-card-header>
        <mat-card-title>{{ 'CAMERA.detail.genre' | translate }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <pie-chart [data]="genderPieChartData" [labels]="genderPieChartLabels" [loading]="load"></pie-chart>
    </mat-card-content>
</mat-card>

