<div class="container">
    <mat-slide-toggle [checked]="show" (change)="show = !show">{{ 'CAMERA.detail.streaming.heatmap' | translate }}</mat-slide-toggle>
       <div #container class="content">
        <div class="border" *ngIf="(frame)">
            <img id="cam-streaming" [src]="frame" width="100%" height="auto" />
            <camera-heatmap *ngIf="(show)" [email]="email"></camera-heatmap>
        </div>
        <ng-container *ngIf="!frame">
            <p>{{ 'CAMERA.detail.streaming.stopped' | translate }}</p>
            <button mat-raised-button (click)="openStreaming()">{{ 'CAMERA.detail.streaming.ask' | translate }}</button>
        </ng-container>
    </div>
</div>