.container {
    position: relative;
}

.content {
    margin: 0 auto;
    text-align: center;
}

.border{
    position: relative;
    border: 6px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(180deg, rgb(60,60,60), rgb(100,100,100));
    background-color: #000;
}

img {
    max-height: 380px;
    object-fit: contain;
}

mat-slide-toggle {
    position: absolute;
    top: -26px;
    right: 0px;
}