:host-context{
  mat-checkbox{
    width:100%;
    display:block;
    margin-bottom:0.5rem;
  }
  .form-container{
    height:fit-content;
  }
  .download-link{
    display:inline;
    text-decoration: none;
    color:#999;
    &:hover{
      color:#333;
    }
  }
  .spinner-container{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    display:block;
    background:rgba(255,255,255,0.5);
    text-align: center;
    z-index:9999;
  }
  .mat-progress-spinner{
    top:50%;
    left:50%;
  }
}