<div class="container">
    <div class="spinner-container" *ngIf="loading">
        <mat-spinner diameter="100"  color="accent"></mat-spinner>
    </div>
    <h1 class="title">{{ 'Carga autónoma de datos' | translate }}</h1> 
    <div class="form-container">
        <form-field-select *ngIf="!me.customer" [fieldData]="fieldDataCustomer" [formGroup]="formGroup" (onChangeField)="changedCustomers($event)"></form-field-select>
        <mat-checkbox *ngIf="!me.customer" [(ngModel)]="upload" (click)="checkUploadFiles($event)">Subir archivos excel(xlsx)</mat-checkbox>
        <div *ngIf="upload">
            <form-field-upload class="uploadTickets" *ngFor="let fieldDataFile of fieldDataFiles" [fieldData]="fieldDataFile" [formGroup]="formGroup" class="filefield"></form-field-upload>
        </div>
        <p>{{ 'Descarga' | translate }}<a class="download-link" href="../../../assets/examples/IntegracionVentasLadorianIDS-Fichero-basico-Ejemplo.xlsx" download="example.xlsx"><span>&nbsp;{{ 'aqui' | translate }}&nbsp;</span></a>{{ ' un archivo de ejemplo con la estructura a seguir.' | translate }}</p>
        <button mat-raised-button color="accent" (click)="submitForm($event)" mat-button>{{ 'Enviar' | translate }}</button> 
    </div>
</div>