<div fxLayout="row">
  <div fxFlex="50">
    <fieldset>
      <mat-grid-list cols="8" rowHeight="1:1" [gutterSize]="'1rem'">
        <mat-grid-tile colspan="4">
          <form-field-autocomplete
            [fieldData]="fieldDataAddress" 
            [formGroup]="formGroup">
          </form-field-autocomplete>
        </mat-grid-tile>
        <mat-grid-tile colspan="4">
          <form-field-number
              [fieldData]="fieldDataRatius"
              [formGroup]="formGroup">
          </form-field-number>
        </mat-grid-tile>
      </mat-grid-list>
      <div class="button">
        <button [disabled]="formGroup.invalid" mat-raised-button color="accent" (click)="submitSites()">{{ 'Ver Centros' | translate }}</button> 
      </div>
    </fieldset>
  </div>
  <div fxFlex="50">
    <analisis-sociodemografico-admin-tab-segmentation-result
      [sites]="sites"
      (onCleanSites)="cleanSites($event)">
    </analisis-sociodemografico-admin-tab-segmentation-result>
  </div>
</div>
<div class="table-container">
  <table>
    <tr>
      <th>{{ 'idcentro' | translate  }}</th>
      <th>{{ 'código de centro' |translate }}</th>
      <th>{{ 'Nombre' | translate }}</th>
      <th>{{ 'Domicilio' | translate }}</th>
      <th>{{ 'C.P.' | translate }}</th>
    </tr>
    <tr *ngFor="let site of sites">
      <td>{{ site.idsite }}</td>
      <td>{{ site.code }}</td>
      <td>{{ site.name }}</td>
      <td>{{ site.address }}</td>
      <td>{{ site.zipcode }}</td>
    </tr>
  </table>
  <div class="button">
    <button [disabled]="sites.length === 0" mat-raised-button color="accent" (click)="exportToExcel()">{{ 'Exportar en excel' | translate }}</button> 
  </div>
</div>
<div class="spinner-container-profiles" *ngIf="loading">
    <mat-spinner diameter="50"  color="accent"></mat-spinner>
</div>