<div class="cincu-conte">
    <div class="con-circuits">
        <div class="list-circui">
            <div fxLayout="row" class="nombr-cicui">
                <div fxLayout="column" fxFlex>
                    <span>{{indoorlocation.name}}</span>                   
                </div>
            </div>
            <div class="cincu-imgen">                
                <div fxLayout="row">
                    <button *ngIf="editIndoorlocation" mat-icon-button mat-button (click)="update(indoorlocation.idlocation)"><mat-icon>edit</mat-icon></button>
                    <button *ngIf="deletedIndoorlocation" mat-icon-button mat-button (click)="delete(indoorlocation.idlocation)"><mat-icon>delete</mat-icon></button>
                </div>
            </div>
        </div>
    </div>
</div>
