
<form  [formGroup]="form">
   <mat-label>{{'user' | translate}}</mat-label>
<mat-form-field appearance="outline" >
 <mat-select (selectionChange)="onSelect($event)" formControlName="iduser">
       <mat-option>-- None --</mat-option>
       <mat-option [value]="user.iduser" *ngFor="let user of users">{{user.name}}</mat-option>
    </mat-select>
   </mat-form-field>
</form>



 