<div class="circuit-container">
    <div class="circuit-wrapper">
        <button mat-button *ngFor="let circuit of circuits.get()" [ngClass]="{selected:checkSelect(circuit)}" class="circuit-select" (click)="onSelect(circuit)">
            {{ circuit.name }}
        </button>
    </div>
</div>