.circuit-container{
    position: relative;
    border: 1px solid #ddd;
    display: flex;
    overflow-y: hidden;
    overflow-x: auto;
    height: 110px;
}

.circuit-wrapper{
    position: absolute;
    overflow: hidden;
    display: flex;
    height: 95px;
}

.circuit-select{
    border-radius: 0 !important;
    display: block;
    background-color: rgba(240, 240, 240, 1);
    margin: 10px 5px 0 5px;
    width:fit-content;
    line-height: 80px;
    text-align: center;
    float:left;
    font-weight:600;
    cursor:pointer;
    &:hover{
        background:#009999;
        filter:invert(95%)
    }
    &.selected{
        background:#009999;
        filter:invert(100%);
        cursor: inherit;
    }
}

.circuit-select:first-child {
    margin-left: 10px;
}

.circuit-select:last-child {
    margin-left: 10px;
}