<div fxLayout="row">
    <div fxLayout="column" fxFlex>
        <h1 class="title">Edición de Ticket #{{ ticketId }}</h1>
    </div>
    <div fxLayout="column" align="end">
        <button mat-icon-button [routerLink]="['/private/ticket/dashboard']">
            <mat-icon>west</mat-icon>
        </button>
    </div>
</div>
<form [formGroup]="ticketForm" (ngSubmit)="onSubmit()">
    <div fxLayout="column" class="form-container" fxFlexFill>
        <div fxLayout="row" fxLayoutGap="15px">
            <div fxLayout="column" fxFlex="33"></div>
            <div fxLayout="column" fxFlex="33"></div>
            <div fxLayout="column" fxFlex="33">
                <span fxFlex="95"><mat-icon [ngClass]="statusTicket" (click)="onCloseTicket()">lock_{{ statusTicket }}</mat-icon></span>
            </div>
        </div>
        <div fxLayout="row" fxLayoutGap="15px">
            <div fxLayout="column" fxFlex="33">
                <mat-label>Email</mat-label>
                <mat-form-field appearance="outline">
                    <input matInput placeholder="Email" formControlName="email">
                </mat-form-field>
            </div>
            <div fxLayout="column" fxFlex="33">
                <mat-label>Telefono</mat-label>
                <mat-form-field appearance="outline">
                    <input matInput placeholder="Telefono" formControlName="phone">
                </mat-form-field>
            </div>
            <div fxLayout="column" fxFlex="33">
                <mat-label>Dirección Centro</mat-label>
                <mat-form-field appearance="outline">
                    <input matInput placeholder="Dirección Centro" formControlName="point_address">
                </mat-form-field>
            </div>
        </div>
        <div fxLayout="row" fxLayoutGap="15px">
            <div fxLayout="column" fxFlex="100">
                <mat-label class="required">Titulo</mat-label>
                <mat-form-field appearance="outline">
                    <input matInput placeholder="Titulo" formControlName="title" required>
                    <mat-error *ngIf="ticketForm.controls.title.hasError('required')">
                        Titulo es <strong>requerido</strong>
                    </mat-error>
                </mat-form-field>
            </div>
        </div>

        <div fxLayout="row" fxLayoutGap="15px" style="margin-bottom: 25px;">
            <div fxLayout="column" fxFlex="100">
                <mat-label>Descripcion</mat-label>
                <ckeditor [editor]="editor" (change)="onChange($event)" [(ngModel)]="sHtml" [ngModelOptions]="{standalone: true}"></ckeditor>
            </div>
        </div>
        
        <div fxLayout="row" fxLayoutGap="15px">
            <div fxLayout="column" fxFlex="25">
                <mat-label>Fecha de Creación</mat-label>
                <mat-form-field appearance="outline">
                    <input matInput formControlName="created_at" readonly>
                </mat-form-field>
            </div>
            <div fxLayout="column" fxFlex="25" *ngIf="isHiddenUpdatedAt">
                <mat-label>Fecha de Cierre de Incidencia</mat-label>
                <mat-form-field appearance="outline">
                    <input matInput formControlName="updated_at" readonly>
                </mat-form-field>
            </div>
            <div fxLayout="column" fxFlex="50"></div>
        </div>
        <div fxLayout="row" fxLayoutGap="15px">
            <div fxLayout="column" fxFlex="50">
                <mat-label>Asignar Cliente</mat-label>
                <mat-form-field appearance="outline">
                    <mat-select formControlName="id_customer" (selectionChange)="onChangeCustomer($event.value)">
                        <mat-option value="0">Todos</mat-option>
                        <mat-option *ngFor="let customer of customers" [value]="customer.idcustomer">
                            {{ customer.name }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div fxLayout="column" fxFlex="50">
                <mat-label class="required">Asignar Categoria</mat-label>
                <mat-form-field appearance="outline">
                    <mat-select formControlName="id_category" required>
                        <mat-option *ngFor="let category of categories" [value]="category.id">
                            {{ category.name }}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="ticketForm.controls.id_category.hasError('required')">
                        Categoria es <strong>requerido</strong>
                    </mat-error>
                </mat-form-field>
            </div>
        </div>
        <div fxLayout="row" fxLayoutGap="15px">
            <div fxLayout="column" fxFlex="50">
                <mat-label>Asignar Centro</mat-label>
                <mat-form-field appearance="outline">
                    <mat-select formControlName="id_site">
                        <mat-option value="0">Todos</mat-option>
                        <mat-option *ngFor="let site of sites" [value]="site.idsite">
                            {{ site.name }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div fxLayout="column" fxFlex="50">
                <mat-label>Asignar Estado</mat-label>
                <mat-form-field appearance="outline">
                    <mat-select formControlName="id_status">
                        <mat-option *ngFor="let stat of status" [value]="stat.id">
                            {{ stat.name }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        <div fxLayout="row" fxLayoutGap="15px">
            <div fxLayout="column" fxFlex="50">
                <mat-label class="required">Asignar Prioridad</mat-label>
                <mat-form-field appearance="outline">
                    <mat-select formControlName="id_priority" (selectionChange)="onChangePriority($event.value)" required>
                        <mat-option *ngFor="let priority of priorities" [value]="priority.id">
                            {{ priority.name }}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="ticketForm.controls.id_priority.hasError('required')">
                        Prioridad es <strong>requerido</strong>
                    </mat-error>
                </mat-form-field>
            </div>
            <div fxLayout="column" fxFlex="50">
                <mat-label class="required">Asignar Departamento</mat-label>
                <mat-form-field appearance="outline">
                    <mat-select formControlName="id_department" (selectionChange)="onChangeDepartment($event.value)" required>
                        <mat-option *ngFor="let department of departments" [value]="department.id">
                            {{ department.name }}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="ticketForm.controls.id_department.hasError('required')">
                        Departamento es <strong>requerido</strong>
                    </mat-error>
                </mat-form-field>
            </div>
        </div>
        <div fxLayout="row" fxLayoutGap="15px">
            <div fxLayout="column" fxFlex="50">
                <mat-label>Horas estimadas de resolución</mat-label>
                <mat-form-field appearance="outline">
                    <input matInput type="number" placeholder="tiempo en horas" formControlName="expected_resolution_date">
                </mat-form-field>
            </div>
            <div fxLayout="column" fxFlex="50">
                <mat-label class="required">Asignar Responsable</mat-label>
                <mat-form-field appearance="outline">
                    <mat-select formControlName="id_responsible" required>
                        <mat-option *ngFor="let responsible of responsibles" [value]="responsible.id">
                            {{ responsible.name }}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="ticketForm.controls.id_responsible.hasError('required')">
                        Responsable es <strong>requerido</strong>
                    </mat-error>
                </mat-form-field>
            </div>
        </div>
        <div fxLayout="row" fxLayoutGap="15px" style="margin-top: 20px;">
            <div fxLayout="column" fxFlex="25">
                <h4><mat-checkbox formControlName="notify_user">Alerta de Usuario</mat-checkbox></h4>
            </div>
            <div fxLayout="column" fxFlex="25" *ngIf="!isHiddenUpdatedAt">
                <mat-label>Elegir Fecha de Alerta</mat-label>
                <mat-form-field appearance="outline">
                    <input matInput formControlName="date_alert" readonly>
                </mat-form-field>      
            </div>
            <div fxLayout="column" fxFlex="80"></div>
        </div>

        <ng-container *ngIf="comments && comments.length > 0; else not_comment">
            <div fxLayout="column" fxFlex>
                <h2 class="title">{{ 'comments' | translate}}</h2>
            </div>
            <ng-container *ngFor="let comment of comments; index as i">
                
                <div fxLayout="column" fxLayoutGap="4" fxFlexFill>
                    <div fxFlex fxFlexFill class="card_init" fxLayout="column">
                        <div fxFlex="100" fxFlexFill fxLayout="row" fxLayoutAlign="space-betweeen center" class="information_bar">
                
                            <div fxFlex="50" fxLayoutAlign="start center">
                                <span><strong>{{ 'ago' | translate}}: </strong> {{ comment.created_at | datediff }} dias {{ comment.created_at | date: 'dd/MM/yyyy' }}</span>
                            </div>
                
                            <span fxFlex="50" fxLayoutAlign="end center" (click)="onDeletedComment(i)">
                                <mat-icon class="trash_icon">delete_outline</mat-icon>
                            </span>
                        </div>
                        <div fxLayout="column" fxFlex class="information_bottom">
                            <span [innerHTML]="comment.mensaje"></span>
                        </div>
                    </div>
                </div>
            </ng-container>
        </ng-container>
        <ng-template #not_comment>No existen comentarios...</ng-template><br>
        <ng-container *ngIf="!isHiddenUpdatedAt; else not_editable">
            <div style="margin-top: 20px; margin-bottom: 20px;" [formGroup]="commentForm">
                <div fxLayout="column" fxFlexFill>
                    <h1 class="title">Insertar comentarios</h1>
                    <ckeditor [editor]="editor" formControlName="message"></ckeditor>
                    <button type="button" class="mat-raised-button mat-warn" style="margin-top: 20px;" (click)="addNewComment(commentForm.value)">Comentar</button>
                </div>
            </div>
            <div fxLayout fxLayoutAlign="center center">
                <drag-drop-files [files]="files" (filesDropped)="getFiles($event)"></drag-drop-files>
            </div>

            <div fxLayout fxLayoutGap="20px" fxLayoutAlign="end center">
                <button type="button" class="mat-raised-button mat-accent" [routerLink]="['/private/ticket/dashboard']">Volver</button>
                <button type="submit" class="mat-raised-button mat-accent">Guardar</button>
            </div>
        </ng-container>
        <ng-template #not_editable>Este Ticket ya se encuentra cerrado por lo tanto no se puede editar ni se permiten más comentarios...</ng-template>
        <ng-container *ngIf="images && images.length > 0;">
            <div style="margin-top: 20px; margin-bottom: 20px;">
                <div fxLayout="column" fxFlexFill>
                    <button type="button" class="mat-raised-button mat-warn" style="margin-top: 20px;" (click)="onDeletedImages()">Eliminar Imágenes</button>
                </div>
            </div>
        </ng-container>
        <div class="container" fxLayout="row wrap" fxLayoutAlign="center" fxLayoutGap.xs="0">
            <ng-container *ngFor="let img of images; index as i">
                <div class="item" fxFlex="50%" *ngIf="(img.url | whatFile) else video"> 
                    <ng-container *ngIf="(img.url | whatFile) else video">
                        <span class="img-frame-cap" (click)="openImage(img.url, 'img')">
                            <img class="image" [src]="img.url" width="950px" height="750px"/>
                        </span>
                    </ng-container>
                    <ng-template #video>
                        <span class="img-frame-cap" (click)="openImage(img.url, 'video')">
                            <video class="image"  >
                                <source [src]="img.url" type="video/mp4">
                            </video>
                        </span>
                    </ng-template>
                </div>
            </ng-container>
        </div> 
    </div>
</form>