.mat-select {
  height: 24px;
}

.required:after {
  content: " (*)";
  color: red;
}

.open {
  color: greenyellow;
  transform: scale(1.5) !important;
  float: right;
  cursor: pointer;
}

.close {
  color: red;
  transform: scale(2) !important;
  float: right;
  cursor: pointer;
}

.card_init {
  background-color: white;
  border: 1px solid #d6d6d4;
  margin-bottom: 15px;
}

.information_bar {
  border-bottom: 1px #d6d6d4 solid;
  padding: 10px;
}

.information_bottom {
  border-top: 1px #d6d6d4 solid;
  padding: 10px;
}

.trash_icon {
  transform: scale(1.5);
  color: orangered;
  cursor: pointer;
}
