@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@font-face {
    font-family: Poppins;
    src: url(assets/fonts/Poppins-Regular.ttf);
}
$custom-typography: mat-typography-config(
  $font-family: 'Poppins, Roboto, Helvetica Neue, sans-serif',
  $input: mat-typography-level(20px, 1.125, 400)
  );
@include mat-core($custom-typography);

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/


$idsv4-color: (
  50: #e4e5e6,
  100: #bdbfc1,
  200: #919498,
  300: #64696e,
  400: #43484f,
  500: #222830,
  600: #1e242b,
  700: #191e24,
  800: #14181e,
  900: #0c0f13,
  A100: #26c7db,
  A200: #2cd7ec,
  A400: #33e4fa,
  A700: #26b7ca,
  contrast: (
        50: $black-87-opacity,
        100: $black-87-opacity,
        200: $black-87-opacity,
        300: $black-87-opacity,
        400: $black-87-opacity,
        500: white,
        600: white,
        700: white,
        800: white,
        900: white,
        A100: $black-87-opacity,
        A200: $black-87-opacity,
        A400: $black-87-opacity,
        A700: white,
    )
);

$idsv4-secundary-color: (
  50: #e5f8fb,
  100: #beeef4,
  200: #93e3ed,
  300: #67d8e6,
  400: #47cfe0,
  500: #26c7db,
  600: #22c1d7,
  700: #1cbad2,
  800: #17b3cd,
  900: #0da6c4,
  A100: #f1fcff,
  A200: #bef3ff,
  A400: #8beaff,
  A700: #71e5ff,
  contrast: (
        50: $black-87-opacity,
        100: $black-87-opacity,
        200: $black-87-opacity,
        300: $black-87-opacity,
        400: $black-87-opacity,
        500: white,
        600: white,
        700: white,
        800: white,
        900: white,
        A100: $black-87-opacity,
        A200: $black-87-opacity,
        A400: $black-87-opacity,
        A700: white,
    )
);

$candy-app-primary: mat-palette($idsv4-color);
$candy-app-accent:  mat-palette($idsv4-secundary-color);

// The warn palette is optional (defaults to red).
$candy-app-warn:    mat-palette($idsv4-secundary-color);

// Create the theme object (a Sass map containing all of the palettes).
$candy-app-theme: mat-light-theme($candy-app-primary, $candy-app-accent, $candy-app-warn);

//$custom-toggle-theme: mat-light-theme(mat-palette($mat-red), mat-palette($md-custom-toggle-colors));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($candy-app-theme);
//@include mat-slide-toggle-theme($custom-toggle-theme);

.xng-breadcrumb-root {
  display: inline-block;
  border-radius: 4px;
  color:white;
}

.xng-breadcrumb-item{
  color:white;
}

.xng-breadcrumb-trail{
  color:white!important;
}

.xng-breadcrumb-separator{
  color:white;
}

//Estilos generales de mat-table

.mat-row:nth-child(even){
  background-color:#2B363E;
  color: white;
  }

.mat-row:nth-child(odd){
  background-color:#212E35;
  }

  .mat-header-row{
      background-color:#212E35;
      
  }
  .mat-header-cell{
      color:white;
      font-weight: bold;
  }

  .mat-cell{
      color: white;
  }


  .mat-table{
      height: 600px;
      background-color: #353D45;
  }
  .mat-paginator-page-size-label, .mat-paginator-page-size-value, .mat-paginator-range-label{
    display: none;
  }

  .paginator{
    width: 30px;
    height: 30px;
    text-align: center;
    justify-content: center;
    align-content: center;
    border: 0.5px solid #5B6765;
    align-items: center;
    padding-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
   
  }

.mat-paginator-container {
  background-color: #353D45;
  color: white;
}

.mat-form-field{
  font-size: initial;
  color: white;
  width: 100%;
}

.mat-input-element{
  caret-color: white;
}

.mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
  color: white!important;
}

.mat-form-field-appearance-outline .mat-form-field-outline {
  color: rgba(255, 255, 255, 0.33);
  background:rgba(255,255,255,1);
}
 .mat-form-field-infix{
   padding: 0.4em 0 0.4em 0!important;
 }

 .mat-nav-list a{
   font-size: 12px;
   padding-left: 5px;
 }

 .mat-select-value{
   color: white;
 }

 .mat-icon{
  transform: scale(0.7);
 }

 .mat-drawer-content{
   overflow-x: hidden!important;
 }

//Estilos generales de mat-table

.mat-row:nth-child(even){
  background-color:#2B363E;
  color: white;
  }

.mat-row:nth-child(odd){
  background-color:#212E35;
  }

  .mat-header-row{
      background-color:#212E35;
      
  }
  .mat-header-cell{
      color:white;
      font-weight: bold;
  }

  .mat-cell{
      color: white;
  }


  .mat-table{
      height: 600px;
      background-color: #353D45;
  }
  .mat-paginator-page-size-label, .mat-paginator-page-size-value, .mat-paginator-range-label{
    display: none;
  }

  .paginator{
    width: 30px;
    height: 30px;
    text-align: center;
    justify-content: center;
    align-content: center;
    border: 0.5px solid #5B6765;
    align-items: center;
    padding-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
   
  }

.mat-paginator-container {
  background-color: #353D45;
  color: white;
}

