@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@font-face {
    font-family: Poppins;
    src: url(assets/fonts/Poppins-Regular.ttf);
}
$custom-typography: mat-typography-config(
  $font-family: 'Poppins, Roboto, Helvetica Neue, sans-serif',
  $input: mat-typography-level(20px, 1.125, 400)
  );
@include mat-core($custom-typography);

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/


$idsv4-secundary-color: (
  50: #f2fde4,
  100: #defabb,
  200: #c6f68d,
  300: #aaf255,
  400: #90ee02,
  500: #64ca26,
  600: #59c303,
  700: #41c300,
  800: #0aaf00,
  900: #008b00,
  A100: #defabb,
  A200: #c6f68d,
  A400: #90ee02,
  A700: #41c300,
  contrast: (
        50: $black-87-opacity,
        100: $black-87-opacity,
        200: $black-87-opacity,
        300: $black-87-opacity,
        400: $black-87-opacity,
        500: white,
        600: white,
        700: white,
        800: white,
        900: white,
        A100: $black-87-opacity,
        A200: $black-87-opacity,
        A400: $black-87-opacity,
        A700: white,
    )
);

$idsv4-color: (
  50: #fbebe7,
  100: #ffd2bd,
  200: #ffb592,
  300: #fdad84,
  400: #fa9e70,
  500: #FF9A66,
  600: #ff8442,
  700: #ff711b,
  800: #f46a17,
  900: #e66312,
  A100: #ffd2bd,
  A200: #ffb592,
  A400: #fa9e70,
  A700: #ff711b,
  contrast: (
        50: $black-87-opacity,
        100: $black-87-opacity,
        200: $black-87-opacity,
        300: $black-87-opacity,
        400: $black-87-opacity,
        500: white,
        600: white,
        700: white,
        800: white,
        900: white,
        A100: $black-87-opacity,
        A200: $black-87-opacity,
        A400: $black-87-opacity,
        A700: white,
    )
); 

$idsv4-warn-color: (
  500: #a51212
); 

$idsv4-app-primary: mat-palette($idsv4-color);
$idsv4-app-accent:  mat-palette($idsv4-secundary-color);


// The warn palette is optional (defaults to red).
//$idsv4-app-warn:    mat-palette($idsv4-warn-color);

// Create the theme object (a Sass map containing all of the palettes).
$idsv4-app-theme: mat-light-theme($idsv4-app-primary, $idsv4-app-accent);

//Create toogle theme
//$custom-toggle-theme: mat-light-theme(mat-palette($mat-red), mat-palette($md-custom-toggle-colors));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($idsv4-app-theme);
//@include mat-slide-toggle-theme($custom-toggle-theme);

//style sidenav
mat-sidenav-container{
}

.mat-toolbar {
  color: #ffffff;
  background-color: #26b7ca;
}
 
.sidenav{   
  color: #8BD85B;
}

mat-expansion-panel{
  padding: 10px;  
}
.monospace{
  .mat-option{
    font-family: monospace!important;
  }
}

// Form container
.form-container {
  position: relative;
  background-color: white;
  /* color: rgba(255, 255, 255, 0.33); */
  padding: 30px 30px;
  width: 376px;
  height: 692px;
}

.form-background {
  background-color: white;
  padding: 4%;
}

//Expansion Panel.
.mat-expansion-panel-header-title{
  color: #9A9A9A;
}

.mat-expansion-indicator::after{
  color: #9A9A9A;
}

.mat-expansion-panel-header:hover {
  background-color: white;
}

//Estilos breadcrubms

.xng-breadcrumb-root {
  display: inline-block;
  border-radius: 4px; 
  
}

/* .xng-breadcrumb-item{
}

.xng-breadcrumb-trail{
 
}

.xng-breadcrumb-separator{
  
} */

//Estilos generales de mat-table

/* .mat-row:nth-child(even){
  background-color:#2B363E;
  color: white;
  }

.mat-row:nth-child(odd){
  background-color:#212E35;
  }

  .mat-header-row{
      background-color:#212E35;
      
  } */
.mat-header-cell{
    /* color:white; */
    font-weight: bold;
}

  /* .mat-cell{
      color: white;
  } */


/* .mat-table{
    height: 600px;
} */

//Paginador

.mat-paginator{
  margin-bottom: 20px;
}


.mat-form-field{
  font-size: initial;
  /* color: white; */
  width: 100%;
}
.mat-form-field-appearance-outline .mat-form-field-outline {
 background: white!important; 
}
.mat-drawer-container{

}
.hasList{
  .mat-form-field-wrapper{
    padding-bottom:0!important;
  }
}
/* .mat-input-element{
  caret-color: white;
}

.mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
 color: white!important; 
}

.mat-form-field-appearance-outline .mat-form-field-outline {
  color: rgba(255, 255, 255, 0.33); 
} */

.mat-form-field-infix{
  padding: 0.4em 0 0.4em 0!important;
}

.mat-nav-list a{
  font-size: 12px;
  padding-left: 5px;
}

.mat-select-value{
}

.mat-icon{
transform: scale(0.7);
}

.mat-drawer-container {
  background-color: transparent;
}

.mat-drawer-content{
  overflow-x: hidden!important;
  background-color: transparent;
  /* background: rgba(200, 200, 200, 0.3); */
}

mat-card{
  border-radius:0!important;
  box-shadow:none!important;
  border: 1px solid #DDD;
}
.mat-calendar-body-selected{
  background-color:#64ca26!important;
}