/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: PoppinsBold;
    src: url(./assets/fonts/Poppins-Bold.ttf);
}

@font-face {
    font-family: PoppinsSemiBold;
    src: url(./assets/fonts/Poppins-SemiBold.ttf);
}

@font-face {
    font-family: PoppinsRegular;
    src: url(./assets/fonts/Poppins-Regular.ttf);
}

@font-face {
    font-family: PoppinsMedium;
    src: url(./assets/fonts/Poppins-Medium.ttf);
}

@font-face {
    font-family: PoppinsLight;
    src: url(./assets/fonts/Poppins-Light.ttf);
}

html, body { height: 100%;}
body { 
  background: rgba(200, 200, 200, 0.3);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  margin: 0; 
  font-family: PoppinsRegular, Roboto, "Helvetica Neue", sans-serif; }

* {
    scrollbar-width: thin;
    scrollbar-color: #64ca26 white;
  }
  *::-webkit-scrollbar {
    width: 12px;
    
  }
  *::-webkit-scrollbar-track {
    background: white;
  }
  *::-webkit-scrollbar-thumb {
    background-color: #64ca26;
    border-radius: 20px;
    border: 3px solid white;
    
  }


.sidenav {
    -webkit-box-shadow: 5px 2px 10px -3px rgb(201 201 201 / 35%);
    -moz-box-shadow: 5px 2px 10px -3px rgb(201 201 201 / 35%);
    box-shadow: 5px 2px 10px -3px rgb(201 201 201 / 35%);
}

.ck-editor__editable_inline {
  min-height: 300px;
}

.material-icons.color_warning { color:#fec206 }