<mat-card>
  <mat-card-content fxLayout="column">
    <playarea-select-show [selectedIndex]="0" (onChange)="onChangeArea($event)"></playarea-select-show>
    <player-viewer fxFlex *ngIf='(player && area)' [email]="player.email" [width]="area.format.width" [height]="area.format.height"></player-viewer>
  </mat-card-content>
</mat-card>