<mat-card>
    <mat-card-title>Reglas</mat-card-title>
    <mat-tab-group [dynamicHeight]="true">
        <mat-tab label="tags">
            <div> 
              
                <mat-card-content>
                   
                            <mat-dialog-content class="mat-typography">     
                                <form id="form" [formGroup]="form" #f="ngForm">
                                    <input type="hidden" formControlName="entity" value="tag">   
                                    <div fxLayout="column" fxFlex="90" id="tags">
                                        <mat-label color="primary">{{ 'comp_value' | translate }}</mat-label><br>
                                        <mat-form-field appearance="outline">
                                            <input matInput type="text" formControlName="comp_value" />
                                        </mat-form-field>
                                        <mat-label color="primary">{{ 'symbol' | translate }} </mat-label><br>
                                        <mat-form-field appearance="outline">
                                            <mat-select formControlName="symbol">
                                                <mat-option value=""></mat-option>
                                                <mat-option *ngFor="let symbol of symbols" [value]="symbol">{{symbol}}</mat-option>
                                            </mat-select>
                                        </mat-form-field>    
                                        <mat-label color="primary">{{ 'action' | translate }} </mat-label><br>
                                        <mat-form-field appearance="outline">
                                            <mat-select formControlName="action">
                                                <mat-option value=""></mat-option>
                                                <mat-option *ngFor="let action of actions" [value]="action">{{action}}</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                        <mat-slide-toggle formControlName="times">{{ 'status' | translate }}</mat-slide-toggle><br>
                                        <mat-label  color="primary">{{ 'Tag' | translate }} </mat-label><br>
                                        <tags-select-group-tags [id]="idtag" (onChange)="getTags($event)" ></tags-select-group-tags>
                                    </div>
                                </form>
                            </mat-dialog-content> 
                       
                </mat-card-content>
                <mat-card-actions align="end">
                    <button mat-button mat-dialog-close class="mat-raised-button" (click)="close()">{{ 'FORMS.buttons.cancel' | translate }}</button> 
                    <button mat-button  class="mat-raised-button mat-accent" (click)="save()" cdkFocusInitial>{{ 'FORMS.buttons.save' | translate }}</button>
                </mat-card-actions>
            </div>
        </mat-tab>
    </mat-tab-group>
</mat-card> 


