.spinner-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .button-container {
    position: absolute;
    bottom: 15px;
    right: 25px;
    
  }
  
  .hide{
    visibility: hidden;
  }

  .check-status {
      width: 100%;
  }


  .form-background {
     align-items: center;
  }