<h2 mat-dialog-title>{{ 'DIALOGS.indoorlocation.title' | translate }}</h2>
<mat-dialog-content class="mat-typography">
    <form id="form" class="custom-form" [formGroup]="form">
        <input *ngIf="(me.customer)" type="hidden" formControlName="idcustomer" /> 
        <mat-form-field  appearance="outline">     
          <mat-label color="primary">{{ 'FORMS.fields.name' | translate }}</mat-label>     
          <input matInput type="text" formControlName="name" required />
          <mat-error *ngIf="form.errors?.name.required" color = "accent">{{ 'FORMS.errors.name_required' | translate }}</mat-error>
        </mat-form-field>  
    </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>{{ 'FORMS.buttons.cancel' | translate }}</button>
    <button mat-button (click)="save()">{{ 'FORMS.buttons.accept' | translate }}</button>    
</mat-dialog-actions>