.tag-form{
  .container {
    margin-left: 20px;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom:50px;
    margin-bottom:50px;
    background-color: #fff;
  }
  
  .category-tags-form {
    float: left;
    width: 20%;
    margin-right: 20px;
    margin-bottom: 20px;
  }
  
  .category-tags-form .category-name {
    // width: 94%;
    width: calc(100% - 20px);
    padding: 10px;
    border: solid 1px #ddd;
    border-radius: 4px;
    margin-bottom: 5px;
  }
  
  .category-tags-form .list {
    border-radius: 4px;
    border: solid 1px #ccc;
    margin-bottom: 10px;
    height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: #fff;
    resize: vertical;
  }
  
  .category-tags-form .list .edit-tag {
    cursor: pointer;
  }
  
  .category-tags-form .list .edit-tag .mat-icon {
    padding: 5px;
  }
  
  .category-tags-form .list input {
    width: 100%;
    padding: 10px;
    border: none;
  }
  
  .category-tags-form .list input.add-tag {
    background-color: #eee;
  }
  
  .category-tags-form .list input.add-tag:focus {
    background-color: #eee;
  }
  
  .category-tags-form .list .edit-tag:hover {
    background-color: #64ca26;
    color: #fff;
  }
  
  .category-tags-form .list input:focus {
    border: solid 1px #888;
    background-color: #fff;
    color: #000;
    outline: none;
  }
  
  .category-tags-form .actions a {
    margin-right: 10px;
  }
  
  #add-new-category-tag {
    width: 20%;
    float: left;
  }
  
  #add-new-category-tag {
    margin-bottom: 30px;
  }
  
  #add-new-category-tag .mat-icon {
    font-weight: bold;
    position: relative;
    top: 7px;
  }
  
  #add-new-category-tag a {
    text-decoration: none;
    color: #000;
  }
  
  
  /*** nuevo css***/
  
  ::ng-deep xng-breadcrumb {
      left: 0 !important;
  }
  
  
  ::ng-deep .sidenav {
      -webkit-box-shadow: 5px 2px 10px -3px rgb(201 201 201 / 35%);
      -moz-box-shadow: 5px 2px 10px -3px rgb(201 201 201 / 35%);
      box-shadow: 5px 2px 10px -3px rgb(201 201 201 / 35%);
  }
  
  /*
  ::ng-deep .mat-drawer-content {
    background: #F4FAEF;
  }
  */
  
  ::ng-deep .container {
      float: left;
      width: calc(100% - 58px);
      margin-right: 20px;
  }
  
  .edit-tag {
      width: 100%;
      float: left;
  }
  
  .edit-tag input {
      width: calc(100% - 90px) !important;
      background: transparent !important;
      border: none !important;
      float: left;
  }
  .category-tags-form .list {
      padding-top: 0;
  }
  
  .btons-tgs {
      width: 100%;
      float: left;
      text-align: right;
  }
  
  .btons-tgs .mat-focus-indicator {
      margin-right: 0 !important;
      margin-left: 5px;
  }
  
  .category-tags-form .list .edit-tag .mat-icon {
    display: none;
  }
  
  .category-tags-form .list .edit-tag:hover .mat-icon{
    display: inline-block;
  }
  
  .category-tags-form .list .edit-tag:hover input {
    color: white;
  }
}
.category-tags-form{
  .mat-form-field{
    margin:0;
  }
}

ngx-colors{
  margin-top:7px;
}