<div class="tag-form">
    <div class='container' *ngIf="load">
        <mat-spinner diameter="80" strokeWidth="5" color='accent'>
        </mat-spinner>
    </div>
    <h1 class="title">{{ 'TAGS.list.title' | translate }}</h1>

    <div class='container' *ngIf="!load">
        <div *ngIf="!tagCategoryListPermission || !tagListPermission">
            <h3 class='title'>{{ 'COMMON.not_permission' }}</h3>
        </div>

        <div *ngIf="tagCategoryListPermission && tagListPermission && tagsByCategory.length > 0 && tagsByCategory">

            <mat-tab-group (selectedTabChange)="onTabChanged($event)">

                <div *ngFor="let categoryTag of tagtypes; let i = index" class="category-tags-form">
                    <mat-tab [label]="categoryTag.name">
                        <create-tag [tagsByCategory]="tagsByCategory" [me]="me" [categoryTagTypes]="categoryTagTypes"
                            [colors]="colors" [index]="i" [type]="categoryTag.code"
                            [newTagPermission]="newTagPermission" [editTagPermission]="editTagPermission"
                            [deletedTagCategoryPermission]="deletedTagCategoryPermission"
                            [editTagCategoryPermission]="editTagCategoryPermission"
                            [deletedTagPermission]="deletedTagPermission" (onCreateTag)="createTag($event)"
                            (onEditTag)="editTag($event)" (onUpdateTag)="updateTag($event)"
                            (onDeleteTag)="deleteTag($event)" (onDeleteTagCategory)="deleteTagCategory($event)"
                            (onUpdateTagCategory)="updateTagCategory($event)">
                        </create-tag>
                    </mat-tab>
                </div>
            </mat-tab-group>



            <div *ngIf="showAddButton && newTagCategoryPermission" id="add-new-category-tag">
                <mat-icon role="img" class="mat-icon notranslate material-icons mat-icon-no-color" aria-hidden="true"
                    data-mat-icon-type="font">add</mat-icon>
                <a href="#" class="mat-loading" (click)="handleAddCategory($event)"> {{ 'TAGS.form.button' | translate
                    }}</a>
            </div>

            <div *ngIf="showAddForm && newTagCategoryPermission" class="category-tags-form">
                <form [formGroup]="newForm" #f="ngForm">
                    <div fxLayout="row" fxLayoutGap="5px">

                        <mat-form-field fxFlex="100" class="mat-form-field" appearance="outline">
                            <input matInput formControlName="categoryName" type="text" value=""
                                [placeholder]="'FORMS.placeholder.category' | translate" />
                        </mat-form-field>

                    </div>
                    <customer-select [customersToSelect]="customersToSelect"
                        (customerSelected)="customerSelected($event)"></customer-select>
                    <div class="actions">
                        <a mat-raised-button color="accent" (click)="createTagCategory($event)"
                            id="add-new-category-tag" mat-button style="width:fit-content">{{ 'FORMS.buttons.save' |
                            translate }}</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>