.loading{
    position: relative;
    left: 50%;
}

.actions{
    padding-bottom: 25px;   
}

.actions a{
    margin-right: 5px;
    width: 100px;
}

.actions button{
    margin-right: 5px;
    width: 100px;
}

th.mat-header-cell, td.mat-cell {
    border:none;
    margin-right: 0;
}

img{
    width: 30px;
    background-color: lightcoral;
}

.mat-column-image_url{
    text-align: left;
}

.mat-cell {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-right: 10px;
}

.w-75{
    max-width: 75px;
}

.w-100{
    max-width: 100px;
}

.w-50 {
    max-width: 50px;
}

.th-center{
    text-align: center;
}
.th-left{
    text-align: left;
}
.th-right{
    text-align: right;
}

