<div class='container loading' *ngIf="load" > 
  <mat-spinner diameter = "80" strokeWidth = "5" color='accent'></mat-spinner>
</div>

<div class='container' *ngIf="!load" >
  <h1 class="title">{{ 'CUSTOMER.list.title' | translate }}</h1>
  <div *ngIf="!permission"><h3 class='title'>{{ 'COMMON.no_permission' }}</h3></div>
  <div *ngIf="permission">
    <div class="actions" fxLayound="row">
      <div fxFlex="50">
        <button mat-raised-button color="accent" [disabled]="!new" [routerLink]="['/private/customer/create']" mat-button><span matTooltip="{{ 'FORMS.buttons.tooltip_no_permisions' | translate }}" [matTooltipDisabled]="new">{{ 'FORMS.buttons.new' | translate }}</span></button>         
        <button mat-raised-button color="accent" [disabled]="!edit" (click)="update()" mat-button><span matTooltip="{{ 'FORMS.buttons.tooltip_no_permisions' | translate }}" [matTooltipDisabled]="edit">{{ 'FORMS.buttons.edit' | translate }}</span></button>
        <button mat-raised-button color="accent" [disabled]="!deleted" (click)="delete()" mat-button><span matTooltip="{{ 'FORMS.buttons.tooltip_no_permisions' | translate }}" [matTooltipDisabled]="deleted">{{ 'Archivar' | translate }}</span></button>
      </div>
      <div fxFlex="50">
        <mat-form-field appearance="outline">            
          <input matInput filter (change)="applyFilter($event)" placeholder="{{'filter'| translate}}" #input>
        </mat-form-field>
      </div>
    </div>
    <div *ngIf = "!dataSource" fxLayout = "row" fxLayoutAlign = "space-around center" style = "height:100%">
        <mat-spinner diameter = "50" strokeWidth = "5"></mat-spinner>
    </div>
    <mat-table *ngIf = "dataSource" [dataSource] = "dataSource"  matSort (matSortChange)="sortData($event)">

      <ng-container matColumnDef="select">
        <th class="w-100 th-center" mat-header-cell *matHeaderCellDef>
          <mat-checkbox (change)="masterToggle($event)"
                        [checked]="selection.hasValue() && isAllSelected()"
                        [indeterminate]="selection.hasValue() && !isAllSelected()"
                        [aria-label]="checkboxLabel()">
          </mat-checkbox>
        </th>
        <td   mat-cell *matCellDef="let row">
          <mat-checkbox [value]="row.idcustomer" 
                        (click)="$event.stopPropagation()"
                        (change)="$event ? selection.toggle(row) : null"
                        [checked]="selection.isSelected(row)"
                        [aria-label]="checkboxLabel(row)"
                        #table>
          </mat-checkbox>
        </td>
      </ng-container>

      <ng-container matColumnDef = "idcustomer">
        <mat-header-cell *matHeaderCellDef mat-sort-header [ngClass]="'w-100'"> {{ 'CUSTOMER.list.id' | translate }} </mat-header-cell>
        <mat-cell  *matCellDef = "let row"  [ngClass]="'w-100'">
          <span *ngIf="row.idcustomer"><a [routerLink]="['/private/customer/edit',row.idcustomer]">{{ row.idcustomer }}</a> </span>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef = "name">
        <mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'CUSTOMER.list.name' | translate }} </mat-header-cell>
        <mat-cell  *matCellDef = "let row">  {{row.name}} </mat-cell>
      </ng-container>   

   

      <ng-container matColumnDef = "phone">
        <mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'CUSTOMER.list.phone' | translate }} </mat-header-cell>
        <mat-cell *matCellDef = "let row" >  {{ row.phone }} </mat-cell>
      </ng-container>

     <!--  <ng-container matColumnDef = "image_url">
        <mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'CUSTOMER.list.image' | translate }} </mat-header-cell>
        <mat-cell *matCellDef = "let row" ><img *ngIf="(row.image_url)" src={{row.image_url}}/></mat-cell>
      </ng-container> -->

    

      <ng-container matColumnDef = "status">
        <mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'Estado' | translate }} </mat-header-cell>
        <mat-cell *matCellDef = "let row" ><mat-slide-toggle [(ngModel)]="row.status" (change)="changeStatus(row.idcustomer)"></mat-slide-toggle></mat-cell>
      </ng-container>
      
      <mat-header-row  *matHeaderRowDef = "displayedColumns"></mat-header-row>
      <mat-row *matRowDef = "let row; columns: displayedColumns;" ></mat-row>
    </mat-table>
  </div>
</div>
<mat-paginator paginator [hidden] = "(load)" showFirstLastButtons></mat-paginator>

