<div fxLayout="row">
    <div fxLayout="column" fxFlex>
        <h2 class="title">{{ "add_comment" | translate }}</h2>
    </div>
</div>

<form [formGroup]="form" (ngSubmit)="create()">

    <div fxLayout="column" class="form-container" fxFlexFill fxLayoutGap="40px">
        <div>
            <mat-label color="primary">{{ 'description' | translate }} </mat-label><br>
            <ckeditor [editor]="Editor" (change)="onChange($event)" [(ngModel)]="sHtml" [ngModelOptions]="{standalone: true}"></ckeditor>
        </div>
    
        <div>
            <drag-drop-files [files]= "files" (filesDropped)="getFiles($event)"></drag-drop-files>
        </div>

        <div fxLayout fxLayoutGap="20px" fxLayoutAlign="end center">
            <button mat-button  class="mat-raised-button" [routerLink]="['../../dashboard']">{{
                'FORMS.buttons.cancel' | translate }}
              </button>
            <button *ngIf="id" type="submit" class="mat-raised-button mat-accent">{{ 'create' | translate }}</button>
            <button *ngIf="!id" type="submit" class="mat-raised-button mat-accent">{{ 'update' | translate }}</button>
        </div>

    </div>

</form>