::ng-deep  .orange-snackbar {
    background: #fff3cd!important;
    color: black!important;
  
  }
  ::ng-deep  .green-snackbar {
    background: #d4edda!important;
    color: black!important;
  
  }


  .ck.ck-editor__main .ck-content {
    height: 239px;
}