<div  *ngFor="let content of contents">
    <div fxLayout="row" class = "playcontent" id=content{{content.idcontent}}> 
        <div fxLayout="column"><img class = "cover" src={{content.assetValid.cover_url}} *ngIf='content.assetValid.cover_url'></div>
        <div fxLayout="column"><img class = "thumbnail" src={{content.categories.image_url}} *ngIf='content.categories && content.categories.image_url'></div>
        <div fxLayout="column"><span>{{content.assetValid.name}}</span><br><span>{{content.assetValid.duration_hour}}</span></div>
    </div> 
</div>
    

 

