.playcontent {   
  height: 50px;    
  background-color: #303030;
  color: white;
  font-weight: bold;
  border-bottom: white solid 0.5px;
  padding-top: 10px;
}

.cover {
  width: 60px; 
  height: 30px;
  padding-right: 10px;  
}

.thumbnail {
  width: 30px; 
  padding-left: 5px; 
  padding-right: 10px;  
}