.search{
    padding-left: 20px;
    width: 95%;
    height: 30px;
    line-height: 3em;
    border: none;
    font-family: Poppins, Roboto, Helvetica Neue, sans-serif;
}
.labl-selc {
    width: 100%;
    float: left;
    font-size: 14px;
    color: #ACAFA8;
    margin-bottom: 6px;
}