<mat-label class="labl-selc">{{ 'viewers' | translate }}*</mat-label>
<mat-form-field appearance="fill">
    <mat-label>{{'viewers' | translate}}</mat-label>
    <mat-select (selectionChange)="onSelect($event.value)" [(value)]="selected">
        <input class = "search" [placeholder] ="'Buscar' | translate" (keyup)="onKey($event.target.value)">
        <!-- <mat-option disabled>Seleccione una opción</mat-option> -->
        <mat-option *ngFor="let player of selectedPlayer" [value]="player">{{player.email}}</mat-option>
    </mat-select>
</mat-form-field>