<mat-card>
  <mat-card-header class="socioeconomic" fxLayout="row" fxLayoutAlign="space-between center">
      <mat-card-title>{{ 'Perfiles Socioeconómicos' | translate }}</mat-card-title>
      <span class="text-ine">({{ 'Elaboración propia con datos extraidos del sitio web del INE' | translate }}: <a href="https://www.ine.es" target="_blank">www.ine.es</a>)</span>
  </mat-card-header>
  <mat-card-content>
    <mat-tab-group (selectedTabChange)="changeTab($event)">
      <mat-tab label={{labelTab1}}>
        <analisis-sociodemografico-admin-tab-socioeconomic
          (submitForm)="submitSocioeconomic($event)"
        >
        </analisis-sociodemografico-admin-tab-socioeconomic>
      </mat-tab>
      <mat-tab label={{labelTab2}}>
        <analisis-sociodemografico-admin-tab-segmentacion
        [sites]="sites"
        [loading]="loading"
        (submitForm)="submitSegmentacion($event)"
        (onCleanSites)="cleanSites($event)"
      >
      </analisis-sociodemografico-admin-tab-segmentacion>
      </mat-tab>
      <mat-tab label={{labelTab3}}>
        <analisis-sociodemografico-admin-tab-sites
          [loading]="loading"
          [loadautocomplete]="loadAutocomplete"
          (onCleanSites)="cleanSites($event)"
      >
      </analisis-sociodemografico-admin-tab-sites>
      </mat-tab>
    </mat-tab-group>
  </mat-card-content>
</mat-card>

<analisis-sociodemografico-admin-tab-socioeconomic-result *ngIf="tab === 0"
  [totalDemographic]="totalDemographic"
  [selectedDemographic]="selectedDemographic"
  [economicResult]="economicResult"
  [ratius]="ratius"
></analisis-sociodemografico-admin-tab-socioeconomic-result>