<div class="fondo-verd">

    <div class="box-title">
        <span>{{title | translate}}</span>
    </div>

    <div class="box-container">

        <div class="box" *ngFor="let item of items; let i = index" (click)="select(i)" #box>
            <div class="box-content">
                <div fxLayoutAlign="start center">
                    <img [src]="item.image_url" alt="" width="50px" />
                </div>

                <div class="box-text">
                    <span>{{ item.name }}</span>

                    <span *ngIf="item.duration">{{ item.duration != null ? item.duration : 0 }}
                        {{ "COMPONENTS.contents_category.element.sec" | translate }}</span>
                </div>
            </div>

            <div class="box-action">
                <mat-icon *ngIf="!selectCategory" (click)="view(i)">search</mat-icon>
                <mat-icon *ngIf="!editContentcategory" (click)="update(i)">edit</mat-icon>
                <mat-icon *ngIf="!deletedContentcategory" (click)="delete(i)">delete</mat-icon>

            </div>
        </div>
    </div>


    <div class="box-btn" *ngIf="!editContentcategory">
        <button mat-raised-button color="accent" (click)="add()">{{ btn | translate}}</button>
    </div>
</div>