.box-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: white;

}

.box-title {
  display: flex;
  justify-content: flex-start;
  font-weight: bold;
  margin: 1%;
  font-size: 1.1em;
}

.box {
  margin: 2%;
  display: flex;
  flex-direction: column;
  font-size: 17px;
  font-weight: bold;
  background-color:#f5f9ee;
  padding: 1%;
  width: 250px;
}


.box-selected {
  margin: 2%;
  display: flex;
  flex-direction: column;
  font-size: 17px;
  font-weight: bold;
  background-color: #f64747;
  padding: 1%;
  width: 250px;
  color: white;
}

.box-content {
  display: flex;
}

.box-action {
  display: flex;
  justify-content: flex-end;
  
  

 mat-icon {
    margin-top: 2%;
    margin-right: 2%;
    font-size: 40px;
    cursor: pointer;

    &:hover {
      font-size: 45px;
      opacity: 0.5;
    }

  }

 
}


.box-btn {
  display: flex;
  margin-top: 1%;
  justify-content: flex-start;
  margin-left: 2%;

}



 .circut-botns {
  width: 100%;
  float: left;
}


.cincu-conte {
  width: 23%;
  float: left;
}

.con-circuits {
  width: 100%;
  float: left;
}





.parte-botons {
   width: 100%;
  float: left;
  display: block !important;
  padding-top: 15px;
  text-align: right;
}

.parte-botons .mat-focus-indicator {
  margin-left: 5px;
}


.cincu-imgen {
  width: 52px;
  float: right;
}

.nombr-cicui {
  width: calc(100%);
  float: left;
  padding-left: 15px;
  font-size: 17px;
  font-weight: bold;
  box-sizing: border-box;
      word-wrap: break-word;
}

img{
  padding-right: 10px;
}




.loading{
  position: relative;
  left: 50%;
}


.actions{
  padding-bottom: 25px; 
}

.actions a{
  margin-right: 5px;
  width: 150px;
}

.actions button{
  margin-right: 5px;
  width: 100px;
}

th.mat-header-cell, td.mat-cell {
  border:none;
}

#selection-area-table {
/*width: 600px;*/
table-layout: fixed;
}

#selection-area-table td {
padding: 40px 10px;
}

#selection-area-table td.table-head {
padding: 10px;
width: 300px !important;
}

#selection-area-table td.table-head:last-child {
width: 70% !important;
}

#selection-area-table td.clicked {
background-color: #f64747;
color: #fff;
}

#selection-area-table td.clicked .description {
/*color: #fff;*/
}

#selection-area-table td.area-box {
cursor: pointer;
/*transition: all 0.5s;*/
}

#selection-area-table td.area-box .description {
/*color: #888;*/
width: fit-content;
margin-top: 5px;
}

#selection-area-table td.area-box:hover {
/*background-color: #eee;*/
/*color: #888;*/
}

#selection-area-table tr:first-child {
font-weight: bold;
font-size: 16px;
}

#selection-area-table tr:nth-child(odd) {
background-color: #fff;
}

.loading{
  position: relative;
  left: 50%;
}

#table-footer {
margin-top: 10px;
}

#table-footer #actions {
display: inline-block;
float: right;
}

#table-footer #actions a {
margin-left: 5px;
margin-bottom: 5px;
}

#table-footer #all-selection-checkbox {
float: left;
}


/*** css nueo ***/



.fondo-verd {
  padding-bottom: 50px;
  padding-right: 25px;
  display: table;
  width: 100%;
  box-sizing: border-box;
  background-color: white;
  
  
}

/*
::ng-deep .mat-drawer-content {
  background: #F4FAEF;
}
*/
.listd-contend {
  width: 100%;
  float: left;
  background: white;
  display: block !important;
  padding: 20px;
      margin-bottom: 10px;
}


.listd-contend  {
 width: 23%;
  float: left;
  margin-bottom: 30px;
  display: block !important;
  margin-right: 2% !important;
}


.circut-botns {
  width: 100%;
  float: left;
}


.cont-limitd {
  width: 90%;
  float: left;
  box-sizing: border-box;
}


