.loading{
    position: relative;
    left: 50%;
}

mat-form-field {
    max-width: 300px;
}

/**** nuevo css ***/

::ng-deep .mat-form-field-infix {
    border-top: 0 solid transparent;
        padding-top: 8px !important;
}

::ng-deep.mat-form-field-appearance-outline .mat-form-field-outline {
    top: 0 !important;
}

.landingpage_text{
    margin-left: 15px;
    vertical-align: super;
}
asset-slide{
    width: 200px;
    height: 120px;
    display: block;
    margin:0 5px;
}

mat-grid-list{
    height: calc(100vh - 480px);
    display:block;
    overflow-y: auto;
    padding-bottom:0 !important;
}