<div class='container loading' *ngIf="loading" > 
    <mat-spinner diameter = "80" strokeWidth = "5" color='accent'></mat-spinner>
</div>
<div class='container' *ngIf="!loading">
    <div fxLayout="row" fxLayoutAlign="space-between center">
        <h1 class="title" *ngIf="format && lang">{{ format.name }} | {{ lang.name }}</h1>
        <button
            mat-icon-button
            [routerLink]="['/private/asset/list']"
            matTooltip="{{ 'Volver' | translate }}">
            <mat-icon>west</mat-icon>
        </button>
    </div>
    <div *ngIf="!permission">
        <h3 class='title'>{{ 'COMMON.no_permission' | translate }}</h3>
    </div>
    <div *ngIf="permission">
        <div fxLayout="row">
            <button mat-raised-button color="accent" (click)="openNewForm(3)">{{ 'ASSETS.list.buttons.new_url' | translate }}</button>
        </div>
        <br /><br />
        <mat-form-field  appearance="outline">          
            <input matInput type="text" [placeholder]="'ASSETS.list.file_search' | translate " [(ngModel)]="filterName" (keyup)="onKeyup($event)" />
        </mat-form-field> 
        <br /><br />
        <ng-container *ngIf="assets && assets.length > 0">
            <mat-grid-list [cols]="slidesToShow" rowHeight="1.5:1" (scroll)="onGridListScroll($event)" appDrag (files)="filesDropped($event)" #gridContainer>
                <mat-grid-tile *ngFor="let asset of loadedAssets">
                    <asset-slide 
                        [asset]="asset" 
                        (onUpdated)="onUpdated($event)" 
                        (onDeleted)="onDeleted($event)" 
                        (onClick)="onClick($event)">
                    </asset-slide>
                </mat-grid-tile>
            </mat-grid-list>
        </ng-container>
        <ng-container *ngIf="(!assets || assets.length <= 0)">
            <p>{{ 'COMMON.no_results' | translate }}</p>
        </ng-container>
    </div>
</div>