.content-carousel-cell{
    width:32%;
    display:block;
    float:left;
    margin-right:0.5rem;
  }

  .active-content{
    opacity:1;
    pointer-events:auto;
  }
  .inactive-content{
    opacity:0.5;
    cursor:pointer;
    pointer-events: none;
  }

  .active-content-advise{
    pointer-events: none;
    color: #64ca26;
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
    margin: auto;
    width: 100%;
  }
  .inactive-content-advise{
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
    margin: auto;
    width: 100%;
    pointer-events: all;
    color:#666;
    cursor:pointer;
  }
  .selected-asset{
    width:100%;
    height:120px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom:1rem;
    border:solid 2px #999;
  }

  .default-asset{
    background-size: contain!important;
    opacity:0.5;
    height:116px;
    //background-image:url('/assets/img/icons/draganddrop.png');
  }
  .default-asset:not(:only-child) {
    display: none;
  }

  .default-asset-item{
    width:100%;
    height:100%;
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center
  }

  // Estilos para carrusel
  @keyframes tonext {
    75% {
      left: 0;
    }
    95% {
      left: 100%;
    }
    98% {
      left: 100%;
    }
    99% {
      left: 0;
    }
  }
  
  @keyframes tostart {
    75% {
      left: 0;
    }
    95% {
      left: -300%;
    }
    98% {
      left: -300%;
    }
    99% {
      left: 0;
    }
  }
  
  @keyframes snap {
    96% {
      scroll-snap-align: center;
    }
    97% {
      scroll-snap-align: none;
    }
    99% {
      scroll-snap-align: none;
    }
    100% {
      scroll-snap-align: center;
    }
  }
  
  .carousel-wrapper {
    width:100%;
    position:relative;
  }
  .carousel-content-wrapper{
    position: relative;
    padding-top: 0;
    width:95%;
    overflow:hidden;
    left:2%;
  }
  
  .content-wrapper {
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    counter-reset: item;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
  }
  
  .carousel__slide {
    position: relative;
    flex: 0 0 210px;
    width: 210px;
    margin-right:10px;
    counter-increment: item;
    height:fit-content;
  }
  
  .carousel__snapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    scroll-snap-align: center;
  }
  
  @media (hover: hover) {
    .carousel__snapper {
      animation-name: tonext, snap;
      animation-timing-function: ease;
      animation-duration: 4s;
      animation-iteration-count: infinite;
    }
  
    .carousel__slide:last-child .carousel__snapper {
      animation-name: tostart, snap;
    }
  }
  
  @media (prefers-reduced-motion: reduce) {
    .carousel__snapper {
      animation-name: none;
    }
  } 

  .prev-button,
  .next-button {
    position: absolute;
    top: 50%;
    margin-top: 0;
    width: 2.5rem;
    height: 2.5rem;
    //transform: translateY(-50%);
    font-size: 0;
    outline: 0;
    background-repeat:no-repeat;
    background-position: center;
    border-radius: 50%;
    box-shadow: 0 0 5px rgb(0 0 0 / 15%);
    cursor:pointer;
    opacity:1;
  }
  .disabled{
    pointer-events: none;
    opacity:0.5;        
  }
  .prev-button {
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgd2lkdGg9IjI0Ij48cGF0aCBkPSJNMTUuNDEgMTYuNTlMMTAuODMgMTJsNC41OC00LjU5TDE0IDZsLTYgNiA2IDYgMS40MS0xLjQxeiIvPjxwYXRoIGQ9Ik0wIDBoMjR2MjRIMFYweiIgZmlsbD0ibm9uZSIvPjwvc3ZnPg==");
    left:-1%;
  }
  
  .next-button {
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgd2lkdGg9IjI0Ij48cGF0aCBkPSJNOC41OSAxNi41OUwxMy4xNyAxMiA4LjU5IDcuNDEgMTAgNmw2IDYtNiA2LTEuNDEtMS40MXoiLz48cGF0aCBkPSJNMCAwaDI0djI0SDBWMHoiIGZpbGw9Im5vbmUiLz48L3N2Zz4=");
    right:-0%;
  }



// Para asset
.cell {
  position: relative;
  background-size:cover;
  background-repeat: no-repeat;
  background-position: center center;
  width:100%;
  height:100%;
  display:block;
}

.selected > img {
  opacity: 0.5;
}

.media {
  position: absolute;
  width: 100%;
  height: 100%;
}

.actions {
  position: absolute;
  right: 0px;
}

.name {
  background-color:rgba($color: #fff, $alpha: 0.8);
  color: rgba(0, 0, 0, 0.87);
  position: relative;
  bottom: 0px;
  width: 100%;
  padding: 0px 6px 0px 6px;
}

label {
  font-family: PoppinsBold;
  font-size: 12px;
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

span {
  font-family: PoppinsLight;
  font-size: 12px;
  line-height: 12px;
}

.actions .mat-icon {
  color: #ffffff;
}

.preview {
  width: 100%;
  height: 100%;
}

.preview .mat-icon {
  line-height: 64px;
  height: 64px;
  width: 64px;
  font-size: 64px;
  color: #ffffff;
}

button {
  margin: 0 auto;
}