<div class="carousel-wrapper">
    <div class="prev-button" [ngClass]="(carouselPosition < 1) ? 'disabled': null" (click)="prev()"></div>
    <div class="carousel-content-wrapper">
        <div class="content-wrapper" #contentWrapper>
            <div *ngFor="let content of contents;let index=index" class="carousel__slide">
                <span>
                    <mat-icon (click)="selectContent(index)" [ngClass]="index === contentIndex ? 'active-content-advise' : 'inactive-content-advise'">{{index === contentIndex ? 'task_alt' : 'radio_button_unchecked'}}</mat-icon>
                    <button fxFlex="10" mat-icon-button color="warn" (click)="deleteContent(index)" *ngIf="contents.length > 1">
                        <mat-icon>delete</mat-icon>
                    </button>
                </span>
                <div [ngClass]="index === contentIndex ? 'active-content' : 'inactive-content'">
                    <ng-template ngFor let-formatLang [ngForOf]="formatsLangs" let-i="i">
                        <div *ngFor="let data of formatLang.data; let iData = index">
                            <h3 flexLayout="row" fxLayoutAlign="start">
                                <img height="50" fxLayoutAlign="start center" [src]="data.img">
                                <strong fxLayoutAlign="start center">{{data.format}} | {{data.lang}}</strong> 
                            </h3>
                            <div>
                                <ng-template ngFor let-asset [ngForOf]="content.assets">
                                    <div appDrag (files)="filesDropped($event, data.langid, data.idformat)" *ngIf="(((asset.format && asset.format.name === data.format) || asset.idformat === data.idformat)) && ((asset.idlang === data.langid || (asset.lang && asset.lang.name === data.lang)))">
                                        <div [ngStyle]="setBackground(asset.cover_url)" fxLayout="column" class="media" class="selected-asset">
                                        <!-- Desde aquí -->
                                            <div fxFlex fxLayoutAlign="center center">
                                                <button class="preview" mat-icon-button>
                                                    <mat-icon>{{asset.typeIconName()}}</mat-icon>
                                                </button>
                                            </div>
                                            <div fxLayout="column" class="name">
                                                <label>{{asset.name}}</label>
                                                    <span>{{asset.duration}} seg</span>
                                            </div>
                                            <div fxLayout="column" class="actions">
                                                <button mat-icon-button aria-label="Editar" [matMenuTriggerFor]="menu">
                                                    <mat-icon>more_vert</mat-icon>
                                                </button>
                                                <mat-menu #menu="matMenu">
                                                    <button mat-menu-item (click)="openPreview(asset)">
                                                        <mat-icon>play_arrow</mat-icon>
                                                        <span>{{ "Ver" | translate }}</span>
                                                    </button>
                                                    <button mat-menu-item (click)="editAsset(asset)">
                                                        <mat-icon>edit</mat-icon>
                                                        <span>{{ "Editar" | translate }}</span>
                                                    </button>
                                                    <button mat-menu-item (click)="deleteAsset(asset)">
                                                        <mat-icon>delete</mat-icon>
                                                        <span>{{ "Borrar" | translate }}</span>
                                                    </button>

                                                </mat-menu>
                                            </div>
                                        </div>
                                    </div>
                                </ng-template>
                                <div class="selected-asset default-asset" appDrag (files)="filesDropped($event, data.langid, data.idformat)">
                                    <div class="default-asset-item" [style.backgroundImage]="'url(assets/img/icons/draganddrop.png)'" [matTooltip]="'Arrastra el fichero elegido' | translate" matTooltipPosition="above"></div>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </div>
            </div>
        </div>
    </div>
    <div class="next-button" [ngClass]="(contents.length < elementsView || carouselPosition >= contents.length - elementsView) ? 'disabled': null" (click)="next()"></div>
</div>