<div class="cart-carousel-container" style="margin-left:60px;margin-right:60px;">
    <carousel height="120" [arrowsOutside]="true" *ngIf="showCarusel">
        <ng-template ngFor let-data [ngForOf]="assetHist" let-i="index">
            <div *ngIf="!data.asset" class="carousel-cell" appDrag (files)="filesDropped($event, i)">
                <div fxLayout="column" class="cell default">
                    <img src="assets/img/icons/draganddrop.png" alt="" class="cover-img">
                </div>
            </div>
            <div *ngIf="data.asset" class="carousel-cell">
                <div fxLayout="column" *ngIf="(data)" class="cell" [style.border]="data.border?'5px solid #5ded3f':''">
                    <img [src]="data.cover_url" alt="" class="cover-img">
                    <div fxLayout="column" class="media" >
                        <div fxFlex fxLayoutAlign="center center">
                            <a class="preview" mat-icon-button  (click)="preview(data)">
                                <mat-icon *ngIf="data.idtype === 1">photo_camera</mat-icon>
                                <mat-icon *ngIf="data.idtype === 2">play_arrow</mat-icon>
                                <mat-icon *ngIf="data.idtype === 3">public</mat-icon>
                                <mat-icon *ngIf="data.idtype === 4 || data.idtype === 5">link</mat-icon>
                            </a>
                        </div>
                        <div fxLayout="column" class="name">
                            <label fxFlex fxLayoutAlign="start center">{{data.name |  slice:0:30 }}</label>
                            <span>{{ 'ASSETS.assetcarousel.sec' | translate:data }}</span>
                        </div>
                        <div fxLayout="column" class="actions">
                            <a mat-icon-button aria-label="Editar" [matMenuTriggerFor]="menu">
                                <mat-icon>more_vert</mat-icon>
                            </a>
                            <mat-menu #menu="matMenu">
                                <a mat-menu-item *ngIf="!data.contentName" (click)="removeSelectedAsset(i, data.idasset)">
                                    <mat-icon >delete</mat-icon>
                                    <span>{{ 'ASSETS.assetcarousel.delete' | translate }}</span>
                                </a>
                                <a mat-menu-item (click)="preview(data)">
                                    <mat-icon *ngIf="(data.idtype == 1)">photo_camera</mat-icon>
                                    <mat-icon *ngIf="(data.idtype == 2)">play_arrow</mat-icon>
                                    <mat-icon *ngIf="(data.idtype == 3)">public</mat-icon>
                                    <mat-icon *ngIf="(data.idtype == 4 || data.idtype == 5)">link</mat-icon>
                                    <span>{{ 'ASSETS.assetcarousel.see' | translate }}</span>
                                </a>
                            </mat-menu>
                        </div>
                    </div>
                </div> 
                <div *ngIf="data.contentName" style="margin-top:3px;" class="content-name">
                    <label for="">{{data.contentName}}</label>
                </div>
                <div *ngIf="data.tags" style="margin-top:3px;" class="content-tags">
                    <ng-template [ngIf]="data.tags.length > 0" let-i="idx">
                        <mat-chip-list #tags aria-label="Selección de tags">
                            <mat-chip class="mat-chip" *ngFor="let tag of data.tags" [style.background-color]="tag.color?tag.color:''">
                                {{tag.name}}
                            </mat-chip>
                        </mat-chip-list>
                    </ng-template>
                </div>
            </div>       
        </ng-template>
    </carousel>
</div>
