.cell {
    position: relative;
}

.media {
    position: absolute;
    width: 100%;
    height: 100%;
}

.actions {
    position: absolute;
    right: 0px;
}

.name {
    background-color:rgba($color: #fff, $alpha: 0.2);
    color: #fff;
    position: absolute;
    bottom: 0px;
    width: 100%;
    padding: 0px 6px 6px 6px;
}

label {
    font-family: PoppinsBold;
    font-size: 12px;
}

span {
    font-family: PoppinsLight;
    font-size: 12px;
    line-height: 12px;
}

.actions .mat-icon {
    color: #ffffff;
}

.preview {
    width: 100%;
    height: 100%;
}

.preview .mat-icon {
    line-height: 64px;
    height: 64px;
    width: 64px;
    font-size: 64px;
    color: #ffffff;
}

button {
    margin: 0 auto;
}

.content-name {
    text-align: center;
    font-size: 11px
}

.content-tags {
    text-align: center
}

.content-tags .mat-chip {
    /*padding:  2px 4px !important;*/
    font-size: 12px !important;
    min-height: 23px !important
}

.cover-img {
    height: 100px !important;
    object-fit: unset !important;
}

.default{
    border:5px solid #ccc;
    img{
        filter:opacity(0.3)
    }
}