<h1 mat-dialog-title>{{title | translate}}</h1>
<mat-dialog-content>
  <p>{{message | translate}}</p>
</mat-dialog-content>
<mat-dialog-actions fxLayout="row" fxFlexFill *ngIf="(!button)">
  <div fxFlex="50">
    <button class="mat-raised-button black"(click)="close()">{{ 'FORMS.buttons.cancel' | translate }}</button>
  </div>
  <div fxFlex="50">
    <button class="mat-raised-button mat-accent"(click)="save()" cdkFocusInitial>{{ 'FORMS.buttons.confirm' | translate }}</button>
  </div>
</mat-dialog-actions>
<mat-dialog-actions fxLayout="row" fxFlexFill *ngIf="(button)">
  <div fxFlex="100">
    <button class="mat-raised-button mat-accent right"(click)="close()" cdkFocusInitial>{{button | translate }}</button>
  </div>
</mat-dialog-actions>
