iframe{
    display: block;
    margin: 0 auto;
    max-height: 350px;
    height:100%;
    width: calc(100% - 12px);
    overflow:hidden;   
  }

iframe html{
    overflow:hidden;
}

.border{
    border: 6px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(180deg, rgb(60,60,60), rgb(100,100,100));
    background-color: #000;
}
