<form [formGroup]="form">
   <mat-label>{{'player' | translate}}</mat-label>
   <mat-form-field appearance="outline">
      <mat-select (selectionChange)="onSelect($event)" formControlName="idplayer">
         <mat-option [value]=null>-- Seleccione un player --</mat-option>
         <ng-container *ngIf="!isCascade">
            <mat-option  [value]="player.idplayer" *ngFor="let player of players">{{player.email}}</mat-option >
         </ng-container>
         </mat-select>
   </mat-form-field>
</form>

 