<div class="container">
<h1 mat-dialog-title class="primetimeTitle">{{title | translate }}</h1>
 
  
<mat-list *ngIf="type == 'areas'">
  <mat-list-item *ngFor="let item of rows"> 
    <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px">
      <span class="id"><strong>{{item.idarea}}</strong></span>  
      <img    width="40px" height="40px"   [src]="item.format.image_url">
     <span>{{item.format.name}} {{ item.location.name }}</span>
   </div>  
 </mat-list-item>
</mat-list>


<mat-list *ngIf="type == 'playcircuits'">
  <mat-list-item *ngFor="let item of rows"> 
    <div fxLayout="row" fxLayoutAlign="space-around center" fxLayoutGap="20px">
      <span class="id"><strong>{{item.idcircuit}}</strong></span>  
      <img    width="40px" height="40px"   src="https://ladorianids.com/images/v4/localizacioncircuitos.png">
    <span>{{item.name}}</span>
   </div>  
 </mat-list-item>
</mat-list>


   <br>

  <mat-dialog-actions fxLayout="row" fxLayoutAlign="end center">
    <button class="mat-raised-button mat-accent" (click)="close()">{{ "Salir" | translate }}</button>
  </mat-dialog-actions>

</div>