mat-dialog-actions{
  margin-bottom: 12px;
}

.id{
  min-width: 70px;
}

button{
  font-weight: bold;
  border-radius: 10px;
}

.black{
  color: black !important;
}

.right{
  float: right;
}

.copy-days{
  margin-top:20px;
  cursor: pointer;
}
.copy-days span{
  border: 1px solid black;
  /*border-radius:50%;*/
  /*padding:2px;*/
  margin:2px;
  padding-right: 6px;
  padding-left: 6px;
}

.copy-days span.selected {
  background-color:#64ca26;
  color:white;
}

#content-powers-table {
  width: 100%;
}

#content-powers-table, #content-powers-table th, #content-powers-table td {
  border: solid 1px #aaa;
  border-collapse: collapse;
  user-select: none;
}

#content-powers-table td.daytime {
  cursor: pointer;
  color: #fff;
}
#content-powers-table td.time-col {
  width:50px;
  text-align: right;
  padding-right:5px;
}
#content-powers-table td.selected {
  background-color: #000;
  color: #000;
}
#content-powers-table td.new{
  color: #64ca26; 
  background: #64ca26; 
}
#content-powers-table td.primetime{
  color: #f64747; 
  background:#f64747;
}
#content-powers-table td.white{
  color:#fff;
}
#content-powers-table td.notFull {
  background-color: #666!important;
  color: #666!important;
}

.manual-add {
  border: solid 1px #888;
  margin-bottom: 10px;
  padding: 10px;
  height: 100px !important;
  overflow-y: auto
}

.add-btn {
  text-align: center
}

.add-btn a {
  text-decoration: none;
  color: #000;
  display: block;
}

@media screen and (max-width: 320px) {
  button{
    font-size: 0.8em;
  }
}

.selectedPowerList{
  padding:0;
  max-height:420px;
  overflow-y: auto;
}
.selectedPowerList li{
    list-style: none;
}
.selectedPowerList li:hover{
  background:rgba(0,0,0,.04);
}
.deletePower{
  cursor:pointer;
}
.deletePower:hover{
  opacity:0.5;
}

.primetimeTitle, .primetime-radiobutton, .primetime-button{
  display:inline-flex;
  margin-right:2rem;
}
.primetime-radiobutton .mat-radio-label-content{
  color:#000!important;
  margin-right:1rem;
  margin-bottom:1rem;
}
.loadingPrimetime{
  margin-left:1rem;
  font-weight: 600;
}

.info{
  color: #f64747;
}