.mat-card-title{
    margin-bottom:1.5rem!important;
    margin-top:0.5rem!important;
}
.fieldsetContainer{
    padding-top:1rem;
    width:50%;
    min-width:500px;
    margin:auto;
    display:grid;
}
.remove-border-bottom ::ng-deep .mat-tab-header {
    border-bottom: none;
    margin-bottom:1rem;
}