<mat-card>
  <mat-card-header>
    <mat-card-title>{{ 'COMPONENTS.emissions.form.title' | translate }}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
  <fieldset>
    <div class="fieldsetContainer">
      <form-field-select [fieldData]="fieldDataCustomer" [formGroup]="formGroup" [isLoading]="loadingCustomers"></form-field-select>
      <form-field-select *ngIf="formGroup.get('site').value !== null" [fieldData]="fieldDataSite" [formGroup]="formGroup" (onChangeField)="onChangeSite($event)" [isLoading]="loadingSites"></form-field-select>
      <form-field-select *ngIf="formGroup.get('player').value !== null" [fieldData]="fieldDataPlayer" [formGroup]="formGroup" [isLoading]="loadingPlayers"></form-field-select>
      <div fxLayout="row" fxLayoutAlign="space-around center">
        <div fxLayout="column" fxLayoutAlign="space-evenly stretch">          
          <form-field-select [fieldData]="fieldDataYear" [formGroup]="formGroup" (onChangeField)="onChangeDates($event)" [isLoading]="loadingYears"></form-field-select>
        </div>
        <div fxLayout="column" fxLayoutAlign="space-evenly stretch">
          <form-field-select [fieldData]="fieldDataMonth" [formGroup]="formGroup" (onChangeField)="onChangeDates($event)" [isLoading]="loadingMonths"></form-field-select>
        </div>
      </div>
    </div>
  </fieldset>
    <div [formGroup]="formGroup" *ngIf="fieldDataContent.options.length > 0 || !loadingContents">
      <div class="fieldsetContainer">
        <div fxLayout="row" fxLayoutAlign="space-around center">
          <span fxFlex.gt-sm="30" fxFlex.gt-xs = "100">Selecciona un contenido</span>
          <mat-form-field appearance="outline" class="action_filter"  fxFlex.gt-sm="70" fxFlex.gt-xs = "100" >
            <input #contentFilter matInput type="text" placeholder="{{ 'Filtrar por nombre o id' | translate }}" (keyup)="filterByName(contentFilter.value)" />
          </mat-form-field>
        </div>
      </div>
      <form-field-select-content [fieldData]="fieldDataContent" [formGroup]="formGroup"></form-field-select-content>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="accent" [disabled]="formGroup.invalid" (click)="submitForm()">{{ 'COMPONENTS.emissions.form.submit' | translate }}</button>
  </mat-card-actions>
</mat-card>
