<mat-card>
  <mat-card-header>
    <div mat-card-avatar>
      <mat-icon aria-hidden="false" [aria-label]="'COMPONENTS.dashboard.chart_impacto.title' | translate">euro</mat-icon>
    </div>
    <mat-card-title>{{ 'COMPONENTS.dashboard.chart_impacto.title' | translate }}</mat-card-title>
    <mat-card-subtitle></mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <multi-linear-chart [data]="lineChartData" [labels]="lineChartLabels" [loading]="isLoading"></multi-linear-chart>
  </mat-card-content>
</mat-card>