
<form  [formGroup]="form">
   <mat-label>{{'customer' | translate}}</mat-label>
<mat-form-field appearance="outline" >
 <mat-select (selectionChange)="onSelect($event)" formControlName="idcustomer">
       <mat-option>-- None --</mat-option>
       <mat-option [value]="customer.idcustomer" *ngFor="let customer of customers">{{customer.name}}</mat-option>
    </mat-select>
   </mat-form-field>
</form>



 