<h1 mat-dialog-title>{{title | translate }}</h1>
<mat-dialog-content>
  <form class="custom-form" [formGroup]="form">         
        <mat-label color="primary">{{ 'FORMS.fields.name' | translate }} </mat-label><br>        
          <input  type="hidden"  formControlName="idcustomer" required />
        <mat-form-field  appearance="outline">          
          <input matInput type="text"  formControlName="name" value="" required />
          <mat-error *ngIf="form.get('name').hasError('required')" color = "accent">{{ 'FORMS.errors.name_required' | translate }}</mat-error>
        </mat-form-field> 
    </form>
</mat-dialog-content>
<mat-dialog-actions fxLayout="row" fxFlexFill *ngIf="(!button)">
  <div fxFlex="50">
    <button class="mat-raised-button black"(click)="close()">{{ 'FORMS.buttons.cancel' | translate }}</button>
  </div>
  <div fxFlex="50">
    <button class="mat-raised-button mat-accent"(click)="save(form.value)" cdkFocusInitial>{{ 'FORMS.buttons.save' | translate }}</button>
  </div>
</mat-dialog-actions>
<mat-dialog-actions fxLayout="row" fxFlexFill *ngIf="(button)">
  <div fxFlex="100">
    <button class="mat-raised-button mat-accent right"(click)="close()" cdkFocusInitial>{{button | translate }}</button>
  </div>
</mat-dialog-actions>
