<mat-card fxLayout="row"  fxLayoutAlign="start start" fxLayoutGap="20px" class="navigate-margin">
  <select-customers  fxFlex="25" (onChange)="setCustomer($event)" *ngIf="customerSelect"></select-customers>
  <select-sites  fxFlex="25" (onChange)="setSites($event)" *ngIf="siteSelect"></select-sites>
  <select-players   fxFlex="25" (onChange)="setPlayers($event)"></select-players>
</mat-card>



<div fxLayout="row" fxLayout.lt-xs="column" fxLayout.lt-md="column"  fxLayoutAlign="space-between start"  [ngClass]="{'invisible' : !playerValue, 'visible': playerValue}">

  <mat-card fxLayout="column" fxFlex="49.3"   fxFlex-xs="100"  *ngIf="playerValue else loader">
     <preview-player  [email]="playerValue.email" [width]="playerValue.area.format.width" [height]="playerValue.area.format.height"></preview-player>
     <br>
     <preview-text  [email]="playerValue.email"></preview-text>
  </mat-card>
  <block-events-list  (onClick)="send($event)"  [idsite]="idsite"  [idcustomer]="idcustomer" fxLayout="column" fxFlex="49.3" fxFlex.xs="100"></block-events-list>
</div>

<ng-template #loader>
  <div fxLayout="row" fxFlexFill fxLayoutAlign="center end">
     <mat-spinner *ngIf="loading"></mat-spinner>
 </div>
</ng-template>
