.spinner-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .area{
    background-color: white;
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .form-container{
    height: initial;
  }


  .button-container {
    position: absolute;
    bottom: 15px;
    right: 25px;
    
  }

  agm-map {
    padding-top: 25px;
    width: 320px;
    height: 320px;
 }

 .hide{
  visibility: hidden;
}

.status{
  margin-top: 20px;
}

.status mat-label{
  margin-left: 10px;
}

#status{
  position:relative;
  top: -100px;
  right: 100px;
}

.link{
  margin-top: 15px;
}
  
