<form class="custom-form" [formGroup]="form">
    <div fxLayout="column" fxFlex="100" class="form-container">
        <div fxLayout="row">
            <div fxLayout="column" fxFlex>
                <h1 class="title">{{ "PLAYERS.list.title" | translate }}</h1>
            </div>
            <div fxLayout="column" align="end">
                <button mat-icon-button [routerLink]="['/private/player/list']" matTooltip="{{'Volver' | translate}}">
                    <mat-icon>west</mat-icon>
                </button>
            </div>
        </div>
        <div fxLayout="row">
            <div fxLayout="column" fxFlex="80" class="area">
                <div fxLayout="row">
                    <customer-select fxFlex="30" [selected]="customerSelect" [customersToSelect]="customersToSelect"
                        (onSelected)="customerSelected($event)"></customer-select>
                </div>
            </div>
        </div>
        <div [ngClass]="{ hide: hide }">
            <div fxLayout="row" [style.paddingBottom]="'30px'">
                <div fxLayout="column" fxFlex="100">
                    <mat-label color="primary">{{ "Seleccione un área*" | translate }} </mat-label><br />
                    <playarea-select #areas *ngIf="idarea" [idcustomer]="form.get('idcustomer').value"
                        [selectedIndex]="0" [error]="error" [selected]="area" (onChange)="changeArea($event)">
                    </playarea-select><br />
                    <!-- <mat-error *ngIf="idarea.hasError('required')">{{ 'Área obligatoria' | translate }}</mat-error> -->
                </div>
            </div>
            <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
                <div fxLayout="column" fxFlex="100">
                    <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxLayoutAlign="center space-between"
                        fxLayoutGap="20px">
                        <div fxFlex.gt-xs="100">
                            <mat-label color="primary">{{ "Centro" | translate }}* </mat-label><br />
                            <mat-form-field appearance="outline">
                                <mat-select formControlName="idsite" (selectionChange)="selectionSite($event)"
                                    [readonly]="disabledSite">
                                    <mat-option value=""></mat-option>
                                    <mat-option *ngFor="let site of sites" [value]="site.idsite">{{
                                        site.name
                                        }}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div fxFlex.gt-xs="100">
                            <mat-label color="primary">{{ "Idioma" | translate }}* </mat-label>
                            <mat-form-field appearance="outline">
                                <mat-select formControlName="idlang">
                                    <mat-option value=""></mat-option>
                                    <mat-option *ngFor="let lang of langs" [value]="lang.idlang">{{
                                        lang.name
                                        }}</mat-option>
                                </mat-select>
                                <mat-error *ngIf="idlang.hasError('required')">{{
                                    "Idioma obligatorio" | translate
                                    }}</mat-error>
                            </mat-form-field>
                        </div>
                        <div fxFlex.gt-xs="100">
                            <mat-label color="primary">{{ "Fecha de Instalación" | translate }} </mat-label><br />
                            <mat-form-field appearance="outline">
                                <input matInput type="date" formControlName="instalation_date"
                                    [readonly]="!isSuperAdmin" />
                            </mat-form-field>
                        </div>
                    </div>
                    <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxLayoutAlign="center space-between"
                        fxLayoutGap="20px">
                        <div fxFlex.gt-xs="100">
                            <mat-label color="primary">{{ "Email" | translate }}* </mat-label><br />
                            <mat-form-field appearance="outline">
                                <input matInput type="email" formControlName="email" value="" />
                                <mat-error *ngIf="email.hasError('email')">{{
                                    "Email incorrecto" | translate
                                    }}</mat-error>
                                <mat-error *ngIf="email.hasError('required')">{{
                                    "FORMS.errors.email_required" | translate
                                    }}</mat-error>
                            </mat-form-field>
                        </div>
                        <div fxFlex.gt-xs="100">
                            <mat-label color="primary">{{ "Fecha finalización soporte" | translate }} </mat-label><br />
                            <mat-form-field appearance="outline">
                                <input matInput type="date" formControlName="support_end_date"
                                    [readonly]="!isSuperAdmin" />
                            </mat-form-field>
                        </div>
                    </div>
                    <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxLayoutAlign="center space-between"
                        fxLayoutGap="20px">
                        <div fxFlex.gt-xs="100">
                            <mat-label color="primary">{{ "Plantilla" | translate }}* </mat-label><br />
                            <mat-form-field appearance="outline">
                                <mat-select formControlName="idtemplate">
                                    <mat-option value=""></mat-option>
                                    <mat-option *ngFor="let template of templates" [value]="template.idtemplate">{{
                                        template.name }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div fxFlex.gt-xs="100">
                            <mat-label color="primary">{{ "Nombre Instalación" | translate }} </mat-label><br />
                            <mat-form-field appearance="outline">
                                <input matInput type="text" formControlName="installer_name"
                                    [readonly]="!isSuperAdmin" />
                            </mat-form-field>
                        </div>
                        <div fxFlex.gt-xs="100">
                            <mat-label color="primary">{{ "Versión de Software" | translate }} </mat-label><br />
                            <mat-form-field appearance="outline">
                                <input matInput type="text" formControlName="software_version"
                                    [readonly]="!isSuperAdmin" />
                            </mat-form-field>
                        </div>
                    </div>
                    <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxLayoutAlign="center space-between"
                        fxLayoutGap="20px">
                        <div fxFlex.gt-xs="100">
                            <mat-label color="primary">{{ "Etiquetas" | translate }}</mat-label>
                            <mat-chip-list #chipList *ngIf="player">
                                <mat-chip *ngFor="let tag of player.tags">
                                    {{ tag.categoryName }} - {{ tag.name }}
                                </mat-chip>
                            </mat-chip-list>
                            <a class="link" mat-raised-button color="accent" (click)="openDialogTags()" mat-button>{{
                                "Editar tags" | translate }}</a>
                        </div>
                        <div fxFlex.gt-xs="100">
                            <mat-label color="primary">{{ "Número de puntos conectados" | translate }} </mat-label>
                            <br />
                            <mat-form-field appearance="outline">
                                <input matInput type="text" formControlName="connected_point_number"
                                    [readonly]="!isSuperAdmin" />
                            </mat-form-field>
                        </div>
                        <div fxFlex.gt-xs="100">
                            <mat-label color="primary">{{ "Tipo de hardware" | translate }}* </mat-label><br />
                            <mat-form-field appearance="outline">
                                <textarea matInput type="text" formControlName="hardware_type"
                                    [readonly]="!isSuperAdmin"></textarea>
                            </mat-form-field>

                        </div>
                    </div>
                    <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxLayoutAlign="center space-between"
                        fxLayoutGap="20px">
                        <div fxFlex.gt-xs="100">
                            <mat-label color="primary">Horarios</mat-label><br />
                            <primetime-power [selectedContentPowers]="selectedPlayerPowers"
                                (modalSave)="onSavePlayerPowerDialog($event)">
                            </primetime-power>
                        </div>
                        <div fxFlex.gt-xs="100">
                            <mat-label color="primary">{{ "Número de serie" | translate }} </mat-label><br />
                            <mat-form-field appearance="outline">
                                <input matInput type="text" formControlName="serial_number"
                                    [readonly]="!isSuperAdmin" />
                            </mat-form-field>
                        </div>
                        <div fxFlex.gt-xs="100">
                            <mat-label color="primary">{{ "Resolucion de Pantalla" | translate }} </mat-label><br />
                            <mat-form-field appearance="outline">
                                <input matInput type="text" formControlName="screen_resolution"
                                    [readonly]="!isSuperAdmin" />
                            </mat-form-field>
                        </div>
                    </div>
                    <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxLayoutAlign="center space-between"
                        fxLayoutGap="20px">
                        <div fxFlex.gt-xs="100"></div>

                        <div fxFlex.gt-xs="100" id="status">
                            <div fxLayout="row" fxLayoutAlign="space-around center" fxFlex="50">
                                <mat-label color="primary"> {{ " Estado " | translate }} </mat-label>
                                <mat-slide-toggle formControlName="status"></mat-slide-toggle>
                            </div>
                            <div fxLayout="row" fxLayoutAlign="space-around center" fxFlex="50">
                                <mat-label color="primary">
                                    {{ "Sincronizar" | translate }}
                                </mat-label>
                                <mat-slide-toggle formControlName="is_sync"></mat-slide-toggle>
                            </div>
                            <div fxLayout="row" fxLayoutAlign="space-around center" fxFlex="50">
                                <mat-label color="primary">
                                    {{ "Monitorear" | translate }}
                                </mat-label>
                                <mat-slide-toggle formControlName="is_monitored"></mat-slide-toggle>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div style="margin-top: 3%;" fxLayout="row" fxFlex="100" fxLayoutAlign="end">
            <div class="spinner-container" *ngIf="loading">
                <mat-spinner diameter="24" color="accent"></mat-spinner>
            </div>
            <button mat-button mat-dialog-close class="mat-raised-button" [routerLink]="['/private/player/list']">
                {{ "Cancelar" | translate }}
            </button>
            <div fxLayout="column" fxFlex="20px"></div>
            <button mat-raised-button *ngIf="!id" color="accent" [disabled]="loading" (click)="create()">
                {{ "Guardar" | translate }}
            </button>
            <button mat-raised-button *ngIf="id" color="accent" [disabled]="loading" (click)="update()">
                {{ "Guardar" | translate }}</button><br />
        </div>
    </div>
</form>