<div fxLayout="row" class="container">
    <div fxFlex class="publi-container" fxFlex="80">
        <video #v preload="auto" autoplay muted loop>
            <source src="assets/img/backgrounds/bodegones_web.mp4" type="video/mp4">
        </video>
    </div>
    <div fxLayout="column" class="form-container" fxFlex="20">
        <img class="logo" src="assets/img/logo-green.png" width="200" />
        <h1 class="line_space">{{  app  }} {{ version }}</h1>
        <br /><br /><br />
        <h1>Página en mantenimiento. En breve volveremos a estar activos.</h1>
    </div>
</div>