.logo {
  margin: 0 auto;
  margin-top: 100px;
}


@media screen and  (max-height:700px)
  { 
    .logo { 
      margin-top: 30px
    };
}


@media screen and  (max-height:619px)
  { 
    .logo { 
      margin-top: 0px
    };
}


h1 {
    font-family: PoppinsRegular;
    font-size: 32px;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.45;
    letter-spacing: normal;
    text-align: center;
    padding-top: 30px;
    color: #64ca26;
}
.container {
    background-color: #F5F9EE;
    height: 100vh;
    width:100%;
    overflow: hidden;
}

.line_space {
  line-height: 1;
}

.form-container {
  padding: 30px 30px;
  width:calc(16% - 60px);
  max-width: 400px;
  height: calc(100vh - 60px);
  position:absolute;
  top:0;
  right:0;
  h1{
    font-size: 2rem;
    line-height: 2.2rem;
  }
}

.mat-form-field {
    color: #000;
}

.mat-raised-button {
    width: 100%;
    background-color: #64ca26;
    color: white;
}

.container {
    .mat-form-field-outline,
    .mat-form-field-empty.mat-form-field-label,
    .mat-form-field-label,
    .mat-form-field-underline,
    .mat-input-element,
    .mat-form-field-ripple
    ::placeholder {
      color: #fff;
    }
  }

  .spinner-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .button-container {
    display: inline-block;
    position: relative;
    width: 100%;
  }

  mat-error{
    padding-bottom: 10px;
  }
  
.mat-form-field input {
    color: #000 !important;
}

.publi-container {
  background-color: #000;
  position: absolute;
  top: 0;
  left: 0;
  width: 84%;
  max-height:100vh;
  overflow: hidden;
}

video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

canvas {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.language{
  position: absolute;
  bottom:0;
  right:1rem;;
  li{
    list-style:none; 
    padding:0.2rem 0.5rem;
    cursor:pointer;
    border-radius: 5px;
    &:hover{
      background:#64ca26;
      color:#fff;
    }
    img{
      margin-right:0.5rem;
    }
  }
}



