.spinner-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.format {
  background-color: white;
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
}
  
.form-container {
  height: initial;
  width:70%;
}



.button-container {
  position: absolute;
  bottom: 15px;
  right: 25px; 
}

img{
  object-fit: contain;
  background-color: lightgray;
  width: 100px;
  height: 100px;
  text-align: center;
}

.custom-form{
  margin-bottom:2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}