<form class="custom-form" [formGroup]="form">
    <div fxLayout="row" fxLayoutAlign="space-beetween center" style="width: 70%;">
        <div fxLayout="column" fxFlex="50">
            <h1 class="title">{{ 'CUSTOMER.list.title' | translate }}</h1>
        </div>
        <div fxLayout="column" fxFlex="50" fxLayoutAlign="center end">
            <button mat-icon-button [routerLink]="['/private/customer/list']" matTooltip="{{'Volver' | translate}}">
                <mat-icon>west</mat-icon>
            </button>
        </div>
    </div>
    <input type="hidden" formControlName="idcustomer">
    <div fxLayout="column" class="form-container">
        <mat-label color="primary">{{ 'Seleccione formatos' | translate }}* </mat-label><br>
        <format-multiselect *ngIf="(formats)" [selected]="formatSelected" (onChange)="changeFormat($event)">
        </format-multiselect><br>
        <div fxLayout="row" style="height: 25px;"></div>
        <mat-label color="primary">{{ 'Seleccione comunicacion habilitadas' | translate }}*</mat-label><br>
        <format-multiselect *ngIf="(formats)" broadcasting="1" [selected]="formatSelected"
            (onChange)="changeFormat($event)">
        </format-multiselect><br>
        <div fxLayout="row" style="height: 50px;"></div>
        <div fxLayout="row" fxLayoutGap="25px">
            <div fxFlex="50">
                <mat-label color="primary">{{ 'FORMS.fields.name' | translate }}* </mat-label><br>
                <mat-form-field appearance="outline">
                    <input matInput type="text" formControlName="name" value="" required />
                    <mat-error *ngIf="form.controls['name'].errors?.required" color="accent">
                        {{'FORMS.errors.name_required' | translate }}</mat-error>
                </mat-form-field>
            </div>
            <div fxFlex="50">
                <mat-label color="primary">{{ 'FORMS.fields.phone' | translate }} </mat-label><br>
                <mat-form-field appearance="outline">
                    <input matInput type="text" formControlName="phone" value="" />
                </mat-form-field>
            </div>
        </div>
        <div fxLayout="row" fxLayoutGap="25px">
            <div fxFlex="50" fxFlex.gt-xs="100">
                <mat-label color="primary">{{ 'FORMS.fields.code' | translate }} </mat-label><br>
                <mat-form-field appearance="outline">
                    <input matInput type="text" formControlName="code" value="" />
                </mat-form-field>
            </div>
            <div fxFlex="50">
                <mat-label color="primary">{{ 'Plantilla HTML' | translate }} </mat-label><br>
                <mat-form-field appearance="outline">
                    <mat-select formControlName="idtemplate">
                        <mat-option *ngFor="let template of templates" [value]="template.idcustomer">{{template.name}}
                        </mat-option>
                        <mat-option [value]="id">{{ 'Propia' | translate }}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        <div fxLayout="row" fxLayoutGap="25px">
            <div fxFlex="50">
                <mat-label color="primary">{{ 'Streaming' | translate }} </mat-label><br>
                <mat-form-field appearance="outline">
                    <mat-select formControlName="has_streaming">
                        <mat-option [value]="0">Normal</mat-option>
                        <mat-option [value]="1">Streaming</mat-option>
                        <mat-option [value]="2">Streaming HLS</mat-option>
                    </mat-select>
                    <mat-error *ngIf="form.controls['has_streaming'].errors?.required" color="accent">{{ 'required_lang'
                        |
                        translate }}</mat-error>
                </mat-form-field>
            </div>
            <div fxFlex="50">
                <mat-label color="primary">{{ 'FORMS.fields.image' | translate }} </mat-label><br>
                <mat-form-field appearance="outline">
                    <ngx-mat-file-input placeholder="Selecciona un archivo" formControlName="image_url"
                        (change)="getFileData($event)" accept="image/png, image/jpeg">
                    </ngx-mat-file-input>
                </mat-form-field>
                <img class="preview" *ngIf="(customer)" [src]="customer.image_url | safe" /><br>
            </div>
        </div>
        <div fxLayout="row" fxLayoutGap="25px">
            <div fxFlex="50">
                <mat-label color="primary">{{ 'Tamaño máximo de archivos' | translate }} </mat-label><br>
                <mat-form-field appearance="outline">
                    <input matInput type="number" formControlName="max_file_size" required />
                </mat-form-field>
            </div>
            <div fxFlex="50">
                <mat-label color="primary">{{ 'Idiomas' | translate }} </mat-label><br>
                <mat-form-field appearance="outline">
                    <mat-select formControlName="idlang" multiple>
                        <mat-option *ngFor="let lang of langs" [value]="lang.idlang">{{lang.name}}</mat-option>
                    </mat-select>
                    <mat-error *ngIf="form.controls['idlang'].errors?.required" color="accent">{{ 'required_streaming' |
                        translate }}</mat-error>
                </mat-form-field>
            </div>
        </div>
        <div fxLayout="row" fxLayoutGap="25px">
            <div fxFlex="100">
                <div fxLayout="row" fxFlex="100" [style.marginBottom]="'1.65rem'">
                    <div fxLayout="column" fxFlex="15">
                        <mat-label color="primary">{{ 'Afluencias' | translate }} </mat-label><br>
                        <mat-slide-toggle formControlName="has_influxes" (change)="changeHasInfluxes($event)">
                        </mat-slide-toggle>
                    </div>
                    <div fxLayout="column" fxFlex="15">
                        <mat-label color="primary">{{ 'FORMS.fields.has_sales' | translate }} </mat-label><br>
                        <mat-slide-toggle formControlName="has_sales" (change)="changeHasSales($event)">
                        </mat-slide-toggle>
                    </div>
                    <div fxLayout="column" fxFlex="15">
                        <mat-label color="primary">{{ 'Emisiones' | translate }} </mat-label><br>
                        <mat-slide-toggle formControlName="has_emissions" (change)="changeHasEmissions($event)">
                        </mat-slide-toggle>
                    </div>
                    <div fxLayout="column" fxFlex="15">
                        <mat-label color="primary">{{ 'Estado' | translate }} </mat-label><br>
                        <mat-slide-toggle formControlName="status" (change)="changeHasStatus($event)">
                        </mat-slide-toggle>
                    </div>
                    <div fxLayout="column" fxFlex="15">
                        <mat-label color="primary">{{ 'Tendencias' | translate }} </mat-label><br>
                        <mat-slide-toggle formControlName="has_trends" (change)="changeHasTrends($event)">
                        </mat-slide-toggle>
                    </div>
                    <div fxLayout="column" fxFlex="15">
                        <mat-label color="primary">{{ 'AudioSync' | translate }} </mat-label><br>
                        <mat-slide-toggle formControlName="has_audioasync" (change)="changeHasAudioSync($event)">
                        </mat-slide-toggle>
                    </div>
                    <div fxLayout="column" fxFlex="15">
                        <mat-label color="primary">{{ 'CMS Externo' | translate }} </mat-label><br>
                        <mat-slide-toggle formControlName="has_external_cms" (change)="changeHasExternalCMS($event)">
                        </mat-slide-toggle>
                    </div>
                    <div fxLayout="column" fxFlex="15">
                        <mat-label color="primary">{{ 'Algoritmos' | translate }} </mat-label><br>
                        <mat-slide-toggle formControlName="has_algorithms" (change)="changeHasAlgorithms($event)">
                        </mat-slide-toggle>
                    </div>
                </div>
            </div>
        </div>
        <div fxLayout="row" fxLayoutGap="25px">
            <div fxFlex="50">
                <mat-label *ngIf="form.get('has_sales').value" color="primary">{{ 'Niveles de categorías:' | translate
                    }}</mat-label><br>
                <mat-form-field appearance="outline" *ngIf="form.get('has_sales').value">
                    <mat-select formControlName="category_level">
                        <mat-option [value]="'N1'">N1</mat-option>
                        <mat-option [value]="'N2'">N2</mat-option>
                        <mat-option [value]="'N3'">N3</mat-option>
                        <mat-option [value]="'N4'">N4</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div fxFlex="50">
                <mat-label *ngIf="form.get('has_influxes').value" color="primary">{{ 'Tipo de afluencias:' | translate
                    }}</mat-label><br>
                <mat-form-field appearance="outline" *ngIf="form.get('has_influxes').value">
                    <mat-select formControlName="influxes_type">
                        <mat-option [value]="'Ladorian Básico'">Ladorian Básico</mat-option>
                        <mat-option [value]="'Ladorian Bee The Data'">Ladorian Bee The Data</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        <div [style.paddingTop]="'1rem'">
            <div class="button-container">
                <div class="spinner-container" *ngIf="loading">
                    <mat-spinner diameter="24" color="accent"></mat-spinner>
                </div>
                <button mat-button mat-dialog-close class="mat-raised-button"
                    [routerLink]="['/private/customer/list']">{{ 'FORMS.buttons.cancel' | translate }}</button>
                <div fxLayout="column" fxFlex="20px"></div>
                <button mat-raised-button *ngIf="!id" color="accent" [disabled]="loading" (click)="create()">{{
                    'FORMS.buttons.save' | translate }}</button>
                <button mat-raised-button *ngIf="id" color="accent" [disabled]="loading" (click)="update()">{{
                    'btn-audio' | translate }}</button>
            </div>
        </div>
    </div>
</form>