<mat-sidenav-container>
    <mat-sidenav #sidenav mode="side" (closed)="sidenav.close()" position="end">
        <content-order [date]="date"  [validContents]="validContents" [disabled]="disabled" *ngIf="category" [category]="category" [area]="area" [player]="player" [circuit]="circuit" (onChange)="sidenav.close()" (onUpdate)="update()"></content-order>
    </mat-sidenav>
    <mat-sidenav-content>
        <p *ngIf="(playlogics.length == 0)" class="nologic" >{{ 'COMPONENTS.playlogic.sidenav.error' | translate }}</p>
        <playlogic-order   [disabled]="disabled" *ngIf="(playlogics.length > 0)" [playlogics]="playlogics" [area]="area" [player]="player" (onSelect)="selectCategory($event)"></playlogic-order>
    </mat-sidenav-content>
</mat-sidenav-container>