.mat-drawer-container {
    background-color: #fff;
    height: 100%;
}

mat-sidenav-content {
    background-color: #fff;
}

mat-sidenav {
    border: none;
    width: 550px;
    overflow: hidden;
    padding: 0px 10px;
}

.mat-drawer-side.mat-drawer-end {
    border: none;
}

.mat-drawer-inner-container {
    overflow: hidden !important;
}