<mat-table *ngIf="dataSource" [dataSource]="dataSource" matSort class="tableMat" (matSortChange)="sortData($event)">

    <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'CONTENT.list.id' | translate }} </mat-header-cell>
        <mat-cell class="first" *matCellDef="let row">
            <span>{{row.id}}</span>
        </mat-cell>
    </ng-container>
    <ng-container matColumnDef="format">
        <mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'format' | translate }} </mat-header-cell>
        <mat-cell class="" *matCellDef="let row">
            {{row.formats[0].name}}
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="datetime">
        <mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'emitted' | translate }} </mat-header-cell>
        <mat-cell class="" *matCellDef="let row">
            {{row.datetime}}
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="body">
        <mat-header-cell *matHeaderCellDef> {{ 'body' | translate }} </mat-header-cell>
        <mat-cell class="" *matCellDef="let row">
            {{row.body}}
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="lang">
        <mat-header-cell *matHeaderCellDef> {{ 'language' | translate }} </mat-header-cell>
        <mat-cell class="" *matCellDef="let row">
            {{row.lang.name}}
        </mat-cell>
    </ng-container>



    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>


<mat-paginator paginator showFirstLastButtons></mat-paginator>