<div fxLayout="row" class="container">
    <div fxFlex class="publi-container">
        <video #v preload="auto" autoplay muted loop>
            <source src="assets/img/backgrounds/bodegones_web.mp4" type="video/mp4">
        </video>
    </div>
    <div fxLayout="column" class="form-container">
        <img class="logo" src="assets/img/logo-green.png" width="200" />
        <h1 class="line_space">{{  app  }} {{ version }}</h1>
        <br /><br /><br />
        <form *ngIf="!token" (ngSubmit)="requestRegister()">
            <mat-label color="primary">{{ 'LOGIN.user' | translate }}*</mat-label><br>
            <mat-form-field appearance="outline">
                <input matInput placeholder="Usuario" type="text" [formControl]="name" required>
                <mat-error *ngIf="name.hasError('required')" color="accent">{{  'LOGIN.errors.user' | translate  }}</mat-error>
            </mat-form-field>
            <mat-label color="primary">{{ 'LOGIN.password' | translate }}*</mat-label><br>
            <mat-form-field appearance="outline">
                <input matInput placeholder="Contraseña" [type]="hide ? 'password' : 'text'" [formControl]="password" required autocomplete="on">
                <button mat-icon-button matSuffix >
                    <mat-icon (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                <mat-error *ngIf="password.hasError('required')" color="accent">{{  'LOGIN.errors.password' | translate  }}</mat-error>
            </mat-form-field>
            <div *ngIf="error"><mat-error >{{ 'LOGIN.errors.auth' | translate }}</mat-error></div>
            <div><mat-checkbox [formControl]="remember">{{ 'LOGIN.remember' | translate }}</mat-checkbox></div>
            <br />
            <div class="button-container">
                <div class="spinner-container" *ngIf="loading">
                    <mat-spinner diameter="24"  color="accent"></mat-spinner>
                  </div>
                <button  type="submit"  mat-raised-button color="accent" [disabled]="loading" >{{ 'LOGIN.enter' | translate }}</button>
            </div>
            <br />
            
        </form>

        <div *ngIf="!token" fxLayoutAlign="center center"><button mat-button (click)="recover()">{{ 'LOGIN.forgot_password' | translate }}</button></div>

        <form  [formGroup]="form" *ngIf="token" (ngSubmit)="requestRecovery()">

            <mat-label color="primary">{{ 'LOGIN.password' | translate }}*</mat-label><br>
            <mat-form-field appearance="outline">
                <input matInput placeholder="Contraseña" [type]="hide ? 'password' : 'text'" formControlName="password">
                <button mat-icon-button matSuffix (click)="hide = !hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                <mat-error *ngIf="password.hasError('required')" color="accent">{{  'LOGIN.errors.password' | translate  }}</mat-error>
            </mat-form-field>
            <!-- <div *ngIf="error"><mat-error >{{ 'LOGIN.errors.auth' | translate }}</mat-error></div> -->

            <mat-label color="primary">{{ 'LOGIN.password' | translate }}*</mat-label><br>
            <mat-form-field appearance="outline">
                <input matInput placeholder="Repite Contraseña" [type]="c_hide ? 'password' : 'text'" formControlName="c_password">
                <button mat-icon-button matSuffix (click)="c_hide = !c_hide">
                    <mat-icon>{{c_hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                <mat-error *ngIf="password.hasError('required')" color="accent">{{  'LOGIN.errors.password' | translate  }}</mat-error>
            </mat-form-field>
            <mat-error *ngIf="form.errors?.passwordMismatch">{{  'LOGIN.errors.password_mismatch' | translate  }}</mat-error>
            <mat-error *ngIf="errorRecovery">{{  'LOGIN.errors.update_password' | translate  }}</mat-error>
            <br />

            <div class="button-container">
                <div class="spinner-container" *ngIf="loadingRecovery">
                    <mat-spinner diameter="24"  color="accent"></mat-spinner>
                  </div>
                <button mat-raised-button color="accent" [disabled]="loading" type="submit">{{ 'LOGIN.update' | translate }}</button>
            </div>


        </form>
        
        <ul class="language" fxLayout="row" fxLayoutAlign="end center">
            <li (click)="selectLanguage('es')" fxLayoutAlign="end center"><img src="assets/flags/24/Spain.png"> <span>Es</span></li>
            <li (click)="selectLanguage('en')" fxLayoutAlign="end center"><img src="assets/flags/24/United States of America(USA).png"> <span>En</span></li>
            <li (click)="selectLanguage('fr')" fxLayoutAlign="end center"><img src="assets/flags/24/France.png"> <span>Fr</span></li>
            <li (click)="selectLanguage('it')" fxLayoutAlign="end center"><img src="assets/flags/24/Italy.png"> <span>It</span></li>
        </ul>
    </div>
</div>