<div class='loading' *ngIf="load">
    <mat-spinner diameter="80" strokeWidth="5" color='accent'></mat-spinner>
</div>

<form [formGroup]="contentForm" *ngIf="!load">
    <h1 class="title">{{ 'FORMS.fields.title' | translate }}</h1>
    <div class='container step-two-container' id="content-form" style="width:calc(100% - 40px); height: 100%;">
        <div class="selec-contenid" id="content-form-container">
            <div class="dentr-conte" id="content-step-two-options" fxLayout="column" fxLayoutGap="10px" fxFlex="100"
                fxLayoutAlign="start space-between">
                <div fxFlex="100">
                    <mat-label color="primary">{{ 'Nombre de contenido' | translate }} </mat-label><br>
                    <mat-form-field appearance="outline">
                        <input #contentName matInput type="text" value="Nombre" formControlName="name"
                            (change)="fieldChanged($event)" />
                    </mat-form-field>
                </div>
                <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxLayoutAlign="start space-between"
                    fxLayoutGap="20px" fxFlex="100">
                    <div fxFlex="25">
                        <content-select-category [selectedCategory]="content ? content.idcategory : null"
                            (OnContentCategoryChange)="onChangeContentCategory($event)"></content-select-category>
                    </div>
                    <div fxFlex="25">
                        <content-select-position [selectedPosition]="content ? content.priority : null"
                            (OnContentPositionChange)="onChangeContentPosition($event)"></content-select-position>
                    </div>
                    <div fxFlex="25" fxLayout="row" fxLayoutAlign="end center" *ngIf="showAudioSync">
                        <div fxFlex="100">
                            <mat-label color="primary">{{ 'audio_category' | translate }} </mat-label><br>
                            <mat-form-field appearance="outline">
                                <mat-select formControlName="idaudiocategory" (selectionChange)="addAudio($event)">
                                    <mat-option [value]=null></mat-option>
                                    <mat-option *ngFor="let contentCategory of categories"
                                        [value]="contentCategory.idcategory">{{contentCategory.name}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                    <div fxFlex="25" fxLayout="row" fxLayoutAlign="start center">
                        <div fxFlex="100">
                            <mat-label color="primary">{{ 'Excluyente' | translate }} </mat-label><br>
                            <mat-slide-toggle name="exclusive" formControlName="is_exclusive"
                                (change)="fieldChanged($event)"></mat-slide-toggle>
                        </div>
                        <div fxFlex="100">
                            <mat-label color="primary">{{ 'FORMS.fields.esclu_estdo.status' | translate }} </mat-label>
                            <br>
                            <mat-slide-toggle formControlName="status" (change)="fieldChanged($event)">
                            </mat-slide-toggle>
                        </div>
                        <div fxFlex="100" *ngIf="me && me.customer.has_sales">
                            <mat-label color="primary">{{ 'Primetime' | translate }} </mat-label><br>
                            <mat-slide-toggle
                                matTooltip="No puedes activar Primetime si un contenido es Excluyente | translate"
                                [matTooltipDisabled]="(!excluyente)" formControlName="primetime"
                                (change)="checkPrimetime($event)"></mat-slide-toggle>
                        </div>
                    </div>
                </div>
                <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxLayoutAlign="center space-between"
                    fxLayoutGap="20px" fxFlex="100">
                    <div class="tab-produc ma">
                        <div class="conted-tag" fxFlex="33" *ngIf="!emptyCats">
                            <mat-label color="primary">{{ 'FORMS.fields.tags' | translate }} </mat-label><br>
                            <tag-categoryselect [selectedTags]="selectedTags" [statusCt]="statusCt"
                                [tagsForm]="tagsForm" [enableTag]="enableTag" (modalSave)="onSaveTagDialog($event)"
                                (removeTag)="onRemoveTag($event)" (emptyCats)="onEmptyCats($event)">
                            </tag-categoryselect>
                        </div>
                        <ng-container *ngIf="me && me.customer">
                            <div class="conted-products" fxFlex="33" *ngIf="me.customer.has_sales === 1">
                                <mat-label color="primary">{{ 'FORMS.fields.products' | translate }} </mat-label><br>
                                <product-select [selectedProducts]="selectedProducts" [statusCtProd]="statusCtProd"
                                    (modalSave)="onSaveProductDialog($event)" (removeProduct)="onRemoveProduct($event)">
                                </product-select>
                            </div>
                        </ng-container>
                        <div fxFlex="33">
                            <div class="horarios-pixle">
                                <div class="horioc-conte">
                                    <mat-label color="primary">{{ 'FORMS.fields.primetime' | translate }}</mat-label>
                                    <br>
                                    <primetime-power [selectedContentPowers]="selectedContentPowers"
                                        [selectedContentData]="selectedContentData"
                                        (modalSave)="onSaveContentPowerDialog($event)"
                                        [primetime]="contentForm ? contentForm.value.primetime : null"
                                        (removeProduct)="onRemoveContentPower($event)"
                                        [loadingPrimetime]="loadingPrimetime"
                                        [exclusive]="contentForm ? contentForm.get('is_exclusive').value : false">
                                    </primetime-power>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>