.container {
    margin-left: 20px;
    margin-bottom: 50px;
    padding: 20px;
   /*  background-color: #f5f9ee; */
    min-height: 300px;
    // overflow-y: visible;
    float: left;
}

.step-two-container {
  // width: 48%;
    //   width: calc(60% - 40px);
          background: white;
  // display: inline-block;
}

#selected-areas-container .item, #asset-selection-container .item-empty {
  display: inline-block;
  margin-left: 20px;
  margin-bottom: 20px;
  text-align: center;
  height: auto;
  padding: 20px;
  background-color: #f5f9ee;
}

#asset-selection-container .item-empty {
    border: dashed #ddd;
}

#asset-selection-container .item {
    background-color: #f5f9ee;
    padding: 10px;
    margin-top: 26px;
}

#asset-selection-container .item .asset-src img, #asset-selection-container .item .asset-src video {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}

#asset-selection-container .lang-title {
  text-align: center;
}

#asset-selection-container .format-title-first {
  padding-top: 15px;
}

#content-form-container .tags-container a {
  width: 100%;
}

#selected-areas-container .item #actions a, #asset-selection-container .item-empty #actions a {
  display: block;
  margin-bottom: 10px;
}

#asset-selection-container, #asset-manager-container {
    width: 100% !important;
    display: inline-block !important;
    float: left;
    min-height: 600px !important;
}

#uploaded-files .item {
  background-color: #fff;
  padding: 20px;
  width: 20%;
  height: auto;
  display: inline-block;
  margin-left: 20px;
  margin-bottom: 20px;
}

#uploaded-files .item .left, #uploaded-files .item .right {
  display: inline-block;
  width: 45%;
}

#uploaded-files .item .left img {
  display: block;
  width: 30%;
  height: auto;
}

#uploaded-files .item .left video {
  display: block;
  width: 100%;
  height: auto;
}

#uploaded-files .item .right p {
  padding-top: 40px;
  font-size: 12px;
  clear: both;
}

#uploaded-files .item .right {
  float: right;
  padding-left: 5px;
}

#uploaded-files .item .right .image-input-duration, #uploaded-files .item .right .image-audio-select {
  float: right;
  padding-top: 30px;
}

#uploaded-files .item .right .video-audio-select {
  padding-top: 30px;
}

#uploaded-files .item .right .image-input-duration, #uploaded-files .item .right .image-audio-select, #uploaded-files .item .right .video-audio-select {
  width: 100%;
}

#uploaded-files .item .right a {
  float: right;
}

#uploaded-files .item .right h1 {
  float: left;
}

.file-error {
  width: 10%;
}

.file-error .mat-icon {
  color: #ffcc66;
  display: block;
  height: auto;
  width: 20px;
}

#content-step-two-options > div.row > div, #content-step-two-options > div.row > div > div {
  display: inline-block;
  margin-right: 10px;
  width: 45%;
}

#asset-manager-container {
//   width: calc(35% - 20px);
//   float: left;
  margin-left: 10px;
  padding: 10px;
  background-color: #fff;
//   height: 600px;
//   overflow-y: auto;
    h3{
        margin-left:1rem;
    }
    mat-form-field{
        width:100%;
        margin-top: 1rem;
    }
}


.no-content {
    text-align: center;
}

/***** nuevos ccs***/


.mens-padibg {
//   padding-left: 30px !important;
  margin-left: 0 !important;
//   margin-top: 222px !important;
  box-sizing: border-box;
  float: none;
}

.mens-padibg playarea-selection {
    float: left;
    width: 100%;
}


.mens-padibg playcircuit-selector {
  background: white;
  width: 100%;
  float: left;
  margin-bottom: 10px;
}


/***paso dos ****/

.selec-contenid {
    width: 100%;
    float: left;
}


.dentr-conte {
    width: 100%;
    float: left;
    display: block !important;
}


.pasdos-cont {
    width: 100%;
    float: left;
    display: block !important;
}


.conund-drecha {
    width: 50%;
    float: left;
    display: block !important;
    padding-right: 3%;
}

.conund-izqued {
    float: left;
    display: block !important;
}

.parte-selec {
    float: left;
    display: block !important;
}


.spec-izqd {
    padding-left: 25px;
}

.spec-izqd div{
    padding-left: 5px;
}

.fech-demas {
    width: 100%;
    float: left;
    display: block !important;
}


.conted-fecha {
    width: 50%;
    float: left;
    margin-left: 13%;
}

.fecha-peqe {
    width: 46%;
    float: left;
    /* padding-right: 5%; */
}

.fecha-peqe-right {
    width: 45%;
    float: right;
    margin-right: 3.5%;
    /* padding-right: 5%; */
}





.frecunci-numro {
    width: 18%;
    float: left;
    padding-right: 1%;
}

.max-emisions {
    width: 45%;
    float: left;
}


.frecunci-select {
       width: 35%;
    float: left;
    padding-right: 5%;
}

.parte-fech {
    width: 47%;
    float: left;
    padding-right: 3%;
}


.tab-produc {
    width: 100%;
    float: left;
}

.conted-tag {
    width: 47%;
    float: left;
    padding-right: 3%;
}

.conted-tag  .mat-button {
    width: 100% !important;
    box-shadow: none !important;
}



.conted-products {
    width: 50%;
    float: left;
}



.horarios-pixle {
    width: 100%;
    float: left;
    margin-left: 20px;
    margin-top: -97px;
}


.horioc-conte {
    width: 95%;
    float: left;
    padding-right: 3%;
}

.pixu-url {
    width: 50%;
    float: left;
}


.cajas-abjo {
    // width: 100%;
    // float: left;
    // margin-top: 20px;
    background-color: #fff;
    padding: 10px;
    min-height: 600px;
}

.cajas-abjo .item-container {
    display: block !important;
    float: left;
    padding-left:1rem;
}


.cart-derech {
       width: 5%;
    float: left;
    word-wrap: break-word;
    max-width: 5% !important;
    color: #ADADAD;
    font-size: 13px;
    line-height: 15px;
}


.cart-izqueda {
    width: 95%;
    float: left;
    display: block !important;
}
.cart-izquedas {
    width: 95%;
    float: left;
    margin-top:1rem;
    //display: block !important;
}


.cada-carta {
    width: 33.33%;
    float: left;
    max-width: 33.33% !important;
    padding-left: 2%;
        margin-bottom: 15px;
}

.cada-carta .item-empty {
    margin: 0 !important;
    padding: 15px !important;
    width: calc(100% - 35px);
}


.cada-carta .lang-title {
        width: 100%;
    float: left;
    text-align: left !important;
    font-size: 15px;
    color: #ADADAD;
    padding-bottom: 6px;
    font-weight: 100 !important;
}

.cada-carta .item-empty h1 {
    font-size: 19px !important;
    line-height: 20px;
    font-weight: bold !important;
    margin: 0 !important;
}


.cada-carta .item-empty p {
    font-size: 12px;
    margin: 0;
    padding-bottom: 15px;
    color: #ADADAD;
}


.cada-carta #actions .mat-focus-indicator {
    box-shadow: none !important;
}


.conund-drecha .mat-form-field-appearance-outline .mat-form-field-outline {
    top: -5px;
}

.conund-drecha .mat-form-field-appearance-outline .mat-form-field-flex {
    padding: 0 .75em 0 .75em;
    margin-top: 6px;
    position: relative;
}





.dentr-conte mat-label {
    color: #ADADAD;
    font-weight: 100 !important;
    font-size: 12px;
}


#asset-manager-container h3 {
    margin: 0;
}


.btones-guardar {
    width: calc(100% - 40px);
    float: left;
    text-align: right;
    padding: 0 20px;
    margin-bottom: 40px;
    margin-top: 15px;
}

.btones-guardar button, .btones-guardar a {
    margin-right: 5px;
    display: inline-block;
}

.nmbre-idom {
    font-size: 14px;
    margin: 0 !important;
    padding-bottom: 5px;
}

.nmbre-abajo {
    font-size: 12px;
    margin-bottom: 0 !important;
    color: #ADADAD;
}

.cart-izqueda .asset-src {
    width: 70%;
    float: left;
}


.izqed-video {
     width: calc(30% - 5px);
    float: left;
    padding-left: 5px;
}


.vide-titl {
    color: #ADADAD;
    font-size: 13px;
    margin: 0 !important;
}

.descr-vido {
    font-size: 12px;
    margin: 0 !important;
    line-height: 13px;
}


.cart-izqueda .asset-src video {
       height: 60px !important;
    object-fit: fill;
}

#content-form{
    // overflow-y: auto !important;
    // overflow-x:hidden;
    // height: 385px;
    margin-left:0;
}

#asset-manager-container{
    // overflow-y: auto !important;
    // overflow-x:hidden;
    //height: 385px;
    // height: 100%;
}

.conted-products {
    padding-right:47px;
    .mat-focus-indicator {
        width: 100%;
        box-shadow: none !important;
    }
}


.mat-drawer-content {
        background-color: #f5f9ee;
}

#asset-manager-container app-assetmanager .container {
    margin-left: 10px;
       
}

.conund-drecha .mat-form-field-infix {
    border: 0 !important;
}


.conund-drecha .mat-form-field-wrapper {
    margin: 0 !important;
    padding-bottom: 0 !important;
}


.conund-drecha .mat-form-field-outline-end {
    height: 34px;
}


.conund-drecha .mat-form-field-outline-start {
    height: 34px;
}


.parte-fech .mat-form-field-infix {
    padding: 0.5em 0;
    border-top: 0 solid transparent;
}


.parte-fech .mat-form-field-wrapper {
    padding-bottom: 0;
}

.parte-fech .mat-form-field-appearance-outline .mat-form-field-outline {
    top: 0;
}

.frecunci-numro .mat-form-field-wrapper {
    padding-bottom: 0;
}


.frecunci-numro  .mat-form-field-infix {
    border-top: 0 solid transparent;
}


.frecunci-numro  .mat-form-field-appearance-outline .mat-form-field-outline {
    top: 0;
}


.frecunci-select .mat-form-field-appearance-outline .mat-form-field-outline {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
}


.frecunci-select .mat-form-field-wrapper {
    padding-bottom: 0;
}

.frecunci-select  .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-outline-gap {
    border-top-color: black;
}

.frecunci-select #mat-form-field-label-11 {
    display: none;
}


.frecunci-select .mat-form-field-infix {
    border-top: 0 solid transparent;
}


.frecunci-select .mat-form-field-appearance-outline .mat-select-arrow-wrapper {
    transform: translateY(8%);
}


.max-emisions .mat-form-field-infix {
    border-top: 0 solid transparent;
}


.max-emisions .mat-form-field-wrapper {
    padding-bottom: 0;
}

.max-emisions .mat-form-field-appearance-outline .mat-form-field-outline {
    top: 0;
}

.parte-selec .mat-form-field-infix {
    border-top: 0 solid transparent;
}


.parte-selec .mat-form-field-infix {
    padding-top: 10px !important;
}

.conund-izqued .parte-selec .mat-form-field-appearance-outline .mat-form-field-outline {
    top: 0;
    height: 37px;
}

.conund-izqued .parte-selec .mat-form-field-wrapper {
    padding-bottom: 0;
}

.conund-izqued .parte-selec .mat-form-field-appearance-outline .mat-select-arrow-wrapper {
    transform: translateY(7%);
}

.conund-izqued .parte-selec   #mat-form-field-label-3 {
    display: none;
}



.horioc-conte .mat-list-item {
    height: 23px;
    font-size: 14px;
}

.horioc-conte .mat-list-base .mat-list-item .mat-list-item-content{
    padding: 0;
}

.conted-tag .mat-chip {
       width: auto;
    float: left;
    background: #fc6666 !important;
    border: 1px solid #fc6666;
    font-size: 11px;
    min-height: auto;
    padding: 12px 10px !important;
    color: white !important;
}


.conted-tag .mat-form-field-infix {
    border-top: 0 solid transparent;
}


.conted-tag .mat-standard-chip .mat-chip-remove.mat-icon {
    margin: 0;
    float: right;
}



.conted-products .mat-form-field-infix {
    border-top: 0 solid transparent;
}

.conted-products .mat-chip {
    width: auto;
    float: left;
    background: #fc6666 !important;
    border: 1px solid #fc6666;
    font-size: 11px;
    min-height: auto;
    padding: 12px 10px !important;
    color: white !important;
}

.conted-products .mat-standard-chip .mat-chip-remove.mat-icon {
    width: 18px;
    height: 18px;
    margin: 0;
}



#asset-manager-container .mat-form-field-infix {
    border-top: 0 solid transparent;
}


#asset-manager-container .mat-form-field-appearance-outline .mat-form-field-outline {
    top: 0;
}

#asset-manager-container .carousel-container .title {
    color: #ADADAD !important;
    font-weight: 100 !important;
    font-size: 12px;
    margin: 0 !important;
}


#asset-manager-container .carousel-items .item video {
    object-fit: fill !important;
        height: 100px;
}

#asset-manager-container .duration {
    top: auto !important;
    left: auto !important;
    bottom: 0;
    position: absolute !important;
    width: calc(100% - 20px);
    text-align: left;
    padding: 0 10px 5px;
    color: white;
    font-size: 10px;
}


#asset-manager-container .name {
    top: auto !important;
    left: auto !important;
    bottom: 20px;
    position: absolute !important;
    width: calc(100% - 20px);
    padding: 0 10px 0;
    float: left;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-align: left;
    color: white;
    font-size: 12px;
}


.conund-drecha .mat-form-field-appearance-outline .mat-form-field-outline {
    top: 0;
}

.conund-drecha .mat-form-field-appearance-outline .mat-form-field-flex {
    margin-top: 0;
}

.conund-drecha .mat-form-field-infix {
    padding: 9px 0 0.4em 0 !important;
}

.conted-tag .mat-button {
    width: 100%;
    box-shadow: none !important;
}

.horioc-conte .mat-button {
    width: 100%;
    box-shadow: none !important;
}

.parte-fech .mat-form-field-appearance-outline .mat-form-field-flex {
    padding-top: 5px;
}

/*EstilosCartelera*/
.cell {
    position: relative;
}

.media {
    position: absolute;
    width: 100%;
    height: 100%;
}

.actions {
    position: absolute;
    right: 0px;
}

.name {
    background-color:rgba($color: #fff, $alpha: 0.2);
    color: #fff;
    position: absolute;
    bottom: 0px;
    width: 100%;
    padding: 0px 6px 6px 6px;
}

label {
    font-family: PoppinsBold;
    font-size: 12px;
}

span {
    font-family: PoppinsLight;
    font-size: 12px;
    line-height: 12px;
}

.actions .mat-icon {
    color: #ffffff;
}

.preview {
    width: 100%;
    height: 100%;
}

.preview .mat-icon {
    line-height: 64px;
    height: 64px;
    width: 64px;
    font-size: 64px;
    color: #ffffff;
}

button {
    margin: 0 auto;
}

#nav-actions {
    margin-top: 10px;
    text-align: center;
}

#nav-actions a {
    margin-right: 10px;
}

.circuits-selection-container .selector {
    // padding: 20px;
    background-color: #fff;
}

.assets-container{
    overflow-y: auto !important;
    overflow-x:hidden;
    height:500px;
    width:100%;
    padding-right: 10px;
}

.border-top-6{
    border-top: 6px solid #ccc;
}

.selections-section {
    display: block;
    clear: both;
}

.slider-container{
    align-items:center; border-top: 6px solid #ccc;margin-bottom:1rem;
}

.creativity-actions button {
    margin-right: 5px;
    margin-top: 20px;
}

.ma {
    margin-top:90px!important;
}

.dates_label{
    display:block;
}