

<div fxLayout="column" fxLayoutGap="4%" *ngIf="comment.deleted == 1" fxFlexFill>
    <div fxFlex fxFlexFill class="card_init" fxLayout="column">
        <div fxFlex="100" fxFlexFill fxLayout="row" fxLayoutAlign="space-betweeen center" class="information_bar">

            <div fxFlex="50" fxLayoutAlign="start center"><span><strong>{{ 'ago' | translate}}: </strong> {{
                    comment.created_at | datediff }} dias {{ comment.created_at | date: 'dd/MM/yyyy' }}</span>
            </div>

            <span fxFlex="50" fxLayoutAlign="end center">

                <mat-icon *ngIf="close else disabledBtn" class="trash_icon" (click)="delete(comment.id)">delete_outline
                </mat-icon>

                <ng-template #disabledBtn>
                    <mat-icon class="trash_icon">delete_outline</mat-icon>
                </ng-template>


            </span>
        </div>


        <div class="back_card" fxLayout="column">

            <ng-container *ngIf="comment.images.length > 0">
                <div fxFlex fxLayoutGap="20px" fxLayoutAlign="space-betweeen center">
                    <ng-container *ngFor="let img of comment.images">

                        <ng-container *ngIf="(img.ruta | whatFile) else video">
                            <span class="img-frame-cap" (click)="openImage(img.ruta, 'img')">
                                <img class="image" [src]="img.ruta" />
                            </span>
                        </ng-container>

                        <ng-template #video>
                            <span class="img-frame-cap" (click)="openImage(img.ruta, 'video')">
                                <video class="image">
                                    <source [src]="img.ruta" type="video/mp4">
                                </video>
                            </span>
                        </ng-template>

                    </ng-container>


                </div>

            </ng-container>
        </div>



        <div fxLayout="column" fxFlex class="information_bottom">
            <h3><strong>{{ 'description' | translate }}</strong></h3>
            <span [innerHTML]="comment.mensaje"></span>
        </div>

    </div>
</div>