<div fxLayout="column" fxLayoutGap="20px">
  <ng-container *ngFor="let event of events; let i = index">
    <mat-card fxLayout="column">
      <mat-card-title>
      {{event.name}}
      </mat-card-title>
      <mat-card-content>
            <mat-list fxLayout="row" *ngFor="let rule of event.rules; let in = index" class="main-rule">
              <mat-list-item  fxLayoutGap="10px" fxLayoutAlign="space-between center" >
               <div fxFlex="100">{{rule.action}} {{rule.entity}}  <strong>{{rule.name}}</strong>  {{'if' | translate }}    {{rule.symbol}} {{rule.comp_value}}</div>
               <button  mat-raised-button mat-button (click)="send(rule)"><mat-icon>send</mat-icon></button>
              </mat-list-item>
            </mat-list>
    </mat-card-content>
   </mat-card>
  </ng-container>
</div>
