
<div class="item-empty" *ngIf="item" appFileUpload (onFileDropped)="uploadFile($event, item.idformat, item.format)">
    <ng-template [ngIf]="item.idarea">
        <div id="title">
            <h1>{{ 'COMPONENTS.contentformat.name' | translate:item.format }}</h1>
        </div>
        <div id="actions">
          <p>{{ 'COMPONENTS.contentformat.info' | translate }}</p>
          <input hidden type="file" #file id="file" (change)="uploadFile($event.target.files, item.idformat, item.format)">
          <a mat-raised-button color="accent" mat-button (click)="file.click()">{{ 'COMPONENTS.contentformat.button' | translate }}</a>
        </div>
    </ng-template>
</div>
