.loading{
    position: relative;
    left: 50%;
}

.actions{
    padding-bottom: 25px;   
}

.actions button{
    margin-right: 5px;
    width: 100px;
}

.actions a{
    margin-right: 5px;
    width: 100px;
}

th.mat-header-cell, td.mat-cell {
    border:none;
}

