<h2 mat-dialog-title>{{ 'Archivo' | translate }}</h2>
<mat-dialog-content class="mat-typography">
  <form id="form" class="custom-form" [formGroup]="form" #e="ngForm" fxLayout="column">
    <input *ngIf="(me.customer)" type="hidden" formControlName="idcustomer" />
    <input *ngIf="(me.site)" type="hidden" formControlName="idsite" />   
    <mat-form-field  appearance="outline">     
      <mat-label color="primary">{{ 'FORMS.fields.name' | translate }}</mat-label>     
      <input matInput type="text" formControlName="name" required />
      <mat-error *ngIf="form.errors?.name.required" color = "accent">{{ 'FORMS.errors.name_required' | translate }}</mat-error>
    </mat-form-field>   
    <mat-form-field  appearance="outline">
      <mat-label color="primary">{{ 'FORMS.fields.format' | translate }}</mat-label>
      <mat-select formControlName="idformat" [multiple]="disableType" multi [disabled]="disableFormat">
        <mat-option *ngFor="let format of formats" [value]="format.idformat">{{format.name}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field  appearance="outline">
      <mat-label color="primary">{{ 'FORMS.fields.lang' | translate }}</mat-label>
      <mat-select formControlName="idlang" required [disabled]="disableLang">
        <mat-option *ngFor="let lang of langs" [value]="lang.idlang">{{lang.name}}</mat-option>
      </mat-select>
    </mat-form-field> 
    <div fxLayout="row">
      <mat-form-field fxFlex appearance="outline" >
        <mat-label color="primary">{{ 'FORMS.fields.type' | translate }}</mat-label>
        <mat-select formControlName="idtype" required [disabled]="!disableType">
          <ng-container *ngFor="let t of types">
            <mat-option *ngIf="t.idtype !== 4 || asset.idtype === 4" [value]="t.idtype" (click)="changeType(t.idtype)">{{t.name}}</mat-option>
          </ng-container>
        </mat-select>
      </mat-form-field>
      <div fxFlex="16px"></div>
      <mat-slide-toggle fxFlex
        formControlName="is_widget"
        [disabled]="disableWidget"
        [color]="color">
        {{ 'FORMS.fields.widget' | translate }}
      </mat-slide-toggle>
    </div>
    <div fxLayout="row">
      <mat-form-field fxFlex appearance="outline">     
        <mat-label color="primary">{{ 'FORMS.fields.duration' | translate }}</mat-label>     
        <input matInput type="number" formControlName="duration"/>
      </mat-form-field>
      <div fxFlex="16px"></div>
      <mat-form-field fxFlex appearance="outline">     
        <mat-label color="primary">{{ 'FORMS.fields.size' | translate }}</mat-label>     
        <input matInput type="number" formControlName="size" required/>
      </mat-form-field>
    </div>
    <mat-form-field  appearance="outline" *ngIf="hiddenInputmedia || asset.idtype === 3 || asset.idtype === 4">     
      <mat-label color="primary">{{ 'FORMS.fields.url' | translate }}</mat-label>     
      <input matInput type="text" formControlName="asset_url" (blur)="onBlurUrl()" [disabled]="disabledURL" >
    </mat-form-field>
    <div fxLayout="row">
      <form-field-date-picker fxFlex="50" [fieldData]="fieldDataExpiredDate" [formGroup]="form"></form-field-date-picker>
      <div fxFlex="16px"></div>
      <div fxFlex="50" fxLayout="row">
        <form-field-number fxFlex="100" [fieldData]="fieldThumbMoment" [formGroup]="form"></form-field-number>
      </div>
    </div>
    <mat-label *ngIf="exceded" style="color: red"> {{ 'El archivo no puede exceder de ' | translate }} {{ me.customer.max_file_size }}mb</mat-label>
    <input-media 
      *ngIf="asset.idtype === 1 || asset.idtype === 2 || asset.idtype === 5"
      [asset_type]="asset.idtype" 
      [asset_url]="asset.asset_url" 
      (onChangeInputfile)="changeInputfile($event)" 
      (onChangePreview)="changePreview($event)" 
      (onDeleted)="deleted()">
    </input-media>   
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>{{ 'FORMS.buttons.cancel' | translate }}</button>
  <button mat-button (click)="save()" [disabled]="isSaving">{{ 'FORMS.buttons.accept' | translate }}</button>
  <mat-spinner diameter="20"  color="accent" *ngIf="isSaving"></mat-spinner>
</mat-dialog-actions>

