<h1 mat-dialog-title>{{ title | translate }}</h1>
<mat-dialog-content>
  <p>{{ message | translate }} {{ label }}</p>
</mat-dialog-content>
<mat-dialog-actions fxLayout="row" fxFlexFill>
  <div>
    <button class="mat-raised-button mat-accent"(click)="close()">{{ 'FORMS.buttons.accept' | translate }} </button>
  </div>  
</mat-dialog-actions>
