<div class='container loading' *ngIf="load">
    <mat-spinner diameter="80" strokeWidth="5" color='accent'>
    </mat-spinner>
</div>

<div class="container fondo-verd" *ngIf="!load">
    <div *ngIf="!permission">
        <h3 class='title'>{{ 'COMMON.no_permission' }}</h3>
    </div>
    <div *ngIf="permission">
        <h1 class="title">{{ 'PLAYAREAS.list.title' | translate }}</h1>

        <div class="selec-tabls">
            <customer-select class="tbs-selcs" [customersToSelect]="customersToSelect"
                (onSelected)="captureValue($event)"></customer-select>
        </div>
        <div fxLayout="row">
            <div class="tab-resp">
                <table class="tabl-nuev" id="selection-area-table">
                    <tr>
                        <th>{{ 'PLAYAREAS.list.formats' | translate }}</th>
                        <ng-template ngFor let-val [ngForOf]="locations" let-inIndex="index">
                            <th>
                                <div>{{val.name}}</div>
                                <div class="location-actions">
                                    <button class="location-edit-btn" mat-icon-button
                                        [aria-label]="'Editar' | translate" (click)="openEditLocation(val)">
                                        <mat-icon>edit</mat-icon>
                                    </button>
                                    <button class="location-del-btn" mat-icon-button
                                        [aria-label]="'Eliminar' | translate" (click)="deleteLocation(val)">
                                        <mat-icon>delete</mat-icon>
                                    </button>
                                </div>
                            </th>
                        </ng-template>
                    </tr>
                    <ng-template ngFor let-format [ngForOf]="formats" let-inIndex="i">
                        <tr>
                            <th class="alin-to">
                                <div class="form-nmbre">{{format.name}}</div>
                                <p>{{format.description}}</p>
                                <button class="format-del-btn" mat-icon-button aria-label="Ocultar"
                                    (click)="hideFormat(format)">
                                    <mat-icon>visibility_off</mat-icon>
                                </button>
                            </th>
                            <ng-template ngFor let-location [ngForOf]="locations" let-inIndex="j">
                                <td class="mas-icos"
                                    *ngIf="pAreas[location.idlocation] !== undefined && pAreas[location.idlocation+''][format.idformat+''];else add">
                                    <div>
                                        <img *ngIf="pAreas[location.idlocation][format.idformat].img=='';else image"
                                            src="https://cdn1.iconfinder.com/data/icons/iphone-x-5/66/iphone_x_mobile_device_screen_size-512.png"
                                            alt="" width="52">
                                        <ng-template #image>
                                            <img [src]="pAreas[location.idlocation][format.idformat].img" alt=""
                                                width="52">
                                        </ng-template>
                                    </div>
                                    <div>
                                        <button *ngIf="editPlayarea" mat-icon-button mat-button
                                            (click)="openDialogArea(format.idformat,location.idlocation,location.idcustomer,pAreas[location.idlocation+''][format.idformat+''].idarea, pAreas[location.idlocation+''][format.idformat+''].name)">
                                            <mat-icon>edit</mat-icon>
                                        </button>
                                        <button *ngIf="deletedPlayarea" mat-icon-button mat-button
                                            (click)="delete(location.idlocation,format.idformat,pAreas[location.idlocation+''][format.idformat+''].idarea)">
                                            <mat-icon>delete</mat-icon>
                                        </button>
                                    </div>
                                </td>
                                <ng-template #add>
                                    <td>
                                        <div fxLayout="column" class="mas-icos">

                                            <button *ngIf="newPlayarea" mat-mini-fab mat-icon-button
                                                (click)="openDialogArea(format.idformat,location.idlocation,location.idcustomer)">
                                                <mat-icon>add</mat-icon>
                                            </button>
                                            <span class="edit">
                                                <mat-icon
                                                    (click)="openDialogIpa(format.idformat,location.idlocation,location.idcustomer)">
                                                    file_copy</mat-icon>
                                            </span>
                                        </div>

                                    </td>
                                </ng-template>
                            </ng-template>
                        </tr>
                    </ng-template>

                </table>
            </div>
            <div class="botn-ubic">
                <a mat-raised-button mat-button *ngIf="newLocation" (click)="openDialogLocation()">
                    <mat-icon>add</mat-icon>{{ 'PLAYAREAS.list.buttons.new_location' | translate }}
                </a>
            </div>
        </div>
        <a *ngIf="newFormat" mat-raised-button mat-button (click)="openDialog()">
            <mat-icon>add</mat-icon>{{ 'PLAYAREAS.list.buttons.new_format' | translate }}
        </a>
    </div>
</div>