.loading{
    position: relative;
    left: 50%;
}

.actions{
    padding-bottom: 25px; 
}

.actions a{
    margin-right: 5px;
    width: 100px;
}

.actions button{
    margin-right: 5px;
    width: 100px;
}

th {
  position: relative;
}

.format-del-btn {
  position: absolute;
  right: 0;
  bottom: 0;
}

.location-actions {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
}

.location-edit-btn {
  position: absolute;
  left: 0;
  bottom: 0;
}

.location-del-btn {
  position: absolute;
  right: 0;
  bottom: 0;
}

th.mat-header-cell, td.mat-cell {
    border:none;
    text-align: center;
}

#selection-area-table {
  table-layout: fixed;
}

#selection-area-table td {
  padding: 40px 10px;
}

#selection-area-table td.table-head {
  padding: 10px;
  width: 300px !important;
}

#selection-area-table td.table-head:last-child {
  width: 70% !important;
}

#selection-area-table td.clicked {
  background-color: #f64747;
  color: #fff;
}

#selection-area-table td.area-box {
  cursor: pointer;
  /*transition: all 0.5s;*/
}

#selection-area-table td.area-box .description {
  width: fit-content;
  margin-top: 5px;
}

#selection-area-table tr:first-child {
  font-weight: bold;
  font-size: 16px;
}

#selection-area-table tr:nth-child(odd) {
  background-color: #fff;
}

.loading{
    position: relative;
    left: 50%;
}

#table-footer {
  margin-top: 10px;
}

#table-footer #actions {
  display: inline-block;
  float: right;
}

#table-footer #actions a {
  margin-left: 5px;
  margin-bottom: 5px;
}

#table-footer #all-selection-checkbox {
  float: left;
}

/**** css nuevo ***/
/**** tabla ****/
.tabl-nuev tr th {
    width: 150px;
    padding: 10px;
    text-align: left;
    padding: 15px 10px;
    text-align: center;
        border-bottom: 1px solid #cecece;
    border-right: 1px solid #cecece;
}

.tabl-nuev {
    width: 100%;
    float: left;
    border-spacing: 0;
    border: 1px solid #cecece;
}

.tab-resp {
    width: 100%;
    height:45vh;
    float: left;
    overflow: auto;
    min-height: 560px;
        background: #F9FDF8;
        margin-bottom: 2px;
  
}

.tabl-nuev td {
    padding: 10px !important;
        border-right: 1px solid #cecece;
    border-bottom: 1px solid #cecece;
}

.botn-ubic {
    padding-right: 40px;
    padding-left: 2px;
}

.botn-ubic .mat-button-base {
    box-shadow: none !important;
}

.fondo-verd {
    padding-bottom: 50px;
}

.selec-tabls .mat-form-field-appearance-fill .mat-form-field-underline::before {
    opacity: 0;
}

.titl-are {
    font-size: 14px !important;
    font-weight: bold !important;
    margin-bottom: 5px !important;
}

.desc-area {
    font-size: 12px;
    line-height: 14px;
    color: #C3C7C2;
    margin: 0 !important;
}

.info-area {
    width: 80%;
    float: left;
    text-align: center;
}

.conte-botons {
    float: left;
    width: 20%;
}

.mas-icos button .mat-icon {
    transform: scale(0.8);
    font-weight: bold;
}

.conte-botons .mat-icon {
    transform: scale(0.8);
    font-weight: bold;
}

.conte-botons button {
    height: 26px;
    line-height: 26px;
    margin-bottom: 5px;
}

.info-area img {
    height: 50px;
    object-fit: contain;
}

.mas-icos {
    align-items:center;
    text-align: center;
}

.form-nmbre {
    margin: 0;
    font-size: 20px;
}

.alin-to {
    vertical-align: middle;
    p{
      margin:0;
    }
}

.fondo-verd .mat-focus-indicator {
    box-shadow: none;
}

.slec-dis .mat-form-field-flex {
   border: 1px solid #AFB5AA !important;
    border-radius: 6px !important;
    padding: 4px 10px !important;
    background-color: transparent !important;
}

.edit {
    width: 100%;
    text-align: end;
    mat-icon {
       cursor: pointer;        
    }
}

