<div id="powers-container">
    <mat-list class="list">
        <div class="item" *ngFor="let contentPower of powers;"> 
            <ng-template [ngIf]="contentPower">                
                <span *ngIf="contentPower">{{contentPower.day | translate}}: {{contentPower.time_on}} a {{contentPower.time_off}} </span>
            </ng-template>
        </div>
        <div class="item" *ngFor="let contentPower of contentPowers"> 
            <ng-template [ngIf]="contentPower">
                <span>{{weekdays[contentPower.weekday] | translate}}: </span>
                <ng-container *ngFor="let power of contentPower.times;let i = index">
                    <span>{{ power.time_on }}</span> 
                    <span>{{' a: ' | translate}}{{ power.time_off }}</span>
                    <span *ngIf="i < (contentPower.times.length - 1)"> | </span>
                </ng-container>
            </ng-template>
        </div>
    </mat-list>
    <div fxLayout="row" fxLayoutAlign="space-between center">
        <a mat-raised-button color="accent" mat-button (click)="openDialog(exclusive)" [disabled]="loadingPrimetime">{{ 'COMPONENTS.contentpower.button' | translate }}</a>
        <div class="spinner-container" *ngIf="loadingPrimetime">
            <mat-spinner diameter="20"  color="accent"></mat-spinner>
        </div>
    </div>
</div>
