#powers-container .list {
    padding: 5px;
    height: 150px;
    overflow: auto;
    border: solid 1px #888;
    margin-bottom: 10px;
}

.time {
    display: inline-block;
    margin-left: 5px;
    // margin-right: 5px;
}

.item {
    overflow-x: auto;
}
.from{
    color:rgb(255, 102, 102);
    font-weight: 600;
}