<h1 mat-dialog-title>{{title | translate }}</h1>
<form class="custom-form" [formGroup]="form">
    <mat-dialog-content>
        <div fxLayout="row">
            <div fxLayout="column" class="form-container">
                <mat-label color="primary">{{ 'Areas' | translate }} </mat-label>
                <mat-form-field appearance="outline">
                    <mat-select formControlName="area" (selectionChange)="chargeBipa()" [compareWith]="compareCategory">
                        <mat-option value=""></mat-option>
                        <mat-option *ngFor="let area of areas" value={{area.idarea}}>{{area.format.name}}
                            {{area.location.name}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <div class="button-container">
                    <div class="spinner-container" *ngIf="loading">
                        <mat-spinner diameter="24" color="accent"></mat-spinner>
                    </div>
                </div>
            </div>
            <div fxLayout="column" class="form-container">
                <mat-label color="primary">{{ 'FORMS.fields.playlogic' | translate }}* </mat-label>
                <div class="playlist">

                    <div class="example-box" *ngFor="let playlogic of playlogics;">
                        <playlogic [playlogic]="playlogic" [delete]="true" [arrow]="false"
                            (onDeleted)="delete(playlogic)"></playlogic>
                        <div>
                            <button mat-mini-fab color="primary" (click)="delete(playlogic)">
                                <mat-icon>delete</mat-icon>
                            </button>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </mat-dialog-content>
    <mat-dialog-actions fxLayout="row" fxFlexFill *ngIf="(!button)" align="end">
        <div>
            <button class="mat-raised-button mat-accent" (click)="save(form.value)" cdkFocusInitial>{{
                'FORMS.buttons.save' | translate }}</button>
        </div>
        <div>
            <button class="mat-raised-button" (click)="close()">{{ 'FORMS.buttons.cancel' | translate }}</button>
        </div>
    </mat-dialog-actions>
    <mat-dialog-actions fxLayout="row" fxFlexFill *ngIf="(button)" align="end">
        <div>
            <button class="mat-raised-button mat-accent right" (click)="close()" cdkFocusInitial>{{button | translate
                }}</button>
        </div>
    </mat-dialog-actions>
</form>