<form *ngIf="departments" [formGroup]="filterForm" #f="ngForm" fxFlex="100" fxLayout="column">
    <mat-form-field appearance="outline">
        <mat-label>{{ 'department' | translate}}</mat-label><br>
        <mat-select formControlName="id" (selectionChange)="captureValue()">
            <mat-option>Select...</mat-option>
            <mat-option *ngFor="let department of departments" [value]="department.id">{{department.name}}</mat-option>
        </mat-select>
    </mat-form-field>
</form>