<div class="container">
  <div fxLayout="row" fxLayoutAlign="space-between center">
    <h1 mat-dialog-title class="primetimeTitle">{{title | translate }}</h1>
    <div *ngIf="has_primetime" class="primetime-radiobutton" >
      <mat-radio-group aria-label="Select an option" [formControl]="selectorController">
        <mat-radio-button class="primetime-radiobutton" value="M" (click)="changeTimetable('M')">{{ 'H. Manuales' | translate}}</mat-radio-button>
        <mat-radio-button class="primetime-radiobutton" *ngIf="showPrimetime" value="P" (click)="changeTimetable('P')">{{ 'H. Primetime' | translate }}</mat-radio-button>
        <span *ngIf="!showPrimetime" class="loadingPrimetime">{{ 'Cargando datos de primetime...' | translate }}</span>
        <form-field-select *ngIf="showPrimetime && timetable === 'P'" [fieldData]="fieldDataSites" [formGroup]="formGroup" (onChangeField)="onChangeSite($event)"></form-field-select>
      </mat-radio-group>
    </div>
    <div class="primetime-button">
      <button *ngIf="selectorController.value === 'M'" class="mat-raised-button mat-accent" (click)="cleanTimetable()" cdkFocusInitial>{{'Borrar H. Manuales' | translate}}</button>
    </div>
  </div>
  <div fxLayout="row" fxLayoutGap="10px">
    <table *ngIf="timetable==='M'" id="content-powers-table" fxFlex="70">
      <tr>
        <th></th>
        <th *ngFor="let weekDay of weekdays">
          {{weekDay.short_name | translate}}
        </th>
      </tr>
      <tr *ngFor="let time of times['0'].times;let j = index">
        <td class="time-col">{{time.name}}</td>
        <ng-container *ngFor="let weekDay of weekdays;let i = index;">
          <td [ngClass]="(times[i].times[j].selected && times[i].times[j].full) ? 'daytime selected' : (times[i].times[j].selected && !times[i].times[j].full) ? 'daytime notFull' : 'daytime'" 
            (mousedown)="onMouseDown($event, weekDay, times[i].times[j])"
            (mouseover)="onMouseOver($event, weekDay, times[i].times[j])"
            (mouseup)="onMouseUp($event, weekDay, times[i].times[j])">
            {{times[i].times[j].value}}
          </td>
        </ng-container>
      </tr>
    </table>
    <table *ngIf="timetable==='P'" id="content-powers-table" fxFlex="100">
      <tr>
        <th></th>
        <th *ngFor="let weekDay of weekdays">
          {{weekDay.short_name | translate}}
        </th>
      </tr>
      <tr *ngFor="let time of times['0'].times;let j = index">
        <td class="time-col">{{time.name}}</td>
        <ng-container *ngFor="let weekDay of weekdays;let i = index;">
          <td [ngClass]="(times[i].times[j].selected && times[i].times[j].full) ? 'primetime' : 'white'">
            {{times[i].times[j].value}}
          </td>
        </ng-container>
      </tr>
    </table>
    <div fxFlex="30" *ngIf="timetable==='M'">
      <div fxLayout="column" fxFlexFill class="manual-add">
        <div fxFlex="100"><h3>{{ "Elegir días y franja"  | translate  }} </h3>
          <power-select [powerCount]="powerCount" (onSave)="addSelection($event)"></power-select>
          <hr class="line">
          <ng-container [style.height]="'80%'" [style.display]="'block'">
            <ul class="selectedPowerList">
              <ng-template ngFor let-selection [ngForOf]="selectedPowers" let-i="i">
                <li fxLayout="row" fxLayoutAlign="space-between center" [class]="selection.new ? 'new' : null">
                  <span>
                    {{ weekdays[selection.weekday - 1].name | translate }}: 
                    {{ selection.time_on }} a {{ selection.time_off }}
                  </span>
                  <mat-icon class="deletePower" (click)="removeSelection(selection)">delete</mat-icon>
                </li>
              </ng-template>
            </ul>
          </ng-container>
          <ng-template>
            <button class="mat-raised-button mat-accent" (click)="save()" cdkFocusInitial>{{'FORMS.buttons.confirm' | translate}}</button>
          </ng-template>
          <!--<ng-template #powersContainer></ng-template>-->
        </div>
      </div>
    </div>
  </div>
  <div fxLayout="row" fxFlexFill fxLayoutAlign="center center" class="copy-days" *ngIf="timetable==='M'">
    <div fxFlex="33" class="copy-days-from">{{"Copiar franjas del" | translate }} <span class="copy-days-from-day" *ngFor="let weekDay of weekdays;" (click)="selectDayFrom($event, weekDay.day_number)">{{weekDay.short_name | translate}}</span></div>
    <div fxFlex="33" class="copy-days-to"> {{"a" | translate }} <span class="copy-days-to-day" *ngFor="let weekDay of weekdays;"  (click)="selectDayTo($event, weekDay.day_number)">{{weekDay.short_name | translate }}</span>
      <button  class="mat-raised-button black" (click)="copyDays()">{{ "Copiar" | translate }}</button>
    </div>
  </div>
  <mat-dialog-actions fxLayout="row" fxLayoutAlign="space-between center">
    <button class="mat-raised-button black" (click)="close()" [disabled]="(is_exclusive && selectedPowers.length==0)">{{ "FORMS.buttons.cancel" | translate }}</button>
    <label class="info" *ngIf="(is_exclusive && selectedPowers.length==0)">{{"El contenido es excluyente, es obligatorio seleccionar horario." | translate}}</label>
    <button class="mat-raised-button mat-accent" (click)="save()" cdkFocusInitial [disabled]="(is_exclusive && selectedPowers.length==0)">{{'FORMS.buttons.confirm' | translate}}</button>
  </mat-dialog-actions>
</div>