<form  [formGroup]="form" fxFlex="100" fxLayout="column">
   <mat-label>{{'site' | translate}}</mat-label><br>
      <mat-form-field appearance="outline" >
        <mat-select (selectionChange)="onSelect($event)" formControlName="idsite" name="idsite">
           <mat-option>-- None --</mat-option>
           <mat-option [value]="site.idsite" *ngFor="let site of sites">{{site.name}}</mat-option>
        </mat-select>
      </mat-form-field>
 </form>

 