<div class='container'>
    <emissions-sociodemographic-user *ngIf="me.site"></emissions-sociodemographic-user>
    <emissions-sociodemographic-admin *ngIf="me.customer && !me.site"></emissions-sociodemographic-admin>
</div>
